<div class="modal-content">
  {{#modal-header}}
    <h4 class="modal-title" id="appModalLabel">{{gettext "Change your avatar"}}</h4>
  {{/modal-header}}

  <div class="modal-body">
    <p class="lead">Wop, this is first modal done as 100% components!</p>
  </div>

</div>