<div class="modal-content">
  {{#modal-header}}
    <h4 class="modal-title" id="appModalLabel">{{gettext "Register account"}}</h4>
  {{/modal-header}}

  <div class="modal-body modal-message text-center">
    <p class="lead">
      <span class="fa fa-info-circle fa-lg"></span>
      {{gettext "New registrations are currently not being accepted."}}
    </p>
  </div>
</div>