//
// Alerts
// --------------------------------------------------

#misago-snackbars:empty {
  display: none;
}

#misago-snackbars {
  position: fixed;
  top: 72px;
  width: 100%;
  z-index: 10000;

  display: flex;
  justify-content: center;
}

.snackbar {
  padding: 8px 12px;

  background-color: #111;
  border-radius: @border-radius-base;
  color: #fff;

  opacity: 0;

  &.in {
    opacity: 1;
    transition: 200ms ease;
  }
}

// Legacy snackbar
.alerts-snackbar {
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: @zindex-modal + 10;

  text-align: center;
  font-size: @font-size-large;

  transition: top 300ms ease;

  pointer-events: none;

  &.in {
    top: 0px;
    transition: top 200ms ease;
  }

  p {
    display: inline-block;
    border-radius: 0px 0px @border-radius-base @border-radius-base;
    margin: 0px;

    pointer-events: all;
  }
}
