.page-login-container {
  padding: @line-height-computed * 4 0;
}

.panel-login-form {
  max-width: @auth-form-width;
  margin: 0 auto;

  border: 1px solid @auth-form-border;
  border-radius: @border-radius-base;
}

.panel-login-form-body {
  padding: @auth-form-padding;
}

.panel-login-form-header {
  margin: 0;
  margin-bottom: @grid-gutter-width;

  font-size: ceil(@font-size-base * 1.5);
  font-weight: normal;
  text-align: center;
}

.panel-login-form-error {
  margin-top: floor(@line-height-computed * -.5);
  margin-bottom: @line-height-computed;
  
  color: @brand-danger;
  font-weight: bold;
  text-align: center;
}

.panel-login-form .form-control {
  margin-bottom: @line-height-computed;

  font-size: 16px;
}

@media screen and (max-width: @screen-sm-max) {
  .page-login-container {
    padding: @line-height-computed * 2 floor(@grid-gutter-width / 2);
  }
}

@media screen and (max-width: calc(@auth-form-width + @grid-gutter-width)) {
  .page-login-container {
    padding: @line-height-computed 0;
  }

  .panel-login-form {
    border-radius: 0;
    border-width: 1px 0;
  }
}