.page-login-container {
  padding: @line-height-computed * 4 0;
}

.panel-login-form {
  max-width: @auth-form-width;
  margin: 0 auto;
  padding: @auth-form-padding;

  border: 1px solid @auth-form-border;
  border-radius: @border-radius-base;
}

.panel-login-form-header {
  margin: 0;
  margin-bottom: @grid-gutter-width;

  font-size: ceil(@font-size-base * 1.5);
  font-weight: normal;
  text-align: center;
}

.panel-login-form-error {
  margin-top: floor(@line-height-computed * -.5);
  margin-bottom: @line-height-computed;
  
  color: @brand-danger;
  font-weight: bold;
  text-align: center;
}

.panel-login-form .form-control {
  margin-bottom: @line-height-computed;

  font-size: 16px;
}

.panel-login-form .btn-primary {
  margin-bottom: floor(@line-height-computed / 2);
}

.panel-login-form .btn-link {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: @gray-dark;
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: lighten(@gray-lighter, 3%);
    border-radius: @border-radius-base;
    color: @text-color;
    text-decoration: none;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .page-login-container {
    padding: @line-height-computed * 2 floor(@grid-gutter-width / 2);
  }
}