.page-login-container {
  padding: @line-height-computed * 2 floor(@grid-gutter-width / 2);
  margin-bottom: @line-height-computed * -2;
}

.panel-login-form {
  max-width: @auth-form-width;
  margin: @line-height-computed auto;

  border: 1px solid @auth-form-border;
  border-radius: @border-radius-base;
}

.panel-login-form-body {
  padding: @auth-form-padding;
}

.panel-login-form-header {
  margin: 0;
  margin-bottom: @auth-form-padding;

  font-size: ceil(@font-size-base * 1.5);
  font-weight: normal;
  text-align: center;
}

.panel-login-form-error {
  margin-top: floor(@line-height-computed * -0.5);
  margin-bottom: @line-height-computed;

  color: @brand-danger;
  font-weight: bold;
  text-align: center;
}

.panel-login-form .form-control {
  margin-bottom: @line-height-computed;

  font-size: 16px;
}

@media screen and (max-width: @screen-sm-max) {
  .page-login-container {
    padding: @line-height-computed floor(@grid-gutter-width / 2);
  }

  .panel-login-form-body {
    padding: @auth-form-padding-sm;
  }

  .panel-login-form-header {
    margin-bottom: @auth-form-padding-sm;
  }

  .panel-login-form-error {
    margin-top: 0;
    margin-bottom: floor(@line-height-computed / 2);
  }
}
