//
// Forms
// --------------------------------------------------

// Material feedback icon
.has-feedback .material-icon.form-control-feedback {
  top: @padding-base-vertical;
  right: @padding-base-horizontal * 2;

  font-size: @line-height-base;
  line-height: @line-height-base;
}

// Details with help text
.help-text-extended {
  display: flex;
  flex-direction: column;

  margin-top: @line-height-computed;
  padding: @padding-base-horizontal;

  background-color: @gray-100;
  border-radius: @border-radius-small;

  &[open],
  &:open {
    gap: @line-height-computed;
  }
}

.help-text-extended-summary {
  display: inline-flex;
  align-items: center;
  gap: @padding-base-horizontal;

  font-weight: bold;

  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;

    color: @gray-500;
  }

  &:hover span {
    text-decoration: underline;
  }
}

.help-text-extended-body {
  display: flex;
  flex-direction: column;
  gap: @line-height-computed;

  p {
    margin: 0;
  }

  code {
    background-color: @blue-100;
    color: @blue-900;
    font-weight: bold;
  }
}

// Well done
.well.well-form.well-done {
  font-size: @font-size-large;
  text-align: center;

  .message-icon {
    margin-bottom: @line-height-computed / 2;

    font-size: @font-size-large * 5;
    line-height: @font-size-large * 5;
  }

  .message-body {
    margin-bottom: @line-height-computed;
  }
}

// Noscript well
.well.well-form.well-noscript {
  font-size: @font-size-large;
  text-align: center;

  .message-icon {
    margin-bottom: @line-height-computed / 2;

    font-size: @font-size-large * 5;
    line-height: @font-size-large * 5;
  }
}

// Make any element with label class look like label
.control-label {
  font-weight: bold;
}

// Space items in form control choices evenly
.form-control-choices {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .checkbox,
  .radio {
    margin: 0;
  }
}
