//
// Markup editor
// --------------------------------------------------

.markup-editor {
  overflow: hidden;

  background: @markup-editor-bg;
  border: 2px solid @markup-editor-border-color;
  border-radius: @border-radius-base;
}

// Set different border when its focused
.markup-editor.markup-editor-focused {
  border: 2px solid @markup-editor-border-focus;
}

// Toolbar
.markup-editor-toolbar {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: @markup-editor-toolbar-padding;

  background: @markup-editor-toolbar-bg;
  border-bottom: 1px solid @markup-editor-toolbar-border-color;
}

.markup-editor-toolbar-left,
.markup-editor-toolbar-right {
  display: flex;
  flex-shrink: 0;
}

.markup-editor-toolbar-secondary {
  display: none;

  &.show {
    display: block;
    overflow: auto;
    padding: @markup-editor-toolbar-secondary-padding;

    background: @markup-editor-toolbar-secondary-bg;
    border-bottom: 1px solid @markup-editor-toolbar-secondary-border-color;

    & > * {
      float: left;
      margin: floor(@line-height-computed / 4);
    }
  }
}

.btn-markup-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  height: @markup-editor-btn-size;
  width: @markup-editor-btn-size;
  padding: 0;

  font-size: @markup-editor-btn-icon-size;
  line-height: @markup-editor-btn-icon-size;

  &,
  &:hover {
    background-color: @markup-editor-btn-bg;
    border-color: @markup-editor-btn-border;
    color: @markup-editor-btn-color;
  }

  &:active {
    background-color: @markup-editor-btn-active-bg;
    border-color: @markup-editor-btn-active-border;
    color: @markup-editor-btn-active-color;
  }

  .material-icon {
    margin: 0;
    bottom: 0;
  }
}

.markup-editor-controls-dropdown {
  margin-right: @line-height-computed / 2;
}

// Spacer that pushes items away from each other
.markup-editor-spacer {
  flex: 1;
}

// Toolbar items layout
.markup-editor-toolbar {
  // Add spacing between buttons
  .btn + .btn,
  .btn + .dropdown,
  .dropdown + .btn {
    margin-left: floor(@line-height-computed / 2);
  }
}

// Textarea
.markup-editor-textarea.form-control {
  min-height: @markup-editor-height;
  padding: @markup-editor-padding;
  resize: none;
  field-sizing: content;

  border: 0;
  border-radius: 0;

  font-size: @markup-editor-font-size;

  &,
  &:focus {
    box-shadow: none;
  }
}

// Attachments
.markup-editor-attachments {
  background: @markup-editor-attachments-bg;
  border-top: 1px solid @markup-editor-attachments-border-color;

  .form-group {
    margin: 0;
    padding: @markup-editor-padding;

    .help-block:last-child {
      margin-bottom: 0;
    }
  }
}

.markup-editor-attachments-noscript-row input {
  margin-bottom: floor(@line-height-computed / 2);
}

@media screen and (min-width: 400px) {
  .markup-editor-attachments-noscript-row {
    display: flex;

    input {
      margin-right: floor(@grid-gutter-width / 2);
      margin-bottom: 0;
    }

    button {
      width: auto;
    }
  }
}

.markup-editor-attachments-script-row {
  font-weight: bold;

  button {
    padding: 0;

    background: transparent;
    border: 0;
    text-decoration: underline;
  }
}

.markup-editor-attachments-header {
  margin: 0;
  padding: 0 @markup-editor-padding-horizontal;

  font-size: @font-size-base;
  font-weight: bold;
}

.markup-editor-attachments-error-dismiss-button {
  margin-left: 4px;
  padding: 0;

  background-color: transparent;
  border: 0;

  &:hover {
    text-decoration: underline;
  }
}

.markup-editor-attachments-media-list,
.markup-editor-attachments-other-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: floor(@grid-gutter-width / 2);

  margin: 0;
  padding: @markup-editor-padding;

  list-style: none;

  li {
    margin: 0;

    border: 1px solid @gray-lighter;
    border-radius: @border-radius-base;
  }
}

.markup-editor-attachments-media-list-item {
  display: block;
  padding: 2px;
}

.markup-editor-attachments-media-list-item-preview-video {
  position: relative;

  background-color: #1e1e1e;

  .markup-editor-attachments-media-list-item-preview-video-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  video {
    max-width: 100%;
    max-height: 100%;
  }
}

.markup-editor-attachments-media-list-item-preview-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.markup-editor-attachments-media-list-item-preview-video,
.markup-editor-attachments-media-list-item-preview-image {
  margin-bottom: floor(@grid-gutter-width / 4);

  padding-bottom: 100%;

  border-radius: @border-radius-small;
  overflow: hidden;
}

.markup-editor-attachments-media-list-item-preview {
  margin-bottom: floor(@grid-gutter-width / 4);
  padding-bottom: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: @border-radius-small;
}

.markup-editor-attachments-media-list-item-body {
  padding: @padding-small-vertical @padding-small-horizontal;

  font-size: @font-size-small;
}

.markup-editor-attachments-media-list-item-name {
  overflow: hidden;
  padding: 6px 4px;

  font-size: @font-size-small;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.markup-editor-attachments-media-list-item-footer {
  display: flex;
  padding: 4px;
}

.markup-editor-attachments-media-list-item-footer-spacer {
  width: 100%;
}

.markup-editor-attachments-media-list-item-button {
  padding: 0 12px;

  background-color: @gray-lighter;
  border: none;
  border-radius: @border-radius-small;

  &:disabled {
    opacity: 0.3;
  }
}

.markup-editor-attachments-media-list-item-delete-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 0;

  .material-icon {
    font-size: 16px;
    line-height: 16px;
  }
}

.markup-editor-attachments-media-list-item-upload-progress {
  display: flex;
  align-items: center;

  height: 36px;
  padding: 0 4px;

  .progress {
    width: 100%;
    margin: 0;
  }
}

.markup-editor-attachments-media-list-item-failed-message {
  display: flex;
  align-items: center;
  width: 100%;

  color: darken(@brand-danger, 30);
  font-size: @font-size-small;

  .material-icon {
    margin-right: 4px;

    font-size: 18px;
  }
}

.markup-editor-attachments-other-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-width: 0;
  height: 100%;

  padding-right: 6px;
}

.markup-editor-attachments-other-list-item-body {
  width: calc(100% - 36px);
  padding: 2px 6px;

  background: transparent;
  border: 0;
  text-align: left;

  cursor: default;

  &:disabled {
    cursor: default !important;
  }
}

.markup-editor-attachments-other-list-item-name {
  overflow: hidden;

  font-weight: bold;
  font-size: @font-size-small;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.markup-editor-attachments-other-list-item-description {
  color: @gray-light;
  font-size: @font-size-small;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.markup-editor-attachments-other-list-item-cta {
  margin-left: 8px;
}

.markup-editor-attachments-other-list-item-delete-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  padding: 0;

  background-color: @gray-lighter;
  border: none;
  border-radius: @border-radius-small;

  &:disabled {
    opacity: 0.3;
  }

  .material-icon {
    font-size: 16px;
    line-height: 16px;
  }
}

.markup-editor-attachments-other-list-item-upload-progress {
  display: flex;
  align-items: center;

  height: 17px;

  .progress {
    width: 100%;
    margin: 0;
  }
}

.markup-editor-attachments-other-list-item-upload-failed {
  display: flex;
  align-items: center;

  height: 17px;

  color: darken(@brand-danger, 30);
  font-size: @font-size-small;
}

.misago-javascript .markup-editor-attachments-other-list-item-body {
  cursor: pointer;

  &:hover,
  &:active {
    .markup-editor-attachments-other-list-item-cta {
      color: @gray-dark;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: @screen-sm-min) {
  .markup-editor-attachments-media-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .markup-editor-attachments-other-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: @screen-md-min) {
  .markup-editor-attachments-media-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .markup-editor-attachments-other-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// Drag and drop focus
.markup-editor-textarea.form-control,
.markup-editor-attachments {
  transition: background-color 0.5s;
}

.markup-editor-textarea.form-control.markup-editor-drag-drop,
.markup-editor-attachments.markup-editor-drag-drop {
  background-color: @markup-editor-drag-drop-bg;
}
