//
// Page Header
// --------------------------------------------------

// Remove margins from header
.page-header {
  margin: 0;
  margin-top: floor(@line-height-computed * 0.5);
}

// Add padding to header's banner and message
.page-header-banner-bg-overlay {
  padding: @line-height-computed 0;
}

// Don't rely on header's margins for spacing, force word break
.page-header h1 {
  margin: 0;

  overflow-wrap: anywhere;
}

.page-header-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: ceil(@line-height-computed / 2) @grid-gutter-width;

  max-width: 100%;

  margin: @line-height-computed 0 ceil(@line-height-computed * -0.5) 0;
  padding: 0;

  list-style: none;

  color: @gray-600;
}

.page-header-meta-item {
  display: flex;
  align-items: center;

  min-height: 24px;

  overflow-wrap: anywhere;
}

.page-header-meta-item-icon {
  margin-right: 6px;

  width: 24px;
  height: 24px;

  color: @gray-500;

  &:last-child {
    margin: 0;
  }
}

.page-header-meta-item-text strong {
  color: @gray-900;
}

a.page-header-meta-item-text {
  &,
  &:link,
  &:visited {
    color: @gray-600;
  }

  &:focus,
  &:hover,
  &:active {
    color: @gray-900;
    text-decoration: underline;
  }
}

.page-header-meta-item-avatar {
  margin-right: 8px;

  line-height: 0;

  border-radius: @border-radius-small;
  overflow: hidden;

  img {
    width: 24px;
    height: 24px;
  }
}

.page-header-meta-item-user {
  color: @gray-700;
  font-weight: bold;
}

a.page-header-meta-item-user {
  &,
  &:link,
  &:visited {
    color: @gray-900;
  }

  &:focus,
  &:hover,
  &:active {
    color: @gray-900;
    text-decoration: underline;
  }
}

.page-header-meta-item-timestamp {
  color: @gray-600;
}

a.page-header-meta-item-timestamp {
  &,
  &:link,
  &:visited {
    color: @gray-600;
  }

  &:focus,
  &:hover,
  &:active {
    color: @gray-900;
    text-decoration: underline;
  }
}
