//
// Panels
// --------------------------------------------------

// Messages
@media screen and (max-width: @screen-sm-max) {
  .panel-message-body {
    text-align: center;

    .message-icon {
      margin: @line-height-computed * 1.5;

      .material-icon {
        font-size: @message-page-icon-size * 2;
      }
    }
  }
}

// Full displays
@media screen and (min-width: @screen-md-min) {
  .panel-message-body {
    padding: @line-height-computed;
    padding-bottom: @line-height-computed * 1.5;

    .message-icon {
      float: left;

      .material-icon {
        font-size: @line-height-computed * 2.5;
      }
    }

    .message-body {
      margin-left: @line-height-computed * 3.25;
      margin-top: @line-height-computed * 0.6 - 2px;

      .lead {
        margin-bottom: 0px;
      }

      .help-block {
        margin-top: @line-height-computed * 0.66;
      }
    }
  }
}

// Loading
.panel-body-loading {
  padding: 0px;

  text-align: center;
}

.panel-footer-sticky {
  position: sticky;
  bottom: 0;
}

.panel-prompt {
  max-width: 500px;
  margin: @line-height-computed auto;
}

// Responsive panel
.panel-responsive {
  margin-left: floor(@grid-gutter-width / -2);
  margin-right: floor(@grid-gutter-width / -2);
  margin-bottom: @line-height-computed;

  .panel-heading {
    border-bottom: 1px solid @panel-default-border;
  }
}

@media screen and (min-width: @screen-md-min) {
  .panel-responsive {
    margin-left: 0;
    margin-right: 0;

    .panel-heading {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
