.thread-poll-question {
  margin-top: 0;
  margin-bottom: @line-height-computed;
}

.poll-footer {
  margin-top: @line-height-computed;

  text-align: right;
}

.poll-buttons {
  margin-top: @line-height-computed;
}

.poll-results-choices {
  margin: 0;
  padding: 0;

  list-style: none;
}

.poll-results-choice + .poll-results-choice {
  margin-top: ceil(@line-height-computed / 2);
}

.poll-results-choice-name {
  font-weight: bold;
  word-break: break-all;
}

.poll-results-choice-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;

  background-color: @brand-success;
  border-radius: 5px;
}

.poll-results-choice-bar {
  margin-top: ceil(@line-height-computed / 2);

  .progress {
    margin: 0;
  }
}

.poll-results-choice-stats,
.poll-results-choice-stats-sm {
  color: @gray-light;
  font-weight: normal;
}

.poll-results-choice-stats {
  display: none;
}

.poll-results-choice-stats-separator {
  color: @gray-lighter;
}

.poll-vote-choices {
  margin: 0;
  padding-left: ceil(@grid-gutter-width * 0.75);

  list-style: none;
}

@media screen and (min-width: @screen-md-min) {
  .poll-results-choice {
    display: flex;
    width: 100%;
    gap: @grid-gutter-width;

    align-items: center;
  }

  .poll-results-choice-name {
    width: 320px;
  }

  .poll-results-choice-bar {
    width: 100%;
    margin: 0;
  }

  .poll-results-choice-stats {
    display: block;
    width: 240px;
  }

  .poll-results-choice-stats-sm {
    display: none;
  }

  .poll-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .poll-buttons {
    margin-top: 0;
  }
}
