.post-edit-card {
  margin: @line-height-computed 0;

  border: 1px solid @gray-200;
  border-radius: @border-radius-base;
  overflow: hidden;
}

.post-edit-card-header {
  display: flex;
  align-items: center;

  padding: @panel-body-padding;

  background-color: @gray-50;
  border-bottom: 1px solid @gray-200;
}

.post-edit-card-avatar {
  display: block;
  margin-right: ceil(@grid-gutter-width / 3);

  img {
    width: 24px;
    height: 24px;

    border-radius: @border-radius-small;
  }
}

.post-edit-card-username {
  display: block;

  color: @gray-600;
  font-weight: bold;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: @gray-900;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.post-edit-card-timestamp,
.post-edit-card-edit-reason {
  display: flex;

  color: @gray-600;

  &::before {
    content: "•";

    display: block;
    margin: 0 ceil(@grid-gutter-width / 4);

    color: @gray-400;
  }
}

.post-edit-card-body {
  padding: ceil(@panel-body-padding / 2) 0;

  background-color: @panel-bg;
}

.post-edit-card-section {
  padding: ceil(@panel-body-padding / 2) @panel-body-padding;
}

.post-edit-card-section-title {
  margin: 0;
  margin-bottom: ceil(@panel-body-padding / 2);

  font-size: @font-size-base;
  font-weight: bold;
  line-height: @line-height-computed;
}

.post-edit-diff-lines {
  margin: 0;

  color: @gray-300;
  font-family: @font-family-monospace;
}

.post-edit-diff-line {
  padding: 0;
  margin: 0;

  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  border: none;
  border-radius: 0;
  color: @gray-700;

  del {
    background: @red-100;
    color: @red-700;
    text-decoration: none;
  }

  ins {
    background: @green-100;
    color: @green-700;
    text-decoration: none;
  }
}

.post-edit-diff-line-neutral {
  background: transparent;
}

.post-edit-diff-line-removed {
  background: @red-50;
}

.post-edit-diff-line-added {
  background: @green-50;
}

.post-edit-diff-attachments {
  margin: 0;
  padding: 0;

  list-style: none;
}

.post-edit-diff-attachment {
  display: flex;
  align-items: center;
}

.post-edit-diff-attachment-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 32px;

  color: @gray-400;
}

.post-edit-diff-attachment-removed {
  background: @red-50;

  .post-edit-diff-attachment-icon {
    color: @red-500;
  }
}

.post-edit-diff-attachment-added {
  background: @green-50;

  .post-edit-diff-attachment-icon {
    color: @green-500;
  }
}

.post-edit-diff-attachment-name {
  color: @gray-700;
  font-weight: bold;
}

.post-edits-paginator {
  display: flex;
  align-items: center;
  gap: ceil(@grid-gutter-width / 2);

  margin: @line-height-computed 0;
}

.post-edits-paginator-legend {
  min-width: 0;
}
