.rich-text {
  font-size: 16px;
  word-break: break-all;

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: @line-height-computed * 2;

    &:first-child {
      margin-top: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  ul,
  ol,
  table,
  pre,
  .rich-text-code {
    margin-bottom: @line-height-computed;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }
}

.rich-text-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100%;

  border-radius: @border-radius-base;

  .rich-text-image-link {
    display: inline-block;
  }
}

.rich-text-image-responsive img {
  width: 100%;
  height: auto;
}

.rich-text-video {
  position: relative;

  display: block;
  overflow: hidden;

  height: 0;
  padding: 0 0 56.25% 0;

  background-color: #1e1e1e;
  border-radius: @border-radius-base;

  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 0;
  }
}

.rich-text-info-hover-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 32px;
  height: 32px;

  border-radius: @border-radius-base;

  &,
  &:link,
  &:visited {
    background-color: fadeout(#000, 50);
    color: #eee;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: fadeout(#333, 10);
    color: #fff;
    text-decoration: none;
  }

  .material-icon {
    font-size: 24px;
    line-height: 24px;
  }
}

.rich-text-file {
  display: inline-block;
}

.rich-text-file-body {
  display: inline-block;
  position: relative;

  .rich-text-info-hover-btn {
    top: 3px;
    right: 4px;

    width: 32px;
    height: 32px;

    &,
    &:link,
    &:visited {
      background-color: transparent;
      color: @gray;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: darken(@gray-lighter, 10);
      color: @gray-dark;
      text-decoration: none;
    }
  }
}

.rich-text-file-link {
  display: inline-block;
  position: relative;

  padding: 8px 48px 8px 42px;

  border-radius: @border-radius-base;

  &:link,
  &:visited {
    background: @gray-lighter;
    color: @text-color;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    background: darken(@gray-lighter, 5);
    color: @text-color;
    text-decoration: none;
  }

  .material-icon {
    position: absolute;
    top: 8px;
    left: 10px;

    font-size: 24px;
    line-height: 24px;
  }

  .rich-text-file-name {
    margin-right: 8px;

    word-break: break-all;

    &:last-child {
      margin: 0;
    }
  }

  .rich-text-file-size {
    color: @gray;
  }
}

.rich-text-attachment-error {
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }

  .rich-text-attachment-error-body {
    display: inline-block;
    position: relative;

    display: inline-block;
    padding: 8px 12px 8px 42px;

    background: lighten(@gray-lighter, 5);
    border-radius: @border-radius-base;
    color: @gray-light;
  }

  .material-icon {
    position: absolute;
    top: 7px;
    left: 10px;

    color: @gray-light;
    font-size: 24px;
    line-height: 24px;
  }

  .rich-text-attachment-error-name {
    word-break: break-all;
  }
}

.rich-text-image + .rich-text-file,
.rich-text-image + .rich-text-attachment-error,
.rich-text-file + .rich-text-image,
.rich-text-attachment-error + .rich-text-image {
  clear: left;
}

.rich-text-attachment-group {
  overflow: auto;

  margin: 0 -6px;

  .rich-text-image,
  .rich-text-file,
  .rich-text-attachment-error {
    float: left;
  }

  .rich-text-video {
    clear: both;
  }

  .rich-text-image,
  .rich-text-video,
  .rich-text-file,
  .rich-text-attachment-error {
    margin: 0 6px @line-height-computed 6px;
  }

  &:last-child {
    margin-bottom: @line-height-computed * -1;
  }
}

.rich-text-table {
  &,
  td,
  th {
    border: 1px solid darken(@gray-lighter, 10);
  }

  td,
  th {
    padding: 4px 8px;
  }
}

.rich-text-table-cell-align-center {
  text-align: center;
}

.rich-text-table-cell-align-right {
  text-align: right;
}

.rich-text-code {
  overflow: hidden;

  background-color: @rich-text-code-bg;
  border-radius: @border-radius-base;

  pre {
    padding: @rich-text-code-padding;

    background-color: @rich-text-code-bg;
    border: none;
    border-radius: 0;
  }
}

.rich-text-code-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: @rich-text-code-padding;
  padding-bottom: 0;

  background-color: @rich-text-code-header-bg;
  color: @rich-text-code-header-color;
}

.rich-text-code-info {
  width: 100%;
  overflow: hidden;

  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rich-text-code-copy-btn {
  padding: 4px 8px;

  border-radius: @border-radius-base;
  font-size: @font-size-small;
  font-weight: bold;
  white-space: nowrap;

  & {
    background-color: @rich-text-code-btn-bg;
    border: 1px solid @rich-text-code-btn-border;
    color: @rich-text-code-btn-color;
  }

  &:focus,
  &:hover {
    background-color: @rich-text-code-btn-hover-bg;
    border: 1px solid @rich-text-code-btn-hover-border;
    color: @rich-text-code-btn-hover-color;
  }

  &:active {
    background-color: @rich-text-code-btn-active-bg;
    border: 1px solid @rich-text-code-btn-active-border;
    color: @rich-text-code-btn-active-color;
  }
}

.rich-text-mention {
  display: inline-block;
  padding: 0 4px;

  &:link,
  &:visited {
    background-color: lighten(@link-color, 45);
    border-radius: @border-radius-base;
    color: @link-color;
  }

  &:hover,
  &:active {
    background-color: lighten(@link-color, 45);
    box-shadow: 0px 0px 0px 1px lighten(@link-color, 10);
    border-radius: @border-radius-base;
    color: @link-hover-color;
    text-decoration: none;
  }
}
