//
// Search Dropdown
// --------------------------------------------------

.search-dropdown {
  width: 500px;
  padding: 0;
  overflow: hidden;
}

.search-dropdown .search-input {
  padding: 6px 20px;

  border-bottom: 1px solid @dropdown-divider-bg;
}

.search-dropdown .list-group {
  max-height: 80vh;
  overflow-y: auto;
}

// Search results
.search-result a {
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  img {
    border-radius: @border-radius-small;
    margin-right: 12px;
  }
}

// User search result
.search-result-card {
  width: 100%;
}

.search-result-name {
  color: @text-color;
  font-weight: bold;
  overflow-wrap: anywhere;
}

.search-result-summary {
  max-height: @font-size-small * 6;
  overflow: hidden;
  overflow-wrap: anywhere;

  color: @gray-light;
  font-size: @font-size-small;
}

.search-result-details {
  margin: 0;
  padding: 0;

  color: @gray-light;
  font-size: @font-size-small;

  li {
    display: inline-block;
    list-style: none;
    margin-right: 12px;
  }
}
