.select-category-list {
  margin: -4px 0;
  padding: 0;
  list-style: none;


  a:link,
  a:active,
  a:visited,
  a:hover,
  a:focus {
    color: @text-color;
  }
}

.select-category-list-header,
.select-category-list-item {
  display: flex;
  align-items: center;
}

.select-category-list-header {
  font-weight: bold;

  span {
    color: @gray;
  }
}

.select-category-list-item {
  font-weight: 500;

  span {
    color: @gray-light;
  }
}

.select-category-list-item-level {
  width: 18px;
}

.select-category-list-item-name {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin: 0 -8px;
}

a.select-category-list-item-name {
  &:link,
  &:active,
  &:visited,
  &:hover,
  &:focus {
    color: @text-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    background-color: @gray-lighter;
    border-radius: @border-radius-base;
  }
}

.select-category-list-item-bullet {
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  
  background-color: var(--color, darken(@gray-lighter, 12%));
  border-radius: @border-radius-small;
}

.select-category-list-item-color {
  background-color: var(--color);
}

.select-category-list-separator {
  margin: floor(@line-height-computed / 2) 0;
  border-top: 1px solid @gray-lighter;
}

.select-category-list-separator:last-child {
  display: none;
}