//
// Threads Lists
// --------------------------------------------------


.threads-list {
  margin-bottom: @line-height-computed;
}


// Make list row flexbox row
.threads-list-item {
  display: flex;
  align-items: center;

  img {
    width: @thread-read-block-size;
    height: @thread-read-block-size;
  }
}

// Thread icon
.threads-list-item-col-icon {
  padding-right: @grid-gutter-width / 2;
}

.threads-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: @thread-read-block-size;
  height: @thread-read-block-size;

  border-radius: @border-radius-small;
  font-size: @thread-read-icon-size;
  line-height: @thread-read-icon-size;

  &:link, &:active, &:focus, &:hover, &:visited {
    background-color: @thread-read-icon-bg;
    color: @thread-read-icon-color;
    text-decoration: none;
  }
}

.threads-list-icon-new {
  &:link, &:active, &:focus, &:hover, &:visited {
    background-color: @thread-new-icon-bg;
    color: @thread-new-icon-color;
  }
}

// Thread title
.threads-list-item-col-title {
  flex: 1;
}

a.threads-list-item-title {
  &:link, &:active, &:focus, &:hover, &:visited {
    font-size: @threads-list-title-size;

    color: @thread-read-color;
    overflow-wrap: break-word;
  }
}

a.threads-list-item-title-new {
  &:link, &:active, &:focus, &:hover, &:visited {
    color: @thread-new-color;
  }
}

// Thread label
.threads-list-category-label {
  padding: 3px 6px;

  border-radius: @border-radius-small;

  font-size: @font-size-small;
  font-weight: bold;

  &, &:link, &:active, &:hover, &:focus, &:visited {
    color: @category-label-default-color;
    background: @category-label-default-bg;
    text-decoration: none;
  }

  &.threads-list-category-label-color {
    &, &:link, &:active, &:hover, &:focus, &:visited {
      color: #fff;
      background: var(--label-color);
    }
  }
}

// Category
.threads-list-item-col-category {
  padding-left: @grid-gutter-width / 2;

  white-space: nowrap;
}

// Replies
.threads-list-item-col-replies {
  width: 80px;
  padding-left: @grid-gutter-width / 2;
}

.threads-list-item-replies {
  display: flex;
  align-items: center;

  color: @thread-replies-color;
  font-size: @thread-replies-size;
  font-weight: bold;

  .material-icon {
    margin-right: @grid-gutter-width / 4;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

// Last poster
.threads-list-item-col-last-poster {
  padding-left: @grid-gutter-width / 2;

  img {
    border-radius: @border-radius-small;
  }
}

// Last activity
.threads-list-item-col-last-activity {
  width: 120px;
  padding-left: @grid-gutter-width / 2;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a:link, a:hover, a:active, a:visited, a:focus {
    color: @thread-last-activity-color;
    font-size: @thread-last-activity-size;
  }
}