//
// Threads Lists
// --------------------------------------------------


.threads-list {
  margin-bottom: @line-height-computed;
}


// Make list row flexbox row
.threads-list-item {
  display: flex;
  align-items: center;

  img {
    width: @thread-read-block-size;
    height: @thread-read-block-size;
  }
}

// Thread icon
.threads-list-item-col-icon {
  padding-right: @grid-gutter-width / 2;
}

.threads-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: @thread-read-block-size;
  height: @thread-read-block-size;

  border-radius: @border-radius-small;
  font-size: @thread-read-icon-size;
  line-height: @thread-read-icon-size;

  &:link, &:active, &:focus, &:hover, &:visited {
    background-color: @thread-read-icon-bg;
    color: @thread-read-icon-color;
    text-decoration: none;
  }
}

.threads-list-icon-new {
  &:link, &:active, &:focus, &:hover, &:visited {
    background-color: @thread-new-icon-bg;
    color: @thread-new-icon-color;
  }
}

// Thread title
.threads-list-item-col-title {
  flex: 1;
}

a.threads-list-item-title {
  &:link, &:active, &:focus, &:hover, &:visited {
    font-size: @threads-list-title-size;

    color: @thread-read-color;
    overflow-wrap: break-word;
  }
}

a.threads-list-item-title-new {
  &:link, &:active, &:focus, &:hover, &:visited {
    color: @thread-new-color;
  }
}

// Thread status flags
.threads-list-item-col-flags {
  padding-left: @grid-gutter-width / 2;
}

.threads-list-item-flags {
  display: flex;
  align-items: center;

  opacity: @thread-flag-icon-opacity;

  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: @thread-flag-block-size;
    height: @thread-flag-block-size;

    border-radius: @border-radius-small;
    list-style-type: none;
  }

  li + li {
    margin-left: @grid-gutter-width / 4;
  }

  .material-icon {
    font-size: @thread-flag-icon-size;
    line-height: @thread-flag-icon-size;
  }
}

.threads-list-item:hover,
.threads-list-item:focus {
  .threads-list-item-flags {
    opacity: @thread-flag-icon-opacity-hover;
  }
}

.threads-list-item-flag-pinned-globally {
  color: @thread-flag-pinned-globally-color;
  background: @thread-flag-pinned-globally-bg;
}

.threads-list-item-flag-pinned-locally {
  color: @thread-flag-pinned-locally-color;
  background: @thread-flag-pinned-locally-bg;
}

.threads-list-item-flag-answered {
  color: @thread-flag-answered-color;
  background: @thread-flag-answered-bg;
}

.threads-list-item-flag-poll {
  color: @thread-flag-poll-color;
  background: @thread-flag-poll-bg;
}

.threads-list-item-flag-unapproved {
  color: @thread-flag-unapproved-color;
  background: @thread-flag-unapproved-bg;
}

.threads-list-item-flag-closed {
  color: @thread-flag-closed-color;
  background: @thread-flag-closed-bg;
}

.threads-list-item-flag-hidden {
  color: @thread-flag-hidden-color;
  background: @thread-flag-hidden-bg;
}

// Thread category
.threads-list-category-label {
  padding: 3px 6px;

  border-radius: @border-radius-small;

  font-size: @font-size-small;
  font-weight: bold;

  &, &:link, &:active, &:hover, &:focus, &:visited {
    color: @category-label-default-color;
    background: @category-label-default-bg;
    text-decoration: none;
  }

  &.threads-list-category-label-color {
    &, &:link, &:active, &:hover, &:focus, &:visited {
      color: #fff;
      background: var(--label-color);
    }
  }
}

// Category
.threads-list-item-col-category {
  padding-left: @grid-gutter-width / 2;

  white-space: nowrap;
}

// Replies
.threads-list-item-col-replies {
  width: 80px;
  padding-left: @grid-gutter-width / 2;
}

.threads-list-item-replies {
  display: flex;
  align-items: center;

  color: @thread-replies-color;
  font-size: @thread-replies-size;
  font-weight: bold;

  .material-icon {
    margin-right: @grid-gutter-width / 4;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

// Last poster
.threads-list-item-col-last-poster {
  padding-left: @grid-gutter-width / 2;

  img {
    border-radius: @border-radius-small;
  }
}

// Last activity
.threads-list-item-col-last-activity {
  width: 120px;
  padding-left: @grid-gutter-width / 2;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a:link, a:hover, a:active, a:visited, a:focus {
    color: @thread-last-activity-color;
    font-size: @thread-last-activity-size;
  }
}