//
// Misago Default Theme Variables
// --------------------------------------------------

//== Loaders
//
//## Loaders appearance and spacing.

//** Full loader size (both width and height)
@loader-size: 80px;
//** Loader color
@loader-color: @gray-light;

//** UI preview color
@ui-preview: @gray-lighter;
@ui-preview-in: 1;
@ui-preview-out: 0.1;

@ui-preview-frequency: 1s;

//== Navbar
//
//## Extra navbar configurability

// ** Navbar icon height
@navbar-icon-height: 32px;

//** Navbar height
@navbar-height: 54px;

//** Full navbar avatar padding
@navbar-avatar-size: 34px;

//** Compact navbar
@navbar-compact-link-color: @navbar-default-link-color;
@navbar-compact-link-hover-color: @navbar-default-link-hover-color;
@navbar-compact-link-hover-bg: @navbar-default-link-hover-bg;

@navbar-compact-item-size: 24px;

//== Pills nav
//
@nav-pills-padding-vertical: @padding-small-vertical;
@nav-pills-padding-horizontal: @padding-small-horizontal;

@nav-pills-bg: @gray-lighter;
@nav-pills-color: @gray-dark;

@nav-pills-hover-bg: darken(@gray-lighter, 5%);
@nav-pills-hover-color: @gray-dark;

@nav-pills-active-bg: @gray-dark;
@nav-pills-active-color: #fff;

//== Breadcrumbs
//
@breadcrumbs-size: @font-size-base;
@breadcrumbs-gutter: @grid-gutter-width / 2;

@breadcrumbs-color: @gray;
@breadcrumbs-color-hover: @text-color;
@breadcrumbs-color-active: @text-color;

//== Error pages
//
@message-page-icon-size: 80px;

//== Auth Changed message
//
@auth-changed-bg: @gray-lighter;
@auth-changed-color: @gray-darker;

//== User status colors
//
@user-status-banned: @brand-danger;
@user-status-online: @brand-success;
@user-status-offline: @gray-light;

//== Read status
//
@category-read-color: @gray-light;
@category-new-color: @brand-success;

//== Category label colors
//

@category-label-color: #fff;

@category-label-default-bg: @gray-lighter;
@category-label-default-color: @gray-dark;

// Threads list
//

@threads-list-title-size: 16px;
@threads-list-title-size-sm: 18px;

@thread-color: @text-color;
@thread-read-color: @gray;
@thread-new-color: @text-color;

@thread-read-block-size: 32px;
@thread-read-icon-size: 16px;
@thread-read-icon-bg: @gray-lighter;
@thread-read-icon-color: @gray-light;

@thread-new-icon-bg: @brand-primary;
@thread-new-icon-color: #fff;

@thread-flag-block-size: 20px;
@thread-flag-icon-size: 16px;

@thread-flag-icon-opacity: 0.8;
@thread-flag-icon-opacity-hover: 1;

@thread-flag-pinned-globally-bg: #dbeafe;
@thread-flag-pinned-globally-color: #2563eb;

@thread-flag-pinned-locally-bg: #dbeafe;
@thread-flag-pinned-locally-color: #3b82f6;

@thread-flag-answered-bg: #d9f99d;
@thread-flag-answered-color: #4d7c0f;

@thread-flag-poll-bg: #f5d0fe;
@thread-flag-poll-color: #c026d3;

@thread-flag-unapproved-bg: #dc2626;
@thread-flag-unapproved-color: #ffffff;

@thread-flag-closed-bg: #fecaca;
@thread-flag-closed-color: #dc2626;

@thread-flag-hidden-bg: #64748b;
@thread-flag-hidden-color: #ffffff;

@thread-replies-color: @gray;
@thread-replies-size: 16px;

@thread-last-activity-color: @gray-dark;
@thread-last-activity-size: 16px;

@update-threads-prompt-bg: lighten(@brand-primary, 52%);
@update-threads-prompt-color: darken(@brand-primary, 10%);

@update-threads-prompt-hover-bg: lighten(@brand-primary, 55%);
@update-threads-prompt-hover-color: @brand-primary;

@update-threads-prompt-active-bg: lighten(@brand-primary, 45%);
@update-threads-prompt-active-color: lighten(@brand-primary, 10%);

//== Posts list
//

@post-side-width: 260px;
@post-side-padding: @grid-gutter-width / 2;

@post-avatar-size: 100px;

@event-icon-bg: @gray-lighter;
@event-icon-color: @gray;
@event-icon-size: 28px;

//== User profile header

@profile-header-avatar-offset: @line-height-computed + 34px;

// Quote control

@quote-control-bg: fadeOut(@gray, 25);
@quote-control-radius: @border-radius-large;
@quote-control-padding: @padding-base-vertical;

@quote-control-btn-bg: #fff;
@quote-control-btn-color: @text-color;

//== Posting dialog
//

@posting-dialog-max-width: 1240px;

@posting-dialog-padding-vertical: @padding-base-vertical;
@posting-dialog-padding-horizontal: @padding-base-horizontal;

@posting-dialog-bg: #fff;
@posting-dialog-border: @gray-lighter;
@posting-dialog-radius: @border-radius-base;

@posting-dialog-shadow: 0 0 24px fadeOut(@gray, 75);

@posting-dialog-caption-color: @text-color;
@posting-dialog-caption-size: @font-size-large;

@posting-dialog-btn-size: 32px;
@posting-dialog-btn-icon-size: 24px;

@posting-dialog-btn-bg: transparent;
@posting-dialog-btn-border: transparent;
@posting-dialog-btn-color: @text-color;

@posting-dialog-btn-active-bg: @gray;
@posting-dialog-btn-active-border: @gray;
@posting-dialog-btn-active-color: #fff;

//== Markup editor

@markup-editor-padding: floor(@grid-gutter-width / 2);

@markup-editor-bg: @input-bg;
@markup-editor-border-color: @input-border;
@markup-editor-border-focus: @brand-primary;

@markup-editor-toolbar-bg: #fff;
@markup-editor-toolbar-border-color: @gray-lighter;

@markup-editor-btn-size: 32px;
@markup-editor-btn-icon-size: 24px;

@markup-editor-btn-bg: transparent;
@markup-editor-btn-border: @gray-lighter;
@markup-editor-btn-color: @text-color;

@markup-editor-btn-active-bg: @gray;
@markup-editor-btn-active-border: @gray;
@markup-editor-btn-active-color: #fff;

@markup-editor-attachment-border-color: @gray-lighter;

@markup-editor-footer-bg: #fff;
@markup-editor-footer-border-color: @gray-lighter;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1060;
@zindex-tooltip: 1070;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;
@zindex-auth-message: 1070;

//== Grid system
//
//## Define your custom responsive grid.

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint: 700px;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
