<div class="page-breadcrumbs">
  <div class="container">
    <ol class="breadcrumb hidden-xs" itemscope itemtype="http://schema.org/BreadcrumbList">
      {% for node in breadcrumbs %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="{{ node.get_absolute_url }}" itemscope itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ node.name }}</span>
          </a>
          <meta itemprop="position" content="{{ forloop.counter }}" />
        </li>
      {% endfor %}
    </ol>
    <a href="{{ thread.category.get_absolute_url }}" class="go-back-sm visible-xs-block">
      <span class="material-icon">chevron_left</span>
      {{ thread.category }}
    </a>
  </div>
</div>