{% load i18n %}
<nav class="misago-pagination" role="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% if paginator.pages > 1 %}
    <ul class="pagination">
      {% if paginator.first %}
        <li>
          <a href="{% url url_name slug=thread.slug pk=thread.pk %}" title="{% trans 'Go to first page' %}">
            <span class="material-icon">first_page</span>
          </a>
        </li>
        {% if paginator.previous > 1 %}
          <li>
            <a href="{% url url_name slug=thread.slug pk=thread.pk page=paginator.previous %}" rel="prev" title="{% trans 'Go to previous page' %}">
              <span class="material-icon">chevron_left</span>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{% url url_name slug=thread.slug pk=thread.pk %}" rel="prev" title="{% trans 'Go to previous page' %}">
              <span class="material-icon">chevron_left</span>
            </a>
          </li>
        {% endif %}
      {% endif %}
      {% if paginator.last %}
        <li>
          <a href="{% url url_name slug=thread.slug pk=thread.pk page=paginator.next %}" rel="next" title="{% trans 'Go to next page' %}">
            <span class="material-icon">chevron_right</span>
          </a>
        </li>
        <li>
          <a href="{% url url_name slug=thread.slug pk=thread.pk page=paginator.last %}" title="{% trans 'Go to last page' %}">
            <span class="material-icon">last_page</span>
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
  <p>
    {% if paginator.more %}
      {% blocktrans trimmed count more=paginator.more %}
        There is {{ more }} more post in this thread.
      {% plural %}
        There are {{ more }} more posts in this thread.
      {% endblocktrans %}
    {% else %}
      {% trans "There are no more posts in this thread." %}
    {% endif %}
  </p>
</nav>