{% load i18n misago_capture %}
<div class="header-stats">
  <div class="container">
    <ul class="list-inline">
      {% if thread.weight == 2 %}
        <li class="thread-pinned-globally">
          <span class="material-icon">
            bookmark
          </span>
          <span class="icon-legend">
            {% trans "Pinned globally" %}
          </span>
        </li>
      {% elif thread.weight %}
        <li class="thread-pinned-locally">
          <span class="material-icon">
            bookmark_border
          </span>
          <span class="icon-legend">
            {% trans "Pinned locally" %}
          </span>
        </li>
      {% endif %}
      {% if thread.is_unapproved %}
        <li class="thread-unapproved">
          <span class="material-icon">
            remove_circle
          </span>
          <span class="icon-legend">
            {% trans "Unapproved" %}
          </span>
        </li>
      {% elif thread.has_unapproved_posts and thread.acl.can_approve %}
        <li class="thread-unapproved-posts">
          <span class="material-icon">
            remove_circle_outline
          </span>
          <span class="icon-legend">
            {% trans "Unapproved posts" %}
          </span>
        </li>
      {% endif %}
      {% if thread.is_hidden %}
        <li class="thread-hidden">
          <span class="material-icon">
            visibility_off
          </span>
          <span class="icon-legend">
            {% trans "Hidden" %}
          </span>
        </li>
      {% endif %}
      {% if thread.is_closed %}
        <li class="thread-closed">
          <span class="material-icon">
            lock_outline
          </span>
          <span class="icon-legend">
            {% trans "Closed" %}
          </span>
        </li>
      {% endif %}
      <li class="thread-replies">
        <span class="material-icon">
          forum
        </span>
        <span class="icon-legend">
          {% blocktrans trimmed count replies=thread.replies %}
            {{ replies }} reply
          {% plural %}
            {{ replies }} replies
          {% endblocktrans %}
        </span>
      </li>
      <li class="thread-last-reply">
        {% capture trimmed as last_poster %}
          {% if thread.last_poster_id %}
            <a href="{% url 'misago:user' slug=thread.last_poster_slug pk=thread.last_poster_id %}" class="poster-title">{{ thread.last_poster_name }}</a>
          {% else %}
            <span class="poster-title">{{ thread.last_poster_name }}</span>
          {% endif %}
        {% endcapture %}
        {% blocktrans trimmed with user=last_poster|safe date=thread.last_post_on|date %}
          last reply by {{ user }} {{ date }}
        {% endblocktrans %}
      </li>
    </ul>
  </div>
</div>