{% extends "misago/emails/register/complete.html" %}
{% load i18n misago_absoluteurl misago_capture %}


{% block activation-message %}
{% if activation_by_admin %}
  {% blocktranslate trimmed context "welcome email" %}
  Before you will be able to join discussion on our site, one of administrators will have to activate your account.
  {% endblocktranslate %}
  <br>
  <br>
  {% blocktranslate trimmed context "welcome email" %}
  You will receive an e-mail with notification once this happens.
  {% endblocktranslate %}
  <br>
  <br>
  {% blocktranslate trimmed context "welcome email" %}
  Thank you for your patience and see you soon!
  {% endblocktranslate %}
  <br>
{% elif activation_by_user %}
  {% blocktranslate trimmed  context "welcome email"%}
  Before you will be able to join discussion on our site, you have to activate your account. To do so, simply click the link below:
  {% endblocktranslate %}
  <br>
  <br>
  <a href="{% absoluteurl 'misago:activate-by-token' pk=user.pk token=activation_token %}">{% translate "Activate my account" context "welcome email activate link" %}</a>
  <br>
  <br>
  {% capture trimmed as login_link %}
  <a href="{% absoluteurl LOGIN_URL %}">{% translate "this form" context "welcome email inactive sign in cta link" %}</a>
  {% endcapture %}
  {% blocktranslate trimmed with login_form=login_link|safe context "welcome email inactive sign in cta" %}
  Once your account is activated, you can always sign in to it using {{ login_form }}.
  {% endblocktranslate %}
  <br>
{% endif %}
{% endblock activation-message %}
