.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.d-xs-block,
.d-xs-inline-block {
  display: none;
}

@media screen and (max-width: @screen-xs-max) {
  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .d-xs-inline-block {
    display: inline-block;
  }
}

.d-details-open-inline,
.d-details-open-inline-block,
.d-details-open-block,
.d-details-open-flex {
  display: none;
}

details:open,
details[open] {
  .d-details-open-none {
    display: none;
  }

  .d-details-open-inline {
    display: inline;
  }

  .d-details-open-inline-block {
    display: inline-block;
  }

  .d-details-open-block {
    display: block;
  }

  .d-details-open-flex {
    display: flex;
  }
}
