.mx-0 { margin: 0 0; }
.mx-1 { margin: floor(@line-height-computed / 4) 0; }
.mx-2 { margin: floor(@line-height-computed / 2) 0; }
.mx-3 { margin: @line-height-computed 0; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: floor(@line-height-computed / 4); }
.mt-2 { margin-top: floor(@line-height-computed / 2); }
.mt-3 { margin-top: @line-height-computed; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: floor(@line-height-computed / 4); }
.mb-2 { margin-bottom: floor(@line-height-computed / 2); }
.mb-3 { margin-bottom: @line-height-computed; }
