<footer class="site-footer">
  <div class="container">

    <div class="first-row">

      {{#if showFooterNav}}
        <ul class="list-inline footer-nav">
        {{#if showFooterTermsLink}}
          <li>
            <a href="{% url 'misago:terms_of_service' %}">{% trans "Terms of service" %}</a>
          </li>
        {{/if}}
        {{#if showFooterPrivacyLink}}
          <li>
            <a href="{% url 'misago:privacy_policy' %}">{% trans "Privacy policy" %}</a>
          </li>
        {{/if}}
        </ul>
      {{/if}}

    </div>

    <div class="misago-branding">
      <a href="http://misago-project.org">
        <span class="subscript">powered by</span>
        <span class="brand-border"><span>m</span></span><span class="subscript">isago</span>
      </a>
    </div>

  </div>
</footer>
