<div class="container">
  <h1>Welcome to Ember.js!</h1>
  <p class="lead">IndexController renders index.hbs template!</p>
  <p>Si vis pacem {{gettext "para bellum"}}!</p>
  <p>Si {{gettext "vis"}} pacem {{gettext "para %(bellum)s" bellum="Honey"}}!</p>
</div>
