{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
  {% trans "Sign in" context "login page" %} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-login">
  <div class="container page-container page-login-container">

    <div class="panel-login-form">
      <h1 class="panel-login-form-header">
        {% if form_header %}
          {{ form_header }}
        {% else %}
          {% trans "Sign in" context "login page" %}
        {% endif %}
      </h1>

      {% if form.non_field_errors %}
        <p class="panel-login-form-error">
          {{ form.non_field_errors|first }}
        </p>
      {% endif %}
  
      {% include "misago/auth/login_form.html" %}
    </div>

  </div>
</div>
{% endblock content %}