{% load misago_avatars %}
<li id="post-{{ post.pk }}" class="post">
  <div class="post-border">
    <div class="post-avatar">
      {% if post.poster %}
        <a href="{{ post.poster.get_absolute_url }}">
          <img class="user-avatar" src="{{ post.poster|avatar:100 }}" alt="">
        </a>
      {% else %}
        <img class="user-avatar" src="{% blankavatar 100 %}" alt="">
      {% endif %}
    </div>
    <div class="post-body">
      <div class="panel panel-default panel-post">
        <div class="panel-heading">
          {% if post.poster %}
            <a class="item-title" href="{{ post.poster.get_absolute_url }}">{{ post.poster.username }}</a>
          {% else %}
            <strong class="item-title">{{ post.poster_name }}</strong>
          {% endif %}
          <a href="{{ post.get_absolute_url }}">{{ post.posted_on|date }}</a>
        </div>
        <div class="panel-body">
          <article class="misago-markup">
            {{ post.parsed|safe }}
          </article>
        </div>
      </div>
    </div>
  </div>
</li>