{% extends "cranefly/usercp/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change your Avatar')) }}{% endblock %}

{% block action %}
<div class="form-container">

  <div class="form-header">
    <h1>{% trans %}Change your Avatar{% endtrans %}</h1>
  </div>

  {% if user.avatar_ban_reason_user %}
  <p class="lead">{% trans username=user.username %}{{ username }}, your ability to change your avatar has been removed for following reason:{% endtrans %}</p>
  <div class="markdown">
  {{ user.avatar_ban_reason_user|markdown|safe }}
  </div>
  {% else %}
  <p class="lead">{% trans username=user.username %}{{ username }}, your ability to change your avatar has been removed.{% endtrans %}</p>
  {% endif %}
</div>
{% endblock %}