{% extends "cranefly/usercp/layout.html" %}
{% import "_forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change your Sign-In Credentials')) }}{% endblock %}

{% block action %}
<div class="form-container">

  <div class="form-header">
    <h1>{% trans %}Change Sign-In Credentials{% endtrans %}</h1>
  </div>

  {% if message %}
  <div class="messages-list">
    {{ macros.draw_message(message) }}
  </div>
  {% endif %}

  <form action="{{ url('usercp_credentials') }}" method="post">
    <div class="form-fields">
      {{ form_theme.form_widget(form, width=9) }}
    </div>
    <div class="form-actions">
  	  <button name="save" type="submit" class="btn btn-primary">{% trans %}Change Credentials{% endtrans %}</button>
    </div>
  </form>
  
</div>
{% endblock %}