{% extends "cranefly/usercp/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change your Sign-In Credentials')) }}{% endblock %}

{% block action %}
<div class="form-container">

  <div class="form-header">
    <h1>{% trans %}Change Sign-In Credentials{% endtrans %}</h1>
  </div>

  {% if message %}
  <div class="messages-list">
    {{ macros.draw_message(message) }}
  </div>
  {% endif %}

  <form action="{{ url('usercp_credentials') }}" method="post">
    {{ form_theme.hidden_fields(form) }}
    <div class="form-fields">
      {{ form_theme.row(form.new_email) }}
      {{ form_theme.row(form.new_password) }}
      {{ form_theme.row(form.current_password) }}
    </div>
    <div class="form-actions">
  	  <button name="save" type="submit" class="btn btn-primary">{% trans %}Change Credentials{% endtrans %}</button>
    </div>
  </form>
  
</div>
{% endblock %}