{% extends "cranefly/layout.html" %}

{% block content %}
<div class="row usercp">
  <div class="span3">

    <ul class="nav nav-pills usercp-tabs">
      <li class="nav-header">{% trans %}Your Control Panel{% endtrans %}</li>
      {% for link in tabs %}
      <li{% if link.active %} class="active"{% endif %}><a href="{{ url(link.route) }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>

  </div>
  <div class="span9 usercp-action">

    {% block action %}{% endblock %}

  </div>
</div>
{% endblock %}