{% extends "cranefly/usercp/layout.html" %}
{% import "cranefly/forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change Forum Options')) }}{% endblock %}

{% block action %}
<div class="form-container">

  <div class="form-header">
    <h1>{% trans %}Change Forum Options{% endtrans %}</h1>
  </div>

  {% if message %}
  <div class="messages-list">
    {{ macros.draw_message(message) }}
  </div>
  {% endif %}

  <form action="{{ url('usercp_options') }}" method="post">
    {{ form_theme.hidden_fields(form) }}
    <div class="form-fields">
      {# form_theme.form_widget(form, width=9) #}
      <fieldset>
        <legend>{% trans %}Privacy{% endtrans %}</legend>
        {{ form_theme.row(form.hide_activity) }}
        {{ form_theme.row(form.allow_pds) }}
      </fieldset>
      <fieldset>
        <legend>{% trans %}Forum Options{% endtrans %}</legend>
        {{ form_theme.row(form.timezone) }}
        {{ form_theme.row(form.newsletters, attrs={'inline': _("Yes, I want to subscribe forum newsletter.")}) }}
      </fieldset>
      <fieldset>
        <legend>{% trans %}Watching Threads{% endtrans %}</legend>
        {{ form_theme.row(form.subscribe_start) }}
        {{ form_theme.row(form.subscribe_reply) }}
      </fieldset>
    </div>
    <div class="form-actions">
      <button name="save" type="submit" class="btn btn-primary">{% trans %}Change Options{% endtrans %}</button>
      <a href="{{ url('usercp') }}" class="btn">{% trans %}Cancel{% endtrans %}</a>
    </div>
  </form>
  
</div>
{% endblock %}