{% extends "cranefly/usercp/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Edit your Signature')) }}{% endblock %}

{% block action %}
<h2>{% trans %}Edit your Signature{% endtrans %}</h2>
{% if user.signature_ban_reason_user %}
<p class="lead">{% trans username=user.username %}{{ username }}, your ability to edit your signature has been removed for following reason:{% endtrans %}</p>
{{ user.signature_ban_reason_user|markdown|safe }}
{% else %}
<p class="lead">{% trans username=user.username %}{{ username }}, your ability to edit your signature has been removed.{% endtrans %}</p>
{% endif %}
{% endblock %}