{% extends "cranefly/usercp/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Edit your Signature')) }}{% endblock %}

{% block action %}
<div class="form-container">

  <div class="form-header">
    <h1>{% trans %}Edit your Signature{% endtrans %}</h1>
  </div>

  {% if user.signature_ban_reason_user %}
  <p class="lead">{% trans username=user.username %}{{ username }}, your ability to edit your signature has been removed for following reason:{% endtrans %}</p>
  <div class="markdown">
  {{ user.signature_ban_reason_user|markdown|safe }}
  </div>
  {% else %}
  <p class="lead">{% trans username=user.username %}{{ username }}, your ability to edit your signature has been removed.{% endtrans %}</p>
  {% endif %}
</div>
{% endblock %}