{% extends "misago/base.html" %}
{% load i18n misago_absoluteurl misago_shorthands %}


{% block title %}
  {% if THREADS_ON_INDEX %}
    {% trans "Categories" %} | {{ block.super }}
  {% else %}
    {{ settings.index_title|default:settings.forum_name }}
  {% endif %}
{% endblock title %}


{% block meta-description %}
  {% if not THREADS_ON_INDEX and settings.index_meta_description %}
    {{ settings.index_meta_description }}
  {% else %}
    {% blocktrans trimmed count categories=categories|length with forum_name=settings.forum_name %}
      There is {{ categories }} main category currenty available on the {{ forum_name }}.
    {% plural %}
      There are {{ categories }} main categories currenty available on the {{ forum_name }}.
    {% endblocktrans %}
  {% endif %}
{% endblock meta-description %}


{% block og-title %}
  {% if THREADS_ON_INDEX %}
    {% trans "Categories" %}
  {% else %}
    {{ settings.index_title|default:settings.forum_name }}
  {% endif %}
{% endblock og-title %}


{% block og-description %}
  {% if not THREADS_ON_INDEX and settings.index_meta_description %}
    {{ settings.index_meta_description }}
  {% else %}
    {% blocktrans trimmed count categories=categories|length with forum_name=settings.forum_name %}
      There is {{ categories }} main category currenty available on the {{ forum_name }}.
    {% plural %}
      There are {{ categories }} main categories currenty available on the {{ forum_name }}.
    {% endblocktrans %}
  {% endif %}
{% endblock og-description %}


{% block og-url %}{% absoluteurl request_path %}{% endblock %}


{% block content %}
<div class="page page-categories {{ categories|iffalse:'page-message' }}">
  {% include "misago/categories/header.html" %}
  <div class="container">
    {% include "misago/categories/body.html" %}
  </div>
</div>
{% endblock content %}