{% extends "misago/base.html" %}
{% load i18n misago_shorthands %}


{% block title %}
{% if THREADS_ON_INDEX %}
  {% trans "Categories" %} | {{ block.super }}
{% else %}
  {% if misago_settings.forum_index_title %}
    {{ misago_settings.forum_index_title }}
  {% else %}
    {{ misago_settings.forum_name }}
  {% endif %}
{% endif %}
{% endblock title %}


{% block meta-description %}
{% if not THREADS_ON_INDEX and misago_settings.forum_index_meta_description %}
  {{ misago_settings.forum_index_meta_description }}
{% endif %}
{% endblock meta-description %}


{% block content %}
<div class="page page-categories {{ categories|iffalse:'page-message' }}">
  {% include "misago/categories/header.html" %}
  <div class="container">
    {% include "misago/categories/body.html" %}
  </div>
</div>
{% endblock content %}