{% load i18n %}
<div class="container page-header-container">
  <div class="page-header page-header-categories">
    <div class="page-header-bg-image">
      <div class="page-header-bg-overlay">
        <div class="page-header-image"></div>
        <div class="page-header-banner page-header-banner-categories">
          <div class="page-header-banner-bg-image">
            <div class="page-header-banner-bg-overlay">
              <h1>{% translate "Categories" context "categories page" %}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>