{% extends "misago/base.html" %}
{% load i18n misago_shorthands %}


{% block title %}
{% if is_index %}
  {% if misago_settings.forum_index_title %}
  {{ misago_settings.forum_index_title }}
  {% else %}
  {{ misago_settings.forum_name }}
  {% endif %}
{% else %}
  {% trans "Categories" %} | {{ block.super }}
{% endif %}
{% endblock title %}


{% block meta-description %}
{% if is_index and misago_settings.forum_index_meta_description %}
  {{ misago_settings.forum_index_meta_description }}
{% endif %}
{% endblock meta-description %}


{% block content %}
<div class="page page-categories {{ categories|iffalse:'page-message' }}">
  <div class="page-header">
    <div class="container">
      {% if is_index %}
        <h1>{{ misago_settings.forum_name }}</h1>
      {% else %}
        <h1>{% trans "Categories" %}</h1>
      {% endif %}
    </div>
  </div>

  {% if categories %}
    <div class="container">

      <div class="categories-list">
        {% for category in categories %}
          {% include "misago/categories/category.html" with category=category %}
        {% endfor %}
      </div>

    </div>
  {% else %}
    <div class="container">
      <div class="message-panel">

        <div class="message-icon">
          <span class="material-icon">info_outline</span>
        </div>

        <div class="message-body">
          <p class="lead">{% trans "No categories are available." %}</p>
          <p>{% trans "No categories are currently defined or you don't have permission to see them." %}</p>
        </div>

      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}