{% extends "misago/threads/mark_as_read_page.html" %}
{% load i18n %}

{% block title %}
  {% trans "Mark as read" context "mark categories as read" %} | {% trans "Categories" context "categories page" %} | {{ settings.forum_name }}
{% endblock title %}

{% block page-class %}page-categories{% endblock page-class %}

{% block header %}
  {% include "misago/categories/header.html" %}
{% endblock header %}

{% block panel-body %}
  {% blocktrans trimmed context "mark categories as read" %}
    Are you sure you want to mark all categories as read?
  {% endblocktrans %}
{% endblock panel-body %}