{% load i18n %}
{% if category.is_closed %}
  {% if category.is_read %}
    <div class="read-status item-read" title="{% trans "This category has no new posts. (closed)" %}">
      <span class="material-icon">
        lock_outline
      </span>
    </div>
  {% else %}
    <div class="read-status item-new" title="{% trans "This category has new posts. (closed)" %}">
      <span class="material-icon">
        lock
      </span>
    </div>
  {% endif %}
{% else %}
  {% if category.is_read %}
    <div class="read-status item-read" title="{% trans "This category has no new posts." %}">
      <span class="material-icon">
        chat_bubble_outline
      </span>
    </div>
  {% else %}
    <div class="read-status item-new" title="{% trans "This category has new posts." %}">
      <span class="material-icon">
        chat_bubble
      </span>
    </div>
  {% endif %}
{% endif %}