{% load i18n %}
<div class="col-md-2 hidden-xs hidden-sm">
  <ul class="list-unstyled category-stats">
    <li class="category-stat-threads">
      {% blocktrans trimmed count threads=category.threads %}
        {{ threads }} thread
      {% plural %}
        {{ threads }} threads
      {% endblocktrans %}
    </li>
    <li class="category-stat-posts">
      {% blocktrans trimmed count posts=category.posts %}
        {{ posts }} post
      {% plural %}
        {{ posts }} posts
      {% endblocktrans %}
    </li>
  </ul>
</div>