{% extends "_message/base.html" %}
{% load i18n %}

{% block content %}
{% if message.user.is_authorized() %}
  {% if message.ban.reason %}
  <p>{% trans username=message.user.username %}{{ username }}, your account has been locked for following reason:{% endtrans %}</p>
  <p>{{ message.ban.reason }}</p>
  {% else %}
  <p>{% trans username=message.user.username %}{{ username }}, your account has been locked by board administrator.{% endtrans %}</p>
  {% endif %}
{% else %}
  {% if message.ban.reason %}
  <p>{% trans %}Dear guest, your access to this page has been forbidden for following reason:{% endtrans %}</p>
  <p>{{ message.ban.reason }}</p>
  {% else %}
  <p>{% trans %}Dear guest, your access to this page has been forbidden.{% endtrans %}</p>
  {% endif %}
{% endif %}
  {% if message.ban.expires %}
  <p>{% trans %}Your ban will expire on{% endtrans %} <em>{{ message.ban.expires|date(format.DATE_FORMAT) }}</em></p>
  {% endif %}
{% endblock %}