{% load i18n %}

<template id="attachment-upload-error-template">
  <p
    class="help-block text-danger" 
    misago-tpl-attr="misago-editor-attachment-error:key"
  >
    <span misago-tpl-var="error"></span>
    <button
      type="button"
      class="markup-editor-attachments-error-dismiss-button"
      misago-editor-action="attachment-error-dismiss"
      misago-tpl-attr="misago-editor-attachment-key:key"
    >
      {% translate "(dismiss)" context "markup editor dismiss attachment error btn" %}
    </button>
  </p>
</template>

<template id="attachment-media-template">
  <li class="markup-editor-attachments-media-list-item animation-fade-in" misago-tpl-attr="misago-editor-upload-key:key">
    <div class="markup-editor-attachments-media-list-item-preview-video" misago-tpl-if="isVideo">
      <div class="markup-editor-attachments-media-list-item-preview-video-container">
        <video muted>
          {% translate "Your browser does not support video tag." context "attachment video player" %}
        </video>
      </div>
    </div>
    <div class="markup-editor-attachments-media-list-item-preview-image" misago-tpl-if="isImage" misago-tpl-image>
    </div>
    <div class="markup-editor-attachments-media-list-item-name" misago-tpl-var="name"></div>
    <div class="markup-editor-attachments-media-list-item-upload-progress" misago-tpl-footer>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </li>
</template>

<template id="attachment-media-footer-template">
  <div class="markup-editor-attachments-media-list-item-footer animation-fade-in">
    <button
      type="button"
      class="markup-editor-attachments-media-list-item-button d-js-block"
      title="{% translate 'Click to insert into post' context 'markup editor insert attachment btn' %}"
      misago-editor-action="attachment"
      misago-editor-attachment=""
    >
      {% translate "Insert" context "markup editor insert attachment btn" %}
    </button>
    <div class="markup-editor-attachments-media-list-item-footer-spacer"></div>
    <button
      type="button"
      class="markup-editor-attachments-media-list-item-button markup-editor-attachments-media-list-item-delete-button d-js-flex"
      title="{% translate 'Delete' context 'markup editor delete attachment btn' %}"
      misago-editor-action="attachment-delete"
      misago-tpl-attr="misago-editor-attachment:id"
    >
      <span class="material-icon">delete</span>
    </button>
  </div>
</template>

<template id="attachment-media-failed-footer-template">
  <div class="markup-editor-attachments-media-list-item-footer animation-fade-in">
    <div class="markup-editor-attachments-media-list-item-failed-message">
      <span class="material-icon">warning</span>
      <span>
        {% translate "Upload failed" context "markup editor insert attachment btn" %}
      </span>
    </div>
    <button
      type="button"
      class="markup-editor-attachments-media-list-item-button markup-editor-attachments-media-list-item-delete-button d-js-flex"
      title="{% translate 'Delete' context 'markup editor delete attachment btn' %}"
      misago-editor-action="attachment-error-dismiss"
      misago-tpl-attr="misago-editor-attachment-key:key"
    >
      <span class="material-icon">delete</span>
    </button>
  </div>
</template>

<template id="attachment-other-template">
  <li class="markup-editor-attachments-other-list-item uploading" misago-tpl-attr="misago-editor-upload-key:key">
    <div
      class="markup-editor-attachments-other-list-item-body"
    >
      <div class="markup-editor-attachments-other-list-item-name" misago-tpl-var="name"></div>
      <div class="markup-editor-attachments-other-list-item-upload-progress" misago-tpl-upload>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="markup-editor-attachments-other-list-item-delete-button d-js-flex"
      title="{% translate 'Delete' context 'markup editor delete attachment btn' %}"
      disabled
    >
      <span class="material-icon">delete</span>
    </button>
  </li>
</template>

<template id="attachment-other-failed-template">
  <div class="markup-editor-attachments-other-list-item-upload-failed">
    {% translate "Upload failed" context "markup editor insert attachment btn" %}
  </div>
</template>

<template id="attachment-other-uploaded-template">
  <li class="markup-editor-attachments-other-list-item animation-fade-in" misago-tpl-attr="misago-editor-upload-key:key">
    <button
      class="markup-editor-attachments-other-list-item-body"
      type="button"
      title="{% translate 'Click to insert into post' context 'markup editor insert attachment btn' %}"
      misago-editor-action="attachment"
      misago-editor-attachment=""
    >
      <div class="markup-editor-attachments-other-list-item-name" misago-tpl-var="name"></div>
      <div class="markup-editor-attachments-other-list-item-description">
        <span class="markup-editor-attachments-other-list-item-size" misago-tpl-var="upload.size.formatted"></span>
        <span class="markup-editor-attachments-other-list-item-cta">
          {% translate "Insert into post" context "markup editor insert attachment btn" %}
        </span>
      </div>
    </button>
    <button
      type="button"
      class="markup-editor-attachments-other-list-item-delete-button d-js-flex"
      title="{% translate 'Delete' context 'markup editor delete attachment btn' %}"
      misago-editor-action="attachment-delete"
      misago-tpl-attr="misago-editor-attachment:id"
    >
      <span class="material-icon">delete</span>
    </button>
  </li>
</template>
