{% load i18n misago_capture %}
<div class="markup-editor-attachments">
  {% if form.show_attachments_upload %}
    {% with form.upload as upload_field %}
      <div class="form-group{% if upload_field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ upload_field.id_for_label }}">
          {% trans "Upload files:" context "posting title form" %}
        </label>
        <div class="markup-editor-attachments-noscript-row">
          <input
            type="file"
            class="form-control"
            id="{{ upload_field.id_for_label }}"
            name="{{ upload_field.html_name }}"
            accept="{{ form.accept_attachments }}"
            multiple
          />
          <button class="btn btn-default btn-block" type="submit "name="{{ form.upload_attachments }}" value="true" formnovalidate>
            {% trans "Upload" context "posting form" %}
          </button>
        </div>
        <p class="help-block text-help-block">
          {% blocktrans trimmed count limit=form.attachments_limit context "posting form" %}
            You can attach {{ limit }} file to a post.
          {% plural %}
            You can attach up to {{ limit }} files to a post.
          {% endblocktrans %}
          {% if form.attachment_size_limit %}
            {% blocktrans trimmed with limit=form.attachment_size_limit|filesizeformat context "posting form" %}
              Uploaded file can't be larger than {{ limit }}.
            {% endblocktrans %}
          {% endif %}
          {% capture trimmed as account_attachments %}
            <a href="{% url 'misago:account-attachments' %}" target="_blank">{% trans "account settings" context "posting form" %}</a>
          {% endcapture %}
          {% blocktrans trimmed with settings=account_attachments|safe context "posting form" %}
            Visit your {{ settings }} to view all your attachments and manage your available storage.
          {% endblocktrans %}
        </p>
        {% for error in upload_field.errors %}
          <p class="help-block text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    {% endwith %}
  {% endif %}
  {% with form.attachments_media as attachments %}
    <div class="markup-editor-attachments-list{% if not attachments %} d-none{% endif %}" misago-editor-attachments="media">
      <h4 class="markup-editor-attachments-header">{% trans "Uploaded media" context "posting form" %}</h4>
      <ul class="markup-editor-attachments-media-list">
        {% for attachment in attachments %}
          <li class="markup-editor-attachments-media-list-item">
            {% if attachment.upload %}
              {% if attachment.filetype.is_video %}
                <div class="markup-editor-attachments-media-list-item-preview-video">
                  <div class="markup-editor-attachments-media-list-item-preview-video-container">
                    <video muted>
                      <source src="{{ attachment.get_absolute_url }}" type="{{ attachment.content_type }}">
                      {% trans "Your browser does not support video tag." context "attachment video player" %}
                    </video>
                  </div>
                </div>
              {% else %}
                <div
                  class="markup-editor-attachments-media-list-item-preview-image"
                  style="background-image: url('{{ attachment.get_thumbnail_url|default:attachment.get_absolute_url }}');"
                ></div>
              {% endif %}
            {% else %}
              <div class="markup-editor-attachments-media-list-item-preview-broken">
                <span class="material-icon">broken_image</span>
              </div>
            {% endif %}
            <div class="markup-editor-attachments-media-list-item-name">
              {{ attachment.name }}
            </div>
            <div class="markup-editor-attachments-media-list-item-footer">
              <button
                type="button"
                class="markup-editor-attachments-media-list-item-button d-js-block"
                title="{% trans 'Click to insert into post' context 'markup editor insert attachment btn' %}"
                misago-editor-action="attachment"
                misago-editor-attachment="{{ attachment.name }}:{{ attachment.id }}"
              >
                {% trans "Insert" context "markup editor insert attachment btn" %}
              </button>
              <div class="markup-editor-attachments-media-list-item-footer-spacer"></div>
              <noscript>
                <button
                  type="submit"
                  class="markup-editor-attachments-media-list-item-button markup-editor-attachments-media-list-item-delete-button"
                  title="{% trans 'Delete' context 'markup editor delete attachment btn' %}"
                  name="{{ form.delete_attachment_field }}"
                  value="{{ attachment.id }}"
                  formnovalidate
                >
                  <span class="material-icon">delete</span>
                </button>
              </noscript>
              <button
                type="button"
                class="markup-editor-attachments-media-list-item-button markup-editor-attachments-media-list-item-delete-button d-js-flex"
                title="{% trans 'Delete' context 'markup editor delete attachment btn' %}"
                misago-editor-action="attachment-delete"
                misago-editor-attachment="{{ attachment.id }}"
                misago-editor-attachments-field="{{ form.deleted_attachment_ids_field }}"
              >
                <span class="material-icon">delete</span>
              </button>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endwith %}
  {% with form.attachments_other as attachments %}
    <div class="markup-editor-attachments-list{% if not attachments %} d-none{% endif %}" misago-editor-attachments="other">
      <h4 class="markup-editor-attachments-header">{% trans "Uploaded files" context "posting form" %}</h4>
      <ul class="markup-editor-attachments-other-list">
        {% for attachment in attachments %}
          <li class="markup-editor-attachments-other-list-item">
            <button
              class="markup-editor-attachments-other-list-item-body"
              type="button"
              title="{% trans 'Click to insert into post' context 'markup editor insert attachment btn' %}"
              misago-editor-action="attachment"
              misago-editor-attachment="{{ attachment.name }}:{{ attachment.id }}"
            >
              <div class="markup-editor-attachments-other-list-item-name">
                {{ attachment.name }}
              </div>
              <div class="markup-editor-attachments-other-list-item-description">
                <span class="markup-editor-attachments-other-list-item-size">
                  {{ attachment.size|filesizeformat }}
                </span>
                <span class="markup-editor-attachments-other-list-item-cta">
                  {% trans "Insert into post" context "markup editor insert attachment btn" %}
                </span>
              </div>
            </button>
            <noscript>
              <button
                type="submit"
                class="markup-editor-attachments-other-list-item-delete-button"
                title="{% trans 'Delete' context 'markup editor delete attachment btn' %}"
                name="{{ form.delete_attachment_field }}"
                value="{{ attachment.id }}"
                formnovalidate
              >
                <span class="material-icon">delete</span>
              </button>
            </noscript>
            <button
              type="button"
              class="markup-editor-attachments-other-list-item-delete-button d-js-flex"
              title="{% trans 'Delete' context 'markup editor delete attachment btn' %}"
              misago-editor-action="attachment-delete"
              misago-editor-attachment="{{ attachment.id }}"
              misago-editor-attachments-field="{{ form.deleted_attachment_ids_field }}"
            >
              <span class="material-icon">delete</span>
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endwith %}
  {% for attachment in form.attachments %}
    <input type="hidden" name="{{ form.attachment_ids_field }}" value="{{ attachment.id }}" />
  {% endfor %}
  {% for attachment in form.deleted_attachments %}
    <input type="hidden" name="{{ form.deleted_attachment_ids_field }}" value="{{ attachment.id }}" />
  {% endfor %}
</div>