{% load i18n %}
<div class="markup-editor-attachments">
  {% if form.show_attachments_upload %}
    {% with form.upload as upload_field %}
      <div class="form-group{% if upload_field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ upload_field.id_for_label }}">
          {% trans "Upload files:" context "posting title form" %}
        </label>
        <div class="markup-editor-attachments-noscript-row">
          <input
            type="file"
            class="form-control"
            id="{{ upload_field.id_for_label }}"
            name="{{ upload_field.html_name }}"
            accept="{{ form.accept_attachments }}"
            multiple
          />
          <button class="btn btn-default btn-block" type="submit "name="upload_attachments" value="true" formnovalidate>
            {% trans "Upload" context "posting form" %}
          </button>
        </div>
        <p class="help-block text-help-block">
          {% blocktrans trimmed count limit=form.max_attachments context "posting form" %}
            You can attach {{ limit }} file to a post.
          {% plural %}
            You can attach up to {{ limit }} files to a post.
          {% endblocktrans %}
          {% if form.attachment_size_limit %}
            {% blocktrans trimmed with limit=form.attachment_size_limit|filesizeformat context "posting form" %}
              Uploaded file can't be larger than {{ limit }}.
            {% endblocktrans %}
          {% endif %}
        </p>
        {% for error in upload_field.errors %}
          <p class="help-block text-danger">{{ error }}</p>
        {% endfor %}
      </div>
    {% endwith %}
  {% endif %}
  {% with form.attachments_media as attachments %}
    <div class="markup-editor-attachments-list{% if not attachments %} d-none{% endif %}" misago-editor-attachments="media">
      <h4 class="markup-editor-attachments-header">{% trans "Uploaded media" context "posting form" %}</h4>
      <ul class="markup-editor-attachments-media-list">
        {% for attachment in attachments %}
          <li class="markup-editor-attachments-media-list-item">
            <div class="markup-editor-attachments-media-list-item-preview" style="background-image: url('{{ attachment.get_thumbnail_url|default:attachment.get_thumbnail_url }}');"></div>
            <div class="markup-editor-attachments-media-list-item-body">
              <div class="markup-editor-attachments-media-list-item-name">
                {{ attachment.name }}
              </div>
              <input type="hidden" name="{{ form.attachment_secret_name }}" value="{{ attachment.secret }}" />
            </div>
            <button
              type="button"
              misago-editor-action="attachment"
              misago-editor-attachment="{{ attachment.name }}:{{ attachment.id }}"
            >
              {% trans "Insert" context "markup editor insert attachment btn" %}
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endwith %}
  {% with form.attachments_other as attachments %}
    <div class="markup-editor-attachments-list{% if not attachments %} d-none{% endif %}" misago-editor-attachments="other">
      <h4 class="markup-editor-attachments-header">{% trans "Uploaded files" context "posting form" %}</h4>
      <ul class="markup-editor-attachments-other-list">
        {% for attachment in attachments %}
          <li class="markup-editor-attachments-other-list-item">
            <div class="markup-editor-attachments-other-list-item-icon">
              {% if attachment.filetype.is_archive %}
                <span class="material-icon">description</span>
              {% elif attachment.filetype.is_document %}
                <span class="material-icon">description</span>
              {% else %}
                <span class="material-icon">description</span>
              {% endif %}
            </div>
            <div class="markup-editor-attachments-other-list-item-body">
              <div>
                <div class="markup-editor-attachments-other-list-item-name">
                  {{ attachment.name }}
                </div>
                <div class="markup-editor-attachments-other-list-item-details">
                  {{ attachment.size|filesizeformat }}
                </div>
                <input type="hidden" name="{{ form.attachment_secret_name }}" value="{{ attachment.secret }}" />
              </div>
            </div>
            <button
              type="button"
              misago-editor-action="attachment"
              misago-editor-attachment="{{ attachment.name }}:{{ attachment.id }}"
            >
              {% trans "Insert" context "markup editor insert attachment btn" %}
            </button>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endwith %}
</div>