{% load i18n misago_plugins %}
{% pluginoutlet MARKUP_EDITOR_TOOLBAR_START %}
<button
  class="btn btn-markup-editor"
  title="{% translate 'Strong' context 'markup editor' %}"
  type="button"
  misago-editor-action="strong"
  misago-editor-priority="6000"
>
  <span class="material-icon">format_bold</span>
</button>
<button
  class="btn btn-markup-editor"
  title="{% translate 'Emphasis' context 'markup editor' %}"
  type="button"
  misago-editor-action="emphasis"
  misago-editor-priority="2000"
>
  <span class="material-icon">format_italic</span>
</button>
<button
  class="btn btn-markup-editor"
  title="{% translate 'Strikethrough' context 'markup editor' %}"
  type="button"
  misago-editor-action="strikethrough"
  misago-editor-priority="1000"
>
  <span class="material-icon">format_strikethrough</span>
</button>
{% pluginoutlet MARKUP_EDITOR_TOOLBAR_BEFORE_RULER %}
<button
  class="btn btn-markup-editor"
  title="{% translate 'Horizontal ruler' context 'markup editor' %}"
  type="button"
  misago-editor-action="horizontal-ruler"
  misago-editor-priority="3000"
>
  <span class="material-icon">remove</span>
</button>
{% pluginoutlet MARKUP_EDITOR_TOOLBAR_BEFORE_LINK %}
<button
  class="btn btn-markup-editor"
  title="{% translate 'Link' context 'markup editor' %}"
  type="button"
  misago-editor-action="link"
  misago-editor-priority="10000"
>
  <span class="material-icon">insert_link</span>
</button>
{% if form.show_attachments_upload %}
  <div class="dropdown d-xs-none" misago-editor-priority="8000">
    <button
      class="btn btn-markup-editor"
      title="{% translate 'Image' context 'markup editor' %}"
      aria-expanded="true"
      aria-haspopup="true"
      data-toggle="dropdown"
      type="button"
    >
      <span class="material-icon">insert_photo</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-auto">
      <li>
        <button class="btn btn-link" type="button" misago-editor-action="image-upload">
          <span class="material-icon">file_upload</span> {% translate 'Upload image' context 'markup editor' %}
        </button>
      </li>
      <li>
        <button class="btn btn-link" type="button" misago-editor-action="image">
          <span class="material-icon">insert_link</span> {% translate 'Link to image' context 'markup editor' %}
        </button>
      </li>
    </ul>
  </div>
{% else %}
  <button
    class="btn btn-markup-editor"
    title="{% translate 'Image' context 'markup editor' %}"
    type="button"
    misago-editor-action="image"
    misago-editor-priority="8000"
  >
    <span class="material-icon">insert_photo</span>
  </button>
{% endif %}
<button
  class="btn btn-markup-editor d-xs-block"
  title="{% translate 'Image' context 'markup editor' %}"
  type="button"
  misago-editor-action="image"
  misago-editor-priority="9000"
>
  <span class="material-icon">insert_photo</span>
</button>
{% pluginoutlet MARKUP_EDITOR_TOOLBAR_BEFORE_QUOTE %}
<button
  class="btn btn-markup-editor"
  title="{% translate 'Quote' context 'markup editor' %}"
  type="button"
  misago-editor-action="quote"
  misago-editor-priority="7000"
>
  <span class="material-icon">format_quote</span>
</button>
<button
  class="btn btn-markup-editor"
  title="{% translate 'Spoiler' context 'markup editor' %}"
  type="button"
  misago-editor-action="spoiler"
  misago-editor-priority="4000"
>
  <span class="material-icon">visibility_off</span>
</button>
<button
  class="btn btn-markup-editor"
  title="{% translate 'Code' context 'markup editor' %}"
  type="button"
  misago-editor-action="code"
  misago-editor-priority="5000"
>
  <span class="material-icon">code</span>
</button>
{% pluginoutlet MARKUP_EDITOR_TOOLBAR_END %}