{% load i18n %}
<div class="posting-spacer">
  <div class="posting-container">
    <form id="posting-form" method="POST">

      <div class="container-fluid">
        {% csrf_token %}

        <div class="row">
          {% if supporting_forms %}
          <div class="col-md-9 form-main">
          {% else %}
          <div class="col-md-12 form-main">
          {% endif %}

            {% for form in main_forms %}
            {% include form.template %}
            {% endfor %}

          </div>

          {% if supporting_forms %}
          <div class="col-md-3 form-side">

            <h3>{% trans "Thread options:" %}</h3>

            {% for form in supporting_forms %}
            <div class="supporting-form">
              {% include form.template %}
            </div>
            {% endfor %}

          </div>
          {% endif %}
        </div><!-- /.row -->


      </div>

      <div class="form-footer">
        <div class="container-fluid">

          {% if formset.start_form %}
          <button class="btn btn-primary" name="submit">{% trans "Post thread" %}</button>
          {% elif formset.reply_form %}
          <button class="btn btn-primary" name="submit">{% trans "Post reply" %}</button>
          {% elif formset.edit_form %}
          <button class="btn btn-primary" name="submit">{% trans "Save changes" %}</button>
          {% endif %}

        </div>
      </div>

    </form>
  </div>
</div>
