{% load i18n %}
<div class="posting-spacer">
  <div class="posting-container">
    <form id="posting-form" method="POST">

      <div class="container">
        {% csrf_token %}

        <ul class="list-unstyled lefthand">
          {% for form in supporting_forms.lefthand %}
          <li>
            {% include form.template %}
          </li>
          {% endfor %}
        </ul>

        <div class="form-main">
          {% for form in main_forms %}
          {% include form.template %}
          {% endfor %}
        </div>

      </div>

      <div class="form-footer">
        <div class="container">

          {% if formset.start_form %}
          <button class="btn btn-primary" type="button" name="submit">{% trans "Post thread" %}</button>
          {% elif formset.reply_form %}
          <button class="btn btn-primary" type="button" name="submit">{% trans "Post reply" %}</button>
          {% elif formset.edit_form %}
          <button class="btn btn-primary" type="button" name="submit">{% trans "Save changes" %}</button>
          {% endif %}

          <button class="btn btn-default" type="button" name="cancel">{% trans "Cancel" %}</button>

          <strong class="ajax-loader text-muted fade">
            <i class="fa fa-cog fa-fw fa-spin"></i>
            {% trans "Posting..." %}
          </strong>

          <strong class="ajax-complete text-success fade">
            <span class="fa fa-check fa-fw"></span>
            {% trans "Posted! Redirecting..." %}
          </strong>

        </div>
      </div>

    </form>
  </div>
</div>
