{% load i18n %}

{% with field=form.users %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% translate "Invite users:" context "posting users form" %}
    </label>
    {{ field }}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
    <p class="help-block">
      {% blocktranslate trimmed count users=field.max_choices context "private thread participants control" %}
        You can invite up to {{ users }} user to your thread.
      {% plural %}
        You can invite up to {{ users }} users to your thread.
      {% endblocktranslate %}
      {% translate "Some users restrict who can invite them to private threads, so you may be unable to invite them." context "private thread participants control" %}
    </p>
  </div>
{% endwith %}