{% load i18n misago_forms %}

{% with field=form.post %}
  <div class="form-group">
    <div
      class="markup-editor"
      misago-editor-active="false"
      misago-editor-attachments-name="{{ form.attachment_ids_field }}"
      misago-editor-attachments-url="{% if form.can_upload_attachments %}{% url 'misago:attachments-upload' %}{% endif %}"
    >
      <div class="markup-editor-toolbar">
        <div class="markup-editor-toolbar-left">
          {% include "misago/posting/editor_toolbar.html" %}
          <button
            class="btn btn-markup-editor d-none"
            title="{% translate 'Show more actions' context 'markup editor' %}"
            type="button"
            misago-editor-more="true"
          >
            <span class="material-icon">more_vert</span>
          </button>
        </div>
        <div class="markup-editor-toolbar-right">
          <a
            class="btn btn-markup-editor"
            href="{% url 'misago:formatting-help' %}"
            title="{% translate 'Formatting help' context 'markup editor' %}"
            target="_blank"
            misago-editor-action="formatting-help"
          >
            <span class="material-icon">help_outline</span>
          </a>
        </div>
      </div>
      <div class="markup-editor-toolbar-secondary">
        {% include "misago/posting/editor_toolbar.html" %}
      </div>
      <textarea
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        class="markup-editor-textarea form-control form-control-post{% if post_control_large %} form-control-post-lg{% endif %}"
        maxlength="{{ field.field.max_length|default:'' }}"
        aria-label="{% translate 'Post message' context 'posting form' %}"
        {{ field|requiredhtml }}
      >{{ field.value|default:"" }}</textarea>
      {% if form.show_attachments %}
        {% include "misago/posting/attachments_form.html" %}
      {% endif %}
    </div>
    {% for error in field.errors %}
      <p class="help-block text-danger">{{ error }}</p>
    {% endfor %}
  </div>
{% endwith %}