{% load i18n misago_editor misago_forms misago_shorthands %}
{% include 'misago/form_errors.html' %}

{% for form in supporting_forms.reply_top %}
  {% include form.template %}
{% endfor %}

{% if form.title %}
<div class="thread-title">
  <div class="row">
    <div class="col-md-{{ supporting_forms.after_title|yesno:"9,12" }}">
      <input class="textinput textInput form-control title-input" id="{{ form.title.auto_id }}" name="title" type="text" {% if form.title.value %}value="{{ form.title.value }}"{% endif %} placeholder="{% trans "Thread title..." %}">
    </div>

    {% if supporting_forms.after_title %}
    <div class="col-md-3">
      {% for form in supporting_forms.after_title %}
        {% include form.template %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-6 col-editor">

    {% editor_body form.post_editor %}

  </div>
  <div class="col-md-6 col-preview">

    <div class="editor-preview">
      <div class="frame scrollable">
        <p class="lead empty-message">
          {% trans "Once you start writing mesage, it's preview will be displayed here." %}
        </p>
        <article class="misago-markup">{{ post.is_valid|iftrue:post.parsed|safe }}</article>
      </div>
      <p class="preview-footer text-muted small">
        <span class="fa fa-refresh fa-fw"></span>
        {% trans "Preview updates automatically when you pause typing." %}
      </p>
    </div>

  </div>
</div>
