<ul class="select-category-list">
  {% for choice in start_thread_choices %}
    <li class="select-category-list-header">
      {% if choice.disabled %}
        <span class="select-category-list-item-name">
          <span class="select-category-list-item-bullet"{% if choice.color %} style="--color: {{ choice.color }}"{% endif %}></span>
          {{ choice.name }}
        </span>
      {% else %}
        <a
          href="{% url 'misago:start-thread' id=choice.id slug=choice.slug %}"
          class="select-category-list-item-name"
        >
          <span class="select-category-list-item-bullet"{% if choice.color %} style="--color: {{ choice.color }}"{% endif %}></span>
          {{ choice.name }}
        </a>
      {% endif %}
    </li>
    {% for child in choice.children %}
      <li class="select-category-list-item">
        {% for _ in child.level %}
          <div class="select-category-list-item-level"></div>
        {% endfor %}
        {% if child.disabled %}
          <span class="select-category-list-item-name">
            <span class="select-category-list-item-bullet"{% if choice.color %} style="--color: {{ choice.color }}"{% endif %}></span>
            {{ child.name }}
          </span>
        {% else %}
          <a
            href="{% url 'misago:start-thread' id=child.id slug=child.slug %}"
            class="select-category-list-item-name"
          >
            <span class="select-category-list-item-bullet"{% if child.color %} style="--color: {{ child.color }}"{% endif %}></span>
            {{ child.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    <li class="select-category-list-separator"></li>
  {% endfor %}
</ul>