{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block title %}
{% trans "Start new thread" context "start thread page" %} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-select-category">
  <div class="container page-header-container">
    <div class="page-header page-header-select-category">
      <div class="page-header-bg-image">
        <div class="page-header-bg-overlay">
          <div class="page-header-image"></div>
          <div class="page-header-banner page-header-banner-select-category">
            <div class="page-header-banner-bg-image">
              <div class="page-header-banner-bg-overlay">
                <h1>{% trans "Start new thread" context "start thread page" %}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-container">
    <p class="text-lg mb-3">
      {% trans "Select the category where you want to start a new thread:" context "start thread page" %}
    </p>
    {% include "misago/posting/select_category_list_full.html" %}
  </div>
</div>
{% endblock content %}