{% load i18n misago_forms %}

{% with form.title as field %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% trans "Title:" context "account settings form" %}
    </label>
    <input type="text" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" {{ field|requiredhtml }}/>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endwith %}
{% with form.post as field %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% trans "Post:" context "account settings form" %}
    </label>
    <textarea
      id="{{ field.id_for_label }}"
      name="{{ field.html_name }}"
      class="form-control"
      maxlength="{{ field.field.max_length }}"
      rows="15"
      {{ field|requiredhtml }}
    >{{ field.value|default:"" }}</textarea>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endwith %}