{% load i18n misago_forms %}

{% if form.pin %}
  {% with field=form.pin %}
    <div class="form-control-choices">
      {% for choice in field.subwidgets %}
        <div class="radio">
          <label>
            <input type="radio" name="{{ field.html_name }}" value="{{ choice.data.value }}"{{ choice|checkedhtml }}>
            {{ choice.choice_label }}
          </label>
        </div>
      {% endfor %}
    </div>
  {% endwith %}
{% endif %}
{% if form.pin_in_category %}
  {% with field=form.pin_in_category %}
    <div class="checkbox">
      <label>
        <input name="{{ field.html_name }}" type="checkbox"{% if field.data %} checked{% endif %}> {% translate "Pin thread in category" context "posting moderation form" %}
      </label>
    </div>
  {% endwith %}
{% endif %}
{% with field=form.is_locked %}
  <div class="checkbox">
    <label>
      <input name="{{ field.html_name }}" type="checkbox"{% if field.data %} checked{% endif %}> {% translate "Lock thread" context "posting moderation form" %}
    </label>
  </div>
{% endwith %}
{% with field=form.is_hidden %}
  <div class="checkbox">
    <label>
      <input name="{{ field.html_name }}" type="checkbox"{% if field.data %} checked{% endif %}> {% translate "Hide thread" context "posting moderation form" %}
    </label>
  </div>
{% endwith %}