{% extends "misago/emails/base.html" %}
{% load i18n misago_capture %}


{% block content %}
{% blocktrans trimmed with user=recipient.username %}
{{ user }}, your account has been activated by forum administrator.
{% endblocktrans %}
<br>
<br>
{% capture trimmed as login_link %}
<a href="{{ SITE_ADDRESS }}{% url LOGIN_URL %}">{% trans "this form" %}</a>
{% endcapture %}
{% blocktrans trimmed with login_form=login_link|safe %}
You can now sign in to it using {{ login_form }}.
{% endblocktrans %}
<br>
{% endblock content %}
