//
// Buttons
// --------------------------------------------------

// Mixin for styles
.btn-outlined-style(@border, @bg, @color) {
  &, &:visited {
    background-color: transparent;
    border-color: @border;

    color: @border;
  }

  &:hover, &:focus {
    background-color: @bg;
    border-color: @border;

    color: @color;
  }

  &:active {
    background-color: lighten(@bg, 30%);
    border-color: lighten(@border, 30%);
    .box-shadow(none);

    color: @color;
  }

  &.disabled {
    &, &:visited, &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: desaturate(@border, 50%);

      color: desaturate(@border, 50%);
    }
  }
}


// Outlined button
.btn-outlined {
  border-width: 2px;

  .button-size(@padding-base-vertical - 1; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);

  &.btn-lg {
    .button-size(@padding-large-vertical - 1; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
  }

  &.btn-sm {
    border-width: 1px;
    .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  }

  &.btn-xs {
    border-width: 1px;
    .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  }

  // Outline varieties for buttons
  &.btn-default, &.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger {
    &, &:visited {
      background-color: transparent;
    }
  }

  &.btn-primary {
    .btn-outlined-style(@btn-primary-border, @btn-primary-bg, @btn-primary-color);
  }

  &.btn-success {
    .btn-outlined-style(@btn-success-border, @btn-success-bg, @btn-success-color);
  }

  &.btn-info {
    .btn-outlined-style(@btn-info-border, @btn-info-bg, @btn-info-color);
  }

  &.btn-warning {
    .btn-outlined-style(@btn-warning-border, @btn-warning-bg, @btn-warning-color);
  }

  &.btn-danger {
    .btn-outlined-style(@btn-danger-border, @btn-danger-bg, @btn-danger-color);
  }

  // Extra states for default btn
  &.btn-default {
    &:hover,
    &:focus,
    &.focus {
      background-color: @btn-default-hover-bg;
      border-color: @btn-default-hover-border;

      color: @btn-default-hover-color;
    }

    &:active,
    &.active,
    .open > .dropdown-toggle& {
      background-color: @btn-default-active-bg;
      border-color: @btn-default-active-border;

      color: @btn-default-active-color;
    }
  }
}


// Make lone button take all its place on small display
.btn-block-sm {
  @media (max-width: @screen-sm-max) {
    display: block;
    width: 100%;

    text-align: center;
  }
}
