//
// Buttons
// --------------------------------------------------


// Make lone button take all its place on small display
.btn-block-sm {
  @media (max-width: @screen-sm-max) {
    display: block;
    width: 100%;

    text-align: center;
  }
}


// Make busy button really look busy
.btn.btn-busy {
  .loader-compact {
    margin-top: @line-height-computed * -1;
    height: 20px;
  }
}


// Flat buttons
.btn-style(@color, @bg) {
  &, &:link, &:visited, &:hover, &:focus, &:active {
    .box-shadow(none);
    outline: none;
  }

  &, &:link, &:visited {
    background: transparent;
    border-color: transparent;

    color: @color;
  }

  &:hover, &:focus {
    background: fadeOut(@bg, 90%);
    border-color: transparent;

    color: @color;
  }

  &:active {
    background: fadeOut(@bg, 80%);
    border-color: transparent;

    color: @color;
  }

  &.btn-busy {
    &, &:link, &:visited, &:hover, &:focus, &:active {
      color: transparent;

      .loader-compact>div { background-color: @color; }
    }
  }
}

.btn {
  &.btn-default {
    .btn-style(@btn-default-color, @btn-default-bg);
  }

  &.btn-primary {
    .btn-style(@btn-primary-color, @btn-primary-bg);
  }

  &.btn-success {
    .btn-style(@btn-success-color, @btn-success-bg);
  }

  &.btn-warning {
    .btn-style(@btn-warning-color, @btn-warning-bg);
  }

  &.btn-danger {
    .btn-style(@btn-danger-color, @btn-danger-bg);
  }
}


// Raised buttons
.btn-raised-style(@color, @bg) {
  &, &:link, &:visited, &:hover, &:focus {
    background: @bg;
    border-color: @bg;
    .box-shadow(none);
    .shadow-2dp();

    outline: none;

    color: @color;
  }

  &:active {
    background: darken(@bg, 8%);
    border-color: darken(@bg, 8%);
    .box-shadow(none);
    .shadow-6dp();

    outline: none;

    color: @color;
  }

  &.btn-busy {
    &, &:link, &:visited, &:hover, &:focus, &:active {
      .box-shadow(none);

      color: transparent;

      .loader-compact>div { background-color: @color; }
    }
  }
}


.btn.btn-raised {
  &.btn-default {
    .btn-raised-style(@btn-default-raised-color, @btn-default-raised-bg);
  }

  &.btn-primary {
    .btn-raised-style(@btn-primary-raised-color, @btn-primary-raised-bg);
  }

  &.btn-success {
    .btn-raised-style(@btn-success-raised-color, @btn-success-raised-bg);
  }

  &.btn-warning {
    .btn-raised-style(@btn-warning-raised-color, @btn-warning-raised-bg);
  }

  &.btn-danger {
    .btn-raised-style(@btn-danger-raised-color, @btn-danger-raised-bg);
  }
}
