//
// Misago Footer
// --------------------------------------------------


.site-footer {
  margin-top: @line-height-computed * 1.5;
  padding-bottom: @line-height-computed * 1.5;

  color: @footer-color;
  font-size: @font-size-base + 2px;
  text-align: center;

  .footer-nav {
    a, a:link, a:visited {
      color: @footer-link-color;
    }

    a:hover, a:focus {
      color: @footer-link-hover-color;
    }

    a:active {
      color: @footer-link-active-color;
    }

    .site-footnote {
      clear: none;
    }
  }

  .noscript-message {
    color: @footer-noscript-color;
  }

  .misago-branding {
    a {
      display: inline-block;

      color: @misago-branding-color;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: @misago-branding-size;

      .subscript {
        display: inline-block;
        position: relative;
        bottom: (@misago-branding-size  - (@misago-branding-size * 0.75)) / 2 - 1px;

        font-size: @misago-branding-size;
      }

      .brand-border {
        background: @misago-branding-color;
        border: none;
        border-radius: @misago-branding-size * 0.15;
        display: inline-block;
        margin-right: @misago-branding-size * 0.1;
        position: relative;
        top: @misago-branding-size * 0.18;
        overflow: hidden;
        width: @misago-branding-size + 3px;
        height: @misago-branding-size + 3px;

        &>span {
          display: inline-block;
          position: absolute;
          bottom: -20%;
          right: -18%;
          .rotate(-45deg);

          color: @body-bg;
          font-size: @misago-branding-size * 1.2;
          font-weight: bold;
        }
      }

      &, &:link, &:visited {
        .opacity(0.6);
      }

      &:active, &:hover {
        .opacity(1);

        text-decoration: none;
      }
    }
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: @screen-sm-min) {
    border-top: 1px solid @footer-hr-color;
    margin-top: @line-height-computed * 2;
    padding-top: @line-height-computed * 1.5;

    text-align: left;

    .first-row {
      overflow: auto;

      &>* {
        float: left;
      }

      .footer-nav {
        margin-right: @line-height-computed;

        .site-footnote {
          clear: none;
        }
      }
    }
  }
}


