//
// Misago Default Theme Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-info:             #f44336; // misago uses info state for accents

@brand-primary:          #29b6f6;
@brand-success:          #66bb6a;
@brand-warning:          #ffab40;
@brand-danger:           #ef5350;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            #333;

//** Global textual link color.
@link-color:            #2196f3;
//** Link hover color set via `darken()` function.
@link-hover-color:      #5c6bc0;
//** Link hover decoration.
@link-hover-decoration: underline;

//** In-site link state default
@state-default:         #7f8c8d;
@state-hover:           @text-color;
@state-clicked:         @state-hover;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-weight:    300;
@headings-color:          lighten(@text-color, 8%);;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #777;
@navbar-default-bg:                @body-bg;
@navbar-default-border:            @gray-lighter;

// Navbar links
@navbar-default-link-color:                darken(@gray-lighter, 20%);
@navbar-default-link-hover-color:          @gray-light;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @gray-darker;
@navbar-default-link-active-bg:            transparent;

// Navbar brand label
@navbar-default-brand-color:               @headings-color;
@navbar-default-brand-hover-color:         @headings-color;


//== Site Footer
//
//##

@footer-hr-color:                @gray-lighter;

@footer-color:                   lighten(@gray-light, 12%);
@footer-noscript-color:          #d35400;

// Footer links
@footer-link-color:              @gray-light;
@footer-link-hover-color:        @gray;
@footer-link-active-color:       @gray;

// Misago's branding
@misago-branding-color:          @gray-light;
@misago-branding-size:           @font-size-base + 2px;


//== Loader
//
//##

@loader-color:                   darken(@gray-lighter, 12%);


//== Modals
//
//##

//** Modal backdrop background color
@modal-backdrop-bg:           @body-bg;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .85;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-border-radius:         @border-radius-large;

@alert-success-bg:            #66bb6a;
@alert-success-border:        #66bb6a;
@alert-success-text:          #fff;

@alert-info-bg:               #42a5f5;
@alert-info-border:           #42a5f5;
@alert-info-text:             #fff;

@alert-warning-bg:            #ff9800;
@alert-warning-border:        #ff9800;
@alert-warning-text:          #fff;

@alert-danger-bg:             #ef5350;
@alert-danger-border:         #ef5350;
@alert-danger-text:           #fff;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                300;

@btn-default-color:              #95a5a6;
@btn-default-bg:                 transparent;
@btn-default-border:             #bdc3c7;

@btn-default-hover-color:        #4fc3f7;
@btn-default-hover-bg:           transparent;
@btn-default-hover-border:       #4fc3f7;

@btn-default-active-color:       #2196f3;
@btn-default-active-bg:          transparent;
@btn-default-active-border:      #2196f3;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             @btn-primary-bg;

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;

@btn-link-disabled-color:        @gray-light;


//== Form panel
//
//## Misago uses dedicated panel for forms

@panel-form-text:                   @text-color;
@panel-form-bg:                     darken(@body-bg, 4%);
@panel-form-border:                 @body-bg;

@panel-form-body-padding:           15px;
@panel-form-heading-padding:        15px;
@panel-form-footer-padding:         @panel-heading-padding;

@panel-form-inputs-only-gutter:     @padding-large-vertical;

@panel-form-heading-color:          @gray;
@panel-form-heading-bg:             transparent;
@panel-form-heading-border:         darken(@panel-form-bg, 5%);

@panel-form-footer-bg:              @panel-form-bg;
@panel-form-footer-border:          darken(@panel-form-bg, 10%);
