{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Page not available" %} | {{ block.super }}{% endblock %}


{% block meta_description %}{% if message %}{{ message }}{% else %}{% trans "You don't have permission to access this page." %}{% endif %}{% endblock meta_description %}


{% block content %}
<div class="container">

  <div class="error-message">

    <div class="error-icon">
      <span class="fa fa-ban"></span>
    </div>

    {% if message %}
    <h1>{{ message|urlize|linebreaksbr }}</h1>
    {% else %}
    <h1>{% trans "You don't have permission to access this page." %}</h1>
    {% endif %}

  </div>

</div>
{% endblock content %}
