{% extends "misago/base.html" %}

{% load i18n %}


{% block title %}{% trans "Page not found" %} | {{ block.super }}{% endblock %}


{% block meta_description %}{% trans "The link you clicked was incorrect or the page has been moved or deleted." %}{% endblock meta_description %}


{% block content %}
<div class="container">

  <div class="error-message">

    <div class="error-icon">
      <span class="fa fa-compass"></span>
    </div>

    <h1>{% trans "Requested page could not be found." %}</h1>
    <p>{% trans "The link you clicked was incorrect or the page has been moved or deleted." %}</p>

  </div>

</div>
{% endblock content %}
