{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Wrong way" %} | {{ block.super }}{% endblock %}


{% block meta_description %}{% trans "This page should be reached via form submission or pressing button." %}{% endblock meta_description %}


{% block content %}
<div class="page error-page error-405">
  <div class="container">
    <div class="error-panel">

      <div class="error-icon">
        <i class="material-icon">remove_circle_outline</i>
      </div>

      <div class="error-message">
        <p class="lead">{% trans "Page reached in wrong way." %}</p>
        <p>{% trans "This page should be reached via form submission or pressing button." %}</p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
