{% extends "misago/base.html" %}

{% load i18n %}


{% block title %}{% trans "Request blocked" %} | {{ block.super }}{% endblock %}


{% block meta_description %}{% trans "This is usually caused by your browser not accepting or using outdated cookies. Check your browser configuration and try again." %}{% endblock meta_description %}


{% block content %}
<div class="container">

  <div class="error-message">

    <div class="error-icon">
      <span class="fa fa-exclamation-triangle"></span>
    </div>

    <h1>{% trans "Suspicious request blocked." %}</h1>
    <p>{% trans "This is usually caused by your browser not accepting or using outdated cookies. Check your browser configuration and try again." %}</p>

  </div>

</div>
{% endblock content %}
