{% extends "misago/errorpages/oauth2.html" %}
{% load i18n %}


{% block content %}
<div class="page page-error page-error-social">
  <div class="container page-container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">sync_problem</span>
      </div>

      <div class="message-body">
          <p class="lead">
            {% blocktranslate trimmed with provider=settings.oauth2_provider context "error oauth2 profile page" %}
              Could not sign in with {{ provider }}
            {% endblocktranslate %}
          </p>
          {% if error.message %}
            <p>{{ error.message }}</p>
          {% endif %}
          <p>{% translate "Found problems:" context "error oauth2 profile page" %}</p>
          {% for validation_error in error_list %}
            <p>&mdash; {{ validation_error }}</p>
          {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock content %}
