{% extends "_message/base.html" %}
{% load i18n %}

{% block content %}
  <div class="alert-icon"><span><i class="icon-ok icon-white"></i></span></div>
  <p><strong>{% trans email=message.user.email %}Your new password has been sent to {{ email }}!{% endtrans %}</strong></p>
  <p>{% trans %}We have generated new password on your account and have sent it to you.{% endtrans %}</p>
  <p>{% trans username=message.user.username %}Check your inbox, {{ username }}!{% endtrans %}</p>
{% endblock %}