<div class="rank-page {{if model.css_class (join-strings "rank-page-" model.css_class)}}">
  {{#if model.description}}
    <div class="rank-description lead">
      {{{model.description}}}
    </div>
  {{/if}}

  {{outlet}}
</div>