{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans %}Options{% endtrans %} | {{ settings.board_name }}{% endblock %}

{% block content %}
<div class="page-header header-tabbed">
  <h1>{% trans %}Your Control Panel{% endtrans %}</h1>
  <ul class="nav nav-tabs">
  	<li{% if tab == 'options' %} class="active"{% endif %}><a href="{% url 'usercp' %}"><i class="icon-cog"></i> {% trans %}Forum Options{% endtrans %}</a></li>
  	<li{% if tab == 'credentials' %} class="active"{% endif %}><a href="{% url 'usercp_credentials' %}"><i class="icon-edit"></i> {% trans %}Email & Password{% endtrans %}</a></li>
  	<li{% if tab == 'username' %} class="active"{% endif %}><a href="{% url 'usercp_username' %}"><i class="icon-user"></i> {% trans %}Username{% endtrans %}</a></li>
  	<li{% if tab == 'avatar' %} class="active"{% endif %}><a href="{% url 'usercp_avatar' %}"><i class="icon-picture"></i> {% trans %}Avatar{% endtrans %}</a></li>
  	<li{% if tab == 'signature' %} class="active"{% endif %}><a href="{% url 'usercp_signature' %}"><i class="icon-align-left"></i> {% trans %}Signature{% endtrans %}</a></li>
  	<li{% if tab == 'ignored' %} class="active"{% endif %}><a href="{% url 'usercp_ignored' %}"><i class="icon-eye-close"></i> {% trans %}Ignored Members{% endtrans %}</a></li>
  </ul>
</div>
{% endblock %}