<div class="modal-dialog modal-register-closed">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="{{unbound gettext "Close"}}"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="loginModalLabel">{{gettext "Register account"}}</h4>
    </div>

    <div class="modal-body modal-message text-center">
      <p class="lead">
        <span class="fa fa-info-circle fa-lg"></span>
        {{gettext "New registrations are currently not being accepted."}}
      </p>
    </div>

  </div>
</div>