{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% blocktrans trimmed with user=requesting_user %}
Set new password for {{ user }}
{% endblocktrans %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-key">
      {% blocktrans trimmed with user=requesting_user %}
      Set new password for {{ user }}
      {% endblocktrans %}
    </h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h2>{% trans "Set new password" %}</h2>
          </div>

          {% include "misago/form_errors.html" %}

          <div class="form-body no-fieldsets">
            <div class="form-group">
              <div class="control-input">
                <input type="password" name="new_password" class="form-control input-lg" placeholder="{% trans "Enter new password" %}">
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Change password" %}</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
