//
// Misago Editor
// --------------------------------------------------


//== Toolbar
//
//**
.misago-editor {
  border: 2px solid @form-panel-border;
  border-radius: @border-radius-large;
  overflow: hidden;
  margin-bottom: @line-height-computed;

  .editor-toolbar {
    background: @form-panel-footer-bg;
    border-bottom: 1px solid @form-panel-border;
    padding: @padding-small-vertical @padding-small-horizontal;

    &>ul {
      margin: 0px;
      padding: 0px;
      overflow: auto;

      &>li {
        padding: @padding-xs-vertical @padding-xs-horizontal;
        float: left;

        .btn-default {
          background-color: transparent;
          border: 1px solid @form-panel-border;
          .box-shadow(none);
          padding: 4px 0px;
          width: 32px;

          color: @state-default;
          text-align: center;

          &:hover {
            border-color: @state-default;
            top: 0px;

            color: @state-hover;
            outline: none;
            text-shadow: none;
          }

          &.active, &:active {
            border-color: @state-clicked;
            top: 0px;

            color: @state-clicked;
            outline: none;
            text-shadow: none;
          }

          &:focus {
            top: 0px;
            outline: none;
          }
        }
      }
    }
  }
}

.form-panel>div:first-child, .form-panel>form:first-child {
  .misago-editor {
    .editor-toolbar {
      border-top: none;
    }
  }
}


//== Textarea
//
//**
.misago-editor {
  .editor-textarea {
    textarea {
      border: 0px;
      width: 100%;
      margin: 0px;
      padding: @padding-large-vertical @padding-large-horizontal;

      font-family: @font-family-monospace;
      resize: none;
      outline: none;
    }
  }
}


//== Footer
//
//**
.misago-editor {
  .editor-footer {

  }
}


//== File uploads
//
//**
.misago-editor {
  .editor-upload {
    position: fixed;
    top: -1000px;
  }
}
