//
// Forums lists
// --------------------------------------------------


// Panel header
//
//==
.forums-list {
  .panel-forums {
    .panel-heading {
      border: 1px solid @panel-default-border;
      margin: -1px;
      margin-bottom: 0px;
      padding-top: @padding-base-vertical;
      padding-bottom: @padding-base-vertical;

      h3 {
        font-size: @font-size-small;
        font-weight: bold;
      }
    }
  }
}


// Panel forums
//
//==
.forums-list {
  .panel-forums {
    .list-group {
      .forum-icon {
        padding-right: @line-height-computed;

        color: @state-default;
        font-size: @font-size-large * 1.3;

        &.new {
          color: @state-active;
        }

        &.fa-link {
          position: relative;
          top: 3px;

          color: @brand-success;
        }
      }

      .forum-name {
        font-size: @font-size-large;
      }

      .dropdown {
        .btn {
          .box-shadow(none);
          position: static;
          margin: 0px;
          margin-top: -2px;
        }

        .dropdown-menu {
          a {
            .forum-icon {
              padding-right: 0px;
              position: relative;
              bottom: 2px;

              font-size: @font-size-base;
            }

            &:hover, &:active, &:focus {
              .fa {
                color: @dropdown-bg;
              }
            }
          }
        }
      }

      footer {
        border-left: 1px dotted @panel-inner-border;
        float: right;
        margin-top: -4px;
        margin-left: @line-height-computed / 2;
        padding-left: @line-height-computed / 2;
        width: 33%;

        &>em.text-muted {
          display: block;
          padding: ((@font-size-base / 2) + 1px) 0px;

          font-size: @font-size-small;
        }

        &>a {
          display: block;
          overflow: hidden;

          font-size: @font-size-small;
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .text-muted {
          overflow: hidden;

          font-size: @font-size-small - 1px;
          text-overflow: ellipsis;
          white-space: nowrap;

          .item-title {
            font-weight: normal;
          }
        }
      }
    }
  }
}


// Forum description tooltip
//
//==
.tooltip.forum-description {
  .tooltip-inner {
    padding: @padding-base-vertical @padding-base-horizontal;

    max-width: 300px;
    text-align: left;

    p {
      margin-top: 0px;

      font-size: @font-size-base;
    }

    ul {
      margin: 0px;
      overflow: auto;

      li {
        float: left;
        margin-right: @line-height-computed;

        color: darken(#fff, 15%);

        strong {
          color: #fff;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}


// Few predefined CSS classes for block styling
//
//==
.forum-panel-flavour(@color) {
  .panel-heading {
    background: desaturate(darken(@color, 3%), 7%);
    border-color: desaturate(darken(@color, 14%), 7%);

    h3 {
      color: #fff;
      text-shadow: 1px 1px 0px darken(@color, 25%);
    }
  }
}

.panel-forums {
  &.primary {.forum-panel-flavour(@brand-primary);}
  &.accent {.forum-panel-flavour(darken(@brand-accent, 7%));}
  &.success {.forum-panel-flavour(@brand-success);}
  &.warning {.forum-panel-flavour(@brand-warning);}
  &.danger {.forum-panel-flavour(@brand-danger);}
}
