//
// Forum Index
// --------------------------------------------------


// Ranks online list
//
//==
.ranks-online {
  .rank-online {
    margin-bottom: @line-height-computed;

    h3 {
      margin-top: 0px;

      color: @text-muted;
      font-size: @font-size-large;
    }

    ul {
      background-color: @panel-bg;
      border: 1px solid @panel-default-border;
      border-radius: @border-radius-base;

      li {
        a {
          border-bottom: solid 1px @panel-inner-border;
          display: block;
          padding: @padding-small-vertical @padding-small-horizontal;

          font-size: @font-size-large * 1.2;

          img {
            border-radius: @border-radius-small;
            height: 32px;
            margin-top: -2px;
            margin-right: @padding-small-vertical * 0.7;
          }

          span {
            position: relative;
            top: 1px;
          }

          small {
            background-color: @panel-bg;
            border-radius: @border-radius-small;
            float: right;
            position: relative;
            padding: @padding-xs-vertical @padding-xs-horizontal;
            top: 5px;

            color: @panel-bg;
            font-size: @font-size-base;
          }
        }

        &:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
  }
}
