//
// Participants Lists
// --------------------------------------------------


// Participants popover
//
//==
.participants-popover {
  margin: -4px -2px;

  &>li {
    margin: 0px;
    padding: @line-height-computed / 3 0px;
    min-width: 120px;

    img {
      border-radius: @border-radius-small;
      position: relative;
      bottom: 1px;
    }

    a {
      font-weight: bold;
    }
  }
}
