//
// User Profile
// --------------------------------------------------


// Profile header
//
//==
.user-profile-header {
  padding: 0px;
  padding-top: @line-height-computed;
  border-bottom-width: 3px;

  .nav-tabs {
    border-bottom: none;

    font-size: @font-size-large;

    &>li{
      &>a {
        .label {
          background-color: darken(@body-bg, 5%);
          padding-left: 5px;
          padding-right: 5px;
          position: relative;
          top: -2px;

          color: fadeOut(@text-color, 60%);
          font-size: @font-size-small;
        }
      }

      &.active {
        &>a {
          .label {
            background-color: fadeOut(@text-color, 40%);
            color: @body-bg;
          }
        }
      }
    }
  }
}


// Side avatar
//
//==
.user-profile {
  .profile-side {
    .user-avatar {
      background-color: #fff;
      border-radius: @border-radius-large;
      .box-shadow(0px 0px 0px 2px darken(@body-bg, 5%));
      padding: 4px;
      margin-top: (@line-height-computed * 3.5) * -1;
    }
  }
}


// Side username
//
//==
.user-profile {
  .profile-side {
    .user-name {
      margin-bottom: @line-height-computed;

      font-size: @font-size-base * 1.8;

      .user-title {
        display: block;
        clear: both;
      }
    }
  }
}


// Side details
//
//==
.user-profile {
  .profile-side {
    .user-details {
      li {
        padding-bottom: @line-height-computed / 3;

        color: fadeOut(@text-color, 40%);
        font-size: @font-size-large;

        a:link, a:visited {
          color: fadeOut(@text-color, 40%);
        }

        a:hover {
          color: fadeOut(@text-color, 15%);
          text-decoration: none;
        }

        a:active {
          color: @text-color;
        }
      }
    }
  }
}


// Flavours
//
//==
.user-profile {
  &.profile-team {
    .user-title {
      color: @brand-primary;
    }
  }
}
