//
// Progress bars
// --------------------------------------------------


.progress {
  background-color: darken(@body-bg, 7%);
  .box-shadow(none);
  border-radius: 20px;
  margin-top: 0px;

  .progress-bar {
    .box-shadow(none);
  }

  &.thin {
    border-radius: 2px;
    height: 6px;
  }
}
