//
// Activity States
// --------------------------------------------------


.user-online {
  color: @state-online;
}

.user-offline {
  color: @state-offline;
}

.user-banned {
  color: @state-banned;
}
