//
// Activity States
// --------------------------------------------------


.user-online {
  color: @state-online;
}

.user-offline {
  color: @state-offline;
}

.user-banned {
  color: @state-banned;
}


// Icon states
.fa, .glyphicon {
  &.text-success {
    color: @brand-success;
  }

  &.text-danger {
    color: @brand-danger;
  }

  &.text-warning {
    color: @brand-warning;
  }
}
