//
// Threads lists
// --------------------------------------------------


.threads-list {
  .table-panel {
    border: none;

    .list-group {
      margin: 0px;

      .list-group-item {
        padding-top: @padding-base-vertical + 1px;
        padding-bottom: @padding-base-vertical + 1px;

        // Thread icon
        //
        //==
        &.new {
          .thread-icon {
            color: @state-active;
          }
        }

        .thread-icon {
          position: relative;
          right: 5px;
          bottom: 2px;

          color: @state-default;
        }


        // Thread title
        //
        //==
        .item-title {
          font-size: @font-size-large;
        }


        // Thread flags
        //
        //==
        .thread-flags {
          float: right;
          overflow: auto;
          position: relative;
          top: 3px;

          li {
            float: left;

            .fa, .glyphicon {
              .opacity(0.5);
              transition-duration: 0.5s;

              &:hover, &:focus {
                .opacity(0.9);
                transition-duration: 0.05s;
              }
            }
          }
        }


        // Thread last reply
        //
        //==
        .thread-stats {
          .thread-replies {
            display: inline-block;
            margin: -3px 0px;
            margin-right: @font-size-large / 3;
            .opacity(0.5);
            transition-duration: 0.5s;
            width: 20%;

            font-size: @font-size-large;

            &:hover, &:focus {
              .opacity(0.9);
              transition-duration: 0.05s;
            }

            &>div {
              display: inline;

              span {
                font-size: @font-size-base;
              }
            }
          }

          .thread-author {
            margin-right: @font-size-large / 3;

            img {
              border-radius: @border-radius-small;
              width: 25px;
              margin: -3px 0px;
              position: relative;
              bottom: 3px;
            }

            &:hover {
              text-decoration: none;
            }
          }

          a.time-ago {
            color: @state-default;
            font-size: @font-size-large;

            &:hover {
              color: @state-hover;
            }

            &:active {
              color: @state-clicked;
            }
          }
        }


        // Empty list message
        //
        //==
        &.message-row {
          padding-top: @line-height-computed;
          padding-bottom: @line-height-computed;

          font-size: @font-size-large;
        }
      }
    }
  }
}
