//
// Threads lists
// --------------------------------------------------


.threads-list {
  .table-panel {
    border: none;

    .list-group {
      margin: 0px;

      .list-group-item {
        padding-top: @padding-base-vertical + 1px;
        padding-bottom: @padding-base-vertical + 1px;


        // Thread icon
        //
        //==
        &.new {
          .thread-icon {
            color: @state-active;
          }
        }

        .thread-icon {
          position: relative;
          right: 5px;
          bottom: 2px;

          color: @state-default;
        }


        // Thread title
        //
        //==
        .item-title {
          font-size: @font-size-large;
        }


        // Thread last reply
        //
        //==
        .thread-stats {
          &>* {
            float: right;
          }

          .thread-flags {
            margin-right: @font-size-large;
            position: relative;
            top: 3px;

            li {
              float: left;
              overflow: visible;

              .label {
                border-radius: @border-radius-small;
                position: relative;
                bottom: 1px;

                font-weight: normal;
              }

              .fa, .glyphicon {
                .opacity(0.5);
                transition-duration: 0.5s;

                &:hover, &:focus {
                  .opacity(0.9);
                  transition-duration: 0.05s;
                }
              }
            }
          }

          .thread-replies {
            display: inline-block;
            margin: 0px;
            margin-right: @font-size-large;
            .opacity(0.5);
            transition-duration: 0.5s;
            width: @font-size-large * 3;

            font-size: @font-size-large;

            &:hover, &:focus {
              .opacity(0.9);
              transition-duration: 0.05s;
            }

            &>div {
              display: inline;

              span {
                font-size: @font-size-base;
              }
            }
          }

          .thread-author {
            margin-right: @font-size-large / 2;

            img {
              border-radius: @border-radius-small;
              width: 25px;
              margin: -3px 0px;
              position: relative;
              top: 1px;
            }

            &:hover {
              text-decoration: none;
            }
          }

          a.last-post {
            display: block;
            width: 50px;
            position: relative;
            top: 3px;

            color: @state-default;

            &:hover {
              color: @state-hover;
            }

            &:active {
              color: @state-clicked;
            }
          }
        }


        // Empty list message
        //
        //==
        &.message-row {
          padding-top: @line-height-computed;
          padding-bottom: @line-height-computed;

          font-size: @font-size-large;
        }
      }
    }
  }
}
