//
// Typography
// --------------------------------------------------


.text-muted {
  strong {
    color: darken(@text-muted, 20%);
  }

  a:link, a:visited, a:active, a:hover {
    color: @link-muted-color;
  }
}
