//
// Misago Variables
// --------------------------------------------------


//== Colors
//
//## Basic colors for use in this flavor

@brand-primary:         #c0392b;
@brand-secondary:       #3498db;
@brand-success:         #2ecc71;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #e74c3c;

// Background color for `<body>`.
@body-bg:               darken(#fff, 2%);
// Global text color on `<body>`.
@text-color:            #444;

// Headings color
@headings-small-color:  darken(@body-bg, 30%);

// Global textual link color.
@link-color:            @brand-secondary;
@link-hover-color:      darken(@link-color, 15%);

// Text muted color
@text-muted:            darken(@body-bg, 40%);

@link-muted-color:            @gray-darker;

// Components
@component-active-bg:         @brand-secondary;
@component-active-color:      #fff;


//== Navbar
//
//## Navbar style

@navbar-default-bg:                lighten(#bdc3c7, 18%);
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);


// Navbar brand
@navbar-brand-size:                        @font-size-large * 1.6;

@navbar-default-brand-color:               #555;
@navbar-default-brand-hover-color:         #555;


// Navbar icon-based menu
@navbar-icon-size:                      @navbar-height / 2.5;
@navbar-icon-link-bg:                   transparent;
@navbar-icon-link-border:               transparent;
@navbar-icon-link-color:                #999;

@navbar-icon-link-hover-bg:             transparent;
@navbar-icon-link-hover-border:         transparent;
@navbar-icon-link-hover-color:          #333;

@navbar-icon-link-active-bg:            lighten(@navbar-default-bg, 5%);
@navbar-icon-link-active-border:        transparent;
@navbar-icon-link-active-color:         #333;


// Only User dropdown switch uses those colors
@navbar-user-name-color:                @gray;
@navbar-user-name-hover-color:          @navbar-user-name-color;
@navbar-user-name-active-color:         @navbar-user-name-color;

@navbar-user-caret-color:              darken(@navbar-default-bg, 20%);
@navbar-user-caret-hover-color:        darken(@navbar-default-bg, 40%);
@navbar-user-caret-active-color:       @text-color;


// Guest Sign in button
@btn-signin-color:                 darken(@body-bg, 50%);
@btn-signin-bg:                    @body-bg;
@btn-signin-border:                darken(@btn-signin-bg, 15%);


// Guest Register button
@btn-register-color:                 #fff;
@btn-register-bg:                    desaturate(@brand-danger, 15%);
@btn-register-border:                darken(@btn-register-bg, 15%);


//== Dropdowns
//
//## Misago dropdowns flavor

// Dropdown link text color.
@dropdown-link-color:            lighten(@text-color, 10%);
// Hover color for dropdown links.
@dropdown-link-hover-color:      #fff;
// Hover background for dropdown links.
@dropdown-link-hover-bg:         #666;

// Active dropdown menu item text color.
@dropdown-link-active-color:     #fff;
// Active dropdown menu item background color.
@dropdown-link-active-bg:        #333;


// Open dropdown shadow color.
@dropdown-shadow:                fadeOut(#333, 50%);


//== Navs
//
//##

//=== Shared nav styles
@nav-link-hover-bg:                         transparent;

@nav-link-color:                            @gray-light;
@nav-link-hover-color:                      @text-color;

//== Tabs
@nav-tabs-padding:                          10px 12px;
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          darken(@nav-tabs-border-color, 40%);
@nav-tabs-link-active-border-color:         @brand-secondary;

@nav-tabs-active-link-hover-bg:             transparent;
@nav-tabs-active-link-hover-color:          @text-color;
@nav-tabs-active-link-hover-border-color:   @brand-primary;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-padding:                         6px 7px;
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            #666;
@nav-pills-active-link-hover-color:         #fff;

//==Sidenav
@nav-side-border:                           @gray-lighter;
@nav-side-padding:                          6px 10px;

@nav-side-color:                            @gray-light;
@nav-side-hover-color:                      @text-color;
@nav-side-active-color:                     @brand-primary;

@nav-side-active-bg:                        @gray-dark;
@nav-side-active-text-color:                #fff;

//== Page header
@page-header-border-color:       darken(@body-bg, 9%);


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 0px;

@breadcrumb-bg:                 transparent;
@breadcrumb-color:              darken(@body-bg, 40%);
@breadcrumb-active-color:       @text-color;


//== Page footer
//
//## Footer appearance

@footer-color:                   darken(@body-bg, 35%);

// Size of Misago's branding in footer
@misago-branding-size:           @font-size-large * 1.6;

// Footer links
@footer-link-color:              @gray-light;
@footer-link-hover-color:        @gray-darker;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;


@btn-default-color:              #777;
@btn-default-bg:                 darken(@body-bg, 5%);
@btn-default-border:             darken(@btn-default-bg, 10%);

@btn-default-hover-color:        @text-color;
@btn-default-hover-bg:           darken(@body-bg, 2%);
@btn-default-hover-border:       #999;

@btn-default-active-color:       @text-color;
@btn-default-active-bg:          darken(@body-bg, 6%);
@btn-default-active-border:      #999;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-secondary;
@btn-primary-border:             darken(@btn-primary-bg, 15%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 15%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 15%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 15%);


//== Forms
//
@legend-color:                          darken(@body-bg, 40%);
@field-help-block-color:                darken(@body-bg, 50%);

//## Misago wraps forms into panels
@form-panel-bg:                         #fff;
@form-panel-border:                     darken(@body-bg, 15%);
@form-panel-shadow:                     darken(@body-bg, 5%);
@form-panel-footer-bg:                  darken(@body-bg, 1%);
@form-panel-padding-vertical:           (@padding-large-vertical * 1.5);
@form-panel-padding-horizontal:         @padding-large-horizontal;
@form-panel-padding:                    @form-panel-padding-vertical @form-panel-padding-horizontal;


//== Error panel
//
//##
@error-panel-bg:                   darken(@body-bg, 1%);
@error-panel-border:               darken(@body-bg, 15%);
@error-panel-shadow:               darken(@body-bg, 5%);


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               12px;
@alert-border-radius:         @border-radius-large;

@alert-success-bg:            #27ae60;
@alert-success-text:          #fff;

@alert-info-bg:               #2980b9;
@alert-info-text:             #fff;

@alert-warning-bg:            #e67e22;
@alert-warning-text:          #fff;

@alert-danger-bg:             #c0392b;
@alert-danger-text:           #fff;


//== User state
//
//##

@state-online:                #2ecc71;
@state-offline:               #95a5a6;
@state-banned:                #e74c3c;


//== Modals
//
//##

@modal-title-color:                  @gray;

@modal-header-bg-color:              darken(@body-bg, 1%);
@modal-header-border-color:          darken(@modal-header-bg-color, 5%);

@modal-footer-bg-color:              darken(@body-bg, 2%);
@modal-footer-border-color:          darken(@modal-footer-bg-color, 5%);


//== Miscellaneous
//
//##

//** Horizontal line color.
@hr-border:                   darken(@body-bg, 10%);

//** Badge radius
@badge-border-radius:         @border-radius-small;
