{% load i18n misago_avatars misago_forms %}
<input type="text" class="form-control d-js-none" id="{{ widget.attrs.id }}" name="{{ widget.name }}" value="{% for user in widget.value %}{{ user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}" {{ widget|requiredhtml }}>
<ul class="form-chips-control d-js-flex" maxchoices="{{ widget.attrs.maxchoices }}" m-user-multiple-choice="{{ widget.attrs.id }}">
  {% for chip in widget.value %}
    <li m-user-multiple-choice-item m-user-name="{{ chip.username }}"{% if chip.id %} m-user-id="{{ chip.id }}"{% endif %}>
      {% if chip.id %}
        <button class="form-chips-control-item" type="button" aria-label="{% translate 'Remove this user' context 'user multiple choice delete button' %}">
          <img class="form-chips-control-item-image" src="{{ chip|avatar:32 }}" alt="">
          <span class="form-chips-control-item-name">
            {{ chip.username }}
          </span>
          <span class="form-chips-control-item-close-icon">
            <span class="material-icon">clear</span>
          </span>
        </button>
      {% else %}
        <button class="form-chips-control-item-not-found" type="button" aria-label="{% translate 'Remove this user' context 'user multiple choice delete button' %}">
          <span class="form-chips-control-item-not-found-icon">
            <span class="material-icon">person_outline</span>
          </span>
          <span class="form-chips-control-item-name">
            {{ chip.username }}
          </span>
          <span class="form-chips-control-item-close-icon">
            <span class="material-icon">clear</span>
          </span>
        </button>
      {% endif %}
    </li>
  {% endfor %}
  <li>
    <input type="text" class="form-chips-control-search" m-user-multiple-choice-search>
  </li>
</ul>
<template id="m-user-multiple-choice-template">
  <li m-user-multiple-choice-item>
    <button class="form-chips-control-item" type="button" aria-label="{% translate 'Remove this choice' context 'user multiple choice delete button' %}">
      <img class="form-chips-control-item-image" src="" alt="">
      <span class="form-chips-control-item-name">
        <slot name="username"></slot>
      </span>
      <span class="form-chips-control-item-close-icon">
        <span class="material-icon">clear</span>
      </span>
    </button>
  </li>
</template>