{% load i18n %}

{% if not likes.is_liked and likes.like_url %}
  <form
    id="posts-feed-item-post-like-{{ post.id }}"
    action="{{ likes.like_url }}"
    method="post"
    hx-post="{{ likes.like_url }}"
    hx-target="this"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <button
      class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-like"
      type="submit"
      hx-disabled-elt="this"
    >
      {% translate "Like" context "posts feed like post" %}
      {% if likes.likes %}
        <span class="posts-feed-item-post-body-footer-btn-likes-count">
          +{{ likes.likes }}
        </span>
      {% endif %}
    </button>
  </form>
{% elif likes.is_liked and likes.unlike_url %}
  <form
    id="posts-feed-item-post-like-{{ post.id }}"
    action="{{ likes.unlike_url }}"
    method="post"
    hx-post="{{ likes.unlike_url }}"
    hx-target="this"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <button
      class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-liked"
      title="{% translate 'You like this' context 'posts feed like post' %}"
      type="submit"
      hx-disabled-elt="this"
    >
      {% translate "Like" context "posts feed like post" %}
      {% if likes.likes %}
        <span class="posts-feed-item-post-body-footer-btn-likes-count">
          +{{ likes.likes }}
        </span>
      {% endif %}
    </button>
  </form>
{% endif %}

<div
  id="posts-feed-item-post-likes-{{ post.id }}"
  class="posts-feed-item-post-likes {% if likes.description %}animation-fade-in{% else %}d-none{% endif %}"
  hx-swap-oob="outerHTML"
>
  {% if likes.url %}
    {% for suffix, description in likes.description.items %}
      <a href="{{ likes.url }}" class="posts-feed-item-post-body-likes-{{ suffix }}">{{ description }}</a>
    {% endfor %}
  {% else %}
    {% for suffix, description in likes.description.items %}
      <span class="posts-feed-item-post-body-likes-{{ suffix }}">{{ description }}</span>
    {% endfor %}
  {% endif %}
</div>