{% extends "misago/admin/generic/base.html" %}
{% load i18n %}


{% block view %}
<div class="row">
  <div class="col {% block form-main-col-class %}{% endblock form-main-col-class %}">

    <div class="card card-admin-form">
      <form role="form" method="post" {% block form-extra %}{% endblock form-extra %}>
        {% csrf_token %}

        <h5 class="card-header">
          {% block form-header %}{% endblock form-header %}
        </h5>
        <div class="card-body">

          {% if form.is_bound and not form.is_valid %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {{ error }}
              </div>
            {% empty %}
              <div class="alert alert-danger" role="alert">
                {% translate "Form was completed with errors." context "admin form" %}
              </div>
            {% endfor %}
          {% endif %}

          {% block form-body %}{% endblock form-body %}

        </div>
        <div class="card-footer sticky text-right">
          {% block form-footer-cancel %}
            <a href="{% url root_link %}" class="btn btn-light btn-sm" data-cancel-confirmation="true">
              {% translate "Cancel" context "admin form" %}
            </a>
          {% endblock %}
          {% block form-footer %}
            {% include "misago/admin/generic/form_footer.html" %}
          {% endblock %}
        </div>

      </form>
    </div><!-- /.form-panel -->

  </div>
</div>
{% endblock view %}
