{% load i18n %}


{% block content %}
<div class="container page-header-container">
  <div class="page-header page-header-category">
    <div class="page-header-bg-image">
      <div class="page-header-bg-overlay">
        <div class="page-header-image"></div>
        <div class="page-header-banner page-header-banner-category">
          <div class="page-header-banner-bg-image">
            <div class="page-header-banner-bg-overlay">
              {% if is_index %}
                <h1>{{ settings.index_header|default:settings.forum_name }}</h1>
              {% else %}
                <h1>SITE THREADS</h1>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}