{% extends "misago/base.html" %}
{% load i18n misago_stringutils %}


{% block title %}{{ forum.name }} | {{ block.super }}{% endblock title %}


{% block meta-description %}{{ forum.description|striplinebreaks }}{% endblock meta-description %}


{% block content %}
<div{% if forum.css %} class="page-{{ forum.css_class }}"{% endif %}>
  <div class="page-header">
    <div class="container">
      {% if path %}
      <ol class="breadcrumb">
        {% for crumb in path|slice:":-1" %}
        <li>
          <a href="{{ crumb.get_absolute_url }}">{{ crumb.name }}</a>{% if not forloop.last %}<span class="fa fa-chevron-right"></span>{% endif %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}

      <h1>{{ forum.name }}</h1>
    </div>
  </div>
  <div class="container">
    {% if forum.description %}
    <div class="lead">
      {{ forum.description|escape|urlize|linebreaks }}
    </div>
    {% endif %}

    {% if forum.subforums %}
    {% include "misago/forums/subforums.html" with category=forum %}
    {% endif %}

    <div class="threads-list">

      <div class="table-actions">
        {% if forum.is_closed %}
        <span class="btn btn-default disabled pull-right">
          <span class="fa fa-lock"></span>
          {% trans "This forum is closed." %}
        </span>
        {% else %}
          {% if user.is_anonymous %}
          <a href="{% url LOGIN_URL %}" class="btn btn-default pull-right">
            <span class="fa fa-check-circle"></span>
            {% trans "Sign in to start thread" %}
          </a>
          {% elif forum.acl.can_start_threads %}
          <a href="{% url 'misago:start_thread' forum_slug=forum.slug forum_id=forum.id %}" class="btn btn-success pull-right">
            <span class="fa fa-plus-circle"></span>
            {% trans "Start thread" %}
          </a>
          {% else %}
          <span class="btn btn-default btn-closed pull-right">
            <span class="fa fa-ban"></span>
            {% trans "Can't start threads" %}
          </span>
          {% endif %}
        {% endif %}
      </div>

      <div class="table-panel">
        <table class="table">
          {% block table-items %}
          {% for item in items %}
          <tr>
            {% block table-row %}{% endblock table-row %}
            {% if mass_actions %}
            <td class="row-select">
              <label>
                <input type="checkbox" form="mass-action" name="selected_items" value="{{ item.pk }}" {% if item.pk in selected_items %} checked{% endif %}>
              </label>
            </td>
            {% endif %}
          </tr>
          {% empty %}
          <tr class="message-row">
            {% block emptylist %}
            {% endblock emptylist %}
          </tr>
          {% endfor %}
          {% endblock table-items %}
        </table>
      </div>

      <div class="table-actions">
      </div>
    </div>

  </div>
</div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}
{% include "misago/forums/js.html" %}
{% endblock javascripts %}
