{% extends "misago/base.html" %}
{% load i18n misago_stringutils %}


{% block title %}{{ forum.name }} | {{ block.super }}{% endblock title %}


{% block meta-description %}{{ forum.description|striplinebreaks }}{% endblock meta-description %}


{% block content %}
<div{% if forum.css %} class="page-{{ forum.css_class }}"{% endif %}>
  <div class="page-header">
    <div class="container">
      {% if path %}
      <ol class="breadcrumb">
        {% for crumb in path|slice:":-1" %}
        <li>
          <a href="{{ crumb.get_absolute_url }}">{{ crumb.name }}</a>{% if not forloop.last %}<span class="fa fa-chevron-right"></span>{% endif %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}

      <h1>{{ forum.name }}</h1>
    </div>
  </div>
  <div class="container">
    {% if forum.description %}
    <div class="lead">
      {{ forum.description|escape|urlize|linebreaks }}
    </div>
    {% endif %}

    {% if forum.subforums %}
    {% include "misago/forums/subforums.html" with category=forum %}
    {% endif %}
  </div>
</div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}
{% include "misago/forums/js.html" %}
{% endblock javascripts %}
