{% load i18n misago_capture misago_pagination %}
<div class="table-actions">

  <ul class="pager pull-left">
    <li class="page">
      {% capture trimmed as page_strong %}
      <strong>{{ page.number }}</strong>
      {% endcapture %}
      {% capture trimmed as pages_strong %}
      <strong>{{ paginator.num_pages }}</strong>
      {% endcapture %}
      {% blocktrans with page=page_strong|safe pages=pages_strong|safe %}
      Page {{ page }} of {{ pages }}
      {% endblocktrans %}
    </li>
    {% if page.has_previous %}
      <li>
        <a href="{% pageurl 'misago:forum' links_params %}" class="tooltip-top" title="{% trans "Go to first page" %}">
          {% if page.number > 2 %}
          {% trans "First" %}
          {% else %}
          <span class="glyphicon glyphicon-chevron-left"></span>
          {% endif %}
        </a>
      </li>
      {% if page.number > 2 %}
      <li>
        <a href="{% pageurl 'misago:forum' links_params page.previous_page_number %}" class="tooltip-top" title="{% trans "Go to previous page" %}">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
      {% endif %}
    {% endif %}
    {% if page.has_next %}
      <li>
        <a href="{% pageurl 'misago:forum' links_params page.next_page_number %}" class="tooltip-top" title="{% trans "Go to next page" %}">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    {% endif %}
  </ul>

  <div class="btn-group pull-left">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {% trans "Sort:" %} <strong>{{ order_name }}</strong>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-title">
        {% trans "Change sorting to:" %}
      </li>
      {% for order in order_by %}
      <li>
        {% if forloop.first %}
        <a href="{% url 'misago:forum' forum_slug=forum.slug forum_id=forum.id %}">
        {% else %}
        <a href="{% url 'misago:forum' forum_slug=forum.slug forum_id=forum.id sort=order.url %}">
        {% endif %}
          {{ order.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if forum.is_closed %}
  <span class="btn btn-default disabled pull-right">
    <span class="fa fa-lock"></span>
    {% trans "This forum is closed." %}
  </span>
  {% else %}
    {% if user.is_anonymous %}
    <a href="{% url LOGIN_URL %}" class="btn btn-default pull-right">
      <span class="fa fa-check-circle"></span>
      {% trans "Sign in to start thread" %}
    </a>
    {% elif forum.acl.can_start_threads %}
    <a href="{% url 'misago:start_thread' forum_slug=forum.slug forum_id=forum.id %}" class="btn btn-success pull-right">
      <span class="fa fa-plus-circle"></span>
      {% trans "Start thread" %}
    </a>
    {% else %}
    <span class="btn btn-default btn-closed pull-right">
      <span class="fa fa-ban"></span>
      {% trans "Can't start threads" %}
    </span>
    {% endif %}
  {% endif %}
</div>
