{% extends "misago/base.html" %}
{% load humanize i18n misago_avatars misago_capture misago_stringutils %}


{% block title %}{{ forum.name }}{% if page.number > 1 %} ({% blocktrans with page=page.number %}Page {{ page }}{% endblocktrans %}){% endif %} | {{ block.super }}{% endblock title %}


{% block meta-description %}{{ forum.description|striplinebreaks }}{% endblock meta-description %}


{% block content %}
<div{% if forum.css %} class="page-{{ forum.css_class }}"{% endif %}>
  <div class="page-header">
    <div class="container">
      {% if path %}
      <ol class="breadcrumb">
        {% for crumb in path|slice:":-1" %}
        <li>
          <a href="{{ crumb.get_absolute_url }}">{{ crumb.name }}</a>{% if not forloop.last %}<span class="fa fa-chevron-right"></span>{% endif %}
        </li>
        {% endfor %}
      </ol>
      {% endif %}

      <h1>{{ forum.name }}</h1>
    </div>
  </div>
  <div class="container">
    {% if forum.description %}
    <div class="lead">
      {{ forum.description|escape|urlize|linebreaks }}
    </div>
    {% endif %}

    {% if forum.subforums %}
    {% include "misago/forums/subforums.html" with category=forum %}
    {% endif %}

    <div class="threads-list">

      {% include "misago/threads/list_actions.html" %}

      <div class="table-panel">
        <ul class="list-group">
          {% for thread in threads %}
          <li class="list-group-item{% if thread.is_new %} new{% endif %}">
            <div class="row">

              <div class="col-md-8">
                {% if thread.is_announcement %}
                  {% if thread.is_new %}
                  <span class="thread-icon tooltip-top fa fa-star fa-lg fa-fw" title="{% trans "Announcement, unread" %}"></span>
                  {% else %}
                  <span class="thread-icon tooltip-top fa fa-star-o fa-lg fa-fw" title="{% trans "Announcement, read" %}"></span>
                  {% endif %}
                {% elif thread.is_pinned %}
                  {% if thread.is_new %}
                  <span class="thread-icon tooltip-top fa fa-bookmark fa-lg fa-fw" title="{% trans "Pinned, unread" %}"></span>
                  {% else %}
                  <span class="thread-icon tooltip-top fa fa-bookmark-o fa-lg fa-fw" title="{% trans "Pinned, read" %}"></span>
                  {% endif %}
                {% else %}
                  {% if thread.is_new %}
                  <span class="thread-icon tooltip-top fa fa-circle fa-lg fa-fw" title="{% trans "Unread posts" %}"></span>
                  {% else %}
                  <span class="thread-icon tooltip-top fa fa-circle-thin fa-lg fa-fw" title="{% trans "Read posts" %}"></span>
                  {% endif %}
                {% endif %}

                <a href="{{ thread.get_absolute_url }}" class="item-title">
                  {{ thread.title }}
                </a>

                <ul class="list-unstyled thread-flags">
                  {% if thread.has_reported_posts %}
                  <li class="tooltip-top" title="{% trans "Reported posts" %}">
                    <span class="fa fa-exclamation-triangle fa-fw fa-lg"></span>
                  </li>
                  {% endif %}
                  {% if thread.has_moderated_posts and not thread.is_moderated %}
                  <li class="tooltip-top" title="{% trans "Moderated posts" %}">
                    <span class="fa fa-eye-slash fa-fw fa-lg"></span>
                  </li>
                  {% endif %}
                  {% if thread.is_poll %}
                  <li class="tooltip-top" title="{% trans "Poll" %}">
                    <span class="fa fa-bar-chart-o fa-fw fa-lg"></span>
                  </li>
                  {% endif %}
                  {% if thread.is_moderated %}
                  <li class="tooltip-top" title="{% trans "Moderated" %}">
                    <span class="fa fa-eye-slash fa-fw fa-lg"></span>
                  </li>
                  {% endif %}
                  {% if thread.is_closed %}
                  <li class="tooltip-top" title="{% trans "Closed" %}">
                    <span class="fa fa-lock fa-fw fa-lg"></span>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-md-4 thread-stats">
                <div class="thread-replies">
                  <div class="tooltip-top" title="{% blocktrans trimmed with replies=thread.replies|intcomma count counter=thread.replies %}{{ replies }} reply{% plural %}{{ replies }} replies{% endblocktrans %}">
                    <span class="glyphicon glyphicon-comment"></span>
                    {{ thread.replies|intcomma }}
                  </div>
                </div>

                {% if thread.last_poster_id %}
                <a href="{% url USER_PROFILE_URL user_slug=thread.last_poster_slug user_id=thread.last_poster_id %}" class="thread-author tooltip-top" title="{% blocktrans with user=thread.last_poster_name %}Last post by {{ user }}{% endblocktrans %}">
                  <img src="{{ thread.last_poster_id|avatar:25 }}" alt="{% trans "Avatar" %}" class="avatar">
                </a>
                {% else %}
                <span class="thread-author tooltip-top" title="{% blocktrans with user=thread.last_poster_name %}Last post by {{ user }}{% endblocktrans %}">
                  <img src="{% blankavatar 25 %}" alt="{% trans "Avatar" %}" class="avatar">
                </span>
                {% endif %}

                <a href="#" class="dynamic time-ago tooltip-top" data-timestamp="{{ thread.last_post_on|date:"c" }}" title="{% blocktrans with last_post=thread.last_post_on|date %}Last post from {{ last_post }}{% endblocktrans %}">
                  {{ thread.last_post_on|date }}
                </a>
              </div>
            </div>
          </li>
          {% empty %}
          <li class="list-group-item message-row">
            {% trans "No threads were posted in this forum, or you don't have permission to see them." %}
          </li>
          {% endfor %}
        </ul>
      </div>

      {% include "misago/threads/list_actions.html" %}

    </div>

  </div>
</div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}
{% include "misago/forums/js.html" %}
{% endblock javascripts %}
