{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block title %}
  {{ moderation_action.full_name }} | {% translate "Threads" context "threads page" %} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-threads">
  {% if is_index %}
    {% include "misago/index_header.html" %}
  {% else %}
    {% include "misago/threads/header.html" %}
  {% endif %}
  <div class="container page-container">

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="moderation" value="{{ moderation_action.id }}" />
      {% for thread in selection %}
        <input type="hidden" name="thread" value="{{ thread.id }}" />
      {% endfor %}

      <div class="panel panel-default panel-form">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ moderation_action.full_name }}
          </h3>
        </div>
        <div class="panel-body">
          {% include template_name %}
        </div>
        <div class="panel-footer panel-footer-sticky">
          <button class="btn btn-primary" type="submit">
            {{ moderation_action.name }}
          </button>
          <a href="{{ cancel_url }}" class="btn btn-default">
            {% translate "Cancel" context "threads list moderation" %}
          </a>
        </div>
      </div>
    </form>

    {% include "misago/gototop_toolbar.html" %}

  </div>
</div>
{% endblock content %}