{% load i18n %}

<form id="threads-moderation" method="post">
  {% csrf_token %}
  <noscript>
    <div class="toolbar">
      <div class="toolbar-spacer"></div>
      <div class="toolbar-section">
        <div class="toolbar-item">
          <select name="moderation" class="form-control w-100-xs" style="min-width: 300px;">
            <option value="none" selected>
              {% translate "Select moderation action" context "threads list moderation" %}
            </option>
            {% for action in moderation_actions %}
              <option value="{{ action.id }}">
                {{ action.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="toolbar-section">
        <div class="toolbar-item">
          <button class="btn btn-moderation btn-block">
            {% translate "Moderate threads" context "threads list moderation" %}
          </button>
        </div>
      </div>
    </div>
  </noscript>
</form>
