{% load i18n %}
<li
  hx-get="{{ pagination_url }}?poll_new={{ latest_post }}"
  hx-trigger="every 60s"
  hx-swap="outerHTML"
  hx-silent="true"
  class="{% if new_threads %}threads-list-poll-new{% else %}d-none{% endif %}"
>
  {% if new_threads %}
    <button
      class="btn btn-threads-list-poll"
      type="button"
      hx-get="{{ pagination_url }}?animate_new={{ latest_post }}"
      hx-target="#misago-htmx-root"
      hx-swap="outerHTML"
      hx-silent="false"
    >
      {% blocktranslate trimmed count new_threads=new_threads context "threads list" %}
        Show {{ new_threads }} new or updated thread
      {% plural %}
        Show {{ new_threads }} new or updated threads
      {% endblocktranslate %}
    </button>
  {% endif %}
</li>
