{% load i18n %}
{% if filters %}
<div class="btn-group pull-left">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {% trans "Show:" %}{% if filter_by.is_label %}
    <span class="label label-{{ filter_by.css_class|default:"default" }}">
      {{ filter_by.name }}
    </span>
    {% else %}
    <strong>{{ filter_by.name }}</strong>
    {% endif %}
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-title">
      {% trans "Show threads:" %}
    </li>
    {% for filtering in filters %}
    <li>
      <a href="{{ filtering.url }}">
        {% if filtering.is_label %}
        <span class="label label-sololabel-{{ filtering.css_class|default:"default" }}">
          {{ filtering.name }}
        </span>
        {% else %}
        {{ filtering.name }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
