{% load i18n %}
{% if filters %}
<div class="btn-group pull-left">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {% trans "Show:" %} <strong>{{ filter_name }}</strong>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-title">
      {% trans "Show threads:" %}
    </li>
    {% for filtering in filters %}
    <li>
      <a href="{{ filtering.url }}">
        {{ filtering.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
