{% load i18n %}
<div class="toolbar{% if not bottom %} toolbar-xs-reverse{% endif %}">
  <div class="toolbar-section">
    <div class="toolbar-item">
      {% include "misago/threads/paginator.html" with bottom=bottom %}
    </div>
  </div>
  {% if threads.filters and not bottom %}
    <div class="toolbar-section d-js-flex">
      <div class="toolbar-item">
        {% include "misago/threads/filters_dropdown.html" with active_filter=threads.active_filter filters=threads.filters remove_filters_url=threads.remove_filters_url %}
      </div>
    </div>
  {% endif %}
  <div class="toolbar-spacer"></div>
  <div{% if bottom %} class="toolbar-xs-reverse"{% endif %}>
    {% if bottom and user.is_authenticated %}
      <div class="toolbar-section hidden-xs">
        <div class="toolbar-item">
          <button class="btn btn-default btn-block" disabled>
            {% trans "Mark all as read" context 'threads list' %}
          </button>
        </div>
      </div>
    {% endif %}
    <div class="toolbar-section">
      <div class="toolbar-item">
        <button class="btn btn-primary btn-block" disabled>
          {% trans "Start new thread" context 'threads list' %}
        </button>
      </div>
    </div>
  </div>
</div>
