{% load i18n misago_plugins %}

<div class="toolbar">
  {% pluginoutlet THREADS_LIST_TOOLBAR_START %}
  {% if threads.paginator.has_previous or threads.paginator.has_next %}
    <div class="toolbar-section{% if top_toolbar %} flex-order-last-xs{% endif %}">
      <div class="toolbar-item">
        {% include "misago/threads/paginator.html" with bottom=bottom_toolbar %}
      </div>
    </div>
  {% endif %}
  {% if subcategories and not subcategories.template_name and top_toolbar %}
    <div class="toolbar-section">
      <div class="toolbar-item">
        {% include "misago/threads/subcategories_dropdown.html" with category=category subcategories=subcategories.categories %}
      </div>
    </div>
  {% endif %}
  {% if threads.filters and top_toolbar %}
    <div class="toolbar-section">
      <div class="toolbar-item">
        {% include "misago/threads/filters_dropdown.html" with active_filter=threads.active_filter filters=threads.filters remove_filters_url=threads.remove_filters_url %}
      </div>
    </div>
  {% endif %}
  {% pluginoutlet THREADS_LIST_TOOLBAR_BEFORE_SPACER %}
  <div class="toolbar-spacer"></div>
  {% pluginoutlet THREADS_LIST_TOOLBAR_AFTER_SPACER %}
  {% if bottom_toolbar and user.is_authenticated and threads.items %}
    <div class="toolbar-section flex-order-last-xs">
      <div class="toolbar-item">
        <noscript>
          <form method="post">
            {% csrf_token %}
            <button class="btn btn-default btn-block" name="mark_as_read">
              {% translate "Mark as read" context "threads list toolbar" %}
            </button>
          </form>
        </noscript>
        <button
          class="btn btn-default d-js-block"
          type="button"
          data-toggle="modal"
          data-target="#mark-as-read"
        >
          {% translate "Mark as read" context "threads list toolbar" %}
        </button>
      </div>
    </div>
  {% endif %}
  {% if start_thread_url %}
    <div class="toolbar-section{% if top_toolbar %} flex-order-first-xs{% endif %}">
      <div class="toolbar-item">
        {% if start_thread_modal %}
          <a
            href="{{ start_thread_url }}"
            class="btn btn-primary btn-block"
            hx-get="{{ start_thread_url }}"
            hx-trigger="click once"
            hx-target="#start-thread-modal"
            hx-swap="innerHTML"
            data-toggle="modal"
            data-target="#start-thread-modal"
          >
            {% translate "Start new thread" context "threads list toolbar" %}
          </a>
        {% elif category and category.is_closed %}
          <a href="{{ start_thread_url }}" class="btn btn-default btn-block">
            <span class="text-danger">{% translate "Locked" context "threads list toolbar" %}</span>
          </a>
        {% else %}
          <a href="{{ start_thread_url }}" class="btn btn-primary btn-block">
            {% translate "Start new thread" context "threads list toolbar" %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% pluginoutlet THREADS_LIST_TOOLBAR_END %}
</div>
