{% extends "misago/threads/base.html" %}
{% load i18n misago_stringutils %}


{% block title %}{% trans "Unread threads" %}{% if page.number > 1 %} ({% blocktrans with page=page.number %}Page {{ page }}{% endblocktrans %}){% endif %} | {{ block.super }}{% endblock title %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      {% trans "Threads with unread replies" %}
    </h1>
  </div>
</div>
{{ block.super }}
{% endblock content %}


{% block threads-panel %}
<div class="table-actions">
  {% include "misago/threads/paginator.html" %}

  {% include "misago/threads/sort.html" %}

  <form action="{% url 'misago:clear_unread_threads' %}" method="POST" class="pull-right">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
      <span class="fa fa-circle-o fa-fw"></span>
      {% trans "Clear list" %}
    </button>
  </form>
</div>

{{ block.super }}

<div class="table-actions">
  {% include "misago/threads/paginator.html" %}
</div>
{% endblock threads-panel %}


{% block no-threads %}
{% blocktrans trimmed count days=fresh_period %}
There are no threads with unread replies from last {{ days }} day.
{% plural %}
There are no threads with unread replies from last {{ days }} days.
{% endblocktrans %}
{% endblock no-threads %}
