{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_forms %}


{% block title %}
{% if target.pk %}
{{ target }}
{% else %}
{% trans "New type" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-target %}
{% if target.pk %}
{{ target }}
{% else %}
{% trans "New type" %}
{% endif %}
{% endblock page-target %}


{% block form-header %}
<h1>
  {% if target.pk %}
  {{ target }}
  {% else %}
  {% trans "New type" %}
  {% endif %}
</h1>
{% endblock %}


{% block form-extra %}
class="form-horizontal"
{% endblock form-extra%}


{% block form-body %}
<div class="form-body">
  {% with label_class="col-md-3" field_class="col-md-9" %}
  <fieldset>
    <legend>{% trans "Basic options" %}</legend>

    {% form_row form.name label_class field_class %}
    {% form_row form.extensions label_class field_class %}
    {% form_row form.mimetypes label_class field_class %}
    {% form_row form.size_limit label_class field_class %}

  </fieldset>
  <fieldset>
    <legend>{% trans "Availability" %}</legend>

    {% form_row form.status label_class field_class %}
    {% form_row form.limit_uploaders_to label_class field_class %}
    {% form_row form.limit_downloaders_to label_class field_class %}

  </fieldset>
  {% endwith %}
</div>
{% endblock form-body %}


{% block form-footer-class %}
col-md-offset-3
{% endblock form-footer-class %}
