{% extends "admin/admin/list.html" %}
{% from "admin/macros.html" import page_title %}
{% import "forms.html" as form_theme with context %}

{% block title %}{{ page_title(parent=_(action.role.name), title=_("Role Forum Permissions")) }}{% endblock %}

{% block table_head scoped %}
  <th>{% trans %}Forum{% endtrans %}</th>
  <th class="span8">{% trans %}Role{% endtrans %}</th>
{% endblock %}

{% block table_row scoped %}
  <td class="lead-cell" style="padding-left: {{ 8 + ((item.level - 1) * 24) }}px;">
  	<i class="icon-{{ forum_icon(item.type) }}"></i> <strong>{{ item.name }}</strong>
  </td>
  <td>
  	{{ form_theme.field(table_form['forum_' + item.pk|string], attrs={'class': 'span6', 'form': 'table_form'}) }}
  </td>
{% endblock %}

{% macro forum_icon(forum_type) -%}
{%- if forum_type == 'category' -%}
folder-open
{%- elif forum_type == 'forum' -%}
list
{%- else -%}
globe
{%- endif -%}
{%- endmacro %}