{% load i18n %}
<form method="POST">
  {% csrf_token %}
  <input type="hidden" name="action" value="merge">
  {% for thread in threads %}
  <input type="hidden" name="item" value="{{ thread.pk }}">
  {% endfor %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
    <h4 class="modal-title" id="ajaxModalLabel">
      <span class="fa fa-reply-all fa-fw"></span>
      {% trans "Merge threads" %}
    </h4>
  </div>
  <div class="modal-body modal-form">

    {% include "misago/threads/merge/body.html" %}

  </div>
  <div class="modal-footer text-left">
    <button class="btn btn-primary" name="submit">{% trans "Merge threads" %}</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
  </div>
</form>
