{% load i18n %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
  <h4 class="modal-title" id="ajaxModalLabel">
    <span class="fa fa-users fa-fw fa-lg"></span>
    {% trans "Edit participants" %}
  </h4>
</div>
<div class="modal-body modal-edit-participants" data-max-participants="{{ user.acl.max_private_thread_participants }}">

  <h4>{% trans "Thread participants" %}</h4>

  <ul class="list-unstyled users-list-compact">
    {% include "misago/privatethreads/participants_modal_list.html" %}
  </ul>

  <h4>{% trans "Add participants" %}</h4>

  <p class="lead message">
    {% trans "You can't add more participants to this thread." %}
  </p>

  <p class="text-danger fade"></p>

  <form method="POST" class="add-participants">
    {% csrf_token %}
    <div class="invite-form">

      <div class="input">
        <div class="thread-participants-input">
          <input type="hidden" name="users">
          <ul class="list-unstyled users-list"></ul>
          <input class="textinput textInput form-control user-input" type="text" placeholder="{% trans "User to message..." %}" data-api-url="{% url 'misago:api_suggestion_engine' %}">
        </div>
      </div>

      <div class="button">
        <button type="button" class="btn btn-primary btn-add-participants" data-add-url="{% url 'misago:private_thread_add_participants' thread_slug=thread.slug thread_id=thread.id %}">
          {% trans "Add" %}
        </button>
      </div>

    </div>
  </form>

</div>
