<div class="link-sent-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Activation link sent"}}</h1>
    </div>
  </div>

  <div class="container">

    <p class="lead">
      {{gettext "%(username)s, we have sent your activation link to %(email)s." username=username email=email}}
    </p>

    <button class="btn btn-default" {{action "retry"}}>
      {{gettext "Try again?"}}
    </button>

  </div>
</div>
