<div class="loading-page">
  <div class="container">
    <div class="loading">

      <div class="loader loader-large"></div>

      <p class="loader-message">{{gettext "Activating account..."}}</p>

    </div>
  </div>
</div>
