# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/

# OS files
.DS_Store
thumbs.db

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Flake8 reports
report.txt
flake8.txt

# Pylint report
pylint.txt

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEs
.idea/
.vscode/
*.swp

# Django stuff:
*.log
*.pot

# Docker Compose Override
docker-compose.override.yml

# Database snapshot
database.sql