[MASTER]

load-plugins=pylint_django
ignore=migrations
max-line-length=88


[MESSAGES CONTROL]

disable=
    abstract-method,
    bad-continuation,
    expression-not-assigned,
    fixme,
    invalid-name,
    missing-docstring,
    no-member,
    no-self-use,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-lines,  # FIXME
    too-many-public-methods,
    too-many-statements,  # FIXME
    unused-argument


[REPORTS]

reports=no