[MASTER]

load-plugins=pylint_django
ignore=migrations
max-line-length=88


[MESSAGES CONTROL]

disable=
    abstract-method,
    arguments-differ,
    assignment-from-none,
    attribute-defined-outside-init,
    bad-continuation,
    cyclic-import,
    duplicate-code,
    expression-not-assigned,
    fixme,
    format,  # delegated to black
    inconsistent-return-statements,
    invalid-name,
    missing-docstring,
    model-no-explicit-unicode,  # pylint-django
    no-member,
    no-self-use,
    protected-access,
    redefined-outer-name,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-lines,  # FIXME
    too-many-public-methods,
    too-many-statements,  # FIXME
    ungrouped-imports,
    unsubscriptable-object,
    unused-argument


[REPORTS]

reports=no