dist: trusty
sudo: required
addons:
  postgresql: "9.4"
language: python
python:
  - "3.6"
install:
  - pip install -U pip setuptools
  - pip install coveralls
  - python setup.py install
before_script:
  - psql -c "create database travis_ci_test;" -U postgres
script:
  - coverage run --source=pytest
after_success:
  - coveralls