include LICENSE.rst
include MANIFEST.in
include README.rst
include requirements.txt
prune devproject
prune docs
prune testproject
graft misago
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store