ariadne
ariadne_django
celery[redis]
coveralls
django<4
djangorestframework
django-debug-toolbar
django-mptt
django-simple-sso
Faker
html5lib
markdown
social-auth-app-django
pyjwt
pillow
psycopg2-binary
pytest
pytest-cov
pytest-django
pytest-mock
pytz
requests
responses
snapshottest
unidecode
