ariadne>0.2
beautifulsoup4<4.8
bleach<3.2
celery[redis]
django<2
djangorestframework<3.7
django-debug-toolbar<1.12
django-htmlmin<0.11
django-mptt
Faker<1.1
html5lib<1.1
markdown<2.7
social-auth-app-django
pillow<5
psycopg2-binary<2.8
pytest
pytest-django
pytest-mock
pytz
requests<3
responses
snapshottest
unidecode<1.1
