beautifulsoup4<4.7
bleach<2.2
django<2
djangorestframework<3.7
django-debug-toolbar<1.9
django-htmlmin<0.11
django-mptt<0.9
Faker<0.9
html5lib==0.999999999
markdown<2.7
misago-social-auth-app-django
path.py<10.4
pillow<4.2
psycopg2-binary<2.8
pytz
requests<3
unidecode<1