{% load misago_component %}

{% include "misago/snackbars.html" %}

<div id="misago-htmx-status-bars" hx-swap-oob="innerHTML">
  {% if status_bars %}
    <div class="status-bars">
      {% includecomponents status_bars %}
    </div>
  {% endif %}
</div>

{% if header %}
<div id="misago-htmx-thread-header" hx-swap-oob="outerHTML">
  {% includecomponents header %}
</div>
{% endif %}

{% if footer %}
<div id="misago-htmx-thread-footer" hx-swap-oob="outerHTML">
  {% includecomponents footer %}
</div>
{% endif %}

{% if thread_updates %}
<div hx-swap-oob="beforeend:.posts-feed-inner">
  {% includecomponents thread_updates %}
</div>
{% endif %}

{% if moderation_actions %}
{% include "misago/thread/thread_moderation.html" with swap_oob=True %}
{% endif %}

{% if update_posts %}
  {% with htmx_swap=True %}
    {% includecomponents update_posts %}
  {% endwith %}
{% endif %}
