{% load i18n %}

<nav
  class="thread-paginator"
  role="nav"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
  hx-push-url="true"
  hx-target="#misago-htmx-root"
  hx-swap="outerHTML{% if bottom %} show:#misago-page-scroll-target:top{% endif %}"
>
  {% if page.has_previous %}
    <a
      class="btn btn-default btn-outline btn-icon"
      title="{% translate 'Go to first page' context 'thread paginator' %}"
      href="{{ thread_url }}"
      hx-get="{{ thread_url }}"
    >
      <span class="material-icon">first_page</span>
    </a>
    <a
      class="btn btn-default btn-outline btn-icon"
      rel="prev"
      title="{% translate 'Go to previous page' context 'thread paginator' %}"
      href="{{ thread_url }}{% if page.previous_page_number > 1 %}{{ page.previous_page_number }}/{% endif %}"
      hx-get="{{ thread_url }}{% if page.previous_page_number > 1 %}{{ page.previous_page_number }}/{% endif %}"
    >
      <span class="material-icon">chevron_left</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to first page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">first_page</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to previous page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_left</span>
    </button>
  {% endif %}
  <div class="dropdown">
    <button
      aria-haspopup="true"
      aria-expanded="false"
      class="btn btn-default btn-block btn-outline"
      type="button"
      data-toggle="dropdown"
    >
      {% blocktranslate trimmed with page=page.number pages=paginator.num_pages context "thread paginator" %}
        Page {{ page }} of {{ pages }}
      {% endblocktranslate %}
    </button>
    <div class="dropdown-menu" role="menu">
      <form class="thread-paginator-form" misago-page="{{ page.number }}" misago-page-url="{{ thread_url }}" misago-page-form>
        <input
          type="number"
          min="1"
          max="{{ paginator.num_pages }}"
          class="form-control"
          placeholder="{% translate 'Page' context 'thread paginator' %}"
          required
        >
        <button class="btn btn-primary" type="submit">
          {% translate "Go" context "thread paginator" %}
        </button>
      </form>
    </div>
  </div>
  {% if page.has_next %}
    <a
      class="btn btn-default btn-outline btn-icon"
      title="{% translate 'Go to next page' context 'thread paginator' %}"
      rel="next"
      href="{{ thread_url }}{{ page.next_page_number }}/"
      hx-get="{{ thread_url }}{{ page.next_page_number }}/"
    >
      <span class="material-icon">chevron_right</span>
    </a>
    <a
      class="btn btn-default btn-outline btn-icon"
      title="{% translate 'Go to last page' context 'thread paginator' %}"
      href="{{ thread_url }}{{ paginator.num_pages }}/"
      hx-get="{{ thread_url }}{{ paginator.num_pages }}/"
    >
      <span class="material-icon">last_page</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to next page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_right</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to last page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">last_page</span>
    </button>
  {% endif %}
</nav>