{% load i18n misago_component %}

{% if is_request_htmx %}
<title>{{ thread }}{% if feed.paginator.number > 1 %} | {% blocktranslate with page=feed.paginator.number context "thread page title" %}Page {{ page }}{% endblocktranslate %}{% endif %} | {{ settings.forum_name }}</title>
{% endif %}

{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<div id="misago-htmx-root">
  <div id="misago-htmx-status-bars">
    {% if status_bars %}
      <div class="status-bars">
        {% includecomponents status_bars %}
      </div>
    {% endif %}
  </div>
  {% include "misago/thread/toolbar.html" with top_toolbar=True bottom_toolbar=False %}
  {% includecomponent feed %}
  {% include "misago/thread/toolbar.html" with top_toolbar=False bottom_toolbar=True %}
  {% if posts_moderation_actions %}
    {% include "misago/thread/posts_moderation_form.html" with moderation_actions=posts_moderation_actions %}
  {% endif %}
</div>