{% load i18n %}

{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<form
  method="post"
  action="{{ poll_vote_url }}"
  hx-boost="true"
>
  {% csrf_token %}
  <div class="poll-vote-form">
    <p class="poll-vote-form-instruction">
      {% if poll.max_choices > 1 %}
        {% blocktrans trimmed context "thread poll voting instruction" %}
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed context "thread poll voting instruction" %}
          Chose option to vote on:
        {% endblocktrans %}
      {% endif %}
    </p>
    <ul class="poll-vote-form-choices">
      {% for choice in poll.choices %}
        <li>
          <label class="{% if poll.max_choices > 1 %}checkbox{% else %}radio{% endif %}">
            <input type="{% if poll.max_choices > 1 %}checkbox{% else %}radio{% endif %}" name="poll_choice" value="{{ choice.id }}"{% if poll.max_choices == 1 %} required{% endif %}>
            {{ choice.name }}
          </label>
        </li>
      {% endfor %}
    </ul>
    <ul class="poll-vote-form-footer">
      <button class="btn btn-primary">
        {% translate "Submit vote" context "thread poll voting submit btn" %}
      </button>
      <a href="{{ poll_results_url }}" hx-boost="true">
        {% translate "View results" context "thread poll voting submit btn" %}
      </a>
    </ul>
  </div>
</form>