{% load i18n misago_avatars %}
<ul class="media-list posts-list">
  {% for post in posts %}
  <li id="post-{{ post.pk }}" class="media post">
    <div class="media-left">
      {% if post.poster %}
        <a href="{{ post.poster.get_absolute_url }}">
          <img class="media-object user-avatar" src="{{ post.poster|avatar:100 }}" alt="">
        </a>
      {% else %}
        <img class="media-object user-avatar" src="{% blankavatar 100 %}" alt="">
      {% endif %}
    </div>
    <div class="media-body">
      <div class="panel panel-default panel-post">
        <div class="panel-heading">
          {% if post.poster %}
            <a class="item-title" href="{{ post.poster.get_absolute_url }}">{{ post.poster.username }}</a>
          {% else %}
            <strong class="item-title">{{ post.poster_name }}</strong>
          {% endif %}
          <a href="{{ post.get_absolute_url }}">{{ post.posted_on|date }}</a>
        </div>
        <div class="panel-body">
          <article class="misago-markup">
            {{ post.parsed|safe }}
          </article>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>