{% load i18n misago_avatars %}
<div id="post-{{ post.pk }}" class="media post">
  {% if post.poster %}
  <a class="user-avatar pull-left" href="{% url USER_PROFILE_URL user_slug=post.poster.slug user_id=post.poster.id %}">
    <img class="media-object" src="{{ post.poster|avatar:100 }}" alt="{% trans "Poster avatar" %}">
  </a>
  {% else %}
  <span class="user-avatar pull-left">
    <img class="media-object" src="{% blankavatar 100 %}" alt="{% trans "Poster avatar" %}">
  </span>
  {% endif %}

  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if post.poster %}
        {% include "misago/user_state.html" with user=post.poster state=post.poster.online_state %}
        <a class="user-name" href="{% url USER_PROFILE_URL user_slug=post.poster.slug user_id=post.poster.id %}">
          {{ post.poster }}</a>
        {% else %}
        <span class="fa fa-power-off fa-fw user-offline tooltip-top" title="{% blocktrans with user=post.poster_name %}{{ user }}'s forum account has been deleted.{% endblocktrans %}"></span>
        <span class="user-name">
          {{ post.poster_name }}
        </span>
        {% endif %}

        <span class="separator">&ndash;</span>

        <a href="{{ post.get_absolute_url }}" class="post-date tooltip-top dynamic time-ago" title="{{ post.posted_on }}" data-timestamp="{{ post.posted_on|date:"c" }}">
          {{ post.posted_on|date }}
        </a>

        {% if not post.is_read %}
        <span class="text-warning">{% trans "New" %}</span>
        {% endif %}

      </div>
      <div class="panel-body">
        {% if post.is_valid %}
        <article class="misago-markup">
          {{ post.parsed|safe }}
        <article>
        {% else %}
        <p class="lead corrupted-message">
          <span class="fa fa-exclamation-triangle"></span>
          {% trans "Post can't be displayed due to invalid message checksum." %}
        </p>
        {% endif %}
      </div>
      <div class="panel-footer">
        le footer
      </div>
    </div>

    {% if post.events %}
    {% include "misago/thread/events.html" %}
    {% endif %}

  </div>
</div>
