{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{% if paginator.page > 1 %}
  {{ thread.title }} ({% blocktrans with page=paginator.page %}page: {{ page }}{% endblocktrans %}) | {{ block.super }}
{% else %}
  {{ thread.title }} | {{ block.super }}
{% endif %}
{% endblock title %}


{% block content %}
<div class="page page-thread {% if category.css_class %}page-thread-{{ category.css_class }}{% endif %}">
  <div class="page-header with-stats with-breadcrumbs">
    {% include "misago/thread/breadcrumbs.html" %}

    <div class="container">
      <h1>{{ thread.title }}</h1>
    </div>

    {% include "misago/thread/stats.html" %}

  </div>

  <div class="container">
    {% include "misago/thread/posts/index.html" %}

    {% include "misago/thread/paginator.html" %}
  </div>
</div>
{% endblock content %}
