{% load i18n misago_plugins %}

<div class="toolbar{% if top_toolbar %} toolbar-min-height{% endif %}">
  {% pluginoutlet THREAD_REPLIES_PAGE_TOOLBAR_START %}
  {% if feed.paginator.has_other_pages %}
    <div class="toolbar-section{% if not bottom_toolbar %} flex-order-last-xs{% endif %}">
      <div class="toolbar-item">
        {% include "misago/thread/paginator.html" with page=feed.paginator paginator=feed.paginator.paginator bottom=bottom_toolbar %}
      </div>
    </div>
  {% endif %}
  {% pluginoutlet THREAD_REPLIES_PAGE_TOOLBAR_BEFORE_SPACER %}
  <div class="toolbar-spacer"></div>
  {% pluginoutlet THREAD_REPLIES_PAGE_TOOLBAR_AFTER_SPACER %}
  {% if reply.url and top_toolbar%}
    <div class="toolbar-section">
      <div class="toolbar-item">
        <a
          href="{{ reply.url }}"
          {% if thread.is_closed or category.is_closed %}
            class="btn btn-default btn-block"
          {% else %}
            class="btn btn-primary btn-block"
          {% endif %}
          misago-scroll-to="#misago-quick-reply-scroll-target"
          misago-focus-on="#misago-htmx-quick-reply textarea"
        >
          {% if thread.is_closed or category.is_closed %}
            <span class="text-danger">{% translate "Reply in locked" context "thread replies toolbar" %}</span>
          {% else %}
            {% translate "Post reply" context "thread replies toolbar" %}
          {% endif %}
        </a>
      </div>
    </div>
  {% endif %}
  {% pluginoutlet THREAD_REPLIES_PAGE_TOOLBAR_END %}
</div>