{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Change your options" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-options page-error page-noscript">
  <div class="page-header-bg"></div>
  <noscript>
    <div class="container">
      <div class="message-panel">

        <div class="message-icon">
          <span class="material-icon">code</span>
        </div>

        <div class="message-body">
          <p class="lead">{% trans "Enable JavaScript" %}</p>
          <p>{% trans "You need to enable JavaScript in your browser to change your options." %}</p>
        </div>

      </div>
    </div>
  </noscript>
</div>
{% endblock content %}
