{% load i18n %}
{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}
<div id="misago-htmx-root">
  <div id="misago-page-scroll-target" class="scroll-target"></div>
  <div class="panel panel-default panel-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% trans "Your attachments" context "account attachments page" %}
      </h3>
    </div>
    {% include "misago/account/settings/attachments_usage.html" %}
    <ul class="list-group">
      {% for attachment in attachments.items %}
        <li class="list-group-item attachment-list-item">{{ attachment.name }}</li>
      {% endfor %}
    </ul>
  </div>
  {% include "misago/account/settings/attachments_toolbar.html" %}
</div>