{% load i18n %}
<div class="panel-body panel-attachments-storage">
  <h4>
    {% trans "Storage usage" context "account attachments page" %}
  </h4>
  <div class="progress">
    {% if storage_usage.posted_pc %}
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuenow="{{ storage_usage.posted_pc }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{ storage_usage.posted_pc }}%;"
      ></div>
    {% endif %}
    {% if storage_usage.unused_pc %}
      <div
        class="progress-bar progress-bar-warning"
        role="progressbar"
        aria-valuenow="{{ storage_usage.unused_pc }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{ storage_usage.unused_pc }}%;"
      ></div>
    {% endif %}
  </div>
  <ul class="attachment-usage-legend">
    {% if storage_usage.total_limit %}
      <li>
        <strong>{% trans "Total:" context "account attachments page" %}</strong>
        {{ storage_usage.total_limit|filesizeformat }}
      </li>
    {% endif %}
    <li>
      <strong>{% trans "Used:" context "account attachments page" %}</strong>
      {{ storage_usage.total|filesizeformat }}
    </li>
    <li>
      <span class="attachment-usage-legend-item attachment-usage-posted"></span>
      <strong>{% trans "Posted:" context "account attachments page" %}</strong>
      {{ storage_usage.posted|filesizeformat }}
    </li>
    {% if storage_usage.unused %}
      <li>
        <span class="attachment-usage-legend-item attachment-usage-unused"></span>
        <strong>{% trans "Temporary:" context "account attachments page" %}</strong>
        {{ storage_usage.unused|filesizeformat }}
      </li>
    {% endif %}
    {% if not storage_usage.total_limit and storage_usage.unused_limit %}
      <li>
        <span class="attachment-usage-legend-item"></span>
        <strong>{% trans "Available:" context "account attachments page" %}</strong>
        {{ storage_usage.free|filesizeformat }}
      </li>
    {% endif %}
  </ul>

  {% if storage_usage.total %}
    <p class="attachment-usage-help-text">
      <span class="attachment-usage-legend-item attachment-usage-posted"></span>
      <strong>{% trans "Posted:" context "account attachments page" %}</strong>
      {% blocktrans trimmed with posted=storage_usage.posted|filesizeformat context "account attachments page" %}
        Attachments associated with posts are taking {{ posted }}.
      {% endblocktrans %}
    </p>
  {% endif %}

  {% if storage_usage.unused %}
    <p class="attachment-usage-help-text">
      <span class="attachment-usage-legend-item attachment-usage-unused"></span>
      <strong>{% trans "Temporary:" context "account attachments page" %}</strong>
      {% if storage_usage.unused_lifetime_days %}
        {% blocktrans trimmed with reserved=storage_usage.unused|filesizeformat context "account attachments page" %}
          Attachments that are not associated with any post are taking {{ reserved }}.
        {% endblocktrans %}
        {% blocktrans trimmed count days=storage_usage.unused_lifetime_days context "account attachments page" %}
          These files are automatically deleted one day after upload, freeing up space.
        {% plural %}
          These files are automatically deleted {{ days }} days after upload, freeing up space.
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed count hours=storage_usage.unused_lifetime context "account attachments page" %}
          These files are automatically deleted one hour after upload, freeing up space.
        {% plural %}
          These files are automatically deleted {{ hours }} hours after upload, freeing up space.
        {% endblocktrans %}
      {% endif %}
      {% if storage_usage.total_limit and storage_usage.unused_limit %}
        {% blocktrans trimmed with limit=storage_usage.unused_limit|filesizeformat context "account attachments page" %}
          Their total size cannot exceed {{ limit }}, even if your available storage space is larger.
        {% endblocktrans %}
        {% blocktrans trimmed context "account attachments page" %}
          Once this limit is reached, you won't be able to upload new attachments until some of it is freed by posting or deleting existing temporary attachments.
        {% endblocktrans %}
      {% endif %}
    </p>
  {% endif %}

  {% if not storage_usage.total_limit and storage_usage.unused_limit %}
    <p class="attachment-usage-help-text">
      <span class="attachment-usage-legend-item"></span>
      <strong>{% trans "Available:" context "account attachments page" %}</strong>
      {% blocktrans trimmed with limit=storage_usage.unused_limit|filesizeformat context "account attachments page" %}
        Your attachment storage is unlimited, but you can't exceed {{ limit }} in temporary attachments.
      {% endblocktrans %}
      {% blocktrans trimmed context "account attachments page" %}
        Once this space is full, you won't be able to upload new attachments until some of it is freed by posting or deleting existing temporary attachments.
      {% endblocktrans %}
    </p>
  {% endif %}
</div>