{% load i18n misago_capture misago_formats %}

{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<div id="misago-htmx-root">
  <div id="misago-page-scroll-target" class="scroll-target"></div>
  <div class="panel panel-default panel-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% translate "Your attachments" context "account attachments page" %}
      </h3>
    </div>
    {% include "misago/account/settings/attachments_storage.html" %}
    <ul class="list-group">
      {% for item in attachments.items %}
        <li class="list-group-item attachment-list-item">
          {% if item.attachment.upload %}
            <a href="{{ item.attachment.get_absolute_url }}" class="attachment-list-item-download-btn" target="_blank">
              {% if item.attachment.filetype.is_image %}
                <div
                  class="attachment-list-item-image"
                  style="background-image: url('{{ item.attachment.get_thumbnail_url|default:item.attachment.get_absolute_url }}');"
                ></div>
              {% else %}
                <div class="attachment-list-item-icon">
                  {% if item.attachment.filetype.is_video %}
                    <span class="material-icon">theaters</span>
                  {% else %}
                    <span class="material-icon">description</span>
                  {% endif %}
                </div>
              {% endif %}
            </a>
          {% else %}
            <div class="attachment-list-item-download-btn">
              <div class="attachment-list-item-icon-broken">
                <span class="material-icon">broken_image</span>
              </div>
            </div>
          {% endif %}
          <div class="attachment-list-item-body">
            <div class="attachment-list-item-name">
              {% if item.attachment.upload %}
                <a href="{{ item.attachment.get_details_url }}">{{ item.attachment.name }}</a>
              {% else %}
                <s>{{ item.attachment.name }}</s>
              {% endif %}
            </div>
            <ul class="attachment-list-item-details">
              <li>{{ item.attachment.size|filesizeformat }}</li>
              <li>
                {% capture trimmed as uploaded_at %}
                  <span
                    title="{{ item.attachment.uploaded_at|date:'DATETIME_FORMAT' }}"
                    misago-timestamp="{{ item.attachment.uploaded_at.isoformat }}"
                  >
                    {{ item.attachment.uploaded_at|date_relative }}
                  </span>
                {% endcapture %}
                {% blocktranslate trimmed with uploaded_at=uploaded_at|safe context "account attachments page" %}
                  Uploaded {{ uploaded_at }}
                {% endblocktranslate %}
              </li>
              {% if item.show_post %}
                <li>
                  {% capture trimmed as thread %}
                    <a href="{{ item.attachment.post.get_absolute_url }}" class="attachment-list-item-thread" target="_blank">
                      {{ item.attachment.thread.title }}
                    </a>
                  {% endcapture %}
                  {% blocktranslate trimmed with thread=thread|safe context "account attachments page" %}
                    In {{ thread }}
                  {% endblocktranslate %}
                </li>
              {% endif %}
            </ul>
          </div>
          {% if item.show_delete %}
            <div class="attachment-list-item-delete-btn">
              <noscript>
                <a
                  class="btn btn-default btn-icon btm-sm"
                  href="{{ item.attachment.get_delete_url }}{{ attachments.referrer }}"
                  title="{% translate 'Delete' context 'account attachments page' %}"
                >
                  <span class="material-icon">delete</span>
                </a>
              </noscript>
              <form
                class="d-js-block"
                action="{{ item.attachment.get_delete_url }}{{ attachments.referrer }}"
                method="post"
                mg-confirm="{% translate 'Are you sure you want to delete this attachment? This action cannot be undone.' context 'attachment delete confirmation' %}"
              >
                {% csrf_token %}
                <button class="btn btn-default btn-icon btm-sm" title="{% translate 'Delete this attachment' context 'account attachments page' %}">
                  <span class="material-icon">delete</span>
                </button>
              </form>
            </div>
          {% endif %}
        </li>
      {% empty %}
        <li class="list-group-item attachment-list-blankslate">
          {% blocktranslate trimmed context "account attachments page" %}
            You haven't uploaded any attachments, or they have been deleted.
          {% endblocktranslate %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include "misago/account/settings/attachments_toolbar.html" %}
</div>