{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% translate "Account settings" context "account settings page" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-account-settings">
  {% include "misago/account/settings/header.html" %}

  <div class="container page-container">
    <div class="row">
      <div class="col-md-3 hidden-xs hidden-sm">
        {% include "misago/account/settings/menu.html" %}
      </div>
      <div class="col-md-9">
        {% block page %}{% endblock page %}
      </div>
    </div>
  </div>

</div>
{% endblock content %}