{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% translate "Account deleted" context "account deleted page" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-error">
  <div class="container page-container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">check</span>
      </div>

      <div class="message-body">
        <p class="lead">
          {% blocktranslate trimmed with username=deleted_account context "account deleted page" %}
            {{ username }}, your account is now being deleted.
          {% endblocktranslate %}
        </p>
        <p>
          {% translate "You have been logged out, and your account will remain locked until it is deleted." context "account deleted page" %}
        </p>
        <p>
          {% translate "This process may take a few minutes to complete." context "account deleted page" %}
        </p>
        <p>
          <a href="{% url 'misago:index'%}" class="btn btn-default">
            {% translate "Return to homepage" context "account deleted page" %}
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}