{% extends "misago/account/settings/base.html" %}
{% load i18n misago_forms %}


{% block title %}{% translate "Delete account" context "account delete page" %} | {{ block.super }}{% endblock %}


{% block page %}
<form action="{% url 'misago:account-delete' %}" method="post">
  {% csrf_token %}
  <div class="panel panel-default panel-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% translate "Delete account" context "account delete page" %}
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {% translate "This form allows you to delete your account. This action is not reversible." context "account delete help" %}
      </p>
      <p>
        {% translate "Your account, including its profile details, IP addresses, and notifications, will be deleted." context "account delete help" %}
      </p>
      <p>
        {% translate "Other content will NOT be deleted, but the username displayed next to it will be changed to one shared by all deleted accounts." context "account delete help" %}
      </p>
      <p>
        {% translate "Your username and email address will become available again for use during registration or for other accounts to change to." context "account delete help" %}
      </p>
    </div>
    <div class="panel-footer">
      {% with field=form.password %}
        {% for error in field.errors %}
          <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <div class="input-group">
          <input type="password" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{% translate 'Enter your password to confirm' context 'account delete page form' %}" {{ field|requiredhtml }} />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
              {% translate "Delete my account" context "account delete submit btn" %}
            </button>
          </span>
        </div>
      {% endwith %}
    </div>
  </div>
</form>
{% endblock page %}