{% extends "misago/base.html" %}
{% load i18n misago_capture %}


{% block title %}{% translate "Confirm email change" context "account email change page" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-message page-message-success page-options-done">
  <div class="container page-container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">check</span>
      </div>

      <div class="message-body">
        <p class="lead">
          {% blocktranslate trimmed with username=username new_email=new_email context "account email changed page" %}
            {{ username }}, your email has been changed to {{ new_email }}
          {% endblocktranslate %}
        </p>
        <p class="message-buttons">
          {% if user.is_authenticated %}
            <a href="{% url 'misago:account-settings' %}" class="btn btn-default">
              {% translate "Go to account settings" context "account email changed page" %}
            </a>
          {% endif %}
          <a href="{% url 'misago:index' %}" class="btn btn-default">
            {% translate "Go to home page" context "account email changed page" %}
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
