{% load i18n misago_forms %}
{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}
<div id="misago-htmx-root">
  <form
    action="{% url 'misago:account-password' %}"
    method="post"
    hx-post="{% url 'misago:account-password' %}"
    hx-trigger="submit"
    hx-target="#misago-htmx-root"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <div class="panel panel-default panel-form">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% translate "Change password" context "account password page" %}
        </h3>
      </div>
      <div class="panel-body">
        {% with field=form.current_password %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">
              {% translate "Current password:" context "account settings form" %}
            </label>
            <input type="password" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field|requiredhtml }}/>
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
            {% include "misago/account/settings/forgotten_password_help_block.html" %}
          </div>
        {% endwith %}
        {% with field=form.new_password %}
          <div
            class="form-group{% if field.errors %} has-error{% endif %}"
            misago-validate="{% url 'misago:account-validate-password' %}"
            misago-validate-user="{{ user.id }}"
          >
            <label class="control-label" for="{{ field.id_for_label }}">
              {% translate "New password:" context "account password page form" %}
            </label>
            <input type="password" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field|requiredhtml }}/>
            {% for error in field.errors %}
              <p class="help-block" misago-dynamic-message="true">{{ error }}</p>
            {% endfor %}
          </div>
        {% endwith %}
        {% with field=form.confirm_password %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">
              {% translate "Confirm new password:" context "account password page form" %}
            </label>
            <input type="password" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {{ field|requiredhtml }}/>
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        {% endwith %}
      </div>
      <div class="panel-footer panel-footer-sticky">
        <button class="btn btn-primary" type="submit">
          {% translate "Change password" context "account password submit btn" %}
        </button>
      </div>
    </div>
  </form>
</div>