{% load i18n misagoforms %}
{% if is_request_htmx %}
{% include "misago/snackbars.html" %}
{% endif %}
<form
  id="misago-account-form"
  action="{% url 'misago:account-preferences' %}"
  method="post"
  hx-post="{% url 'misago:account-preferences' %}"
  hx-trigger="submit"
  hx-target="#misago-account-form"
  hx-swap="outerHTML"
>
  {% csrf_token %}
  <div class="panel panel-default panel-form">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% trans "Change preferences" context "account preferences page" %}
      </h3>
    </div>
    <div class="panel-body">
      <fieldset>
        <legend>
          {% trans "Privacy" context "account preferences page fieldset" %}
        </legend>
        <div class="form-group">
          {% with form.is_hiding_presence as field %}
            <label class="control-label">
              {% trans "Show my online status to other users:" context "account preferences page form" %}
            </label>
            <div class="form-control-choices">
              {% for choice in field.subwidgets %}
                <div class="radio">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                    {{ choice.choice_label }}
                  </label>
                </div>
              {% endfor %}
            </div>
            <p class="help-block">
              {% blocktrans trimmed context "account preferences page form" %}
                Hiding your online status will also remove the information about your last activity on the site from your profile. Users with a special privilege to see hidden online statuses will still be able to see when you are online and when you've been last active.
              {% endblocktrans %}
            </p>
          {% endwith %}
        </div>
        <div class="form-group">
          {% with form.limits_private_thread_invites_to as field %}
            <label class="control-label">
              {% trans "Limit who can invite me to their private threads:" context "account preferences page form" %}
            </label>
            <div class="form-control-choices">
              {% for choice in field.subwidgets %}
                <div class="radio">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                    {{ choice.choice_label }}
                  </label>
                </div>
              {% endfor %}
            </div>
            <p class="help-block">
              {% blocktrans trimmed context "account preferences page form" %}
                Some users may have special privileges allowing them to bypass this preference.
              {% endblocktrans %}
            </p>
          {% endwith %}
        </div>
      </fieldset>
      <fieldset>
        <legend>
          {% trans "Automatic watching" context "account preferences page fieldset" %}
        </legend>
        <table class="table-watching-preferences">
          <tr>
            <th>&nbsp;</th>
            <th class="table-watching-option">
              <attr title="{% trans 'Don\'t watch' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_none</span>
              </attr>
            </th>
            <th class="table-watching-option">
              <attr title="{% trans 'Notify on site' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_active</span>
              </attr>
            </th>
            <th class="table-watching-option">
              <attr title="{% trans 'Notify on site and with email' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_active</span>
                <span class="material-icon">add</span>
                <span class="material-icon">mail</span>
              </attr>
            </th>
          </tr>
          {% with form.watch_started_threads as field %}
            <tr>
              <td class="table-watching-label">
                {% trans "Threads I am starting" context "account preferences page watch table" %}
              </td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
          {% with form.watch_replied_threads as field %}
            <tr>
              <td class="table-watching-label">
                {% trans "Threads I am replying to" context "account preferences page watch table" %}
              </td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
          {% with form.watch_new_private_threads_by_followed as field %}
            <tr>
              <td class="table-watching-label">
                {% trans "Private threads I am invited to by users I follow" context "account preferences page watch table" %}
              </td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
          {% with form.watch_new_private_threads_by_other_users as field %}
            <tr>
              <td class="table-watching-label">
                {% trans "Private threads I am invited to by other users" context "account preferences page watch table" %}
              </td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
        </table>
      </fieldset>
      <fieldset>
        <legend>
          {% trans "Notifications" context "account preferences page fieldset" %}
        </legend>
        <table class="table-watching-preferences">
          <tr>
            <th>&nbsp;</th>
            <th class="table-watching-option">
              <attr title="{% trans 'Don\'t watch' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_none</span>
              </attr>
            </th>
            <th class="table-watching-option">
              <attr title="{% trans 'Notify on site' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_active</span>
              </attr>
            </th>
            <th class="table-watching-option">
              <attr title="{% trans 'Notify on site and with email' context 'account preferences page watch table' %}">
                <span class="material-icon">notifications_active</span>
                <span class="material-icon">add</span>
                <span class="material-icon">mail</span>
              </attr>
            </th>
          </tr>
          {% with form.notify_new_private_threads_by_followed as field %}
            <tr>
              <td>{% trans "Notify about new private threads by users I follow" context "account preferences page notify table" %}</td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
          {% with form.notify_new_private_threads_by_other_users as field %}
            <tr>
              <td>{% trans "Notify about new private threads by other users" context "account preferences page notify table" %}</td>
              {% for choice in field.subwidgets %}
                <td class="table-watching-option">
                  <label>
                    <input type="radio" name="{{ field.html_name }}" id="{{ choice.id_for_label }}" value="{{ choice.data.value }}"{{ choice|requiredhtml }}{{ choice|checkedhtml }}>
                  </label>
                </td>
              {% endfor %}
            </tr>
          {% endwith %}
        </table>
      </fieldset>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" type="submit">
        {% trans "Save changes" context "account preferences submit btn" %}
      </button>
    </div>
  </div>
</form>