{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Change forgotten password error" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-error page-forgotten-password-error">
  <div class="container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">info_outline</span>
      </div>

      <div class="message-body">
        <p class="lead">{% trans "Can't change forgotten password." %}</p>
        <p>{{ message }}</p>
        <p>
          <a href="{% url 'misago:forgotten-password' %}">
            Request another password change link.
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}