{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Password changed" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-key">
      {% trans "Password changed" %}
    </h1>
  </div>
</div>

<div class="container">
  <div class="misago-markup">

    <p class="lead">
      {% blocktrans trimmed with email=requesting_user.email %}
      New password has been set on your account and was send to {{ email }}.
      {% endblocktrans %}
    </p>

  </div>
</div>
{% endblock content %}
