{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Change forgotten password" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-key">
      {% trans "Change forgotten password" %}
    </h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h2>{% trans "Recovering password" %}</h2>

      <p>{% trans "Because user passwords are processed in an irreversible way before being saved to database, it is not possible for us to simply send you your password." %}</p>

      <p>{% trans "Instead you will be sent link to form that will let you set new password on your account. This link will expire after you change password or seven days pass." %}</p>

    </div>
    <div class="col-md-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h3>{% trans "Request link" %}</h3>
          </div>

          {% include "misago/auth_form_errors.html" %}

          <div class="form-body no-fieldsets">

            <div class="form-group">
              <div class="control-input">
                <input type="text" name="username" class="form-control input-lg" placeholder="{% trans "Username or e-mail" %}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Send link" %}</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
