{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Change forgotten password" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-key">
      {% trans "Change forgotten password" %}
    </h1>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h2>{% trans "Recovering password" %}</h2>

      <p>{% trans "Because user passwords are processed in an irreversible way before being saved to database, it is not possible for us to simply send you your password. Instead your current password can be replaced with new randomly generated password." %}</p>

      <p>{% trans "In order to protect our users from fraudulent password change, you need to first confirm your wish to change password by clicking the confirmation link that will be generated and sent to e-mail address associated with your account." %}</p>

    </div>
    <div class="col-md-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h3>{% trans "Request confirmation link" %}</h3>
          </div>

          {% include "misago/auth_form_errors.html" %}

          <div class="form-body no-fieldsets">

            <div class="form-group">
              <div class="control-input">
                <input type="text" name="username" class="form-control input-lg" placeholder="{% trans "Username or e-mail" %}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Send confirmation link" %}</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
