//
// Forum Footer
// --------------------------------------------------

// Misago Branding, don't edit please
.misago-branding {
  a {
    display: inline-block;
    margin-top: @line-height-computed * 1.5;

    color: @text-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @misago-branding-size;
    text-align: center;

    .brand-border {
      background: @text-color;
      border-radius: @misago-branding-size * 0.15;
      display: inline-block;
      margin-right: @misago-branding-size * 0.1;
      position: relative;
      top: @misago-branding-size * 0.18;
      overflow: hidden;
      width: @misago-branding-size + 3px;
      height: @misago-branding-size + 3px;

      &>span {
        display: inline-block;
        position: absolute;
        bottom: -20%;
        right: -18%;
        .rotate(-45deg);

        color: @body-bg;
        font-size: @misago-branding-size * 1.2;
        font-weight: bold;
      }
    }

    .subscript {
      display: inline-block;
      position: relative;
      bottom: (@misago-branding-size  - (@misago-branding-size * 0.6)) / 2 - 1px;

      font-size: @misago-branding-size * 0.6;
    }

    &, &:link, &:visited {
      .opacity(0.4);
    }

    &:active, &:hover {
      .opacity(1);

      text-decoration: none;
    }
  }
}
