//
// Page Header
// --------------------------------------------------


// Generic spacing and stuff
//
//##


// Breadcrumb
//
//##


// Actions
//
//##


// Details
//
//##


// Pills
//
//##

// FUNCTIONALS
.page-header {
  margin-top: @line-height-computed * -1;

  &>.container {
    .breadcrumb {
      margin-bottom: (@line-height-computed * @headings-line-height) * -1;

      color: @breadcrumb-color;
      font-size: @font-size-small;

      &>li {
        + li:before {
          /* Tinysh hack to remove BS3's style */
          display: none;
        }

        a:link, a:visited {
          color: @breadcrumb-color;
        }

        a:hover, a:active {
          color: @breadcrumb-active-color;
        }

        span {
          margin: 0px 4px 0px 6px;
        }
      }
    }

    .page-actions {
      float: right;
      margin-top: (@line-height-computed * @headings-line-height) * -1 - (@line-height-computed * 1.5) + @padding-base-vertical - 1;

      .dropdown-menu {
        left: auto;
        right: 0px;

        &:after {
          left: auto;
          right: 10px;
        }
      }
    }

    .page-details {
      color: @text-muted;

      a:link, a:visited {
        color: @text-muted;
      }

      a:active, a:hover {
        color: @link-muted-hover-color;
        text-decoration: none;
      }
    }
  }
}

.page-pills {
  border-bottom: 1px solid @page-header-border-color;
  margin: @line-height-computed * -1 0px @line-height-computed;
  padding: (@line-height-computed / 2) 0px;

  .nav-pills {
    margin: 0px;

    a {
      padding: @page-pills-padding;
    }
  }
}
