//
// Page Header
// --------------------------------------------------


.page-header {
  margin-top: @line-height-computed * -1;

  &>.container {
    &>.page-actions {
      float: right;
      margin-top: (@line-height-computed * @headings-line-height) * -1 - (@line-height-computed * 1.5) + @padding-base-vertical - 1;

      .dropdown-menu {
        left: auto;
        right: 0px;

        &:after {
          left: auto;
          right: 10px;
        }
      }
    }

    &>.page-details {

    }
  }
}

.page-pills {
  border-bottom: 1px solid @page-header-border-color;
  margin: @line-height-computed * -1 0px @line-height-computed;
  padding: (@line-height-computed / 2) 0px;

  .nav-pills {
    margin: 0px;

    a {
      padding: @page-pills-padding;
    }
  }
}
