//
// Forum Navbar
// --------------------------------------------------


//== Brand
//
//**
.navbar {
  .navbar-brand {
    .navbar-vertical-align(@navbar-height - (@navbar-brand-size - @font-size-large) / 2 + 1);
    position: relative;
    bottom: 1px;

    font-size: @navbar-brand-size;
  }
}


//== Primary menu
//
//**
.navbar-nav-primary {
  li {
    a {
      font-size: @font-size-large;

      .badge {
        border-radius: @border-radius-base;
        position: relative;
        bottom: 2px;
      }

      &:hover, &:active {
        .badge {
          background-color: @link-color;
        }
      }

      &.new {
        &:hover, &:active {
          color: @navbar-new-link-hover-color;

          .badge {
            background-color: @navbar-new-link-hover-color;
          }
        }
      }

      &.important {
        &:hover, &:active {
          color: @navbar-important-link-hover-color;

          .badge {
            background-color: @navbar-important-link-hover-color;
          }
        }
      }
    }
  }
}

/* Big displays */
@media (min-width: @screen-sm-min) {
  .navbar-nav-primary {
    .navbar-vertical-align(@font-size-large + 12px);

    &>li {
      /* Some space between icons */
      margin-left: 4px;

      &>a {
        /* Make button blocky */
        border-radius: @border-radius-base;
        padding: 6px 0px;
        width: 36px;

        text-align: center;

        /* Hide item labels on big displays */
        .item-label {
          display: none;
        }

        /* Links with badges displaying items counts */
        &.badged {
          padding: 6px 8px;
          width: auto;

          .badge {
            margin-bottom: -2px;
          }
        }

        /* Primary styles */
        &:link, &:visited {
          background: @navbar-primary-link-bg !important;
          border: 1px solid @navbar-primary-link-border !important;

          color: @navbar-primary-link-color !important;

          .badge {
            background-color: @navbar-primary-link-color;

            color: @navbar-primary-link-bg;
          }
        }

        &:hover {
          background: @navbar-primary-link-hover-bg !important;
          border: 1px solid @navbar-primary-link-hover-border !important;

          color: @navbar-primary-link-hover-color !important;

          .badge {
            background-color: @navbar-primary-link-hover-color;

            color: @navbar-primary-link-hover-bg;
          }
        }

        &:active {
          background: @navbar-primary-link-active-bg !important;
          border: 1px solid @navbar-primary-link-active-border !important;

          color: @navbar-primary-link-active-color !important;

          .badge {
            background-color: @navbar-primary-link-active-color;

            color: @navbar-primary-link-active-bg;
          }
        }

        /* Important links styles */
        &.important {
          background-color: @navbar-important-link-bg;
          border-color: @navbar-important-link-border;

          color: @navbar-important-link-color;

          &:link, &:visited {
            background: @navbar-important-link-bg !important;
            border: 1px solid @navbar-important-link-border !important;

            color: @navbar-important-link-color !important;

            .badge {
              background-color: @navbar-important-link-color;

              color: @navbar-important-link-bg;
            }
          }

          &:hover {
            background: @navbar-important-link-hover-bg !important;
            border: 1px solid @navbar-important-link-hover-border !important;

            color: @navbar-important-link-hover-color !important;

            .badge {
              background-color: @navbar-important-link-hover-color;

              color: @navbar-important-link-hover-bg;
            }
          }

          &:active {
            background: @navbar-important-link-active-bg !important;
            border: 1px solid @navbar-important-link-active-border !important;

            color: @navbar-important-link-active-color !important;

            .badge {
              background-color: @navbar-important-link-active-color;

              color: @navbar-important-link-active-bg;
            }
          }
        }

        /* "New" links styles */
        &.new {
          background-color: @navbar-new-link-bg;
          border-color: @navbar-new-link-border;

          color: @navbar-new-link-color;

          &:link, &:visited {
            background: @navbar-new-link-bg !important;
            border: 1px solid @navbar-new-link-border !important;

            color: @navbar-new-link-color !important;

            .badge {
              background-color: @navbar-new-link-color;

              color: @navbar-new-link-bg;
            }
          }

          &:hover {
            background: @navbar-new-link-hover-bg !important;
            border: 1px solid @navbar-new-link-hover-border !important;

            color: @navbar-new-link-hover-color !important;

            .badge {
              background-color: @navbar-new-link-hover-color;

              color: @navbar-new-link-hover-bg;
            }
          }

          &:active {
            background: @navbar-new-link-active-bg !important;
            border: 1px solid @navbar-new-link-active-border !important;

            color: @navbar-new-link-active-color !important;

            .badge {
              background-color: @navbar-new-link-active-color;

              color: @navbar-new-link-active-bg;
            }
          }
        }
      }
    }
  }
}


//== User menu
//
//**
.navbar-nav-user {
  &>li {
    &>a.user-toggle {
      overflow: auto;

      font-size: @font-size-large;

      img {
        border-radius: @border-radius-base;
        height: 32px;
      }

      .caret-border {
        background: @navbar-user-link-caret-bg;
        border-radius: @border-radius-small;
        border: 1px solid @navbar-user-link-caret-border;
        padding: 0px 5px;
        padding-bottom: 1px;

        color: @navbar-user-link-caret-color;

        .caret{
          display: block;
          border-top: @caret-width-base * 1.25 solid;
          border-right: @caret-width-base * 1.25 solid transparent;
          border-left: @caret-width-base * 1.25 solid transparent;
          margin: 0px;
        }
      }

      &:hover {
        .caret-border {
          background: @navbar-user-link-caret-hover-bg;
          border: 1px solid @navbar-user-link-caret-hover-border;

          color: @navbar-user-link-caret-hover-color;
        }
      }

      &:active, &:focus {
        .caret-border {
          background: @navbar-user-link-caret-active-bg;
          border: 1px solid @navbar-user-link-caret-active-border;

          color: @navbar-user-link-caret-active-color;
        }
      }
    }
  }
}

/* Big displays */
@media (min-width: @screen-sm-min) {
  /* Put some distance between user menu and primary nav */
  .navbar-nav-user {
    margin-left: @line-height-computed * 2;
  }

  /* Change way switch and dropdown appears */
  .navbar-nav-user {
    .dropdown-toggle.user-toggle {
      padding-top: ((@navbar-height - @font-size-large) / 2) + 1px;
      padding-left: 0px;
      padding-right: 0px;

      img {
        float: right;
        height: @navbar-height - @font-size-base + 1px;
        margin: (@font-size-base / 2 * -1) 0px;
        margin-bottom: (@font-size-base / 2 * -1) - 1px;
        margin-left: 8px;
        position: relative;
        bottom: 1px;
      }

      .caret-border {
        float: right;
        margin-top: 2px;
        margin-left: 6px;
        padding: 5px 2px;

        .caret{
          margin: 0px;
          margin-bottom: -1px;
        }
      }

      &:link, &:visited {
        color: @navbar-user-name-color;
      }

      &:hover {
        color: @navbar-user-name-hover-color;
      }

      &:active, &:focus {
        color: @navbar-user-name-active-color;
      }

      &, &:visited, &:hover, &:active, &:focus {
        background: transparent;
      }
    }

    .dropdown-menu {
      min-width: 256px;
      right: -8px;
      top: @navbar-height + 1px;

      &:after {
        border: solid transparent;
        border-bottom-color: @dropdown-bg;
        border-width: 6px;
        content: "";
        height: 0;
        position: absolute;
        pointer-events: none;
        right: 10px;
        top: -11px;
        width: 0;
      }
    }

    &>li.open {
      .dropdown-toggle.user-toggle {
        &, &:visited, &:hover, &:active, &:focus {
          background: transparent;

          color: @navbar-user-name-active-color;
        }
      }
    }
  }
}


//== Guest buttons
//
//**
.navbar-nav-guest {
  .navbar-vertical-align(@font-size-large + 12px);

  .btn-sign-in {
    margin: 0px;

    &, &:link, &:visited {
      background-color: @btn-signin-bg;
      border-color: @btn-signin-border;

      color: @btn-signin-color;
    }

    &:hover {
      background-color: @btn-signin-hover-bg;
      border-color: @btn-signin-hover-border;
      box-shadow: none;

      color: @btn-signin-hover-color;
    }

    &:active, &:focus {
      background-color: @btn-signin-active-bg;
      border-color: @btn-signin-active-border;
      box-shadow: none;

      color: @btn-signin-active-color;
    }
  }

  .btn-register {
    margin: 0px;

    &, &:link, &:visited {
      background-color: @btn-register-bg;
      border-color: @btn-register-border;

      color: @btn-register-color;
    }

    &:hover {
      background-color: @btn-register-hover-bg;
      border-color: @btn-register-hover-border;
      box-shadow: none;

      color: @btn-register-hover-color;
    }

    &:active, &:focus {
      background-color: @btn-register-active-bg;
      border-color: @btn-register-active-border;
      box-shadow: none;

      color: @btn-register-active-color;
    }
  }
}

/* On big displays put some distance between guest nav and other nav */
@media (min-width: @screen-sm-min) {
  .navbar-nav-guest {
    margin-left: @line-height-computed * 2;
  }
}


//== Small displays dropdowns
//
//**
@media (max-width: @screen-sm-min) {
  /* Hide carets */
  .navbar {
    .dropdown-menu {
      &:after {
        display: none;
      }
    }
  }

  /* Make buttons size equal to that of links */
  .navbar {
    .dropdown-menu {
      li {
        form {
          button {
            padding: 3px 25px;
          }
        }
      }
    }
  }

  /* Color badges in red and white */
  .navbar {
    .dropdown-menu {
      li {
        a {
          &, &:link, &:visited, &:hover, &:active {
            .badge {
              background-color: @brand-danger;
              border-radius: @border-radius-base;

              color: @dropdown-bg;
            }
          }
        }
      }
    }
  }

  /* Dropdown links and buttons */
  .navbar {
    .dropdown-menu {
      li {
        form {
          button {
            color: @navbar-default-link-color;

            &:hover {
              background: none;

              color: @navbar-default-link-hover-color;
            }

            &:active, &:focus {
              background: none;

              color: @navbar-default-link-active-color;
            }
          }
        }
      }
    }
  }

  .navbar-inverse {
    .dropdown-menu {
      button {
        color: @navbar-inverse-link-color;

        &:hover {
          background: none;

          color: @navbar-inverse-link-hover-color;
        }

        &:active, &:focus {
          background: none;

          color: @navbar-inverse-link-active-color;
        }
      }
    }
  }

  /* Make open dropdowns differ*/
  .navbar {
    .dropdown.open {
      background: darken(@navbar-default-bg, 3%);
      border-bottom: 2px solid darken(@navbar-default-bg, 6%);

      .dropdown-toggle {
        &:link, &:active, &:visited, &:hover {
          background: darken(@navbar-default-bg, 6%);
        }
      }

      .dropdown-menu {
        li.divider {
          background-color: darken(@navbar-default-bg, 9%);
        }
      }
    }
  }

  .navbar-inverse {
    .dropdown.open {
      background: lighten(@navbar-inverse-bg, 3%);
      border-bottom: 2px solid lighten(@navbar-inverse-bg, 6%);

      .dropdown-menu {
        li.divider {
          background-color: lighten(@navbar-inverse-bg, 9%);
        }
      }
    }
  }
}
