{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Activation error" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-error page-activation-error">
  <div class="page-header-bg"></div>
  <div class="container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">info_outline</span>
      </div>

      <div class="message-body">
        <p class="lead">{% trans "Can't activate account." %}</p>
        <p>{{ message }}</p>
        <p>
          <a href="{% url 'misago:request-activation' %}">
            Request another activation link.
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}