{% load i18n misago_avatars %}
{% if search %}
  {% for choice in choices %}
    <button type="button" class="dropdown-item admin-user-select-item" data-value="{{ choice.id }}">
      <img src="{{ choice|avatar:20 }}" alt="" width="20" height="20">
      <span class="item-name">{{ choice.username }}</span>
    </button>
  {% empty %}
    <div class="admin-user-select-message">
      {% translate "No matching users have been found." context "admin select user" %}
    </div>
  {% endfor %}
{% else %}
  <div class="admin-user-select-message">
    {% translate "Enter a user name to search." context "admin select user" %}
  </div>
{% endif %}