{% extends "misago/base.html" %}
{% load i18n misago_forms %}


{% block title %}
  {% translate "Start new thread" context "start thread page" %} | {{ category }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-start-thread">
  <div class="container page-container">

    {% if preview %}
      {% include "misago/posting/preview.html" %}
    {% endif %}

    <form 
      action="{% url 'misago:start-thread' id=category.id slug=category.slug %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="panel panel-default panel-form">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% translate "Start new thread" context "start thread page" %}
          </h3>
        </div>
        {% if formset.has_multiple_tabs %}
          <div class="panel-body">
            {% include "misago/posting/errors.html" %}
            <div>
              {% for tab in formset.get_tabs %}
                <a href="#{{ tab.html_id }}" class="btn btn-primary">
                  {{ tab }}
                </a>
              {% endfor %}
            </div>
          </div>
          {% for tab in formset.get_tabs %}
            <div class="panel-body" id="{{ tab.html_id }}" misago-form-tab>
              <h4>{{ tab }}</h4>
              {% for form in tab.get_forms %}
                {% include form.template_name with form=form post_control_large=True %}
              {% endfor %}
            </div>
          {% endfor %}
        {% else %}
          <div class="panel-body">
            {% include "misago/posting/errors.html" %}
            {% for form in formset.get_forms %}
              {% include form.template_name with form=form post_control_large=True %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="panel-footer panel-footer-sticky">
          <button class="btn btn-primary" type="submit">
            {% translate "Start thread" context "start thread submit btn" %}
          </button>
          <button class="btn btn-secondary" type="submit" name="{{ formset.preview_action }}" value="true" formnovalidate>
            {% translate "Preview" context "start thread preview btn" %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}


{% block modals %}
{% include "misago/posting/markup_editor_modals.html" %}
{% include "misago/posting/attachment_templates.html" %}
{% include "misago/lightbox/index.html" %}
{% endblock modals %}


{% block javascript %}
<script type="text/javascript">
  document.querySelectorAll("[misago-form-tab]").forEach(function(element, key) {
    if (key) {
      element.classList.add("d-none")
    }
  })

  window.onhashchange = function() {
    const newTabID = location.hash.substring(1)
    document.querySelectorAll("[misago-form-tab]").forEach(function(element) {
      if (element.id === newTabID) {
        element.classList.remove("d-none")
      } else {
        element.classList.add("d-none")
      }
    })
  }
</script>
{% endblock javascript %}