{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{% if user.is_authenticated and not user.has_usable_assword %}
  {% trans "Set new password error" %} | {{ block.super }}
{% else %}
  {% trans "Change forgotten password error" %} | {{ block.super }}
{% endif %}
{% endblock %}


{% block content %}
<div class="page page-error page-forgotten-password-error">
  <div class="page-header-bg"></div>
  <div class="container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">info_outline</span>
      </div>

      <div class="message-body">
        {% if user.is_authenticated and not user.has_usable_assword %}
          <p class="lead">{% trans "Can't set new password." %}</p>
        {% else %}
          <p class="lead">{% trans "Can't change forgotten password." %}</p>
        {% endif %}
        <p>{{ message }}</p>
        <p>
          <a href="{% url 'misago:forgotten-password' %}">
            Request another password change link.
          </a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}