{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{% if user.is_authenticated and not user.has_usable_assword %}
  {% trans "Set new password" %} | {{ block.super }}
{% else %}
  {% trans "Change forgotten password" %} | {{ block.super }}
{% endif %}
{% endblock %}


{% block content %}
<div class="page page-forgotten-password-form">
  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        {% if user.is_authenticated and not user.has_usable_assword %}
          <h1>{% trans "Set new password" %}</h1>
        {% else %}
          <h1>{% trans "Change forgotten password" %}</h1>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div id="reset-password-form-mount" class="col-md-4 col-md-offset-4">

        <noscript>
          <div class="well well-form well-noscript">
            <div class="noscript-message">

              <div class="message-icon">
                <span class="material-icon">error_outline</span>
              </div>

              <div class="message-body">
                <p>{% trans "To reset your password please enable JavaScript." %}</p>
              </div>

            </div>
          </div>
        </noscript>

      </div>
    </div>

  </div>
</div>
{% endblock content %}