{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{% if user.is_authenticated and not user.has_usable_assword %}
  {% trans "Set new password" %} | {{ block.super }}
{% else %}
  {% trans "Change forgotten password" %} | {{ block.super }}
{% endif %}
{% endblock %}


{% block content %}
<div class="page page-forgotten-password-request">
  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        {% if user.is_authenticated and not user.has_usable_assword %}
          <h1>{% trans "Set new password" %}</h1>
        {% else %}
          <h1>{% trans "Change forgotten password" %}</h1>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="side-form-copy">

          {% if user.is_authenticated and not user.has_usable_assword %}
            <p class="lead">{% trans "Your user account has no password set for it because it was created with other service." %}</p>
            <p>{% trans "To set password for your account, you can use special secure form that will be available by special link valid only for your browser, for seven days or until your password is set." %}</p>
          {% else %}
            <p class="lead">{% trans "Because user passwords are processed in an irreversible way before being saved to database, it is not possible for us to simply send you your password." %}</p>
            <p>{% trans "Instead, you can change your password using special secure form that will be available by special link valid only for your browser, for seven days or until your password is changed." %}</p>
          {% endif %}
          <p>
            {% blocktrans trimmed %}
              To receive this link, enter your account's e-mail addres in form and press the "Send link" button.
            {% endblocktrans %}
          </p>

        </div>
      </div>
      <div id="request-password-reset-mount" class="col-md-4">

        <noscript>
          <div class="well well-form well-noscript">
            <div class="noscript-message">

              <div class="message-icon">
                <span class="material-icon">error_outline</span>
              </div>

              <div class="message-body">
                <p>{% trans "To request new password reset link please enable JavaScript." %}</p>
              </div>

            </div>
          </div>
        </noscript>

      </div>
    </div>

  </div>
</div>
{% endblock content %}