{% extends "admin/admin/list.html" %}
{% import "forms.html" as form_theme with context %}

{% block table_row scoped %}
  <td class="lead-cell">
  	<strong>{{ item.name }}</strong>{% if item.ignore_subscriptions %} <span class="label label-important">{% trans %}Ignoring Subscriptions{% endtrans %}</span>{% endif %}
  </td>
{% endblock%}

{% block search_form %}
{{ form_theme.row(search_form.name, attrs={
                                           'class': 'span3',
                                           'placeholder': _("Name contains..."),
                                          }) }}
{{ form_theme.row(search_form.contains, attrs={
                                               'class': 'span3',
                                               'placeholder': _("Message contains..."),
                                              }) }}
{{ form_theme.row(search_form.type, attrs={'class': 'span3'}) }}
{{ form_theme.row(search_form.rank, attrs={'class': 'span3'}) }}
{% endblock %}