{% extends "misago/emails/base.html" %}
{% load i18n %}


{% block content %}
{% blocktrans trimmed with user=recipient %}
{{ user }}, you are receiving this message because you want to change forgotten password for your forum account.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed %}
To change your account password click the link below:
{% endblocktrans %}
<br>
<br>
<a href="{{ SITE_ADDRESS }}{% url 'misago:forgotten_password_change_form' user_id=recipient.id token=confirmation_token %}">{% trans "Set new password" %}</a>
<br>
{% endblock content %}
