{% extends "misago/emails/base.html" %}
{% load i18n misago_absoluteurl %}


{% block content %}
{% blocktranslate trimmed with user=user context "change forgotten password email" %}
{{ user }}, you are receiving this message because you want to change forgotten password to your account.
{% endblocktranslate %}
<br>
<br>
{% blocktranslate trimmed context "change forgotten password email" %}
To set new password to your account click the link below:
{% endblocktranslate %}
<br>
<br>
<a href="{% absoluteurl 'misago:forgotten-password-change-form' pk=user.pk token=confirmation_token %}">{% translate "Set new password" context "change forgotten password email cta" %}</a>
<br>
{% endblock content %}
