{% extends "misago/emails/base.html" %}
{% load i18n misago_absoluteurl %}


{% block content %}
{% blocktrans trimmed with user=user context "confirm password change email" %}
{{ user }}, you are receiving this message because you have changed your password.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed context "confirm password change email" %}
To confirm this change, click the link below:
{% endblocktrans %}
<br>
<br>
<a href="{% absoluteurl 'misago:options-confirm-password-change' token=token %}">{% trans "Confirm change" context "confirm password change email cta" %}</a>
<br>
{% endblock content %}
