{% extends "misago/profile/base.html" %}
{% load i18n misago_avatars misago_capture %}


{% block page %}
<div>
  <p class="lead pull-left">
    <span class="fa fa-lock"></span>
    {% if ban.expires_on %}
    {% blocktrans trimmed with user=profile banned_until=ban.formatted_expiration_date %}
    {{ user }} is banned until {{ banned_until }}.
    {% endblocktrans %}
    {% else %}
    {% blocktrans trimmed with user=profile %}
    {{ user }} is banned permanently.
    {% endblocktrans %}
    {% endif %}
  </p>

  {% if user.is_authenticated and profile.acl_.can_lift_ban %}
  <form action="{% url 'misago:lift_user_ban' user_slug=profile.slug user_id=profile.pk %}" method="POST" class="pull-right lift-ban-prompt">
    {% csrf_token %}
    <button type="submit" class="btn btn-default">
      <span class="fa fa-unlock"></span>
      {% trans "Lift ban" %}
    </button>
  </form>
  {% endif %}
</div>
<div class="clearfix"></div>

{% if ban.user_message %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans "User message" %}
    </h3>
  </div>
  <div class="panel-body">

    {{ ban.user_message|escape|urlize|linebreaksbr }}

  </div>
</div>
{% endif %}

{% if ban.staff_message %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans "Team message" %}
    </h3>
  </div>
  <div class="panel-body">

    {{ ban.staff_message|escape|urlize|linebreaksbr }}

  </div>
</div>
{% endif %}
{% endblock page %}


{% block javascripts %}
{% if user.is_authenticated and profile.acl_.can_lift_ban %}
<script type="text/javascript">
  $(function() {
    $('.lift-ban-prompt').submit(function() {
      var decision = confirm("{% trans "Are you sure you want to lift this ban?" %}");
      return decision;
    });
  });
</script>
{% endif %}
{% endblock javascripts %}
