{% extends "misago/profile/base.html" %}
{% load humanize i18n misago_avatars misago_pagination %}


{% block meta-description %}
{% blocktrans trimmed with user=profile follows=profile.following|intcomma count counter=profile.following %}
{{ user }} is following {{ follows }} user.
{% plural %}
{{ user }} is following {{ follows }} users.
{% endblocktrans %}{% endblock meta-description %}


{% block page %}
{% if followers.object_list %}
  <p class="lead">
    {% if is_authenticated_user %}
      {% blocktrans trimmed with follows=profile.following|intcomma count counter=profile.following %}
      You are following {{ follows }} user.
      {% plural %}
      You are following {{ follows }} users.
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed with user=profile follows=profile.following|intcomma count counter=profile.following %}
      {{ user }} is following {{ follows }} user.
      {% plural %}
      {{ user }} is following {{ follows }} users.
      {% endblocktrans %}
    {% endif %}
  </p>
  {% include "misago/users_cards.html" with cards=followers.object_list %}
  {% pagination followers "misago/profile/pagination.html" 'misago:user_follows' user_slug=profile.slug user_id=profile.pk %}
{% else %}
<p class="lead">
  {% if is_authenticated_user %}
    {% blocktrans trimmed with user=profile %}
    Your are not following any users, {{ user }}.
    {% endblocktrans %}
  {% else %}
    {% blocktrans trimmed with user=profile %}
    {{ user }} follows no users.
    {% endblocktrans %}
  {% endif %}
</p>
{% endif %}
{% endblock page %}
