<div class="register-closed-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Register account"}}</h1>
    </div>
  </div>

  <div class="container">

    <p class="lead">
      {{gettext "New member registrations are not currently accepted."}}
    </p>

  </div>
</div>
