<div class="register-done-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Register account"}}</h1>
    </div>
  </div>

  <div class="container">

    <p class="lead">
      WIP "what after registration?" page.
    </p>

  </div>
</div>
