<div class="register-form-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Register account"}}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        {{register-form}}

      </div>
    </div>

  </div>
</div>
