<div class="register-form-page">
  <div class="page-header">
    <div class="container">
      <h1>{{gettext "Register account"}}</h1>
    </div>
  </div>

  <div class="container">

    <p class="lead">
      WIP Register form template
    </p>

  </div>
</div>
