{% extends "misago/base.html" %}
{% load i18n %}


{% block content %}
<div class="page page-private-threads">
  {% include "misago/private_threads/header.html" %}

  <div class="container page-container">

    {% include "misago/threads_toolbar.html" %}

    {% if threads.items %}
      <ul class="threads-list" itemscope itemtype="http://schema.org/ItemList">
        <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
        {% include threads.template_name with cursor=paginator.cursor threads=threads.items url_names=threads.url_names %}
      </ul>
    {% endif %}

    {% include "misago/threads_toolbar.html" with bottom=True %}
    {% include "misago/gototop_toolbar.html" %}

  </div>
</div>
{% endblock content %}