{% extends "misago/base.html" %}
{% load i18n misago_plugins %}


{% block title %}
  {% if threads.active_filter %}{{ threads.active_filter.name }} | {% endif %}{% translate "Private threads" context "private threads page" %} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-private-threads">
  {% include "misago/private_threads/header.html" %}

  <div class="container page-container">

    {% pluginoutlet PRIVATE_THREADS_LIST_START %}

    <div id="misago-page-scroll-target" class="scroll-target"></div>
    {% include "misago/threads/filters_noscript.html" %}
    {% include template_name_htmx %}
    
    {% pluginoutlet PRIVATE_THREADS_LIST_END %}
    
    {% include "misago/gototop_toolbar.html" %}

  </div>
</div>
{% endblock content %}


{% block modals %}
{% include "misago/private_threads/mark_as_read_modal.html" %}
{% endblock modals %}