{% extends "misago/mark_as_read/page.html" %}
{% load i18n %}


{% block title %}
  {% trans "Mark as read" context "mark as read" %} | {% trans "Private threads" context "private threads page" %} | {{ block.super }}
{% endblock title %}


{% block page-class %}page-private-threads{% endblock page-class %}


{% block header %}
  {% include "misago/private_threads/header.html" %}
{% endblock header %}


{% block panel-body %}
  {% blocktrans trimmed context "mark threads as read" %}
    Are you sure you want to mark all private threads as read?
  {% endblocktrans %}
{% endblock panel-body %}