{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<div id="misago-htmx-root">
  {% include "misago/threads/toolbar.html" with top_toolbar=True bottom_toolbar=False %}

  <ul class="threads-list" itemscope itemtype="http://schema.org/ItemList">
    {% if threads.enable_polling and not threads.paginator.has_previous %}
      {% include "misago/threads/poll_new.html" with latest_post=threads.latest_post %}
    {% endif %}
    {% if threads.items %}
      <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
      {% include threads.template_name with cursor=paginator.cursor threads=threads.items url_names=threads.url_names categories_component=threads.categories_component %}
    {% else %}
      {% include "misago/private_threads/blankslate.html" %}
    {% endif %}
  </ul>

  {% include "misago/threads/toolbar.html" with top_toolbar=False bottom_toolbar=True %}
</div>