{% extends "cranefly/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=(_("Post #%(post)s Changelog") % {'post': post.pk}),parent=thread.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
{{ macros.parents_list(parents) }}
<li><a href="{{ url('thread', thread=thread.pk, slug=thread.slug) }}">{{ thread.name }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
<li class="active">{% trans post=post.pk %}Post #{{ post }} Changelog{% endtrans %}
{%- endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <ul class="breadcrumb">
      {{ self.breadcrumb() }}</li>
    </ul>
    <h1>{% trans post=post.pk %}Post #{{ post }} Changelog{% endtrans %} <small>{{ thread.name|short_string(42) }}</small></h1>
    <ul class="unstyled header-stats">
      <li><i class="icon-time"></i> <a href="{{ url('thread_find', thread=thread.pk, slug=thread.slug, post=post.pk) }}">{{ post.date|reltimesince }}</a></li>
      <li><i class="icon-user"></i> {% if post.user %}<a href="{{ url('user', user=post.user.pk, username=post.user.username_slug) }}">{{ post.user.username }}</a>{% else %}{{ post.user_name }}{% endif %}</li>
      <li><i class="icon-pencil"></i> {% trans edits=post.edits %}One edit{% pluralize %}{{ edits }} edits{% endtrans %}</li>
      {% if post.protected %}<li><i class="icon-lock"></i> {% trans %}Protected{% endtrans %}</li>{% endif %}
    </ul>
  </div>
</div>

<div class="container container-primary">
  <div class="post-changelog">
    {% if edits %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 1%;">&nbsp;</th>
          <th>{% trans %}Change Log{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for edit in edits %}
        <tr>
          <td>
            <span class="change-{% if edit.change > 0 %}added{% elif edit.change < 0 %}removed{% else %}none{% endif %}{% if not edit.reason %} change-small{% endif %}">
              {% if edit.change > 0 %}+{% endif %}{{ edit.change }}
            </span>
          </td>
          <td>
            <a href="{{ url('thread_changelog_diff', thread=thread.pk, slug=thread.slug, post=post.pk, change=edit.pk) }}" class="change-no">#{{ loop.revindex }}</a>
            {% if edit.reason %}
            <div class="change-reason">
              <a href="{{ url('thread_changelog_diff', thread=thread.pk, slug=thread.slug, post=post.pk, change=edit.pk) }}">{{ edit.reason }}</a>
            </div>{% endif %}
            <div class="change-description">
              <a href="{{ url('thread_changelog_diff', thread=thread.pk, slug=thread.slug, post=post.pk, change=edit.pk) }}">
              {% if edit.change != 0 %}{% if edit.change > 0 -%}
              {% trans chars=edit.change %}Added one character to post.{% pluralize %}Added {{ chars }} characters to post.{% endtrans %}
              {%- elif edit.change < 0 -%}
              {% trans chars=edit.change|abs %}Removed one character from post.{% pluralize %}Removed {{ chars }} characters from post.{% endtrans %}
              {%- else -%}
              {% trans %}No change in message's length.{% endtrans %}
              {%- endif %}{% endif %}{% if edit.thread_name_old %} {% trans old=edit.thread_name_old, new=edit.thread_name_new %}Changed thread name from "{{ old }}" to "{{ new }}".{% endtrans %}{% endif %}</a>
              <span class="change-details">
                {% trans user=edit_user(edit), date=edit.date|reldate|low %}By {{ user }} {{ date }}{% endtrans %}
              </span>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="lead">{% trans %}This post was never edited.{% endtrans %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}


{% macro edit_user(edit) -%}
{% if edit.user_id %}<a href="{{ url('user', user=edit.user_id, username=edit.user_slug) }}">{{ edit.user_name }}</a>{% else %}{{ edit.user_name }}{% endif %}
{%- endmacro %}
