{% extends "cranefly/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_("Merge Threads"),parent=forum.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
{{ macros.parents_list(parents) }}
<li><a href="{{ url(forum.type, forum=forum.pk, slug=forum.slug) }}">{{ forum.name }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
<li class="active">{% trans %}Merge Threads{% endtrans %}
{%- endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <ul class="breadcrumb">
      {{ self.breadcrumb() }}</li>
    </ul>
    <h1>{% trans %}Merge Threads{% endtrans %} <small>{{ forum.name|short_string(42) }}</small></h1>
  </div>
</div>

<div class="container container-primary">
  <div class="row">
    <div class="span6 offset3">
      <div class="form-container">

        <div class="form-header">
          <h1>{% trans %}Merge Threads{% endtrans %}</h1>
        </div>

        {% if message or warning %}
        <div class="messages-list">
          {% if message %}
          {{ macros.draw_message(message) }}
          {% endif %}
          {% if warning %}
          {{ macros.draw_message(warning) }}
          {% endif %}
        </div>
        {% endif %}

        <form action="{{ url('forum', forum=forum.pk, slug=forum.slug) }}" method="post">
          {{ form_theme.hidden_fields(form) }}
          <input type="hidden" name="origin" value="merge_form">
          <input type="hidden" name="list_action" value="merge">
          {% for thread in threads -%}
          <input type="hidden" name="list_items" value="{{ thread.pk }}">
          {% endfor %}
          <div class="form-fields">
            {{ form_theme.row(form.thread_name, attrs={'class': 'span6'}) }}
            {{ form_theme.row(form.new_forum, attrs={'class': 'span6'}) }}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans %}Merge Threads{% endtrans %}</button>
            <a href="{{ url('forum', forum=forum.pk, slug=forum.slug) }}" class="btn">{% trans %}Cancel{% endtrans %}</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}