{% extends "cranefly/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_("Move Thread"),parent=forum.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
{{ macros.parents_list(parents) }}
<li><a href="{{ url('thread', thread=thread.pk, slug=thread.slug) }}">{{ thread.name }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
<li class="active">{% trans %}Move Thread{% endtrans %}
{%- endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <ul class="breadcrumb">
      {{ self.breadcrumb() }}</li>
    </ul>
    <h1>{% trans %}Move Thread{% endtrans %} <small>{{ thread.name|short_string(42) }}</small></h1>
  </div>
</div>

<div class="container container-primary">
  <div class="row">
    <div class="span6 offset3">
      <div class="form-container">

        <div class="form-header">
          <h1>{% trans %}Move Thread{% endtrans %}</h1>
        </div>

        {% if message %}
        <div class="messages-list">
          {{ macros.draw_message(message) }}
        </div>
        {% endif %}

        <form method="post">
          {{ form_theme.hidden_fields(form) }}
          <input type="hidden" name="origin" value="thread_form">
          <input type="hidden" name="thread_action" value="move">
          <input type="hidden" name="do" value="move">
          {% for thread in threads -%}
          <input type="hidden" name="list_items" value="{{ thread.pk }}">
          {% endfor %}
          <div class="form-fields">
            {{ form_theme.row(form.new_forum,
                              label=_("Move thread to"),
                              help_text=_("Select forum you want to move this thread to."),
                              attrs={'class': 'span6'}) }}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans %}Move Thread{% endtrans %}</button>
            <a href="{{ url('thread', thread=thread.pk, slug=thread.slug) }}" class="btn">{% trans %}Cancel{% endtrans %}</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}