{% load i18n misago_forms %}

{% with field=form.category %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% translate "Category:" context "moderation merge threads form" %}
    </label>
    <select class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" required>
      {% for choice in field.subwidgets %}
        <option value="{{ choice.data.value }}"{% if choice.data.value in form.disallowed_categories %} disabled{% else %}{{ choice|selectedhtml }}{% endif %}>
          {{ choice.choice_label }}
        </option>
      {% endfor %}
    </select>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endwith %}
{% with field=form.title %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% translate "Title:" context "moderation merge threads form" %}
    </label>
    <input type="text" class="form-control" maxlength="{{ field.field.max_length }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value|default:'' }}" required />
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% endwith %}
{% for field in form.get_conflicts_fields %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {{ field.label }}:
    </label>
    <select class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" required>
      {% for choice in field.subwidgets %}
        <option value="{{ choice.data.value }}"{{ choice|selectedhtml }}>
          {{ choice.choice_label }}
        </option>
      {% endfor %}
    </select>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">{{ field.help_text }}</p>
    {% endif %}
  </div>
{% endfor %}
<div class="form-group">
  <div class="control-label">
    {% translate "Options:" context "moderation merge threads form" %}
  </div>
  {% if form.pin %}
    {% with field=form.pin %}
      <div class="form-control-choices">
        {% for choice in field.subwidgets %}
          <div class="radio">
            <label>
              <input type="radio" name="{{ field.html_name }}" value="{{ choice.data.value }}"{{ choice|checkedhtml }}>
              {{ choice.choice_label }}
            </label>
          </div>
        {% endfor %}
      </div>
    {% endwith %}
  {% endif %}
  {% with field=form.is_locked %}
    <div class="checkbox">
      <label>
        <input name="{{ field.html_name }}" type="checkbox" value="{{ field.value}}"{% if field.data %} checked{% endif %}> {% translate "Lock thread" context "moderation merge threads form" %}
      </label>
    </div>
  {% endwith %}
  {% with field=form.is_hidden %}
    <div class="checkbox">
      <label>
        <input name="{{ field.html_name }}" type="checkbox" value="{{ field.value}}"{% if field.data %} checked{% endif %}> {% translate "Hide thread" context "moderation merge threads form" %}
      </label>
    </div>
  {% endwith %}
</div>