{% load i18n misago_forms %}

{% with field=form.edit_reason %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {% translate "Reason for merging:" context "moderation merge posts form" %}
    </label>
    <input class="form-control" type="text" name="{{ field.html_name }}" id="{{ field.id_for_label }}" value="{{ field.value|default:'' }}" maxlength="{{ field.maxlength }}">
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
    <p class="help-block">
      {% translate "Short explanation for why posts were merged. Optional." context "moderation merge posts form" %}
    </p>
  </div>
{% endwith %}
{% for field in form.conflicts_fields %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.id_for_label }}">
      {{ field.label }}:
    </label>
    <select class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" required>
      {% for choice in field.subwidgets %}
        <option value="{{ choice.data.value }}"{{ choice|selectedhtml }}>
          {{ choice.choice_label }}
        </option>
      {% endfor %}
    </select>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
      <p class="help-block">{{ field.help_text }}</p>
    {% endif %}
  </div>
{% endfor %}