{% load i18n misago_forms %}

<div class="form-group">
  {% with field=form.category %}
    <label class="control-label" for="{{ field.id_for_label }}">
      {{ field.label }}:
    </label>
    <select class="form-control" name="{{ field.html_name }}" id="{{ field.id_for_label }}" required>
      {% for choice in field.subwidgets %}
        <option value="{{ choice.data.value }}"{% if choice.data.value in form.disabled_choices %} disabled{% else %}{{ choice|selectedhtml }}{% endif %}>
          {{ choice.choice_label }}
        </option>
      {% endfor %}
    </select>
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  {% endwith %}
  <input type="hidden" name="confirm" value="{{ moderation_action.id }}">
</div>