{% extends "misago/emails/base.html" %}
{% load i18n misago_capture %}


{% block content %}
{% capture trimmed as thread_link %}
  <a href="{{ thread.get_absolute_url }}">{{ thread }}</a>
{% endcapture %}
{% blocktrans trimmed with user=recipient poster=user thread=thread_link|safe %}
{{ user }}, you are receiving this message because {{ poster }} has replied to the thread {{ thread }} that you are subscribed to.
{% endblocktrans %}
<br>
<br>
{% trans "To read this reply, click the below link:" %}
<br>
<br>
<a href="{{ SITE_ADDRESS }}{{ post.get_absolute_url }}">{% trans "Go to reply" %}</a>
<br>
{% endblock content %}
