{% extends "_message/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
  <div class="alert-icon"><span><i class="icon-info-sign icon-white"></i></span></div>
  <p><strong>{% trans username=message.user.username %}{{ username }}, you have to activate your account before you will be able to sign in.{% endtrans %}</strong></p>
  <p class="protip"><a href="{% url 'send_activation' %}">{% trans %}Click here if you haven't received activation e-mail.{% endtrans %}</a></p>
{% endblock %}