{% extends "_email/base_plain.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans board_name=settings.board_name %}Welcome aboard {{ board_name }}!{% endtrans %}{% endblock %}

{% block content %}
{% trans username=user.username %}{{ username }}, you are receiving this message because you have used this email address to sign up on our forums.{% endtrans %}

Your Account Data
-----------------
{% trans %}Username{% endtrans %}:    {{ user.username }}
{% trans %}E-mail{% endtrans %}:    {{ user.email }}{% if settings.password_in_email %}
{% trans %}Password{% endtrans %}:    {{ password }}

{% trans %}This is only time you will receive your current password. Due to security reasons we don't store members passwords as they are entered on registration, instead we encrypt those password in un-reversible manner to keep them safe.{% endtrans %}{% endif %}{% block activation_instructions %}{% endblock %}
{% endblock %}