{% extends "_email/base_html.html" %}

{% block title %}{% trans board_name=settings.board_name %}Account Activation on {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, you are receiving this message because you have requested new activation e-mail.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}To activate your account, click the link below:{% endtrans %}</p>
<a href="{{ board_address }}{% url 'activate' username=user.username_slug, user=user.id, token=user.token %}" {{ style_button|safe }}>{% trans %}Activate my account!{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}If the above link is not clickable, copy and paste this link into your web browser's address bar:{% endtrans %}</p>
<a href="{{ board_address }}{% url 'activate' username=user.username_slug, user=user.id, token=user.token %}" {{ style_link|safe }}>{{ board_address }}{% url 'activate' username=user.username_slug, user=user.id, token=user.token %}</a>
{% endblock %}