{% extends "_email/base_plain.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans board_name=settings.board_name %}Account Activation on {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
{% trans username=user.username %}{{ username }}, you are receiving this message because you have requested new activation e-mail.{% endtrans %}

{% trans %}To activate your account, click the link below:{% endtrans %}
{{ board_address }}{% url 'activate' username=user.username_slug, user=user.id, token=user.token %}
{% endblock %}