{% load i18n %}

<form
  method="post"
  hx-post=""
  hx-target="#misago-htmx-moderation-modal"
  hx-swap="innerHTML"
>
  {% csrf_token %}
  <input type="hidden" name="{{ moderation_type }}" value="{{ moderation_action.id }}" />
  <input type="hidden" name="confirm" value="true">
  <input type="hidden" name="success-hx-swap" value="none">
  {% if selection %}
    {% if moderation_type == "posts_moderation" %}
      {% for post in selection %}
        <input type="hidden" name="posts" value="{{ post.id }}" />
      {% endfor %}
    {% elif moderation_type == "post_moderation" %}
      <input type="hidden" name="post" value="{{ selection.id }}" />
    {% endif %}
  {% endif %}
  <div class="modal-body">
    {% include template_name %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
      {% translate "Cancel" context "thread moderation" %}
    </button>
    <button class="btn btn-primary">{{ moderation_action.button_label }}</button>
  </div>
</form>