{% load i18n %}
<script lang="JavaScript">
  $(function() {

    $('#thread-actions .dropdown-menu button').click(function() {
      if ($(this).data('confirmation') != undefined) {
        var decision = confirm($(this).data('confirmation'));
        return decision
      } else {
        return true;
      }
    });

    var $thread_actions = $('#thread-actions');
    $('#thread-actions .action-move').click(function() {
      var action_data = $thread_actions.serialize($thread_actions) + '&thread_action=move';
      Misago.Modal.post('', action_data);
      return false;
    });

    var $posts_actions = $('#posts-actions');

    $('#posts-actions .action-move').click(function() {
      var action_data = $posts_actions.serialize($posts_actions) + '&action=move';
      Misago.Modal.post('', action_data);
      return false;
    });

    $('#posts-actions .action-split').click(function() {
      var action_data = $posts_actions.serialize($posts_actions) + '&action=split';
      Misago.Modal.post('', action_data);
      return false;
    });
  });
</script>
