{% load i18n misago_avatars %}
<ul class="list-unstyled post-events">
  {% for event in post.events %}
  <li class="divider">
    <span class="fa fa-arrow-down fa-fw"></span>
    <div>
      <abbr class="tooltip-top dynamic time-ago" title="{% blocktrans with date=event.occured_on %}This event occured on {{ date }}.{% endblocktrans %}" data-timestamp="{{ event.occured_on|date:"c" }}">
        {{ event.occured_on|date }}
      </abbr>
      {% if event.is_hidden %}
      <span class="text-warning">{% trans "Hidden" %}</span>
      {% endif %}
    </div>
  </li>
  <li class="event">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-{{ event.icon }} fa-stack-1x fa-inverse"></i>
    </span>
    <img src="{{ event.author_id|avatar:18 }}" alt="{% trans "Avatar" %}">
    {% if event.is_valid %}
      {{ event.message|safe }}
    {% else %}
      <em>{% trans "Event message is invalid." %}</em>
    {% endif %}

    {% if forum.acl.can_hide_events %}
    <form action="{{ event.get_edit_url }}" class="event-form" method="post">
      {% csrf_token %}
      {% if event.is_hidden %}
      <button type="submit" class="btn btn-default btn-flat btn-sm event-toggle">
        {% trans "Show" %}
      </button>
      {% else %}
      <button type="submit" class="btn btn-default btn-flat btn-sm event-toggle">
        {% trans "Hide" %}
      </button>
      {% endif %}
      {% if forum.acl.can_hide_events == 2 %}
      <button type="submit" class="btn btn-danger btn-flat btn-sm event-delete">
        {% trans "Delete" %}
      </button>
      {% endif %}
    </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>
