{% from "cranefly/macros.html" import page_title -%}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title() }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% block meta %}{% endblock %}
    <link href="{{ STATIC_URL }}cranefly/css/cranefly.css" rel="stylesheet">{% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
  </head>
  <body itemscope itemtype="http://schema.org/WebPage"{% block body_class %}{% endblock %}>
  	{% block body %}{% endblock %}

  	<script src="{{ STATIC_URL }}cranefly/js/jquery-1.7.2.min.js"></script>
  	<script src="{{ STATIC_URL }}cranefly/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var l_img_broken_msg = "{{ _('Image could not be loaded.') }}";
    </script>
  	<script src="{{ STATIC_URL }}cranefly/js/cranefly.js"></script>{% block javascripts %}{% endblock %}
    {{ hook_append_extra|safe }}
  </body>
</html>