{% extends "cranefly/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=category.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
{% for parent in parents %}
<li><a href="{{ parent.type|url(forum=parent.pk, slug=parent.slug) }}">{{ parent.name }}</a> <span class="divider"><i class="icon-chevron-right"></i></span></li>
{% endfor %}
<li class="active">{{ category.name }}
{%- endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <ul class="breadcrumb" {{ macros.itemprop_bread() }}>
      {{ self.breadcrumb() }}</li>
    </ul>
    <h1>{{ category.name }}</h1>
  </div>
</div>

<div class="container container-primary">
  {% if category.description %}
  <div class="markdown lead page-description">
    {{ category.description_preparsed|markdown_final|safe }}
  </div>
  {% endif %}
  {% if category.subforums %}
  <div class="category-forums-list{% if category.style %} category-forums-{{ category.style }}{% endif %}">
    <table class="table">
      <tbody>
        {% for forum in category.subforums %}
        <tr>
          <td class="forum-icon"><span class="forum-icon-wrap{% if forum.type == 'redirect' %} forum-icon-redirect{% elif not forum.is_read %} forum-icon-new{% endif %}"><i class="icon-{% if forum.type == 'redirect' %}circle-arrow-right{% else %}comment{% endif %} icon-white"></i></span></td>
          <td id="forum-{{ forum.id }}" class="forum-main">
            <h3 class="forum-title{% if not forum.is_read %} forum-title-new{% endif %}"><a href="{{ forum.type|url(slug=forum.slug, forum=forum.id) }}">{{ forum.name }}</a></h3>
            {% if forum.show_details and forum.type != 'redirect' %}
            <div class="forum-details">
              {% if acl.forums.can_browse(forum) and (acl.threads.can_read_threads(forum) == 2 or (acl.threads.can_read_threads(forum) == 1 and forum.last_poster_id == user.pk)) %}
              {% if forum.last_thread_id -%}
              {% trans %}Latest{% endtrans %}: <a href="{% url 'thread_new' thread=forum.last_thread_id, slug=forum.last_thread_slug %}" class="tooltip-top" title="{{ forum.last_thread_name }}">{{ forum.last_thread_name|short_string(28) }}</a>
              {%- else -%}
              <em>{% trans %}This forum is empty{% endtrans %}</em>
              {%- endif %}
              {%- else -%}
              <em>{% trans %}This forum is protected{% endtrans %}</em>
              {%- endif %}
            </div>
            {% endif %}
            <div class="hide forum-meta">
              {% if forum.description %}<p class="forum-description">{{ forum.description }}</p>{% endif %}
              <div class="forum-stats">
                {% if forum.type != 'redirect' %}
                <span>{% trans %}Posts{% endtrans %}: <strong>{{ forum.posts|intcomma }}</strong></span>
                {% trans %}Threads{% endtrans %}: <strong>{{ forum.threads|intcomma }}</strong>
                {% else %}
                {% trans %}Clicks{% endtrans %}: <strong>{{ forum.redirects|intcomma }}</strong>
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="lead">{% trans %}Looks like there are no forums to display in this category.{% endtrans %}</p>
  {% endif %}
</div>
{% endblock %}

{% block javascripts -%}{{ super() }}
  <script type="text/javascript">
    $(function () {
      function populateForumTooltip(target) {
        return $('#forum-' + target + ' .forum-meta').html();
      };
      {% for category in forums_list %}{% for forum in category.subforums %}
        $('#forum-{{ forum.id }} .forum-title').tooltip({
          template: '<div class="tooltip forum-meta-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
          placement: 'right',
          html: true,
          title: populateForumTooltip({{ forum.id }})
        });
      {% endfor %}{% endfor %}
    });
  </script>
{%- endblock %}