{% extends "cranefly/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Error')) }}{% endblock %}
      
{% block content %}
<div class="row">
  <div class="span8 offset2 error-page">
    <div class="page-header">
      <h1><span class="error-color">403</span> {% trans %}Permission Denied{% endtrans %}</h1>
    </div>
    {% if message %}
    <p class="lead">{{ message }}</p>
    {% else %}
    <p class="lead">{% trans %}You dont have permission to see this page.{% endtrans %}</p>
    {% endif %}
    <div class="error-protips">
      <a href="#" class="go-back"><i class="icon-arrow-left icon-white"></i> {% trans %}Return to previous page{% endtrans %}</a>
      <a href="{% url 'index' %}"><i class="icon-home icon-white"></i> {% trans %}Return to board index{% endtrans %}</a>
    </div>
  </div>
</div>
{% endblock %}