{% extends "cranefly/layout.html" %}
{% load i18n %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{% if settings.tos_title -%}
{{ macros.page_title(title=settings.tos_title) }}
{%- else -%}
{{ macros.page_title(title=_('Terms of Service')) }}
{%- endif %}{% endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {% if messages %}
    <div class="messages-list">
      {{ messages_list(messages) }}
    </div>
    {% endif %}
    <h1>{% if settings.tos_title -%}
{{ settings.tos_title }}
{%- else -%}
{% trans %}Terms of Service{% endtrans %}
{%- endif %}</h1>
  </div>
</div>

<div class="container container-primary">
  <div class="markdown">
    {{ settings.tos_content|markdown|safe }}
  </div>
</div>
{% endblock %}