{% extends "cranefly/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Misago Flavored Markdown')) }}{% endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <h1>{% trans %}Misago Flavored Markdown{% endtrans %}</h1>
  </div>
</div>

<div class="container container-primary">
  <p class="lead">{% trans %}Your message is composed of blocks like paragraphs, headers, lists or code listings. All blocks with exception of code blocks may contain in-line elements like links, images, movies, underlining and bolding.{% endtrans %}</p>

  <h1>{% trans %}Block level elements{% endtrans %}</h1>
  <p>{% trans %}Lorem ipsum dolor met.{% endtrans %}</p>

  <h2>{% trans %}Paragraphs{% endtrans %}</h2>
  <p>{% trans %}Paragraphs are blocks of text separated by empty lines.{% endtrans %}</p>
  <blockcode>
    <pre>Nunc interdum ipsum a accumsan suscipit. Maecenas eget nunc sollicitudin augue convallis pulvinar. Duis dapibus, ante eget fringilla eleifend, metus odio bibendum risus, eu placerat diam diam gravida magna. Integer in blandit arcu, eget pretium ligula.

Curabitur tempus convallis orci, sed hendrerit mi. Donec lectus lectus, rutrum et pharetra quis, viverra at enim. Maecenas at dolor sed erat consectetur lacinia vitae at turpis. In faucibus nisl at tortor rutrum, non convallis enim placerat.</pre>
  </blockcode>

  <p>{% trans %}Input above becomes two paragraphs:{% endtrans %}</p>

  <div class="well markdown">
    <p>Nunc interdum ipsum a accumsan suscipit. Maecenas eget nunc sollicitudin augue convallis pulvinar. Duis dapibus, ante eget fringilla eleifend, metus odio bibendum risus, eu placerat diam diam gravida magna. Integer in blandit arcu, eget pretium ligula.</p>
    <p>Curabitur tempus convallis orci, sed hendrerit mi. Donec lectus lectus, rutrum et pharetra quis, viverra at enim. Maecenas at dolor sed erat consectetur lacinia vitae at turpis. In faucibus nisl at tortor rutrum, non convallis enim placerat.</p>
  </div>

  <hr>

  <h2>{% trans %}Headers{% endtrans %}</h2>
  <p>{% trans %}You can use headers to title sections of your message. Each header block level element which means{% endtrans %}</p>
</div>
{% endblock %}