{% extends "cranefly/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Register new account')) }}{% endblock %}

{% block content %}
<div class="row">
  <div class="span8 offset2">
    <div class="form-container">

      <div class="form-header">
        <h1>{% trans %}Register new account{% endtrans %}</h1>
      </div>

      {% if message %}
      <div class="messages-list">
        {{ macros.draw_message(message) }}
      </div>
      {% endif %}

      <form action="{{ url('register') }}" method="post">
        {{ form_theme.hidden_fields(form) }}
        <div class="form-fields">
          <fieldset class="first">
            {{ form_theme.row(form.username, attrs={'class': 'span8'}) }}
          </fieldset>
          <fieldset>
            {{ form_theme.repeat(form,
                                 (form.email, form.email_rep),
                                 attrs=(
                                        {'placeholder': lang_enter_your_email(), 'class': 'span4'},
                                        {'placeholder': lang_repeat_your_email(), 'class': 'span4'}
                                       )) }}
          </fieldset>
          <fieldset>
            {{ form_theme.repeat(form,
                                 (form.password, form.password_rep),
                                 attrs=(
                                        {'placeholder': lang_enter_your_password(), 'class': 'span4'},
                                        {'placeholder': lang_repeat_your_password(), 'class': 'span4'}
                                       )) }}
          </fieldset>
          {% if form.has_captcha %}
          <fieldset{% if 'accept_tos' not in form.fields %} class="last"{% endif %}>
            {{ form_theme.captcha(form, attrs={'class': 'span8'}) }}
          </fieldset>
          {% endif %}
          {% if 'accept_tos' in form.fields %}
          <fieldset class="last">
            {{ form_theme.row(form.accept_tos) }}
          </fieldset>
          {% endif %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans %}Register account{% endtrans %}</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}


{# Translation Strings #}
{% macro lang_enter_your_email() -%}
{% trans %}Enter your e-mail{% endtrans %}
{%- endmacro %}

{% macro lang_repeat_your_email() -%}
{% trans %}Repeat your e-mail{% endtrans %}
{%- endmacro %}

{% macro lang_enter_your_password() -%}
{% trans %}Enter your password{% endtrans %}
{%- endmacro %}

{% macro lang_repeat_your_password() -%}
{% trans %}Repeat your password{% endtrans %}
{%- endmacro %}
