{% extends "cranefly/layout.html" %}
{% import "_forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Register new account')) }}{% endblock %}

{% block content %}
<div class="row">
  <div class="span8 offset2">
    <div class="form-container">

      <div class="form-header">
        <h1>{% trans %}Register new account{% endtrans %}</h1>
      </div>

      {% if message %}
      <div class="messages-list">
        {{ macros.draw_message(message) }}
      </div>
      {% endif %}

      <form action="{{ url('register') }}" method="post">
        <div class="form-fields">
          {{ form_theme.form_widget(form, width=8) }}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans %}Register account{% endtrans %}</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}