{% extends "cranefly/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Request new Activation E-mail')) }}{% endblock %}

{% block content %}
<div class="row">
  <div class="span6 offset3">
    <div class="form-container">

      <div class="form-header">
        <h1>{% trans %}Request new Activation E-mail{% endtrans %}</h1>
      </div>

      {% if message %}
      <div class="messages-list">
        {{ macros.draw_message(message) }}
      </div>
      {% endif %}

      <form action="{{ url('send_activation') }}" method="post">
        {{ form_theme.hidden_fields(form) }}
        <div class="form-fields">
          {{ form_theme.row(form.email, attrs={'class': 'span6', 'placeholder': _("Enter your e-mail address.")}) }}
          {{ form_theme.captcha(form, attrs={'class': 'span6'}) }}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans %}Request new E-mail{% endtrans %}</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}