{% extends "cranefly/layout.html" %}
{% load i18n %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Threads you are watching')) }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans %}Threads you are watching{% endtrans %}</h1>
</div>

{% if message %}{{ macros.draw_message(message) }}{% endif %}

<div class="list-nav">
  {% if items_total %}
  {{ pager() }}
  {% endif %}
  <ul class="nav nav-pills pull-right">
    <li class="{% if new %}primary{% else %}info{% endif %}"><a href="{% url 'watched_threads_new' %}">{% trans %}Unread Threads{% endtrans %}</a></li>
    <li class="{% if not new %}primary{% else %}info{% endif %}"><a href="{% url 'watched_threads' %}">{% trans %}All Threads{% endtrans %}</a></li>
  </ul>
</div>

{% if threads %}
<ul class="unstyled shorts-list">
  {% for thread in threads %}
  <li id="watch-{{ loop.index }}">
    <div class="row">
      <div class="span7">
        <img src="{% if thread.start_poster_id %}{{ thread.start_poster.get_avatar(36) }}{% else %}{{ macros.avatar_guest(24) }}{% endif %}" class="avatar tooltip-top" title="{% trans username=thread.start_poster_name %}Thread started by {{ username }}{% endtrans %}">
        <p class="title">
          <a href="{% url 'thread' thread=thread.pk, slug=thread.slug %}" class="hover-opacity tooltip-top" title="{% trans %}Jump to thread start{% endtrans %}"><i class="icon-asterisk"></i></a>
          {% if not thread.is_read -%}
          <a href="{% url 'thread_new' thread=thread.pk, slug=thread.slug %}" class="jump jump-new tooltip-top" title="{% trans %}Jump to first unread post{% endtrans %}">
          {%- else -%}
          <a href="{% url 'thread_last' thread=thread.pk, slug=thread.slug %}" class="jump jump-last tooltip-top" title="{% trans %}Jump to last post{% endtrans %}">
          {%- endif -%}{% if not thread.is_read %}<strong>{{ thread.name }}</strong>{% else %}{{ thread.name }}{% endif %}</a>
        </p>
        <p class="location">{% trans forum=forum(thread.forum), starter=username(thread.start_poster_id, thread.start_poster_name, thread.start_poster_slug), start=thread.start|reldate %}Thread started by {{ starter }} in {{ forum }} on {{ start }}.{% endtrans %}</p>
      </div>
      <div class="span5 span-actions hover-opacity-strong">
        <form action="{% url 'thread_unwatch' thread=thread.pk, slug=thread.slug %}" class="form-inline pull-right" method="post">
          <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
          <input type="hidden" name="retreat" value="{{ delete_retreat(loop) }}">
          <button class="btn btn-danger"><i class="icon-remove icon-white"></i> {% trans %}Unwatch{% endtrans %}</button>
        </form>
        <form action="{% if thread.send_email %}{% url 'thread_unwatch_email' thread=thread.pk, slug=thread.slug %}{% else %}{% url 'thread_watch_email' thread=thread.pk, slug=thread.slug %}{% endif %}" class="form-inline pull-right" method="post">
          <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
          <input type="hidden" name="retreat" value="{{ request_path }}#watch-{{ loop.index }}">
          <button class="btn{% if thread.send_email %} btn-success{% endif %}"><i class="icon-envelope{% if thread.send_email %} icon-white{% endif %}"></i> {% trans %}E-mail{% endtrans %}</button>
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<div class="list-nav last">
  {{ pager() }}
</div>
{% else %}
<p class="lead">{% if new -%}
    {% trans %}There are no unread threads that you are watching.{% endtrans %}
    {%- else -%}
    {% trans %}You are not watching any threads.{% endtrans %}
    {%- endif %}</p>
{% endif %}
{% endblock %}


{% macro pager() -%}
  <ul class="pager pull-left">
    {% if new %}
    {%- if pagination['prev'] > 1 %}<li><a href="{% url 'watched_threads_new' %}" class="tooltip-top" title="{% trans %}Latest Threads{% endtrans %}"><i class="icon-chevron-left"></i> {% trans %}Latest{% endtrans %}</a></li>{% endif -%}
    {%- if pagination['prev'] > 0 %}<li><a href="{%- if pagination['prev'] > 1 %}{% url 'watched_threads_new' page=pagination['prev'] %}{% else %}{% url 'watched_threads_new' %}{% endif %}" class="tooltip-top" title="{% trans %}Newer Threads{% endtrans %}"><i class="icon-chevron-left"></i></a></li>{% endif -%}
    {%- if pagination['next'] > 0 %}<li><a href="{% url 'watched_threads_new' page=pagination['next'] %}" class="tooltip-top" title="{% trans %}Older Threads{% endtrans %}"><i class="icon-chevron-right"></i></a></li>{% endif -%}
    {% else %}
    {%- if pagination['prev'] > 1 %}<li><a href="{% url 'watched_threads' %}" class="tooltip-top" title="{% trans %}Latest Threads{% endtrans %}"><i class="icon-chevron-left"></i> {% trans %}Latest{% endtrans %}</a></li>{% endif -%}
    {%- if pagination['prev'] > 0 %}<li><a href="{%- if pagination['prev'] > 1 %}{% url 'watched_threads' page=pagination['prev'] %}{% else %}{% url 'watched_threads' %}{% endif %}" class="tooltip-top" title="{% trans %}Newer Threads{% endtrans %}"><i class="icon-chevron-left"></i></a></li>{% endif -%}
    {%- if pagination['next'] > 0 %}<li><a href="{% url 'watched_threads' page=pagination['next'] %}" class="tooltip-top" title="{% trans %}Older Threads{% endtrans %}"><i class="icon-chevron-right"></i></a></li>{% endif -%}
    {% endif %}
    <li class="count">
    {%- trans current_page=pagination['page'], pages=pagination['total'] -%}
    Page {{ current_page }} of {{ pages }}
    {%- endtrans -%}
    </li>
  </ul>
{%- endmacro %}


{% macro forum(forum) -%}
<a href="{% url 'forum' forum=forum.pk, slug=forum.slug %}">{{ forum.name }}</a>
{%- endmacro %}


{% macro username(id, username, slug) -%}
{%- if id -%}
<a href="{% url 'user' user=id, username=slug %}">{{ username }}</a>
{%- else -%}
{{ username }}
{%- endif -%}
{%- endmacro %}


{% macro delete_retreat(loop) -%}
{%- if pagination['page'] == 1 -%}
  {{ request_path }}{% if not (loop.first and loop.last) %}#watch-{{ loop.index }}{% endif %}
{%- else -%}
  {%- if loop.first and loop.last -%}
    {%- if new -%}
      {%- if pagination['prev'] > 1 %}{% url 'watched_threads_new' page=pagination['prev'] %}{% else %}{% url 'watched_threads_new' %}{% endif %}
    {%- else -%}
      {%- if pagination['prev'] > 1 %}{% url 'watched_threads' page=pagination['prev'] %}{% else %}{% url 'watched_threads' %}{% endif %}
    {%- endif -%}#watch-{{ settings.threads_per_page }}
  {%- else -%}
    {{ request_path }}#watch-{{ loop.index }}
  {%- endif -%}
{%- endif  -%}
{%- endmacro %}