<ul class="select-category-list">
  {% for category in start_thread_choices %}
    <li class="flex select-category-list-item">
      {% if category.disabled %}
        <span class="flex items-center font-bold select-category-list-item-btn select-category-list-item-header">
          <span class="bullet"{% if category.color %} style="--color: {{ category.color }}"{% endif %}></span>
          {{ category.name }}
        </span>
      {% else %}
        <a
          href="{{ category.url }}"
          class="flex items-center font-bold select-category-list-item-btn select-category-list-item-header"
        >
          <span class="bullet"{% if category.color %} style="--color: {{ category.color }}"{% endif %}></span>
          {{ category.name }}
        </a>
      {% endif %}
    </li>
    {% for subcategory in category.children %}
      <li class="flex items-center select-category-list-item">
        {% for _ in subcategory.level %}
          <div class="select-category-list-item-level"></div>
        {% endfor %}
        {% if subcategory.disabled %}
          <span class="flex items-center font-medium select-category-list-item-btn select-category-list-item-name">
            <span class="bullet"{% if subcategory.color %} style="--color: {{ subcategory.color }}"{% endif %}></span>
            {{ subcategory.name }}
          </span>
        {% else %}
          <a
            href="{{ subcategory.url }}"
            class="flex items-center font-medium select-category-list-item-btn select-category-list-item-name"
          >
            <span class="bullet"{% if subcategory.color %} style="--color: {{ subcategory.color }}"{% endif %}></span>
            {{ subcategory.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    {% if not forloop.last %}
      <li class="select-category-list-separator"></li>
    {% endif %}
  {% endfor %}
</ul>