{% load i18n %}

<h4>
  {% if misago_user.is_authenticated %}
    {% blocktrans with user=misago_user.username %}
    {{ user }} roles
    {% endblocktrans %}
  {% else %}
    {% trans "Anonymous roles" %}
  {% endif %}
</h4>
<table>
  <thead>
    <tr>
      <th style="width: 180px;">{% trans "Role" %}</th>
      <th>{% trans "Permissions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for role in misago_user.get_roles %}
      <tr>
        <td>{{ role.name }}</td>
        <td>{{ role.permissions }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h4>{% trans "Current ACL" %}</h4>
<table>
  <thead>
    <tr>
      <th style="width: 180px;">{% trans "Key" %}</th>
      <th>{% trans "Value" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in misago_acl.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
