// Misago editor
// --------------------------------------------------
.editor {
  background-color: darken(@bodyBackground, 10%);
  .border-radius(3px);
  
  .editor-error {
    padding: 12px 16px;
    padding-bottom: 0px;
    
    .help-block {
      color: @red;
    }
    
    .help-block:last-child {
      margin-bottom: 0px;
    }
  }
  
  .editor-input {
    padding: 8px;
    
    div {
      margin-right: 14px;
    }
    
    textarea {
      margin: 0px;
      width: 100%;
      
      font-family: @monoFontFamily;
    }
  }
  
  .editor-actions {
    border-top: 2px solid darken(@bodyBackground, 20%);
    overflow: auto;
    padding: 8px;
    
    .editor-tools {
      display: none;
      overflow: auto;
      margin: -6px;
      padding: 6px;
      
      li {
        float: left;
        list-style: none;
        margin-right: 6px;
        
        &.divider {
          margin-left: 6px;
        }
        
        a {
          background-color: @grayLighter;
          border-color: @white;
          .box-shadow(0px 0px 3px @grayLight);
          padding: 4px 7px;
          
          &:hover {
            background-color: @white;
          }
        }
      }
    }
  }
}
