// Misago Forums Lists
// --------------------------------------------------
.forums-list {
  padding-top: 4px;
  
  .category {
    h2 {
      color: lighten(@textColor, 20%);
      font-size: 110%;
      margin-bottom: 0px;
      
      small {
        color: lighten(@textColor, 45%);
        font-size: 100%;
      }
      
      .form-inline {
        float: right;
        margin: 0px;
        padding: 0px;
        
        .btn-link {
          .opacity(25);
          
          &:hover, &:active {
            background-color: lighten(@red, 20%);
            .border-radius(3px);
            .opacity(100);
                      
            color: @white;
            
            i {
              background-image: url("@{iconWhiteSpritePath}");
            }
          }
        } 
      }
    }
  }
  
  .category-important {
    .well-forum {
      border: 1px solid lighten(@linkColor, 5%);
      .box-shadow(0px 0px 0px 3px lighten(@linkColor, 30%));
    }
  }
    
  .well-forum {
    margin-bottom: 14px;
    overflow: auto;
    padding: 12px 8px;
    padding-bottom: 8px;
        
    .row {
      .span3 {
        margin-left: 0px;
        padding-left: 16px;
      }
    }
    
    .forum-icon {
      background-color: @grayLighter; 
      .border-radius(3px);
      float: left;
      padding: 3px 6px;
      position: relative;
      bottom: 4px;
      margin-bottom: -4px;
    }
    
    .forum-new {
      background-color: @linkColor !important; 
    }
    
    .redirect-icon {
      background-color: @green; 
    }
    
    .forum-details {
      margin-left: 36px;
      overflow: auto;
    }
    
    .forum-stat {
      margin-left: 16px;
      margin-right: 4px;
      padding: 8px 12px;
      
      font-size: 140%;
      
      .muted {
        color: @grayLight;
      }
      
      .stag, .positive {
        .border-radius(3px);
        margin: -2px 0px;
        padding: 2px 5px;
        
        text-shadow: 0px 1px 0px @white;
      }
      
      .stag {
        background-color: @grayLighter;
        color: darken(@grayLight, 5%);
      }
      
      .positive {
        background-color: lighten(@green, 40%);
        color: darken(@green, 5%);
      }
    }
    
    h3 {
      margin: 0px;
      padding: 0px;
      
      font-size: 110%;
      line-height: 100%;
      
      .read-forum {
        color: lighten(desaturate(@linkColor, 65%), 20%);
      }
    }
    
    .muted {
      margin-top: 4px;
        
      color: lighten(@textColor, 25%);
    }
  }
  
  .span4, .span2 {
    .well-forum {
      margin: 0px -8px; 
    }
  }
}

.forum-list-side {
  padding-top: 10px;
}
