// Board index
// -------------------------

.list-empty {
  margin-top: 32px;
  
  font-size: 180%;
}

.index-block {
  .border-radius(3px);
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 24px;
  
  h3 {
    border-bottom: 1px solid lighten(@grayLight, 15%);
    
    color: @grayLight;
    font-size: 120%;
    margin-top: -6px;
    padding-top: 0px;
  }
  
  ul {
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    
    li {
      border-bottom: 1px solid lighten(@grayLight, 25%);
      margin: 0px;
      overflow: auto;
    }
  }
}

.team-online {
  margin-bottom: 0px;
  padding-bottom: 0px;
  
  h3 {
    border-bottom: none;
    margin-bottom: 0px;
    
    color: darken(@grayLighter, 15%);
  }
  
  ul {
    margin: 0px -6px;
    
    li {
      background-color: @grayLighter;
      border: none;
      .border-radius(3px);
      margin-bottom: 8px;
      padding: 6px;
    } 
  }
   
  div {
    float: left;
    position: relative;
    top: 4px;
    font-weight: bold;
    
    a {
      display: block;
      
      color: @grayDark;
      font-size: 160%;
    }
    
    .muted {
      color: @grayLight;
    }
  }
  
  img {
    float: left;
    margin-right: 12px;
    width: 48px;
    height: 48px;
  }
}

.thread-ranking {
  margin-bottom: 8px;
  
  li {
    padding: 8px 0px;
  }
  
  a {
    color: @grayLight;
    
    &.lead {
      display: block;
      margin: 0px;
      margin-bottom: -4px;
      padding: 0px;
      
      color: @textColor;
      font-size: 120%;
      font-weight: bold;
    }
  }
}

.forum-stats {  
  color: lighten(@grayLight, 10%);
  font-weight: bold;
  
  strong {
    padding-left: 8px;
    
    color: @gray;
    font-size: 170%;
  }
  
  .sub {
    padding-left: 8px;
    
    font-weight: normal;
  }
}

.cookie-message {}
