// Markdown styles
// -------------------------
.markdown {
  margin-bottom: -12px;
  
  h1 {font-size: 160%;}
  h2 {font-size: 120%;}
  
  blockquote {
    background-color: @bodyBackground;
    border: 1px solid lighten(@grayLight, 20%);
    border-bottom-width: 2px;
    .border-radius(3px);
    padding: 14px 16px;
    margin-left: 16px;
    margin-right: 16px;
    
    h3 {
      margin: 0px;
      margin-top: -10px;
      padding: 0px;
      
      color: @gray;
      font-size: 100%;
    }
    
    blockquote, pre {
      display: block;
    }
  }
  
  pre {
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    pre {
      display: block;
    }
  }
  
  .md-img {
    text-align: center;
    margin: 24px auto;
    padding: 0px;
    float: none;
    
    img {
      .box-shadow(0px 0px 3px @grayLight); 
    }
               
    .md-img-label {
      display: block;
      .opacity(50);
      padding: 6px 0px;
      
      color: @textColor;
      font-weight: bold;
      
      &:hover {
        .opacity(100);
        text-decoration: none;
      }
    }
  }
}

.post-content {
  font-size: 100%;
}

.signature {
  font-size: 90%;
}