// Misago Navigations
// -------------------------
.header-tabbed {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.nav-tabs li {
  a:link, a:active, a:visited {
    .opacity(60);
    
    color: @textColor;
    font-weight: bold;
  }
  
  i {
    margin-right: 4px;
  }
  
  &.active a:link, &.active a:active,
  &.active a:visited, &.active a:hover {
    background-color: @bodyBackground;
        
    i {
      background-image: url("@{iconSpritePath}");
    }
  }
  
  &.active a:link, &.active a:active,
  &.active a:visited, &.active a:hover, a:hover {
    .opacity(100);
  }
  
  &.fallback {
    float:right;
    
    a:link, a:active,
    a:visited, a:hover {
      border-bottom: none;
      .border-radius(3px);
      margin-top: 4px;
      padding: 4px 12px;
    }
  }
}