// Layout elements that dont deserve their own file go there
// -------------------------

// Breadcrumbs
.breadcrumb {
  .active {
    color: @textColor;
  }
  
  &.bottom {
    background-color: darken(@bodyBackground, 10%);
    margin-top: 24px;
    margin-bottom: 0px;
  }
}

.page-header {
  .breadcrumb {
    background: none;
    padding: 0px;
    margin-bottom: 0px;
  }
}

// Footer
footer {
  padding-top: 12px;
  padding-bottom: 32px;
  
  color: darken(@bodyBackground, 35%);
  
  a, a:link, a:active, a:visited {
    color: darken(@bodyBackground, 30%);
    text-decoration: underline;
  }
  
  a:hover {
    color: darken(@bodyBackground, 50%);
  }
  
  .go-to-top {
    float: right;
    
    &, &:link, &:active, &:visited {
      text-decoration: none;
      
      i {
        .opacity(40);
      }
    }
    
    &:hover {
      i {
        .opacity(65);
      }
    }
  }
}
