// Tables
// --------------------------------------------------
.table-footer {
  background: darken(@bodyBackground, 8%);
  border-top: 1px solid darken(@bodyBackground, 18%);
  .border-radius(0px 0px 3px 3px);
  margin-top: -20px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 0px 12px;
  
  .form-inline {
    margin: 0px;
    padding: 6px 0px;
  }
}

// Vertically centered table
.table {
  td {
    vertical-align: middle;
  }
}

// Checkbox cell
td, th {
  &.check-cell {
    width: 32px;
  }
    
  .checkbox {
    margin-bottom: 0px;
    position: relative;
    bottom: 1px;
    
    input {
      position: relative;
      left: 9px;
    }
  }
}

// Lead cell
td.lead-cell {
  color: @gray;
  font-weight: bold;
}