// Tables
// --------------------------------------------------
.table-footer {
  background: darken(@bodyBackground, 8%);
  border-top: 1px solid darken(@bodyBackground, 18%);
  .border-radius(0px 0px 3px 3px);
  margin-bottom: 0px;
  padding: 0px 8px;
  position: relative;
  bottom: 20px;
  
  .pager {
    margin: 0px 0px;
    margin-top: 9px;
    padding: 0px;
    margin-right: 6px;
    
    &>li {
      margin-right: 6px;
    
      &>a {
        &:link, &:active, &:visited {
          background: darken(@bodyBackground, 8%);
          border: none;
          .border-radius(3px);
          padding: 2px 5px;
        }
      
        &:hover {
          background-color: @linkColor;
          
          i {
            background-image: url("@{iconWhiteSpritePath}");          
          }
        }
      }
    }
  }
  
  .table-count {
    padding: 11px 0px;
    
    color: @gray;
  }
  
  .form-inline {
    margin: 0px;
    padding: 6px 0px;
  }
}

// Checkbox cell
td, th {
  &.check-cell {
    width: 32px;
  }
    
  .checkbox {
    margin-bottom: 0px;
    position: relative;
    bottom: 1px;
    
    input {
      position: relative;
      left: 9px;
    }
  }
}

// Lead cell
td.lead-cell {
  color: @gray;
  font-weight: bold;
}

// Table sorting styles
th.table-sort {
  padding: 0px;
  
  a:link, a:active, a:visited a:hover{
    display: block;
    padding: 8px;
  }
  
  &.sort-active-asc {
    a:link, a:active, a:visited {
      border-bottom: 3px solid @blue;
      padding-bottom: 5px;
    }
    
    a:hover {
      border-bottom: 3px solid lighten(@red, 30%);
      padding-bottom: 5px;
      
      text-decoration: none;
    }
  }
  
  &.sort-active-desc {
    a:link, a:active, a:visited {
      border-bottom: 3px solid lighten(@red, 20%);
      padding-bottom: 5px;
    }
    
    a:hover {
      border-bottom: 3px solid lighten(@blue, 10%);
      padding-bottom: 5px;
      
      text-decoration: none;
    }
  }
  
  &.sort-asc {
    a:hover {
      border-bottom: 3px solid lighten(@blue, 40%);
      padding-bottom: 5px;
      
      text-decoration: none;
    }
  }
  
  &.sort-desc {    
    a:hover {
      border-bottom: 3px solid lighten(@red, 40%);
      padding-bottom: 5px;
      
      text-decoration: none;
    }    
  }
}
