// Utility classes
// --------------------------------------------------
.clickable {
  cursor: pointer;
}

.profile-header {
  overflow: auto;
  border-bottom: none;
  margin-bottom: @baseLineHeight * 1.5;
  
  .avatar-height {
    overflow: auto;
  
    .avatar {
      .border-radius(6px);
      margin-right: 24px;
      width: 125px;
      height: 125px;
    }
    
    h1 {
      font-size: 300%;
    }
    
    .lead {
      color: @gray;
      
      .muted {
        color: lighten(@gray, 25%);
      }
    }
  }
  
  .nav-tabs {
    margin-top: -22px;
    margin-bottom: 0px;
    padding-left: 142px;
  }
}

.avatar-menu {
  h3 {
    margin-top: 0px;
  }
}

.alerts-list {
  a {
    font-weight: bold;
  }
}

// Diff table
// --------------------------------------------------
.diff {
  margin: 18px 0px;
  padding: 0px;
  
  table {
    .border-radius(3px);
    width: 100%;
    
    tr {
      td {
        padding: 2px 8px;
        
        &.line {
          background-color: @grayLighter;
          border-right: 1px solid @grayLight;
          width: 1%;
          
          text-align: right;
          
          a {
            color: @gray; 
          }
        }
        
        &.even {
          background-color: darken(@white, 8%);
        }
        
        &.added {
          background-color: lighten(@green, 40%);
          
          &.even {
            background-color: lighten(@green, 32%);
          }
        }
        
        &.removed {
          background-color: lighten(@red, 50%);
          
          &.even {
            background-color: lighten(@red, 42%);
          }
        }
      }
    }
  }
  font-family: @monoFontFamily;
  font-weight: bold;
}
