// Utility classes
// --------------------------------------------------
.clickable {
  cursor: pointer;
}

.hover-opacity {
  .opacity(60);
  
  &:hover, &:active {
    .opacity(90);
  }
}

.hover-opacity-strong {
  .opacity(30);
  
  &:hover, &:active {
    .opacity(90);
  }
}

.span-actions {
  text-align: right;
  
  form {
    margin: 0px;
    padding: 0px;
  }
  
  .btn {
    margin-left: 8px;
  }
}

.profile-header {
  overflow: auto;
  border-bottom: none;
  margin-bottom: @baseLineHeight * 1.5;
  
  .avatar-height {
    overflow: auto;
  
    .avatar {
      .border-radius(6px);
      margin-right: 24px;
      width: 125px;
      height: 125px;
    }
    
    h1 {
      font-size: 300%;
    }
        
    .lead {
      color: @gray;
      
      .badge {
        position: relative;
        bottom: 3px;
      } 
       
      .muted {
        color: lighten(@gray, 25%);
      }
    }
  }
  
  .tabs-extra {
    margin-top: -33px;
  }
  
  .nav-tabs {
    margin-top: -22px;
    margin-bottom: 0px;
    padding-left: 142px;
  }
}

.avatar-menu {
  h3 {
    margin-top: 0px;
  }
}

.alerts-list {
  a {
    font-weight: bold;
  }
}

// Diff table
// --------------------------------------------------
.diff {
  margin: 18px 0px;
  padding: 0px;
  
  table {
    .border-radius(3px);
    width: 100%;
    
    tr {
      td {
        padding: 2px 8px;
        
        &.line {
          background-color: @grayLighter;
          border-right: 1px solid @grayLight;
          width: 1%;
          
          text-align: right;
          
          a {
            color: @gray; 
          }
        }
        
        &.even {
          background-color: darken(@white, 8%);
        }
        
        &.added {
          background-color: lighten(@green, 40%);
          
          &.even {
            background-color: lighten(@green, 32%);
          }
        }
        
        &.removed {
          background-color: lighten(@red, 50%);
          
          &.even {
            background-color: lighten(@red, 42%);
          }
        }
      }
    }
  }
  font-family: @monoFontFamily;
  font-weight: bold;
}

// Shorts-list
// --------------------------------------------------
.shorts-list {
  border-top: 1px solid @grayLighter;
  margin-top: 12px;
  
  li {
    border-bottom: 1px solid @grayLighter;
    padding: 0px;
    padding-bottom: 12px;
    margin: 0px;
    margin-top: 12px;
    
    .avatar{
      .border-radius(3px);
      float: left;
      width: 40px;
      height: 40px;
    }
    
    p {
      margin: 0px;
      margin-left: 54px;
      
      &.title {
        a {
          color: @textColor;
        }
      }
      
      &.message {        
        color: @gray;
      }
      
      &.location {
        color: @grayLight;
        font-size: 80%;
      }
    }
  }
}

.shorts-list-footer {
  background: none;
  border: none;
  margin-top: 0px;
  padding-left: 0px;
}
