// Fancy Well
// --------------------------------------------------
.well {
  background-color: lighten(@navbarBackground, 3%);
  border: 1px solid darken(@navbarBackground, 15%);
  .border-radius(4px);
  .box-shadow(0px 0px 0px 3px darken(@navbarBackground, 5%));
  padding: 24px 12px;
  margin: 0px -12px;
   
  // Alerts are displayed other way inside wells 
  .alert{
    border-width: 0px 0px 1px 0px;
    .border-radius(2px 2px 0px 0px);
    
    margin: -24px -12px;
    margin-bottom: 12px;
    padding: 12px;
    font-weight: bold;
  }
  
  // Fancy form actions
  .form-actions {
    background-color: lighten(@formActionsBackground, 2%);
    .border-radius(0px 0px 3px 3px);
    margin: -44px -12px;
    margin-top: 12px;
  }
  
  // Fix form button offset
  .form-horizontal {
    .form-actions {
      padding-left: @horizontalComponentOffset + 12px;
    }
  }
}