{% load i18n %}
<div id="{{ editor.auto_id }}" class="misago-editor">
  <div class="editor-toolbar">
    <ul class="list-unstyled">
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-strong" title="{% trans "Bold" %}">
          <span class="fa fa-bold fa-fw fa-lg"></span>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-emphasis" title="{% trans "Italic" %}">
          <span class="fa fa-italic fa-fw fa-lg"></span>
        </button>
      </li>
      {% if editor.allow_links or editor.allow_links or editor.allow_links %}
      <li class="separator"></li>
      {% endif %}
      {% if editor.allow_links %}
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-insert-link" title="{% trans "Insert link" %}">
          <span class="fa fa-link fa-fw fa-lg"></span>
        </button>
      </li>
      {% endif %}
      {% if editor.allow_images %}
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-insert-image" title="{% trans "Insert image" %}">
          <span class="fa fa-image fa-fw fa-lg"></span>
        </button>
      </li>
      {% endif %}
      {% if editor.uploads_url %}
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-upload-file" title="{% trans "Insert file" %}">
          <span class="fa fa-paperclip fa-fw fa-lg"></span>
        </button>
      </li>
      {% endif %}
      {% if editor.allow_blocks %}
      <li class="separator"></li>
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-insert-quote" title="{% trans "Quote" %}">
          <span class="fa fa-quote-left fa-fw fa-lg"></span>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-insert-code" title="{% trans "Code" %}">
          <span class="fa fa-code fa-fw fa-lg"></span>
        </button>
      </li>
      <li class="separator"></li>
      <li>
        <button type="button" class="btn btn-default tooltip-top btn-insert-hr" title="{% trans "Horizontal line" %}">
          <span class="fa fa-minus fa-fw fa-lg"></span>
        </button>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="editor-textarea">
    <textarea id="{{ editor.field.auto_id }}" name="{{ editor.field.html_name }}" rows="6">{% if editor.field.value %}{{ editor.field.value }}{% endif %}</textarea>
  </div>

  <div class="editor-footer">
  </div>
  <input type="file" class="editor-upload">
</div>
