{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Registration complete" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-check">
      {% trans "Registration complete" %}
    </h1>
  </div>
</div>

<div class="container">
  <div class="misago-markup">

    {% if activation_by_user %}
    <p class="lead">
      {% blocktrans trimmed with user=registered_user.username %}
      {{ user }}, your account has been created, but you have to activate it before you will be able to sign in.
      {% endblocktrans %}
    </p>
    <p class="lead">
      {% blocktrans trimmed with email=registered_user.email %}
      We have sent an e-mail to {{ email }} with a link that you have to click to activate your account.
      {% endblocktrans %}
    </p>
    {% elif activation_by_admin %}
    <p class="lead">
      {% blocktrans trimmed with user=registered_user.username %}
      {{ user }}, your account has been created, but administrator has to activate it before you will be able to sign in.
      {% endblocktrans %}
    </p>
    <p class="lead">
      {% blocktrans trimmed %}
      You will be notified with e-mail when this happens.
      {% endblocktrans %}
    </p>
    {% endif %}

  </div>
</div>
{% endblock content %}
