{% load i18n misago_forms %}

{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<div class="container page-container" id="misago-htmx-root">
  {% if preview %}
    {% include "misago/posting/preview.html" %}
  {% endif %}

  <form 
    action="{% url 'misago:reply-private-thread' id=thread.id slug=thread.slug %}"
    method="post"
    enctype="multipart/form-data"
    hx-post="{% url 'misago:reply-private-thread' id=thread.id slug=thread.slug %}"
    hx-trigger="submit"
    hx-target="#misago-htmx-root"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <div class="panel panel-default panel-form">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% translate "Reply to thread" context "reply thread page" %}
        </h3>
      </div>
      <div class="panel-body">
        {% include "misago/posting/errors.html" %}
        {% for form in formset.get_forms %}
          {% include form.template_name with form=form post_control_large=True %}
        {% endfor %}
      </div>
      <div class="panel-footer panel-footer-sticky">
        <button class="btn btn-primary" type="submit">
          {% translate "Post reply" context "reply thread submit btn" %}
        </button>
        <button class="btn btn-secondary" type="submit" name="{{ formset.preview_action }}" value="true" formnovalidate>
          {% translate "Preview" context "reply thread preview btn" %}
        </button>
      </div>
    </div>
  </form>
</div>