{% load i18n misago_capture misago_formats %}
{% capture trimmed as dropdown_menu %}
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-subheader">{% translate "Started" context "poll details dropdown" %}</div>
    <div class="dropdown-menu-item-body poll-details-info">
      {% if poll.starter_id %}
        <a href="{% url 'misago:user' pk=poll.starter_id slug=poll.starter_slug %}" class="item-title">{{ poll.starter_name }}</a>
      {% else %}
        <span class="item-title">{{ poll.starter_name }}</span>
      {% endif %}
      <span class="poll-details-separator">&bull;</span>
      <span
        class="poll-details-timestamp"
        title="{{ poll.started_at|date:'DATETIME_FORMAT' }}"
        misago-timestamp="{{ poll.started_at.isoformat }}"
        misago-timestamp-format="short"
      >
        {{ poll.started_at|date_relative }}
      </span>
    </div>
    {% if poll.is_closed and poll.closed_by_name %}
      <div class="divider"></div>
      <div class="dropdown-subheader">{% translate "Closed" context "poll details dropdown" %}</div>
      <div class="dropdown-menu-item-body poll-details-info">
        {% if poll.closed_by_id and poll.closed_by_slug %}
          <a href="{% url 'misago:user' pk=poll.closed_by_id slug=poll.closed_by_slug %}" class="item-title">{{ poll.closed_by_name }}</a>
        {% else %}
          <span class="item-title">{{ poll.closed_by_name }}</span>
        {% endif %}
        <span class="poll-details-separator">&bull;</span>
        <span
          class="poll-details-timestamp"
          title="{{ poll.closed_at|date:'DATETIME_FORMAT' }}"
          misago-timestamp="{{ poll.closed_at.isoformat }}"
          misago-timestamp-format="short"
        >
          {{ poll.closed_at|date_relative }}
        </span>
      </div>
    {% endif %}
    {% if allow_edit or allow_close or allow_open or allow_delete %}
      <div class="divider poll-details-option"></div>
      <div class="dropdown-subheader poll-details-option">{% translate "Options" context "poll details dropdown" %}</div>
    {% endif %}
    {% if allow_edit %}
      <div class="poll-details-option">
        <a href="{{ edit_url }}"
          class="btn btn-link dropdown-menu-btn"
          hx-boost="true"
        >
          {% translate "Edit" context "poll options btn" %}
        </a>
      </div>
    {% endif %}
    {% if allow_close %}
      <div class="poll-details-option" poll-details-option>
        <form action="{{ close_url }}" method="POST" hx-boost="true">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next_url }}">
          <button class="btn btn-link dropdown-menu-btn">
            {% translate "Close" context "poll options btn" %}
          </button>
        </form>
      </div>
    {% elif allow_open %}
      <div class="poll-details-option">
        <form action="{{ open_url }}" method="POST" hx-boost="true">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next_url }}">
          <button class="btn btn-link dropdown-menu-btn">
            {% translate "Open" context "poll options btn" %}
          </button>
        </form>
      </div>
    {% endif %}
    {% if allow_delete %}
      <div class="poll-details-option">
        <form action="{{ delete_url }}" method="POST" mg-confirm="{% translate 'Delete this poll?' context 'poll delete confirmation' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next_url }}">
          <button class="btn btn-link dropdown-menu-btn">
            {% translate "Delete" context "poll options btn" %}
          </button>
        </form>
      </div>
    {% endif %}
  </div>
{% endcapture %}
<div class="dropdown d-js-block">
  <button class="btn btn-link btn-icon btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="material-icon">more_horiz</span>
  </button>
  {{ dropdown_menu|safe }}
</div>
<noscript>
  <details class="dropdown-noscript">
    <summary class="btn btn-link btn-icon btn-sm">
      <span class="material-icon">more_horiz</span>
    </summary>
    {{ dropdown_menu|safe }}
  </details>
</noscript>