{% load i18n %}
{% if allow_edit or moderator %}
  <a href="{{ edit_url }}"
    class="btn btn-link"
    hx-boost="true"
  >
    {% translate "Edit" context "poll footer btn" %}
  </a>
{% endif %}
{% if allow_close or moderator %}
  <button
    class="btn btn-link"
    type="button"
    hx-post="{{ close_url }}"
  >
    {% translate "Close" context "poll footer btn" %}
  </button>
{% elif poll.is_closed and moderator %}
  <button
    class="btn btn-link"
    type="button"
    hx-post="{{ open_url }}"
  >
    {% translate "Open" context "poll footer btn" %}
  </button>
{% endif %}
{% if moderator %}
  <form action="{{ delete_url }}" method="POST" misago-confirm="{% translate 'Delete this poll?' context 'poll delete confirmation' %}">
    {% csrf_token %}
    <button class="btn btn-link">
      {% translate "Delete" context "poll footer btn" %}
    </button>
  </form>
{% endif %}