{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=category.name) }}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{ category.name }}{% if category.description %} <small>{{ category.description }}</small>{% endif %}</h1>
</div>
<div class="forums-list">
  <div class="category{% if category.style %} {{ category.style }}{% endif %}">
    {% for forum in forums_list %}
    {{ macros.draw_forum(category, forum) }}
    {% endfor %}
  </div>
</div>
{% endblock %}