{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "sora/macros.html" as macros with context %}

{% block breadcrumb %} <span class="divider">/</span></li>
{% for parent in parents %}
<li class="first"><a href="{{ parent.type|url(forum=forum.pk, slug=forum.slug) }}">{{ parent.name }}</a> <span class="divider">/</span></li>
{% endfor %}
<li class="active">{{ category.name }}
{%- endblock %}

{% block title %}{{ macros.page_title(title=category.name) }}{% endblock %}

{% block content %}
<div class="page-header">
  <ul class="breadcrumb">
    {{ self.breadcrumb() }}</li>
  </ul>
  <h1>{{ category.name }}{% if category.description %} <small>{{ category.description }}</small>{% endif %}</h1>
</div>
<div class="forums-list">
  <div class="category{% if category.style %} {{ category.style }}{% endif %}">
    {{ macros.draw_forums(category, 12) }}
  </div>
</div>
{% endblock %}