{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{% if settings.board_index_title %}{{ settings.board_index_title }}{% else %}{{ settings.board_name }}{% endif %}{% endblock %}
     
{% block meta %}{% if settings.board_index_meta %}
<meta name="description" content="{{ settings.board_index_meta }}">
{% endif %}{% endblock %}
      
{% block content %}
<div class="row">
  <div class="span8">
    <div class="forums-list">
      {% for category in forums_list %}{% if category.subforums %}
      <div class="category{% if category.style %} {{ category.style }}{% endif %}">
        <h2>{{ category.name }}{% if category.description %} <small><strong>{{ category.description }}</strong></small>{% endif %}</h2>
        {% for forum in category.subforums %}
        {{ macros.draw_forum(category, forum) }}
        {% endfor %}
      </div>{% endif %}{% endfor %}
    </div>
  </div>
  <div class="span4 forum-list-side">
    {% if team_online %}
    <h3>{% trans %}Team Online{% endtrans %}</h3>
    {% for user in team_online %}
    <div class="board-team">
      <img src="{{ user.get_avatar() }}" alt="" class="avatar-small"> <a href="{% url 'user' username=user.username_slug, user=user.pk %}">{{ user.username }}</a>{% if user.get_title() %} <span class="muted">{{ _(user.get_title()) }}</span>{% endif %}
    </div>
    <hr>
    {% endfor %}
    {% endif %}
    
    <h3>{% trans %}Popular Threads{% endtrans %}</h3>
    <hr>
    
    <h3>{% trans %}Forum Stats{% endtrans %}</h3>
    <p class="lead board-stat">{{ monitor.posts|int|intcomma }} <small>{% trans %}Posts{% endtrans %}</small></p>
    <p class="lead board-stat">{{ monitor.users|int|intcomma }} <small>{% trans %}Members{% endtrans %}</small></p>
  </div>
</div>
{% endblock %}