{% load i18n %}

{% macro page_title(title='', parent='', page=0) -%}
{% if parent %}{{ parent }}: {% endif %}{% if title %}{{ title }}{% if page > 1 %} ({% trans page=page %}{{ page }} page{% endtrans %}){% endif %} | {% endif %}{{ settings.board_name }}
{%- endmacro %}

{# Messages list marco #}
{% macro messages_list(messages) %}{% if messages %}<div class="alerts-list">{% for message in messages %}
  {{ draw_message(message) }}
{% endfor %}</div>{% endif %}
{% endmacro %}

{# Render single message #}
{% macro draw_message(message, class='') %}
  <div class="alert alert-{{ message.type }}{% if class %} {{ class }}{% endif %}">
  	{{ draw_message_icon(message) }} <p><strong>{{ message.message }}</strong></p>
  </div>
{%- endmacro %}

{# Render single message #}
{% macro draw_message_icon(message) -%}
  	<div class="alert-icon"><span><i class="icon-{% if message.type == 'error' -%}remove
  		{%- elif message.type == 'success' -%}ok
  		{%- elif message.type == 'info' -%}info-sign
  		{%- else -%}warning-sign
  		{%- endif %} icon-white"></i></span></div>
{%- endmacro %}

{# Render forum on list #}
{% macro draw_forum(category, forum) %}
<div class="well well-forum{% if forum.style %} {{ forum.style }}{% endif %}">
  <div class="forum-icon{% if forum.type == 'redirect' %} redirect-icon{% endif %}"><i class="icon-{% if forum.type == 'redirect' %}circle-arrow-right{% else %}comment{% endif %} icon-white"></i></div>
  <div class="forum-details">
    <div class="pull-left">
      <h3><a href="{{ forum.type|url(slug=forum.slug, forum=forum.id) }}">{{ forum.name }}</a></h3>
      {% if forum.description %}<div class="muted">{{ forum.description }}</div>{% endif %}
    </div>
    {% if forum.type == 'redirect' %}
    <div class="pull-right forum-stat stat-redirects">
      <span class="stat {% if forum.redirects_delta > 0 %}positive{% else %}stag{% endif %}">{% if forum.redirects_delta > 0 %}+{{ forum.redirects_delta }}{% else %}{{ forum.redirects }}{% endif %}</span> <span class="muted">{% trans %}clicks{% endtrans %}</span>
    </div>
    {% else %}
    <div class="pull-right forum-stat stat-posts">
      <span class="stat {% if forum.posts_delta > 0 %}positive{% else %}stag{% endif %}">{% if forum.posts_delta > 0 %}+{{ forum.posts_delta }}{% else %}{{ forum.posts }}{% endif %}</span> <span class="muted">{% trans %}posts{% endtrans %}</span>
    </div>
    <div class="pull-right forum-stat stat-topics">
      <span class="stat {% if forum.threads_delta > 0 %}positive{% else %}stag{% endif %}">{% if forum.posts_delta > 0 %}+{{ forum.threads_delta }}{% else %}{{ forum.threads }}{% endif %}</span> <span class="muted">{% trans %}threads{% endtrans %}</span>
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}