{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "_forms.html" as form_theme with context %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Sign In')) }}{% endblock %}
      
{% block content %}
<div class="page-header">
  <h1>{% trans %}Sign In to Your Account{% endtrans %}</h1>
</div>
<div class="row">
  <div class="span6">
    <div class="well">
	  {% if message %}<div class="alert alert-form alert-{{ message.type }}">
  	    {{ macros.draw_message_icon(message) }}
	    <p><strong>{{ message.message }}</strong></p>{% if bad_password %}
	    <p class="protip"><a href="{% url 'forgot_password' %}">{% trans %}Click here if you forgot your sign in credentials.{% endtrans %}</a></p>{% endif %}{% if not_active %}
	    <p class="protip"><a href="{% url 'send_activation' %}">{% trans %}Click here if you didn't receive activation e-mail.{% endtrans %}</a></p>{% endif %}{% if banned_account.reason_user %}
	    {{ banned_account.reason_user|markdown|safe }}{% endif %}{% if banned_account.expires %}
        <p class="protip">{% trans ban_expires=banned_account.expires|date %}Your ban will expire on {{ ban_expires }}{% endtrans %}</p>{% endif %}
	  </div>{% endif %}
	  <form class="form-horizontal" action="{% url 'sign_in' %}" method="post">
	    <div class="form-container">
	      {{ form_theme.form_widget(form, horizontal=true, width=6) }}
	    </div>
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">{% trans %}Sign In{% endtrans %}</button>
	    </div>
	  </form>
	</div>
  </div>
  <div class="span6">  
    <h3>{% trans %}I don't remember my password{% endtrans %}</h3>
    <p><i class="icon-refresh"></i> <a href="{% url 'forgot_password' %}"><strong>{% trans %}I want to reset my account's password{% endtrans %}</strong></a></p>
	  
    <h3>{% trans %}I haven't received activation e-mail{% endtrans %}</h3>
    <p><i class="icon-envelope"></i> <a href="{% url 'send_activation' %}"><strong>{% trans %}Resend me e-mail with activation link{% endtrans %}</strong></a></p>
	  
    {% if settings.account_activation != 'block' %}
    <h3>{% trans %}I don't have account yet{% endtrans %}</h3>
    <p><i class="icon-edit"></i> <a href="{% url 'register' %}"><strong>{% trans %}I want to register new account{% endtrans %}</strong></a></p>{% endif %}
  </div>
</div>
{% endblock %}