{% extends "misago/admin/generic/form.html" %}
{% load i18n %}


{% block title %}
{% blocktrans with category=target.name %}
Delete category: {{ category }}
{% endblocktrans %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-target %}
{% blocktrans with category=target.name %}
Delete category: {{ category }}
{% endblocktrans %}
{% endblock page-target %}


{% block form-header %}
<h1>
  {% blocktrans with category=target.name %}
  Delete category: {{ category }}
  {% endblocktrans %}
</h1>
{% endblock %}


{% block form-body %}
<div class="form-body">
  <fieldset>
    <legend>{% trans "Category contents" %}</legend>

    {% if not form.instance.is_leaf_node %}
    {{ form.move_children_to }}
    {% endif %}
    {{ form.move_threads_to }}

  </fieldset>
</div>
{% endblock form-body %}


{% block form-footer %}
<button class="btn btn-danger">{% trans "Delete category" %}</button>
{% endblock %}
