{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_admin_form %}


{% block title %}
{% if target.pk %}
  {{ target }}
{% else %}
  {% trans "New category" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-header %}
{{ block.super }}
{% if target.pk %}
  <small>
    {{ target }}
  </small>
{% endif %}
{% endblock page-header %}


{% block page-actions %}
{% if target.pk %}
  <div class="col-auto page-action">
    <a href="{% url 'misago:admin:categories:permissions' pk=target.pk %}" class="btn btn-primary btn-sm">
      <span class="fa fa-adjust"></span>
      {% trans "Edit permissions" %}
    </a>
  </div>
  <div class="col-auto page-action">
    <a href="{{ target.get_absolute_url }}" class="btn btn-primary btn-sm">
      <span class="fas fa-external-link-alt"></span>
      {% trans "View on site" %}
    </a>
  </div>
{% endif %}
{% endblock %}


{% block form-header %}
{% if target.pk %}
  {% trans "Edit category" %}
{% else %}
  {% trans "New category" %}
{% endif %}
{% endblock %}


{% block form-body %}
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Display and position" %}</legend>

    {% form_row form.new_parent %}
    {% form_row form.name %}
    {% form_row form.description %}
    {% form_row form.css_class %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Behaviour" %}</legend>

    {% form_row form.copy_permissions %}
    {% form_row form.is_closed %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Content approval" %}</legend>

    {% form_row form.require_threads_approval %}
    {% form_row form.require_replies_approval %}
    {% form_row form.require_edits_approval %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Prune threads" %}</legend>

    {% form_row form.prune_started_after %}
    {% form_row form.prune_replied_after %}
    {% form_row form.archive_pruned_in %}

  </fieldset>
</div>
{% endblock form-body %}
