{% extends "misago/base.html" %}
{% load i18n misago_component misago_plugins %}


{% block title %}
  {{ thread }}{% if feed.paginator.number > 1 %} | {% blocktranslate with page=feed.paginator.number context "thread page title" %}Page {{ page }}{% endblocktranslate %}{% endif %} | {% translate "Private threads" context "private threads page" %} | {{ settings.forum_name }}
{% endblock title %}


{% block content %}
<div class="page page-thread">
  {% include "misago/private_thread/header.html" %}
  <div class="container page-container">

    {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_START %}

    <div id="misago-htmx-members">
      {% includecomponent members %}
    </div>

    <a id="misago-page-scroll-target" class="scroll-target"></a>
    {% include "misago/private_thread/partial.html" %}

    {% if user.is_authenticated %}
      {% if reply.error %}
        <div
          id="misago-htmx-quick-reply"
          class="thread-no-reply-message"
          hx-get="{% url 'misago:private-thread-reply' thread_id=thread.id slug=thread.slug %}?quick_reply=true"
          hx-trigger="misago:afterUpdateMembers from:body"
          hx-swap="outerHTML"
        >
          {{ reply.error }}
        </div>
      {% else %}
        <div id="misago-quick-reply-scroll-target" class="scroll-target"></div>
        {% includecomponent reply %}
      {% endif %}
    {% endif %}

    {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_END %}

  </div>
</div>
{% endblock content %}


{% block modals %}
  {% if user.is_authenticated %}
    {% include "misago/posting/markup_editor_modals.html" %}
    {% include "misago/posting/attachment_templates.html" %}
  {% endif %}
  {% if members.manage %}
      {% include "misago/private_thread/members_add_modal.html" %}
  {% endif %}
  {% include "misago/lightbox/index.html" %}
  {% include post_edits_modal_template %}
  {% include post_likes_modal_template %}
{% endblock modals %}


{% block javascript %}
<script type="text/javascript">
  misago.quote.activate({
    reply: {% if reply.url %}!!document.getElementById("misago-htmx-quick-reply"){% else %}false{% endif %},
    quote: true,
  })

  {% if reply.url %}
  misago.feed.activate()
  {% endif %}
</script>
{% endblock javascript %}