{% extends "misago/base.html" %}
{% load i18n misago_component misago_plugins %}


{% block title %}
  {{ thread }}{% if feed.paginator.number > 1 %} | {% blocktranslate with page=feed.paginator.number context "thread page title" %}Page {{ page }}{% endblocktranslate %}{% endif %} | {% translate "Private threads" context "private threads page" %} | {{ settings.forum_name }}
{% endblock title %}


{% block content %}
<div class="page page-thread">
  {% include "misago/private_thread/header.html" %}
  <div class="container page-container">

    {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_START %}

    <a id="misago-page-scroll-target" class="scroll-target"></a>
    {% include "misago/private_thread/partial.html" %}

    {% if user.is_authenticated %}
      <div id="misago-quick-reply-scroll-target" class="scroll-target"></div>
      {% includecomponent reply %}
    {% endif %}

    {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_END %}

  </div>
</div>
{% endblock content %}


{% block modals %}
  {% if user.is_authenticated %}
    {% include "misago/posting/markup_editor_modals.html" %}
    {% include "misago/posting/attachment_templates.html" %}
  {% endif %}
{% endblock modals %}
