{% load i18n %}

<div
  id="add-members-modal"
  class="modal fade"
  aria-hidden="false"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' context 'modal' %}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          {% translate "Add members" context "private thread members add modal "%}
        </h4>
      </div>
      <div id="misago-htmx-add-members-modal"></div>
    </div>
  </div>
</div>