{% load i18n misago_component %}

{% if is_request_htmx %}
<title>{{ thread }}{% if feed.paginator.number > 1 %} | {% blocktranslate with page=feed.paginator.number context "thread page title" %}Page {{ page }}{% endblocktranslate %}{% endif %} | {% translate "Private threads" context "private threads page" %} | {{ settings.forum_name }}</title>
{% endif %}
<div id="misago-htmx-root">
  {% include "misago/thread/toolbar.html" with top_toolbar=True bottom_toolbar=False %}
  {% includecomponent feed %}
  {% include "misago/thread/toolbar.html" with top_toolbar=False bottom_toolbar=True %}
</div>