{% load i18n misago_plugins %}

<div class="toolbar{% if top_toolbar %} toolbar-min-height{% endif %}">
  {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_TOOLBAR_START %}
  {% if feed.paginator.has_other_pages %}
    <div class="toolbar-section{% if not bottom %} flex-order-last-xs{% endif %}">
      <div class="toolbar-item">
        {% include "misago/thread/paginator.html" with page=feed.paginator paginator=feed.paginator.paginator bottom=bottom %}
      </div>
    </div>
  {% endif %}
  {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_TOOLBAR_BEFORE_SPACER %}
  <div class="toolbar-spacer"></div>
  {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_TOOLBAR_AFTER_SPACER %}
  {% if top_toolbar %}
    <div class="toolbar-section">
      <div class="toolbar-item d-js-block">
        <form
          action="{% url 'misago:private-thread-leave' thread_id=thread.id slug=thread.slug %}"
          method="post"
          mg-confirm="{% translate 'Are you sure you want to leave this thread?' context 'private thread leave confirm prompt' %}"
        >
          {% csrf_token %}
          <button class="btn btn-default btn-block">
            {% translate "Leave" context "private thread replies toolbar" %}
          </button>
        </form>
      </div>
      <noscript class="toolbar-item">
        <a href="{% url 'misago:private-thread-leave' thread_id=thread.id slug=thread.slug %}" class="btn btn-default btn-block">
          {% translate "Leave" context "private thread replies toolbar" %}
        </a>
      </noscript>
      {% if reply.url %}
        <div class="toolbar-item">
          <a href="{{ reply.url }}" class="btn btn-primary btn-block">
            {% translate "Post reply" context "thread replies toolbar" %}
          </a>
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="toolbar-section">
      <div class="toolbar-item d-js-block">
        <form
          action="{% url 'misago:private-thread-leave' thread_id=thread.id slug=thread.slug %}"
          method="post"
          mg-confirm="{% translate 'Are you sure you want to leave this thread?' context 'private thread leave confirm prompt' %}"
        >
          {% csrf_token %}
          <button class="btn btn-default btn-block">
            {% translate "Leave" context "private thread replies toolbar" %}
          </button>
        </form>
      </div>
      <noscript class="toolbar-item">
        <a href="{% url 'misago:private-thread-leave' thread_id=thread.id slug=thread.slug %}" class="btn btn-default btn-block">
          {% translate "Leave" context "private thread replies toolbar" %}
        </a>
      </noscript>
    </div>
  {% endif %}
  {% pluginoutlet PRIVATE_THREAD_REPLIES_PAGE_TOOLBAR_END %}
</div>