{% load i18n %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
  <h4 class="modal-title" id="ajaxModalLabel">
    <span class="fa fa-exclamation-triangle fa-fw fa-lg"></span>
    {% blocktrans trimmed count posts=posts_count %}
    {{ posts }} reported post
    {% plural %}
    {{ posts }} reported posts
    {% endblocktrans %}
  </h4>
</div>
{% include "misago/thread/gotolists/list.html" %}
