{% load i18n %}
<figure
  class="rich-text-attachment-broken"
  misago-rich-text-attachment="{{ attachment.name }}:{{ attachment.id }}"
>
  <div class="rich-text-attachment-broken-icon" aria-hidden="true">
    {% include "tabler/notdef.svg" %}
  </div>
  <figcaption class="rich-text-attachment-broken-content">
    <div class="rich-text-attachment-broken-name">
      {{ attachment.name }}
    </div>
    <div class="rich-text-attachment-broken-message">
      {% translate "The attachment file is missing." context "rich text attachment broken" %}
    </div>
  </figcaption>
</figure>