{% load i18n %}
<figure
  class="rich-text-attachment-permission-denied rich-text-image-permission-denied"
  misago-rich-text-attachment="{{ attachment.name }}:{{ attachment.id }}"
>
  <div class="rich-text-attachment-permission-denied-icon" aria-hidden="true">
    {% include "tabler/photo.svg" %}
  </div>
  <figcaption class="rich-text-attachment-permission-denied-content">
    <div class="rich-text-attachment-permission-denied-name">
      {{ attachment.name }}
    </div>
    <div class="rich-text-attachment-permission-denied-message">
      {% translate "You don't have permission to view this image." context "rich text attachment image permission denied" %}
    </div>
  </figcaption>
</figure>