{% load i18n %}
<div class="rich-text-image{% if attachment.dimensions %} rich-text-image-responsive{% endif %}">
  <a class="rich-text-image-link" href="{{ attachment.get_absolute_url }}" target="_blank">
    {% if attachment.thumbnail %}
      <img src="{{ attachment.get_thumbnail_url }}" alt="{{ attachment.name }}" title="{{ attachment.name }}" {% if attachment.thumbnail_dimensions %}width="{{ attachment.thumbnail_width }}" height="{{ attachment.thumbnail_height }}" {% endif %}loading="lazy">
    {% else %}
      <img src="{{ attachment.get_absolute_url }}" alt="{{ attachment.name }}" title="{{ attachment.name }}" {% if attachment.dimensions %}width="{{ attachment.width }}" height="{{ attachment.height }}" {% endif %} loading="lazy">
    {% endif %}
  </a>
  <a
    href="{{ attachment.get_details_url }}"
    target="_blank"
    class="rich-text-info-hover-btn"
    title="{% translate 'See information' context 'rich text attachment info btn' %}"
  >
    <span class="material-icon">info</span>
  </a>
</div>