{% load i18n %}
<div
  class="rich-text-attachment-link"
  misago-rich-text-attachment="{{ attachment.name }}:{{ attachment.id }}"
>
  <a href="{% url 'misago:attachment-download' slug=attachment.slug id=attachment.id %}" target="_blank" class="rich-text-attachment-link-main">
    <div class="rich-text-attachment-link-icon" aria-hidden="true">
      {% include "tabler/external-link.svg" %}
    </div>
    <div class="rich-text-attachment-link-content">
      <div class="rich-text-attachment-link-filename">
        {{ attachment.name }}
      </div>
    </div>
  </a>
  <a
    href="{% url 'misago:attachment-details' slug=attachment.slug id=attachment.id %}"
    target="_blank"
    class="rich-text-attachment-link-info-button"
    aria-label="{% translate 'See information' context 'rich text attachment info btn' %}"
  >
    {% include "tabler/info-circle.svg" %}
  </a>
</div>