{% load i18n %}
<div
  class="rich-text-video-iframe rich-text-video-youtube"
  misago-rich-text-youtube="https://www.youtube.com/watch?v{{ video }}{% if start %}&t={{ start }}{% endif %}"
>
  <iframe
    loading="lazy"
    src="https://www.youtube.com/embed/{{ video }}{% if start %}?t={{ start }}{% endif %}"
    title="{% trans 'YouTube video player' context 'rich text video' %}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>