{% extends "_email/base_plain.html" %}

{% block title %}{% trans board_name=settings.board_name %}Confirm New Password Request on {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
{% trans username=user.username %}{{ username }}, you are receiving this message because you have requested for new password to be generated and set on your account.{% endtrans %}

{% trans %}To confirm that you want to reset your account's password with new one click the link below:{% endtrans %}
{{ board_address }}{% url 'reset_password' username=user.username_slug, user=user.id, token=user.token %}

{% trans %}Your new password will be sent back to you in next message once you click confirmation link.{% endtrans %}
{% endblock %}