{% extends "admin/admin/form.html" %}
{% import "forms.html" as form_theme with context %}

{% block form %}
<fieldset>
  <legend>{% trans %}Basic Account Settings{% endtrans %}</legend>
  {{ form_theme.row(form.username, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.title, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.rank, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.roles, attrs={'class': 'span12'}) }}
</fieldset>
<fieldset>
  <legend>{% trans %}Sign-in Credentials{% endtrans %}</legend>
  {% if 'email' in form.fields %}
  {{ form_theme.row(form.email, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.new_password, attrs={'class': 'span12'}) }}
  {% else %}
  <p>{% trans %}This user account belongs to system administrator. It's sign in credentials can be changed only by other sysadmins.{% endtrans %}</p>
  {% endif %}
</fieldset>
<fieldset>
  <legend>{% trans %}User Avatar{% endtrans %}</legend>
  {{ form_theme.row(form.avatar_custom, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.avatar_ban) }}
  {{ form_theme.row(form.avatar_ban_reason_user, attrs={'class': 'span12', 'rows': 4}) }}
  {{ form_theme.row(form.avatar_ban_reason_admin, attrs={'class': 'span12', 'rows': 4}) }}
</fieldset>
<fieldset>
  <legend>{% trans %}User Signature{% endtrans %}</legend>
  {{ form_theme.row(form.signature, attrs={'class': 'span12', 'rows': 4}) }}
  {{ form_theme.row(form.signature_ban) }}
  {{ form_theme.row(form.signature_ban_reason_user, attrs={'class': 'span12', 'rows': 4}) }}
  {{ form_theme.row(form.signature_ban_reason_admin, attrs={'class': 'span12', 'rows': 4}) }}
</fieldset>
{% endblock %}
