{% extends "misago/threadslist/base.html" %}
{% load i18n misago_shorthands misago_stringutils %}


{% block title %}
{% if list_name %}
  {% if paginator.page > 1 %}
    {{ list_name }} ({% blocktrans with page=paginator.page %}page: {{ page }}{% endblocktrans %}) | {{ category }} | {{ block.super }}
  {% else %}
    {{ list_name }} | {{ category }} | {{ block.super }}
  {% endif %}
{% elif paginator.page > 1 %}
  {{ category }} ({% blocktrans with page=paginator.page %}page: {{ page }}{% endblocktrans %}) | {{ block.super }}
{% else %}
  {{ category }} | {{ block.super }}
{% endif %}
{% endblock title %}


{% block extra-css %}
page-private-threads
{% endblock extra-css %}


{% block page-header %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <h1>{{ category }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include "misago/threadslist/tabs.html" with hide_unapproved=True %}
  {% endif %}
</div>
{% endblock page-header %}


{% block list-container %}
<div class="category-description">
  <div class="page-lead">
    <p>{% trans "Private threads are threads which only those that started them and those they have invited may see and participate in." %}</p>
  </div>
</div>

{{ block.super }}
{% endblock list-container%}


{% block thread %}
{% include "misago/threadslist/thread.html" with hide_path=True %}
{% endblock thread %}


{% block list-empty-message %}
{% if list_type == 'all' %}
  <p class="lead">
    {% trans "You aren't participating in any private threads." %}
  </p>
  <p>
    {% trans "Why not start one yourself?" %}
  </p>
{% else %}
  {% trans "No threads matching specified criteria were found." %}
{% endif %}
{% endblock list-empty-message %}