{% extends "misago/threadslist/base.html" %}
{% load i18n %}


{% block title %}
{% if THREADS_ON_INDEX and paginator.page == 1 %}
  {% if list_name %}
    {{ list_name }} | {{ block.super }}
  {% elif misago_settings.forum_index_title %}
    {{ misago_settings.forum_index_title }}
  {% else %}
    {{ misago_settings.forum_name }}
  {% endif %}
{% else %}
  {% if list_name %}
    {{ list_name }} | {% trans "Threads" %} | {{ block.super }}
  {% elif paginator.page > 1 %}
    {% trans "Threads" %} ({% blocktrans with page=paginator.page %}page: {{ page }}{% endblocktrans %}) | {{ block.super }}
  {% else %}
    {% trans "Threads" %} | {{ block.super }}
  {% endif %}
{% endif %}
{% endblock title %}


{% block meta-description %}
{% if THREADS_ON_INDEX and misago_settings.forum_index_meta_description %}
  {{ misago_settings.forum_index_meta_description }}
{% endif %}
{% endblock meta-description %}


{% block page-header %}
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="{{ user.is_authenticated|yesno:'col-md-8,col-xs-12' }}">
        <div class="row">
          <div class="col-xs-12">
            {% if THREADS_ON_INDEX %}
              {% if misago_settings.forum_index_title %}
                <h1>{{ misago_settings.forum_index_title }}</h1>
              {% else %}
                <h1>{{ misago_settings.forum_name }}</h1>
              {% endif %}
            {% else %}
              <h1>{% trans "Threads" %}</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include "misago/threadslist/tabs.html" %}
  {% endif %}
</div>
{% endblock page-header %}