{% load i18n %}
<li class="list-group-item">
  <div>
    {% if thread.is_read %}
    [read]
    {% else %}
    [new]
    {% endif %}

    <a href="{{ thread.get_absolute_url }}" class="item-title lead">
      {{ thread.title }}
    </a>
  </div>
  <ul class="list-inline">

    {% if thread.top_category %}
    <li class="thread-path">
      <a href="{{ thread.top_category.get_absolute_url }}" class="thread-category{% if thread.top_category.css_class %} thread-category-{{ thread.top_category.css_class }}{% endif %}">
        {{ thread.top_category.name }}
      </a>
      {% if thread.category != thread.top_category %}
      <span class="path-separator">
        <span class="material-icon">
          arrow_forward
        </span>
      </span>
      <a href="{{ thread.category.get_absolute_url }}" class="thread-category{% if thread.category.css_class %} thread-category-{{ thread.category.css_class }}{% endif %}">
        {{ thread.category.name }}
      </a>
      {% endif %}
    </li>
    {% endif %}

    <li>
      {% blocktrans trimmed count replies=thread.replies %}
      {{ replies }} reply
      {% plural %}
      {{ replies }} replies
      {% endblocktrans %}
    </li>

    <li>
      {{ thread.last_poster_name }}
    </li>

    <li>
      {{ thread.last_post_on|date }}
    </li>

  </ul>
</li>