{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_admin_form %}


{% block title %}
{% if target.pk %}
  {{ target }}
{% else %}
  {% translate "New moderator" context "admin moderator form" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-header %}
{{ block.super }}
<small>
  {% if target.group %}{{ target.group }}{% else %}{{ target.user.username }}{% endif %}
</small>
{% endblock page-header %}


{% block form-header %}
{% if target.pk %}
    {% translate "Edit moderator" context "admin moderator form" %}
{% else %}
  {% translate "New moderator" context "admin moderator form" %}
{% endif %}
{% endblock %}


{% block form-body %}
<div class="form-fieldset form-fieldset-global">
  <fieldset>
    <legend>{% translate "Basic settings" context "admin moderator form" %}</legend>

    {% form_row form.is_global %}

  </fieldset>
</div>
<div class="form-fieldset form-fieldset-dynamic{% if target.is_global %} d-none{% endif %}">
  <fieldset>
    <legend>{% translate "Categories" context "admin moderator form" %}</legend>

    {% form_row form.categories %}

  </fieldset>
</div>
<div class="form-fieldset form-fieldset-dynamic{% if target.is_global %} d-none{% endif %}">
  <fieldset>
    <legend>{% translate "Private threads" context "admin moderator form" %}</legend>

    <div class="alert alert-info">
      {% blocktranslate trimmed context "admin moderator form" %}
        Moderators can only access private threads they've been invited to or those that contain reported content.
      {% endblocktranslate %}
    </div>

    {% form_row form.private_threads %}

  </fieldset>
</div>
{% endblock form-body %}


{% block form-footer %}
{% if target.pk %}
  {% include "misago/admin/generic/form_footer.html" %}
{% else %}
  <button class="btn btn-primary btn-sm">
    {% translate "Create moderator" context "admin moderator form action" %}
  </button>
{% endif %}
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
  const fieldsets = document.querySelectorAll(".form-fieldset-dynamic")

  const inputs = document.querySelectorAll(".form-fieldset-global input")
  const isGlobalEnabled = inputs[0]
  const isGlobalDisabled = inputs[1]

  isGlobalEnabled.addEventListener("change", (event) => {
    for (let fieldset of fieldsets) {
      fieldset.classList.add("d-none")
    }
  })

  isGlobalDisabled.addEventListener("change", (event) => {
    for (let fieldset of fieldsets) {
      fieldset.classList.remove("d-none")
    }
  })
</script>
{% endblock %}