<div class="modal-dialog modal-sm modal-sign-in">
  <div class="modal-content">
    {{#modal-header}}
      <h4 class="modal-title" id="loginModalLabel">{{gettext "Sign in"}}</h4>
    {{/modal-header}}

    {{login-form}}

  </div>
</div>