{% extends "admin/layout.html" %}

{% block title %}{% trans %}Permission denied{% endtrans %} - {{ settings.board_name }}{% endblock %}
      
{% block content %}
<div class="row">
  <div class="span6 offset3">
    <div class="page-header">
      <h2>{% trans %}Permission denied{% endtrans %} <small>{% trans %}Error 403{% endtrans %}</small></h2>
    </div>
    {% block message %}
    {% if message %}
    <p class="lead">{{ message }}</p>
    {% else %}
    <p class="lead">{% trans %}You don't have permission to see this page.{% endtrans %}</p>
    {% endif %}
    {% endblock %}
    <ul class="unstyled">
      <li><i class="icon-arrow-left"></i> <a href="#" class="go-back">{% trans %}Return to previous page{% endtrans %}</a></li>
    </ul>
  </div>
</div>
{% endblock %}