{# Messages list marco #}
{% macro messages_list(messages) %}{% if messages %}<div class="alerts-list">{% for message in messages %}
  {{ draw_message(message) }}
{% endfor %}</div>{% endif %}
{% endmacro %}

{# Render single message #}
{% macro draw_message(message, class='') %}
  <div class="alert alert-{{ message.type }}{% if class %} {{ class }}{% endif %}">{% if message.is_basic() %}
  	<div class="alert-icon"><span><i class="icon-{% if message.type == 'error' -%}remove
  		{%- elif message.type == 'success' -%}ok
  		{%- elif message.type == 'info' -%}info-sign
  		{%- else -%}warning-sign
  		{%- endif %} icon-white"></i></span></div> <p>{{ message.message }}</p>{% else %}
  		{% include message.tpl %}{% endif %}
  </div>
{%- endmacro %}
