{% extends "misago/threads/base.html" %}
{% load i18n %}


{% block title %}{% trans "Move threads" %} | {{ block.super }}{% endblock title %}


{% block content %}
<div{% if forum.css %} class="page-{{ forum.css_class }}"{% endif %}>
  <div class="page-header">
    <div class="container">
      {% if path %}
      <ol class="breadcrumb">
        {% for crumb in path|slice:":-1" %}
        <li>
          <a href="{{ crumb.get_absolute_url }}">{{ crumb }}</a><span class="fa fa-chevron-right"></span>
        </li>
        {% endfor %}
        <li>
          <a href="{{ forum.get_absolute_url }}">{{ forum }}</a>
        </li>
      </ol>
      {% endif %}

      <h1>{% trans "Move threads" %}</h1>
    </div>
  </div>

  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="move">
      {% for thread in threads %}
      <input type="hidden" name="thread" value="{{ thread.pk }}">
      {% endfor %}

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="form-panel">

            <div class="form-header">
              <h2>
                {% blocktrans trimmed with forum=forum %}
                  Move threads from {{ forum }}
                {% endblocktrans %}
              </h2>
            </div>

            {% include "misago/form_errors.html" %}
            <div class="form-body no-fieldsets">

              {% include "misago/threads/move/body.html" %}

            </div>

            <div class="form-footer text-center">

              <button class="btn btn-primary" name="submit">{% trans "Move threads" %}</button>
              <a href="" class="btn btn-default">{% trans "Cancel" %}</a>

            </div>
          </div>

        </div>
      </div><!-- /.row -->

    </form>
  </div>

</div>
{% endblock content %}
