//
// Alerts
// --------------------------------------------------


.misago-alert-close(@text, @bg) {
  background-color: lighten(@bg, 10%);
  border: 1px solid lighten(@bg, 10%);
  border-radius: @border-radius-small;
  .box-shadow(none);
  float: none;
  margin-left: @alert-padding;
  padding: 6px 8px;
  .opacity(1);

  color: @text;
  font-size: @font-size-base;
  text-shadow: none;

  &:hover {
    background-color: darken(@bg, 15%);
    border-color: darken(@bg, 15%);

    color: @text;
  }

  &:active, &:focus {
    background-color: @text;
    border: 1px solid @text;

    color: @bg;
  }
}


.misago-alerts {
  margin-bottom: @line-height-computed;

  .alerts-list {
    width: 100%;

    text-align: center;

    &.affix {
      top: 0;
      z-index: @zindex-navbar-fixed;
    }

    .alert {
      border: none;
      border-radius: 0;
      margin-bottom: 0px;
      padding: @alert-padding;

      .alert-icon {
        margin: -@alert-padding 0px;
        margin-right: @alert-padding * .7;
        position: relative;
        top: ((@font-size-base * 1.8) - @line-height-computed) / 2;

        font-size: @font-size-base * 1.8;
      }

      &.alert-success {
        .close {
          .misago-alert-close(@alert-success-text, @alert-success-bg);
        }
      }

      &.alert-info {
        .close {
          .misago-alert-close(@alert-info-text, @alert-info-bg);
        }
      }

      &.alert-warning {
        .close {
          .misago-alert-close(@alert-warning-text, @alert-warning-bg);
        }
      }

      &.alert-danger {
        .close {
          .misago-alert-close(@alert-danger-text, @alert-danger-bg);
        }
      }
    }
  }
}
