//
// User Warnings
// --------------------------------------------------


// Warning summary
//
//==
.warning-summary {
  p.lead {
    margin-bottom: @line-height-computed / 3;
  }

  ul {
    overflow: auto;

    li {
      margin-right: @line-height-computed;
      float: left;
    }
  }
}


// Warnings list
//
//==
.warnings-list {
  .panel-footer {
    .state-valid {
      color: @brand-danger;
    }

    .state-canceled {
      color: @brand-warning;
    }

    .state-expired {
      color: fadeOut(@text-color, 40);
    }
  }
}
