{% extends "misago/admin/conf/form.html" %}
{% load i18n misago_admin_form %}


{% block form-body %}
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Site details" %}</legend>

    {% form_row form.forum_name %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Forum index" %}</legend>

    {% form_row form.forum_index_title %}
    {% form_row form.forum_index_meta_description %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Branding" %}</legend>

    {% with form.forum_branding_icon_delete as delete_field %}
      {% with form_settings.forum_branding_icon as setting %}
        {% form_image_row form.forum_branding_icon delete_field=delete_field size=setting.image_size dimensions=setting.image_dimensions %}
      {% endwith %}
    {% endwith %}
    {% with form.forum_branding_logo_delete as delete_field %}
      {% with form_settings.forum_branding_logo as setting %}
        {% form_image_row form.forum_branding_logo delete_field=delete_field size=setting.image_size dimensions=setting.image_dimensions %}
      {% endwith %}
    {% endwith %}
    {% form_row form.forum_branding_text %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% trans "Forum footnote" %}</legend>

    {% form_row form.forum_footnote %}
    {% form_row form.email_footer %}

  </fieldset>
</div>
{% endblock form-body %}