{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{{ category.name }} | {{ block.super }}{% endblock title %}


{% block meta-description %}{{ misago_settings.forum_index_meta_description }}{% endblock meta-description %}


{% block content %}
<div class="page-header">
  <div class="container">
    {% if path %}
    <ol class="breadcrumb">
      {% for crumb in path|slice:":-1" %}
      <li>
        <a href="{{ crumb.get_absolute_url }}">{{ crumb.name }}</a>{% if not forloop.last %}<span class="fa fa-chevron-right"></span>{% endif %}
      </li>
      {% endfor %}
    </ol>
    {% endif %}

    <h1>{{ category.name }}</h1>
  </div>
</div>
<div class="container">
  {% if category.description %}
  <div class="lead">
    {{ category.description|escape|urlize|linebreaks }}
  </div>
  {% endif %}

  {% if forums %}
    {% include "misago/forums/subforums.html" %}
  {% else %}
  <p class="lead">
    {% trans "No forums are set in this category or you don't have permission to see them." %}
  </p>
  {% endif %}
</div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}
{% include "misago/forums/js.html" %}
{% endblock javascripts %}
