{% load humanize i18n misago_capture %}
<ul class="list-group">
  {% for forum in forums %}
  <li class="list-group-item">
    {% if forum.role == 'redirect' %}
    <span class="forum-icon fa fa-link fa-fw"></span>
    {% else %}
    <span class="forum-icon fa fa-comment{% if forum.is_read %}-o{% else %} new{% endif %} fa-fw"></span>
    {% endif %}

    <a href="{{ forum.get_absolute_url }}" class="item-title forum-name">{{ forum.name }}</a>

    <div class="sr-only forum-description">
      {% if forum.description %}
      {{ forum.description|linebreaks }}
      {% endif %}
      <ul class="list-unstyled">
        {% if forum.role == 'redirect' %}
        <li>
          {% trans "Clicks:" %} <strong>{{ forum.redirects|intcomma }}</strong>
        </li>
        {% elif forum.acl.can_browse %}
        <li>
          {% trans "Posts:" %} <strong>{{ forum.posts|intcomma }}</strong>
        </li>
        <li>
          {% trans "Threads:" %} <strong>{{ forum.threads|intcomma }}</strong>
        </li>
        {% else %}
        <li>
          {% trans "You don't have permission to browse this forum." %}
        </li>
        {% endif %}
      </ul>
    </div>

    <footer>
      {% if forum.role == 'redirect' %}
      <a href="{{ forum.get_absolute_url }}" class="item-title">{{ forum.redirect_host }}</a>
      <div class="text-muted">
        {% capture as clicks %}<strong>{{ forum.redirects|intcomma }}</strong>{% endcapture %}
        {% blocktrans trimmed with clicks=clicks|safe count counter=forum.redirects %}
        {{ clicks }} click
        {% plural %}
        {{ clicks }} clicks
        {% endblocktrans %}
      </div>
      {% elif forum.acl.can_browse %}
      <a href="#" class="item-title">Lorem ipsum dolor met sit amet</a>
      <div class="text-muted">
        <a href="#" class="item-title">somebody</a>, <abbr>32 minutes ago</abbr>
      </div>
      {% else %}
      <em class="text-muted">{% trans "Can't be browsed" %}</em>
      {% endif %}
    </footer>

    {% if forum.subforums %}
    <div class="dropdown pull-right">
      <button class="btn btn-default btn-sm dropdown-toggle tooltip-top" title="{% trans "Subforums list" %}" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="fa fa-reorder fa-lg"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for subforum in forum.subforums %}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="{{ subforum.get_absolute_url }}">
            {% if subforum.role == 'redirect' %}
            <span class="forum-icon fa fa-link fa-fw"></span>
            {% else %}
            <span class="forum-icon fa fa-comment{% if subforum.is_read %}-o{% else %} new{% endif %} fa-fw "></span>
            {% endif %}
            {{ subforum.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
