{% extends "_message/base.html" %}
{% load i18n %}

{% block content %}
  <div class="alert-icon"><span><i class="icon-info-sign icon-white"></i></span></div>
  <p><strong>{% trans username=message.user.username %}Welcome aboard, {{ username }}!{% endtrans %}</strong></p>
  <p>{% trans %}Your account has been registered, but you will have to activate it before you will be able to sign-in. We have sent you an e-mail with activation link.{% endtrans %}</p>
  <p>{% trans %}Thanks for your patience!{% endtrans %}</p>
{% endblock %}