{% extends "admin/admin/list.html" %}

{% block table_row scoped %}
  <td class="lead-cell">
  	<strong>{{ item.ban }}</strong> <span class="label {% if item.test == 0 -%}label-inverse">{% trans %}Username and E-mail{% endtrans %}
  	{%- elif item.test == 1 -%}label-important">{% trans %}Username{% endtrans %}
  	{%- elif item.test == 2 -%}label-warning">{% trans %}E-mail{% endtrans %}
  	{%- else -%}label-info">{% trans %}IP Address{% endtrans %}
  	{%- endif %}</span>
  </td>
  <td>
  	{% if item.expires %}{{ item.expires|date }}{% else %}<em>{% trans %}Permanent{% endtrans %}</em>{% endif %}
  </td>
{% endblock %}
