{% extends "admin/admin/list.html" %}
{% import "forms.html" as form_theme with context %}

{% block table_row scoped %}
  <td class="lead-cell">
  	<strong>{{ item.ban }}</strong> <span class="label {% if item.test == 0 -%}label-inverse">{% trans %}Username and E-mail{% endtrans %}
  	{%- elif item.test == 1 -%}label-important">{% trans %}Username{% endtrans %}
  	{%- elif item.test == 2 -%}label-warning">{% trans %}E-mail{% endtrans %}
  	{%- else -%}label-info">{% trans %}IP Address{% endtrans %}
  	{%- endif %}</span>
  </td>
  <td>
  	{% if item.expires %}{{ item.expires|date }}{% else %}<em>{% trans %}Permanent{% endtrans %}</em>{% endif %}
  </td>
{% endblock %}

{% block search_form %}
{{ form_theme.row(search_form.ban, attrs={'class': 'span3'}) }}
{{ form_theme.row(search_form.reason, attrs={'class': 'span3'}) }}
{{ form_theme.row(search_form.test, attrs={'class': 'span3'}) }}
{% endblock %}