{% load i18n %}

<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' context 'modal' %}"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{% translate "Start new thread in" context "posting select category modal" %}</h4>
    </div>
    <div class="modal-body">
      {% if start_thread_choices %}
        {% include "misago/select_category/modal_choices.html" %}
      {% else %}
        <p class="mx-y text-lg text-center">
          {% translate "You can't start new threads." context "posting select category modal" %}
        </p>
      {% endif %}
    </div>
  </div>
</div>