{% load i18n %}
<ul class="select-category-list card-select-category-list">
  <li class="card-select-category-list-heading">
    <h3>
      {% translate "Start new thread in" context "start thread page" %}
    </h3>
  </li>
  {% for category in start_thread_choices %}
    <li class="flex select-category-list-item">
      {% if category.disabled %}
        <span class="select-category-list-item-btn-lg select-category-list-item-header">
          <div class="flex items-center">
            <span class="bullet"{% if category.color %} style="--color: {{ category.color }}"{% endif %}></span>
            <span class="text-lg font-semibold">
              {{ category.name }}
            </span>
          </div>
          {% if category.description %}
            <div class="select-category-list-item-description">
              {{ category.description|force_escape|linebreaks }}
            </div>
          {% endif %}
        </span>
      {% else %}
        <a
          href="{{ category.url }}"
          class="select-category-list-item-btn-lg select-category-list-item-header"
        >
          <div class="flex items-center">
            <span class="bullet"{% if category.color %} style="--color: {{ category.color }}"{% endif %}></span>
            <span class="text-lg font-semibold">
              {{ category.name }}
            </span>
          </div>
          {% if category.description %}
            <div class="select-category-list-item-description">
              {{ category.description|force_escape|linebreaks }}
            </div>
          {% endif %}
        </a>
      {% endif %}
    </li>
    {% for subcategory in category.children %}
      <li class="flex items-center select-category-list-item">
        {% for _ in subcategory.level %}
          <div class="select-category-list-item-level"></div>
        {% endfor %}
        {% if subcategory.disabled %}
          <span class="select-category-list-item-btn-lg select-category-list-item-name">
            <div class="flex items-center">
              <span class="bullet"{% if subcategory.color %} style="--color: {{ subcategory.color }}"{% endif %}></span>
              <span class="text-lg">
                {{ subcategory.name }}
              </span>
            </div>
            {% if subcategory.description %}
              <div class="select-category-list-item-description">
                {{ subcategory.description|force_escape|linebreaks }}
              </div>
            {% endif %}
          </span>
        {% else %}
          <a
            href="{{ subcategory.url }}"
            class="select-category-list-item-btn-lg select-category-list-item-name"
          >
            <div class="flex items-center">
              <span class="bullet"{% if subcategory.color %} style="--color: {{ subcategory.color }}"{% endif %}></span>
              <span class="text-lg">
                {{ subcategory.name }}
              </span>
            </div>
            {% if subcategory.description %}
              <div class="select-category-list-item-description">
                {{ subcategory.description|force_escape|linebreaks }}
              </div>
            {% endif %}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    {% if not forloop.last %}
      <li class="select-category-list-separator"></li>
    {% endif %}
  {% endfor %}
</ul>