{%- set style_link = "style=\"color: #08C;\"" -%}
{%- set style_p = "style=\"padding: 0px; margin: 16px 0px;\"" -%}
{%- set style_well = "style=\"background-color: #F0F0F0; border-radius: 3px; margin: 24px 0px; padding: 12px 16px; font-size: 16px;\"" -%}
{%- set style_well_big = "style=\"background-color: #F0F0F0; border-radius: 3px; margin: 24px 0px; padding: 12px 16px; font-size: 18px; text-align: center;\"" -%}
{%- set style_button = "style=\"background-color: #08C; border-radius: 3px; color: #FFF; display: block; text-align: center; margin: 24px 0px; padding: 12px 0px; text-decoration: none; font-weight: bold; font-size: 18px;\"" -%}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <table width="100%">
      <tbody>
        <tr>
          <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">
            <table width="100%" align="center">
              <tbody>
                <tr>
                  <td style="padding-bottom: 8px;">
                  	<h1 style="border-bottom: 1px solid #DDD; margin-bottom: 24px; padding: 12px 0px; font-size: 28px;">
                  		{% trans username=user.username %}Hey, {{ username }}!{% endtrans %}
                  		<div style="margin-top: 6px; font-size: 18px; color: #999;">{% block title %}{% endblock %}<div>
                  	</h1>
                  	{% block content %}{% endblock %}
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" align="center">
              <tbody>
                <tr>
                  <td style="border-top: 1px solid #DDD; padding: 12px 0px; color: #BBB;">{% if settings.email_footnote %}
                  	{{ settings.email_footnote|safe }}{% else %}
                  	{% trans board_name=settings.board_name %}This e-mail was sent from {{ board_name }}.{% endtrans %}<br><a href="{{ board_address }}" {{ style_link|safe }}>{{ board_address }}</a>{% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
