{% extends "_email/base_plain.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans %}New reply notification{% endtrans %}{% endblock %}

{% block content %}
{% trans username=user.username, author=author.username, thread=thread.name %}{{ username }}, you are receiving this message because {{ author }} has replied to thread "{{ thread }}" that you are watching.{% endtrans %}

{% trans %}To go to this reply follow the link below:{% endtrans %}
{{ board_address }}{% url 'thread_find' thread=thread.pk, slug=thread.slug, post=post.pk %}
{% endblock %}