{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_admin_form %}


{% block title %}
{% translate "Import theme" context "admin themes" %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block form-header %}
{% translate "Import theme" context "admin themes" %}
{% endblock %}


{% block form-body %}
{% form_row form.name %}
{% form_row form.parent %}
{% form_row form.upload %}
{% endblock form-body %}


{% block form-footer %}
<button class="btn btn-primary btn-sm">{% translate "Import" context "admin theme import submit" %}</button>
{% endblock %}