{% load i18n %}
{% if category.is_closed %}
  {% if category_data.children_unread %}
    <div class="read-status item-new" title="{% translate 'Category has unread posts (closed)' context 'category status icon' %}">
      <span class="material-icon">
        lock
      </span>
    </div>
  {% else %}
    <div class="read-status item-read" title="{% translate 'Category has no unread posts (closed)' context 'category status icon' %}">
      <span class="material-icon">
        lock
      </span>
    </div>
  {% endif %}
{% else %}
  {% if category_data.children_unread %}
    <div class="read-status item-new" title="{% translate 'Category has unread posts' context 'category status icon' %}">
      <span class="material-icon">
        chat_bubble
      </span>
    </div>
  {% else %}
    <div class="read-status item-read" title="{% translate 'Category has no unread posts' context 'category status icon' %}">
      <span class="material-icon">
        chat_bubble
      </span>
    </div>
  {% endif %}
{% endif %}