{% load misago_shorthands %}
<li class="list-group-item list-group-category-item list-group-category-{{ category.description|yesno:'has,no' }}-description {{ first|iftrue:'list-group-item-first' }} {% if category.css_class %}list-group-category-has-flavor list-group-item-category-{{ category.css_class }}{% endif %}">
  <div class="list-group-category-item-read-status-col">
    {% include "misago/categories_list/category_row_icon.html" %}
  </div>
  <div class="list-group-category-item-rest-col">
    <div class="list-group-category-item-main-col">
      <a href="{{ category.get_absolute_url }}" class="list-group-category-item-name">
        {{ category }}
      </a>
      {% if category.description %}
        <div class="list-group-category-item-description">
          {{ category.description|force_escape|urlize|linebreaks }}
        </div>
      {% endif %}
      {% if category_data.children and category.level > 1 %}
        <ul class="list-group-category-item-children">
          {% for child_data in category_data.children %}
            <li class="list-group-category-item-children-item">
              <a
                href="{{ child_data.category.get_absolute_url }}"
                class="list-group-category-child-children-item-name"
              >
                <span class="bullet{% if child_data.children_unread %} bullet-new{% endif %}"></span>
                {{ child_data.category }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% include "misago/categories_list/category_row_stats.html" %}
    {% if category.level == 1 %}
      {% include "misago/categories_list/category_row_last_thread.html" with last_thread=category_data.last_thread %}
    {% else %}
      {% include "misago/categories_list/category_row_last_thread.html" with last_thread=category_data.children_last_thread %}
    {% endif %}
  </div>
</li>