.panel-private-thread-members {
  padding: ceil(@padding-base-horizontal / 2);

  border: 1px solid @gray-lighter;
  border-radius: @border-radius-base;
}

.panel-private-thread-members-title {
  white-space: nowrap;
}

.panel-private-thread-members-avatars {
  width: 100%;

  overflow: hidden;

  border-radius: @border-radius-small;
  text-align: right;
  white-space: nowrap;

  img {
    margin-left: ceil(@grid-gutter-width / 4);

    border-radius: @border-radius-small;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  .panel-private-thread-members-avatars-compact img {
    position: relative;
    margin-left: ceil(@grid-gutter-width / -2);

    box-shadow: 0 0 0 4px @panel-bg;

    z-index: var(--index);
  }
}

.panel-private-thread-members-header {
  padding: ceil(@padding-base-horizontal / 2);

  &:hover {
    background-color: @gray-lighter;
    border-radius: @border-radius-base;

    .panel-private-thread-members-avatars-compact img {
      box-shadow: 0 0 0 4px @gray-lighter;
    }
  }
}

.panel-private-thread-members-arrow .material-icon {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.panel-private-thread-members[open] {
  .panel-private-thread-members-arrow .material-icon {
    transform: rotate(180deg);
  }
}

.panel-private-thread-members-body {
  padding: ceil(@padding-base-horizontal / 2);
}
