{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block title %}
  {% blocktranslate trimmed with post=post_number context "thread post likes page title" %}
    Post #{{ post }} likes
  {% endblocktranslate %}{% if page.number > 1 %} | {% blocktranslate with page=page.number context "thread post likes page title" %}Page {{ page }}{% endblocktranslate %}{% endif %} | {{ thread }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-thread-post-likes">
  {% include "misago/thread/header.html" %}
  <div class="container page-container">
    {% includecomponent likes %}
  </div>
</div>
{% endblock content %}
