{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Activation sent" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header">
  <div class="container">
    <h1>
      <span class="fa fa-check">
      {% trans "Activation sent" %}
    </h1>
  </div>
</div>

<div class="container">
  <div class="misago-markup">

    <p class="lead">
      {% blocktrans trimmed with email=requesting_user.email %}
      We have sent an e-mail to {{ email }} with a link that you have to click to activate your account.
      {% endblocktrans %}
    </p>

  </div>
</div>
{% endblock content %}
