{% load i18n %}
<div class="page-tabs">
  <div class="container">
    <ul class="nav nav-pills">
      <li{% if list_type == 'all' %} class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}">
          {% trans "All" %}
        </a>
      </li>
      <li{% if list_type == 'my' %} class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}my/">
          {% trans "My" %}
        </a>
      </li>
      <li{% if list_type == 'new' %} class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}new/">
          {% trans "New" %}
        </a>
      </li>
      <li{% if list_type == 'unread' %} class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}unread/">
          {% trans "Unread" %}
        </a>
      </li>
      <li{% if list_type == 'subscribed' %} class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}subscribed/">
          {% trans "Subscribed" %}
        </a>
      </li>
      {% if user_acl.can_see_unapproved_content_lists and not hide_unapproved %}
        <li{% if list_type == 'unapproved' %} class="active"{% endif %}>
          <a href="{{ category.get_absolute_url }}unapproved/">
            {% trans "Unapproved" %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>