//
// Auth changed message
// --------------------------------------------------


.auth-changed-message {
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  z-index: @zindex-auth-message;

  transition: top 300ms ease;

  &>div {
    position: absolute;
    bottom: 0px;
    width: 100%;

    background-color: @auth-changed-bg;
    padding: @line-height-computed 0px;
  }

  &.show > div {
    top: 0px;
    bottom: auto;
  }

  p {
    padding: @line-height-computed / 2 0px;

    color: @auth-changed-color;
    font-size: @font-size-large;
  }
}

// Small displays
@media screen and (max-width: @screen-sm-max) {
  .auth-changed-message {
    text-align: center;

    .btn {
      padding: @padding-large-vertical @padding-large-horizontal;

      font-size: @font-size-large;
    }
  }
}
