//
// Forms
// --------------------------------------------------

// Material feedback icon
.material-icon.form-control-feedback {
  top: @padding-base-vertical;
  right: @padding-base-horizontal * 2;

  font-size: @line-height-base;
  line-height: @line-height-base;
}
