//
// Misago Default Theme Variables
// --------------------------------------------------


//== Loaders
//
//## Loaders appearance and spacing.

//** Full loader vertical margin
@loader-vertical-margin: 80px;
//** Full loader size (both width and height)
@loader-size: 80px;
//** Loader color
@loader-color: @gray-light;
//** Loader text color
@loader-text: @gray-light;

//** Compact loader dot height
@loader-compact-height: 10px;


//== Navbar
//
//## Extra navbar configurability

//** Full navbar avatar padding
@navbar-avatar-size:         34px;

//** Compact navbar
@navbar-compact-item-size:   26px;

//== Error pages
//
@message-page-icon-size: 80px;


//== Auth Changed message
//
@auth-changed-bg:         @gray-lighter;
@auth-changed-color:      @gray-darker;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
@zindex-auth-message:      1070;
