{% extends "misago/admin/generic/base.html" %}
{% load i18n %}


{% block title %}
{{ active_link.name }} | {{ block.super }}
{% endblock title%}


{% block view %}
<div class="table-actions">

  {% if paginator %}
  {% include "misago/admin/generic/paginator.html" %}
  {% endif%}

  {% if order_by %}
  <div class="btn-group pull-left">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {% trans "Sorting:"%} <span class="fa fa-sort-numeric-{{ order.type }}"></span> <strong>{{ order.name }}</strong>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-title">
        {% trans "Change sorting to:" %}
      </li>
      {% for order in order_by %}
      <li>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="order_by" value="{{ order.order_by }}">
            <span class="fa fa-sort-numeric-{{ order.type }}"></span>
            {{ order.name }}
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div><!-- /.table-actions -->

<div class="table-panel">
  <table class="table">
    <tr>
      {% block table-header %}
      <th>Lorem</th>
      <th>Ipsum</th>
      <th style="width: 136px;">Dolor</th>
      <th colspan="4">&nbsp;</th>
      {% endblock table-header %}
    </tr>
    {% for item in items %}
    <tr>
      {% block table-row %}
      <td class="lead">Lorem</td>
      <td>Ipsum</td>
      <td>
        <select class="form-control">
          <option>Pacem</option>
          <option>Para</option>
          <option>Bellum</option>
        </select>
      </td>
      <td class="row-action">
        <button type="button" class="btn btn-success tooltip-top" title="Activate">
          <span class="fa fa-check"></span>
        </button>
      </td>
      <td class="row-action">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle tooltip-top" data-toggle="dropdown" title="Item options">
            <span class="fa fa-gear"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="fa fa-sort-numeric-desc"></span>
                Newest
              </a>
              <a href="#">
                <span class="fa fa-sort-numeric-asc"></span>
                Oldest
              </a>
              <a href="#">
                <span class="fa fa-sort-numeric-desc"></span>
                Most posts
              </a>
              <a href="#">
                <span class="fa fa-sort-numeric-asc"></span>
                Least posts
              </a>
            </li>
          </ul>
        </div>
      </td>
      <td class="row-action">
        <button type="button" class="btn btn-danger tooltip-top" title="Activate">
          <span class="fa fa-times"></span>
        </button>
      </td>
      <td class="row-select">
        <label>
          <input type="checkbox">
        </label>
      </td>
      {% endblock table-row %}
    </tr>
    {% endfor %}
  </table>
</div><!-- /.table-panel -->

{% if paginator %}
<div class="table-actions">
  {% include "misago/admin/generic/paginator.html" %}
</div><!-- /.table-actions -->
{% endif %}
{% endblock view %}
