{% extends "misago/admin/generic/base.html" %}
{% load i18n %}


{% block title %}
{{ active_link.name }} | {{ block.super }}
{% endblock title%}


{% block view %}
{% if paginator or order_by %}
<div class="table-actions">

  {% if paginator %}
  {% include "misago/admin/generic/paginator.html" %}
  {% endif%}

  {% if order_by %}
  <div class="btn-group pull-left">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {% trans "Sorting:" %} <span class="fa fa-sort-numeric-{{ order.type }}"></span> <strong>{{ order.name }}</strong>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-title">
        {% trans "Change sorting to:" %}
      </li>
      {% for order in order_by %}
      <li>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="order_by" value="{{ order.order_by }}">
            <span class="fa fa-sort-numeric-{{ order.type }}"></span>
            {{ order.name }}
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div><!-- /.table-actions -->
{% endif %}

<div class="table-panel">
  <table class="table">
    <tr>
      {% block table-header %}
      {% endblock table-header %}
    </tr>

    {% block table-items %}
    {% for item in items %}
    <tr>
      {% block table-row %}{% endblock table-row %}
    </tr>
    {% empty %}
    <tr class="message-row">
      {% block emptylist %}
      {% endblock emptylist %}
    </tr>
    {% endfor %}
    {% endblock table-items %}
  </table>
</div><!-- /.table-panel -->

{% if paginator %}
<div class="table-actions">
  {% include "misago/admin/generic/paginator.html" %}
</div><!-- /.table-actions -->
{% endif %}
{% endblock view %}
