{% load i18n %}
{% if threads.moderation_actions %}
  <div class="fixed-moderation">
    <div class="container">
      <div class="dropup">
        <button
          class="btn btn-moderation dropdown-toggle"
          type="button"
          id="threads-moderation-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="threads-moderation-menu">
          <li>
            <button
              class="btn btn-link"
              type="button"
              moderation-action="remove-selection"
            >
              {% translate "Remove selection" context "moderation menu" %}
            </button>
          </li>
          <li role="separator" class="divider"></li>
          {% for action in threads.moderation_actions %}
            <li>
              <button
                class="btn btn-link"
                type="button"
                moderation-action="{{ action.id }}"
                moderation-multistage="{% if action.multistage %}true{% else %}false{% endif %}"
              >
                {{ action.name }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div
    id="threads-moderation-modal"
    class="modal fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1"
  >
    <div class="modal-dialog" role="document"></div>
  </div>
  <script type="text/javascript">
    const moderation = misago.bulkModeration({
      menu: ".fixed-moderation",
      form: "#threads-moderation",
      modal: "#threads-moderation-modal",
      actions: ".fixed-moderation ul button",
      selection: ".threads-list input:checked",
      button: {
        selector: "#threads-moderation-menu",
        text: pgettext("threads list moderation", "Moderate threads (%(number)s)"),
      }
    })
  </script>
{% endif %}