//
// Error pages
// --------------------------------------------------


.error-message {
  text-align: center;

  .error-icon {
    color: @brand-warning;
    font-size: @font-size-large * 4;
  }

  h1 {
    font-size: @font-size-large * 1.5;
  }

  p {
    margin: 0px;

    font-size: @font-size-large;
  }
}


/* Big displays */
@media (min-width: @screen-sm-min) {
  .error-message {
    margin: (@line-height-computed * 3) 0px;

    .error-icon {
      margin: @line-height-computed 0px;

      font-size: @font-size-large * 6;
    }

    h1 {
      margin-top: 0px;
    }
  }
}


/* Outside ACP */
.login-form {
  .error-message {
    h1 {
      font-size: @font-size-large * 1.2;
    }

    p {
      margin: 0px;

      font-size: @font-size-base;
    }
  }
}


/* Big displays */
@media (min-width: @screen-sm-min) {
  .login-form {
    .error-message {
      margin: @line-height-computed;
    }
  }
}
