//
// Admin Navbar
// --------------------------------------------------


.navbars-container {
  border-bottom: @navbar-border;

  .navbar {
    border-bottom: none;
    margin-bottom: 0px;

    .navbar-brand {
      padding-top: 9px;
      padding-bottom: 0px;

      img {
        border-radius: 6px;
        width: @navbar-height - 16;
        height: @navbar-height - 16;
      }

      span {
        font-size: @font-size-base * 1.5;
        margin-left: 2px;
        position: relative;
        top: 2px;
      }
    }

    .fa, .glyphicon {
      position: relative;
      bottom: (@font-size-base - @font-size-large) / 2;

      font-size: @font-size-large;
    }

    .user-nav {
      .navbar-text {
        a:link, a:visited, a:hover {
          color: @text-color;
          text-decoration: none;
        }

        a:active {
          color: @brand-secondary;
        }
      }

      img {
        border-radius: @border-radius-base;
        height: 26px;
        margin: -6px 0px;
        position: relative;
        bottom: 1px;
      }

      .logout {
        &:link, &:visited {
          background-color: @navbar-default-bg;
          border-radius: @border-radius-base;
          display: inline-block;
          margin: -8px 0px;
          margin-right: 8px;
          margin-left: @line-height-computed / 2;
          padding-top: 5px;
          width: 31px;
          height: 31px;

          color: @navbar-default-link-color;
          text-align: center;
        }

        &:hover {
          background-color: @navbar-default-link-color;

          color: @navbar-default-bg;
        }

        &:active {
          background-color: @body-bg;

          color: @navbar-default-bg;
        }
      }
    }
  }
}
