{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% translate "Account activated" context "account activation page" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-message page-message-success page-activation-done">
  <div class="container page-container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">check</span>
      </div>

      <div class="message-body">
        <p class="lead">{{ message }}</p>
        <p>{% translate "You can now sign in to finish setting up your account and to participate in or start new discussions." context "account activation page" %}</p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}