{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Request activation link" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-request-activation">
  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        <h1>{% trans "Request activation link" %}</h1>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <div class="side-form-copy">

          <p class="lead">
            {% trans "Site administrator may impose requirement on newly regitered accounts to be activated before users will be able to sign in." %}
          </p>
          <p>
            {% trans "Depending on time of registration, you will be able activate your account by clicking special activation link. This link will be valid only for your browser, for seven days or until your account is activated." %}
          </p>
          <p>
            {% blocktrans trimmed %}
              To receive this link, enter your account's e-mail addres in form and press the "Send link" button.
            {% endblocktrans %}
          </p>

        </div>
      </div>
      <div id="request-activation-link-mount" class="col-md-4">

        <noscript>
          <div class="well well-form well-noscript">
            <div class="noscript-message">

              <div class="message-icon">
                <span class="material-icon">error_outline</span>
              </div>

              <div class="message-body">
                <p>{% trans "To request new activation link please enable JavaScript." %}</p>
              </div>

            </div>
          </div>
        </noscript>

      </div>
    </div>

  </div>
</div>
{% endblock content %}