{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Request activation e-mail" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h2>{% trans "Request activation e-mail" %}</h2>
          </div>

          {% include "misago/auth_form_errors.html" %}

          <div class="form-body no-fieldsets">

            <div class="form-group">
              <div class="control-input">
                <input type="text" name="username" class="form-control input-lg" placeholder="{% trans "Username or e-mail" %}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Send e-mail" %}</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
