{% extends "misago/emails/base.html" %}
{% load i18n misago_capture %}


{% block content %}
{% blocktrans trimmed with username=recipient.username %}
{{ username }}, you are receiving this message because you have started forgotten password change procedure for your forum account.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed %}
To replace your account password with new one click the link below:
{% endblocktrans %}
<br>
<br>
<a href="{{ SITE_ADDRESS }}{% url 'misago:reset_password_confirm' user_id=recipient.pk token=confirmation_token %}">{% trans "Change my password" %}</a>
<br>
<br>
{% blocktrans trimmed %}
New password will be set on your account and sent to you in next e-mail.
{% endblocktrans %}
<br>
{% endblock content %}
