{% extends "sora/usercp/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change your Avatar')) }}{% endblock %}

{% block action %}
<h2>{% trans %}Change your Avatar{% endtrans %}</h2>
<div class="row">
  <div class="span3" style="text-align: right;">
  	<img src="{{ user.get_avatar() }}" class="avatar-big" alt="{% trans %}Your Avatar{% endtrans %}" title="{% trans %}Your Avatar{% endtrans %}">
  </div>
  <div class="span6 avatar-menu">
    <h3>{% if user.avatar_type == 'upload' -%}
    	{% trans %}Uploaded Avatar{% endtrans %}
    	{%- elif user.avatar_type == 'gallery' -%}
    	{% trans %}Gallery Avatar{% endtrans %}
    	{%- else -%}
    	{% trans %}Gravatar{% endtrans %}
    	{%- endif %} <small>{% trans %}Current Avatar{% endtrans %}</small></h3>
    <ul class="unstyled">
      <li><i class="icon-share"></i> <a href="#">{% trans %}Use Gravatar{% endtrans %}</a></li>
      <li><i class="icon-th"></i> <a href="#">{% trans %}Pick Avatar from Gallery{% endtrans %}</a></li>
      <li><i class="icon-picture"></i> <a href="#">{% trans %}Upload Avatar{% endtrans %}</a></li>
    </ul>
  </div>
</div>
{% endblock %}