{% extends "sora/usercp/avatar.html" %}
{% load i18n %}
{% load url from future %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Avatars Gallery')) }}{% endblock %}

{% block action %}
<h2>{% trans %}Pick Avatar from Gallery{% endtrans %} <small>{% trans %}Change your Avatar{% endtrans %}</small></h2>
{% if message %}{{ macros.draw_message(message, 'alert-form') }}{% endif %}

<div class="form-avatar-select">
  {% for gallery in galleries %}
  {% if loop.index > 0 %}<hr>{% endif %}
  {% for avatar in gallery.avatars %}
  <form action="{% url 'usercp_avatar_gallery' %}" method="post" class="form-button">
    <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
    <input type="hidden" name="avatar_image" value="{{ avatar }}">
    <button type="submit" class="btn btn-link">
      <img src="{{ STATIC_URL }}avatars/{{ avatar }}" alt="{% trans %}Gallery Avatar{% endtrans %}" class="avatar-big img-polaroid">
    </button>
  </form>
  {% endfor %}
  {% endfor %}
</div>
{% endblock %}