{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div class="page-header">
  <h1>{% trans %}Your Control Panel{% endtrans %}</h1>
</div>
<div class="row">
  <div class="span3">
  	<div class="tabbable tabs-left">
  	  <ul class="nav nav-tabs">
        <li class="nav-header">{% trans %}Account Settings{% endtrans %}</li>
        {% for link in tabs %}
        <li{% if link.active %} class="active"{% endif %}><a href="{{ link.route|url }}">{{ link.name }}</a></li>
        {% endfor %}
        <li class="nav-header">Outdated Actions:</li>
  	    <li{% if tab == 'signature' %} class="active"{% endif %}><a href="{% url 'usercp_signature' %}">{% trans %}Edit Signature{% endtrans %}</a></li>
  	    <li{% if tab == 'credentials' %} class="active"{% endif %}><a href="{% url 'usercp_credentials' %}">{% trans %}Change E-mail or Password{% endtrans %}</a></li>
  	    <li{% if tab == 'username' %} class="active"{% endif %}><a href="{% url 'usercp_username' %}">{% trans %}Change Username{% endtrans %}</a></li>
        <li{% if tab == 'ignored' %} class="active"{% endif %}><a href="{% url 'usercp_ignored' %}">{% trans %}Ignored Members List{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
  <div class="span9 sidetabs-content">
  	{% block action %}{% endblock %}
  </div>
</div>
{% endblock %}