{% extends "sora/usercp/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "_forms.html" as form_theme with context %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_('Change Forum Options')) }}{% endblock %}

{% block action %}
{{ super() }}
<h2>{% trans %}Change Forum Options{% endtrans %}</h2>
{% if message %}{{ macros.draw_message(message, 'alert-form') }}{% endif %}
<form action="{% url 'usercp' %}" method="post">
  {{ form_theme.form_widget(form, width=9) }}
  <div class="form-actions">
  	<button name="save" type="submit" class="btn btn-primary">{% trans %}Change Options{% endtrans %}</button>
  	<a href="{% url 'usercp' %}" class="btn">{% trans %}Cancel{% endtrans %}</a>
  </div>
</form>
{% endblock %}