{% extends "admin/admin/list.html" %}
{% load i18n %}
{% load l10n %}
{% load url from future %}

{% block action_body scoped %}
<table class="table table-striped table-users">
  <thead>
    <tr>
      <th colspan="2">{% trans %}Forum Team Members{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>   	
    <tr>
      {% for user in items %} 
      <td class="colspan6">
          <a href="{% url 'user' username=user.username_slug, user=user.pk %}"><img src="{{ user.get_avatar(42) }}" class="avatar" alt="{% trans %}User's Avatar{% endtrans %}" title="{% trans %}Admin's Avatar{% endtrans %}"> <strong>{{ user.username }}</strong></a>
      </td>{% if loop.last and loop.index is odd %}
      <td class="span6">
      	&nbsp;
      </td>
      {% endif %}{% if not loop.last and loop.index is even %}
    </tr>
    <tr>{% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}