django==1.7.2
djangorestframework==3.0.2
beautifulsoup4==4.3.2
bleach==1.4.1
django-debug-toolbar==1.2.1
django-cors-headers==1.0.0
django-crispy-forms==1.4.0
django-hbs-makemessages==0.9.6
django-htmlmin==0.7
django-mptt==0.6.1
django-pipeline==1.4.2
fake-factory==0.4.2
markdown==2.4.1
path.py==7.0
pillow==2.7.0
psycopg2==2.5.4
pytz
recaptcha-client==1.0.6
requests==2.5.1
unidecode
