https://github.com/django/django/archive/stable/1.7.x.zip#egg=django
bleach==1.4
django-debug-toolbar==1.2.1
django-crispy-forms==1.4.0
django-mptt==0.6.1
django-pipeline==1.3.20
fake-factory
markdown==2.4.1
psycopg2==2.5.3
pytz
unidecode
