<div class="rank-users">
  {{#each (x-range 3) as |row|}}
    <div class="row">
      {{#each (x-range 4) as |cell|}}
        <div class="col-md-3">
          {{user-card-ui-preview class="full-size"}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>