{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Wrong way" %} | {{ block.super }}{% endblock %}


{% block meta-description %}
{% trans "This page should be reached via form submission or pressing button." %}
{% endblock meta-description %}


{% block og-title %}{% trans "Wrong way" %}{% endblock %}
{% block twitter-title %}{% trans "Wrong way" %}{% endblock %}


{% block og-description %}
{% trans "This page should be reached via form submission or pressing button." %}
{% endblock %}


{% block twitter-description %}
{% trans "This page should be reached via form submission or pressing button." %}
{% endblock %}


{% block content %}
<div class="page page-error page-error-405">
  <div class="page-header-bg"></div>
  <div class="container">
    <div class="message-panel">

      <div class="message-icon">
        <span class="material-icon">remove_circle_outline</span>
      </div>

      <div class="message-body">
        <p class="lead">{% trans "Page reached in wrong way." %}</p>
        <p>{% trans "This page should be reached via form submission or pressing button." %}</p>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
