{% extends "admin/admin/list.html" %}
{% load i18n %}
{% load l10n %}
{% load url from future %}

{% block table_row scoped %}
  <td>
  	<strong class="lead{% if not item.user %} muted{% endif %}">{% if item.user -%}
  	<a href="{% url 'user' username=item.user.username_slug, user=item.user.id %}">{{ item.user.username }}</a>
  	{%- elif item.crawler -%}
  	{{ item.crawler }}
  	{%- else -%}
  	{% trans %}Guest{% endtrans %}
  	{%- endif %}</strong> <strong class="muted">{{ item.ip }}</strong> {% if item.user -%}
  	<span class="label label-success">{% trans %}Registered Member{% endtrans %}</span>{% if item.hitten %} <span class="label label-info">{% trans %}Hidden{% endtrans %}</span>{% endif %}
  	{%- elif item.crawler -%}
  	<span class="label label-inverse">{% trans %}Crawler{% endtrans %}</span>
  	{%- endif %}
  	<div class="muted">{{ item.agent }}</div>
  </td>
  <td>
  	{{ item.start|date("DATETIME_FORMAT") }}
  </td>
  <td>
  	{{ item.last|date("TIME_FORMAT") }}
  </td>
{% endblock %}