//
// Ranks flavours
// --------------------------------------------------


// Forum team
//
//==
.user-profile {
  &.profile-team {
    .user-title {
      a, a:link, a:visited, span {
        background-color: fadeOut(@brand-accent, 10%);
      }

      a:hover {
        background: @brand-accent;
      }

      a:active {
        background: darken(@brand-accent, 15%);
      }
    }
  }
}


.ranks-online {
  .rank-online.rank-team {
    small {
      background-color: fadeOut(@brand-accent, 10%);
    }
  }
}
