{% load i18n %}
<div class="misago-alerts">
  <div class="alerts-list">
    {% for message in messages %}
    <div class="alert-div">
      {% if 'info' in message.tags %}
      <p class="alert alert-info">
        <span class="alert-icon fa fa-info-circle"></span>
      {% elif 'success' in message.tags %}
      <p class="alert alert-success">
        <span class="alert-icon fa fa-check-circle"></span>
      {% elif 'warning' in message.tags %}
      <p class="alert alert-warning">
        <span class="alert-icon fa fa-exclamation-triangle"></span>
      {% elif 'error' in message.tags %}
      <p class="alert alert-danger">
        <span class="alert-icon fa fa-times-circle"></span>
      {% endif %}
        {{ message }}
        <button type="button" class="close">{% trans "Ok!" %}</button>
      </p>
    </div>
    {% endfor %}
  </div>
</div>
