{% load i18n misago_capture %}
{% if state.is_banned %}
  {% capture trimmed as state_name %}
  {% if state.banned_until %}
  {% blocktrans trimmed with ban_date=state.formatted_ban_expiration_date %}
    Banned until {{ ban_date }}
  {% endblocktrans %}
  {% else %}
  {% trans "Banned" %}
  {% endif %}
  {% endcapture %}
  <span class="fa fa-lock fa-fw tooltip-top user-banned" title="{{ state_name }}"></span>
{% elif state.is_hidden %}
  <span class="fa fa-circle-o fa-fw tooltip-top user-offline" title="{% trans "Hides activity" %}"></span>
{% elif state.is_online_hidden %}
  <span class="fa fa-circle fa-fw tooltip-top user-online" title="{% trans "Online, hidden" %}"></span>
{% elif state.is_offline_hidden %}
  <span class="fa fa-circle-o fa-fw tooltip-top user-offline" title="{% blocktrans with last_seen=state.last_click %}Offline and hidden, last seen {{ last_seen }}{% endblocktrans %}"></span>
{% elif state.is_online %}
  <span class="fa fa-circle fa-fw tooltip-top user-online" title="{% trans "Online" %}"></span>
{% elif state.is_offline %}
  <span class="fa fa-circle-o fa-fw tooltip-top user-offline" title="{% blocktrans with last_seen=state.last_click %}Offline, last seen {{ last_seen }}{% endblocktrans %}"></span>
{% endif%}
