{% extends "misago/admin/generic/permissions_form.html" %}
{% load i18n %}


{% block title %}
{% translate "Category permissions" context "admin group form" %} | {{ target }} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-header %}
{{ block.super }}
<small>
  {{ target }}
</small>
{% endblock page-header %}


{% block page-actions %}
<div class="col-auto page-action">
  <a href="{% url 'misago:admin:groups:edit' pk=target.pk %}" class="btn btn-primary btn-sm">
    <span class="fa fa-edit"></span>
    {% translate "Edit group" context "admin groups" %}
  </a>
</div>
{% endblock %}


{% block form-header %}
{% translate "Category permissions" context "admin group form" %}
{% endblock %}


{% block item-header %}
{% translate "Category" context "admin group form" %}
{% endblock item-header %}