{% extends "misago/admin/generic/list.html" %}
{% load i18n %}


{% block page-actions %}
<div class="col-auto page-action">
  <a href="{% url 'misago:admin:groups:new' %}" class="btn btn-primary btn-sm">
    <span class="fa fa-plus-circle"></span>
    {% translate "New group" context "admin groups" %}
  </a>
</div>
{% endblock %}


{% block table-header %}
<th style="width: 1px;">&nbsp;</th>
<th>{% translate "Group" context "admin groups list" %}</th>
<th style="width: 1px;">&nbsp;</th>
<th>{% translate "User title" context "admin groups list" %}</th>
<th>{% translate "Icon" context "admin groups list" %}</th>
<th>{% translate "CSS suffix" context "admin groups list" %}</th>
<th>{% translate "Members" context "admin groups list" %}</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
{% endblock table-header %}


{% block table-row %}
<td class="pr-0">
  <button type="button" class="btn btn-sm btn-handle">
    <span class="fa fa-grip-vertical"></span>
  </button>
</td>
<td class="pr-0">
  <a href="{% url 'misago:admin:groups:edit' pk=item.pk %}" class="item-name small">
    {{ item }}
  </a>
</td>
<td class="badges-list">
  {% if item.is_admin %}
    <span class="badge badge-danger" data-tooltip="top" title="{% translate 'Members of this group can access the Misago Admin Control Panel.' context 'admin groups' %}">
      {% translate "Admin" context "admin rank is admin status" %}
    </span>
  {% endif %}
  {% if item.is_default %}
    <span class="badge badge-success" data-tooltip="top" title="{% translate 'This is the default group to which new users are assigned.' context 'admin groups' %}">
      {% translate "Default" context "admin rank is default status" %}
    </span>
  {% endif %}
  {% if item.is_page %}
    <span class="badge badge-primary" data-tooltip="top" title="{% translate 'This group has a dedicated section on the Users page.' context 'admin groups' %}">
      {% translate "Page" context "admin rank is default status" %}
    </span>
  {% endif %}
  {% if item.is_hidden %}
    <span class="badge badge-dark" data-tooltip="top" title="{% translate 'This group will not appear on members\' cards, profiles, and postbits.' context 'admin groups' %}">
      {% translate "Hidden" context "admin rank is default status" %}
    </span>
  {% endif %}
  {% if item.is_protected %}
    <span class="badge badge-light" data-tooltip="top" title="{% translate 'This group serves a special function in Misago and cannot be deleted.' context 'admin groups' %}">
      {% translate "Protected" context "admin rank is default status" %}
    </span>
  {% endif %}
</td>
<td class="small">
  {% if item.user_title %}
    {% if item.color %}
      <span style="color: {{ item.color }}">
        {{ item.translated_user_title }}
      </span>
    {% else %}
      {{ item.translated_user_title }}
    {% endif %}
  {% endif %}
</td>
<td class="small">
  {% if item.user_icon %}
    <pre class="m-0">{{ item.user_icon }}</pre>
  {% endif %}
</td>
<td class="small">
  {% if item.css_suffix %}
    <pre class="m-0">{{ item.css_suffix }}</pre>
  {% endif %}
</td>
<td class="small">
  <a href="{% url 'misago:admin:groups:members' pk=item.pk %}" target="_blank">{{ item.members_count|default:0 }}</a>
</td>
<td>
  <a class="btn btn-light btn-sm" href="{% url 'misago:admin:groups:categories' pk=item.pk %}" data-tooltip="top" title="{% translate 'Category permissions' context 'admin groups' %}">
    <i class="fas fa-sitemap fa-fw"></i>
  </a>
</td>
<td>
  <a class="btn btn-light btn-sm" href="{% url 'misago:admin:groups:edit' pk=item.pk %}" data-tooltip="top" title="{% translate 'Edit group' context 'admin groups' %}">
    <i class="fas fa-edit fa-fw"></i>
  </a>
</td>
<td>
  <div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="item-optioms-{{ item.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-h fa-fw"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="item-optioms-{{ item.pk }}">
      <h6 class="dropdown-header">{% translate "Show members" context "admin groups" %}</h6>
      <a class="dropdown-item" href="{% url 'misago:admin:groups:members' pk=item.pk %}" target="_blank">
        {% translate "All members" context "admin groups" %}
      </a>
      <a class="dropdown-item" href="{% url 'misago:admin:groups:members-main' pk=item.pk %}" target="_blank">
        {% translate "Main group" context "admin groups" %}
      </a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">{% translate "Admin group" context "admin groups" %}</h6>
      {% if not item.is_default and item.id not in invalid_default_group_ids %}
        <form action="{% url 'misago:admin:groups:default' pk=item.pk %}" method="post">
          {% csrf_token %}
          <button class="dropdown-item">
            {% translate "Set as default" context "admin groups" %}
          </button>
        </form>
      {% endif %}
      <a class="dropdown-item" href="{% url 'misago:admin:groups:edit' pk=item.pk %}">
        {% translate "Edit group" context "admin groups" %}
      </a>
      <a class="dropdown-item" href="{% url 'misago:admin:groups:categories' pk=item.pk %}">
        {% translate "Category permissions" context "admin groups" %}
      </a>
      {% if not item.is_protected %}
        <div class="dropdown-divider"></div>
        <form action="{% url 'misago:admin:groups:delete' pk=item.pk %}" method="post" data-delete-confirmation="true">
          {% csrf_token %}
          <button class="dropdown-item">
            {% translate "Delete group" context "admin groups" %}
          </button>
        </form>
      {% endif %}
    </div>
  </div>
</td>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
  window.misago.initConfirmation(
    "[data-delete-confirmation]",
    "{% translate 'Are you sure you want to delete this group?' context 'admin groups' %}"
  )

  window.misago.initItemsOrdering("{% url 'misago:admin:groups:ordering' %}")
</script>
{% endblock %}
