{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_admin_form %}


{% block title %}
{% translate "New group" context "admin group form" %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block form-header %}
{% translate "New group" context "admin group form" %}
{% endblock %}


{% block form-body %}
<div class="form-fieldset">

  {% form_row form.name %}
  {% form_row form.copy_permissions %}

</div>
{% endblock form-body %}


{% block form-footer %}
<button class="btn btn-primary btn-sm">{% translate "Create group" context "admin group form" %}</button>
{% endblock form-footer %}
