{% load i18n %}
{% if user.is_anonymous %}
<a href="{% url LOGIN_URL %}" class="btn btn-default pull-right">
  <span class="fa fa-check-circle"></span>
  {% trans "Sign in to start thread" %}
</a>
{% elif forum.is_closed and not forum.acl.can_close_threads %}
<span class="btn btn-default disabled pull-right">
  <span class="fa fa-lock"></span>
  {% trans "This forum is closed." %}
</span>
{% elif forum.acl.can_start_threads %}
<button class="btn btn-reply btn-success pull-right" type="button">
  <span class="fa fa-plus-circle"></span>
  {% trans "Start thread" %}
</button>
{% else %}
<span class="btn btn-default btn-closed pull-right">
  <span class="fa fa-ban"></span>
  {% trans "Can't start threads" %}
</span>
{% endif %}
