{% load i18n misago_avatars misago_formats %}

{% if is_request_htmx %}
<title>
  {% if post_edit %}
    {% blocktranslate trimmed with post=post_number edit=page.number context "thread post edits page title" %}
      Post #{{ post }} edit #{{ edit }}
    {% endblocktranslate %}
  {% else %}
    {% blocktranslate trimmed with post=post_number context "thread post edits page title" %}
      Post #{{ post }} edits
    {% endblocktranslate %}
  {% endif %} | {{ thread }} | {{ settings.forum_name }}
</title>
{% endif %}

<div id="misago-htmx-root">
  <div id="misago-page-scroll-target" class="scroll-target"></div>
  {% if paginator.num_pages > 1 %}
    <div class="toolbar">
      <div class="toolbar-section">
        <div class="toolbar-item">
          {% include "misago/post_edits/paginator.html" %}
        </div>
      </div>
      <div class="toolbar-spacer"></div>
    </div>
  {% endif %}
  {% if post_edit %}
    <div class="post-edit-card">
      <div class="post-edit-card-header">
        {% if post_edit.user %}
          <a
            class="post-edit-card-avatar"
            href="{{ post_edit.user.get_absolute_url }}"
          >
            <img
              srcset="{{ post_edit.user|avatar:48 }}"
              src="{{ post_edit.user|avatar:24 }}"
              alt="{{ post_edit.user.username }}"
            >
          </a>
          <a
            class="post-edit-card-username"
            href="{{ post_edit.user.get_absolute_url }}"
          >
            {{ post_edit.user.username }}
          </a>
        {% else %}
          <span class="post-edit-card-avatar">
            <img src="{{ BLANK_AVATAR_URL }}" alt="{{ user_name }}">
          </span>
          <span class="post-edit-card-username">
            {{ user_name }}
          </span>
        {% endif %}
          <span
            class="post-edit-card-timestamp"
            title="{{ post_edit.edited_at|date:'DATETIME_FORMAT' }}"
            mg-timestamp="{{ post_edit.edited_at.isoformat }}"
          >
            {{ post_edit.edited_at|date_relative }}
          </span>
        {% if post_edit.edit_reason %}
          <span class="post-edit-card-edit-reason">
            {{ post_edit.edit_reason }}
          </span>
        {% endif %}
      </div>
      <div class="post-edit-card-body">
        {% if edit_diff %}
          {% include "misago/post_edits/edit_diff.html" %}
        {% endif %}
      </div>
    </div>
    {% if paginator.num_pages > 1 %}
      <div class="toolbar">
        <div class="toolbar-section">
          <div class="toolbar-item">
            {% include "misago/post_edits/paginator.html" with scroll=True %}
          </div>
        </div>
        <div class="toolbar-spacer"></div>
      </div>
    {% endif %}
  {% else %}
    BLANKSLATE
  {% endif %}
</div>