{% load i18n %}

<div class="posts-feed-item-post-edit-form">
  <form
    action="{{ request_path }}"
    method="post"
    enctype="multipart/form-data"
    hx-post="{{ request_path }}?inline=true"
    hx-trigger="submit"
    hx-target="#posts-feed-item-post-{{ post.id }} .posts-feed-item-post-body"
    hx-swap="innerHTML show:#post-{{ post.id }}:top"
  >
    {% csrf_token %}
    <div class="posts-feed-item-post-edit-form-body">
      {% if preview %}
        {% include "misago/posting/preview.html" %}
      {% endif %}
      {% for form in formset.get_forms %}
        {% include form.template_name with form=form %}
      {% endfor %}
    </div>
    <div class="posts-feed-item-post-edit-form-footer">
      <button class="btn btn-primary" type="submit">
        {% translate "Save" context "inline edit submit btn" %}
      </button>
      <button class="btn btn-secondary" type="submit" name="{{ formset.preview_action }}" value="true" formnovalidate>
        {% translate "Preview" context "inline edit preview btn" %}
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        name="cancel"
        value="true"
        formnovalidate
        hx-confirm="{% translate 'Cancel edits? Unsaved changes will be lost.' context 'inline edit cancel prompt' %}"
        hx-post="{{ request_path }}?inline=true"
      >
        {% translate "Cancel" context "inline edit cancel btn" %}
      </button>
    </div>
  </form>
</div>