{% load i18n misago_avatars %}

<details class="panel panel-default panel-private-thread-members"{% if is_request_htmx %} open{% endif %}>
  <summary class="panel-private-thread-members-header">
    <h3 class="panel-private-thread-members-title">
      {% blocktranslate trimmed count members=members|length context "private thread members panel" %}
        {{ members }} member
      {% plural %}
        {{ members }} members
      {% endblocktranslate %}
    </h3>
    <div class="panel-private-thread-members-avatars{% if members|length > 2 %} panel-private-thread-members-avatars-compact{% endif %}">
      {% for member in members %}
        <img src="{{ member|avatar:32 }}" srcset="{{ member|avatar:64 }}" alt="" style="--index: {{ forloop.revcounter }};">
      {% endfor %}
    </div>
    <div class="panel-private-thread-members-arrow">
      <span class="material-icon">
        keyboard_arrow_down
      </span>
    </div>
  </summary>
  <div class="panel-private-thread-members-body">
    <ul class="panel-private-thread-members-list">
      {% for member in members %}
        <li class="panel-private-thread-member">
          <a href="{% url 'misago:user' pk=member.id slug=member.slug %}" class="panel-private-thread-member-avatar">
            <img src="{{ member|avatar:32 }}" srcset="{{ member|avatar:64 }}" alt="">
          </a>
          <a href="{% url 'misago:user' pk=member.id slug=member.slug %}" class="panel-private-thread-member-username">
            {{ member.username }}
          </a>
          {% if owner and member == owner %}
            <span class="panel-private-thread-member-owner" aria-label="{% translate 'Thread owner' context 'private thread members panel' %}"></span>
          {% endif %}
          {% if manage and member != owner %}
            <div class="panel-private-thread-member-spacer"></div>
            <div class="dropdown d-js-block">
              <button class="btn btn-link btn-icon" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="material-icon">more_horiz</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">{% translate "Make owner" context "private thread member action btn" %}</a></li>
                <li><a href="#">{% translate "Remove from thread" context "private thread member action btn" %}</a></li>
              </ul>
            </div>
            <noscript>
              <details class="dropdown-noscript">
                <summary class="btn btn-link btn-icon">
                  <span class="material-icon">more_horiz</span>
                </summary>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">{% translate "Make owner" context "private thread member action btn" %}</a></li>
                  <li><a href="#">{% translate "Remove from thread" context "private thread member action btn" %}</a></li>
                </ul>
              </details>
            </noscript>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div class="panel-private-thread-members-footer">
      <div class="panel-private-thread-members-legend">
        <span class="panel-private-thread-member-owner"></span>
        {% translate "Thread owner" context "private thread members panel" %}
      </div>
      {% if manage %}
        <div class="panel-private-thread-members-options">
          <a
            href="{{ add_members_url }}" class="btn btn-default"
            data-toggle="modal"
            data-target="#add-members-modal"
            data-remote="false"
            hx-ext="loader-tpl"
            hx-get="{{ add_members_url }}"
            hx-target="#misago-htmx-add-members-modal"
            tpl-loader="#modal-loader"
            hx-swap="innerHTML"
          >
            {% translate "Add members" context "private thread members panel" %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</details>