{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Users" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-users-lists">

  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        <h1>{% trans "Users" %}</h1>
      </div>
      <div class="page-tabs">
        <div class="container">
          <ul class="nav nav-pills" role="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            {% for page in pages %}
              <li{% if page.is_active %} class="active"{% endif %}>
                <a href="{{ page.reversed_link }}">
                  {{ page.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
