{% load i18n %}
{% if paginator.num_pages > 1 %}
<ul class="pager pager-wide">
  {% if page.has_previous %}
    <li class="pull-left">
      <a href="{% url link_name %}" class="tooltip-top" title="{% trans "Go to first page" %}">
        {% trans "Start" %}
      </a>
    </li>
    {% if page.number > 2 %}
    <li class="pull-left">
      <a href="{% url link_name page=page.previous_page_number %}" class="tooltip-top" title="{% trans "Go to previous page" %}">
        {% trans "Previous" %}
      </a>
    </li>
    {% endif %}
  {% endif %}
  {% if page.has_next %}
    <li class="pull-right">
      <a href="{% url link_name page=paginator.num_pages %}" class="tooltip-top" title="{% trans "Go to last page" %}">
        {% trans "Last" %}
      </a>
    </li>
    {% if page.next_page_number < paginator.num_pages %}
    <li class="pull-right">
      <a href="{% url link_name page=page.next_page_number %}" class="tooltip-top" title="{% trans "Go to next page" %}">
        {% trans "Next" %}
      </a>
    </li>
    {% endif %}
  {% endif %}
</ul>
{% endif %}
