{% load i18n misago_capture %}
<nav class="misago-pagination" role="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% if paginator.first %}
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to first page' context 'rank users paginator' %}" href="{% url 'misago:users-rank' slug=rank.slug %}">
      <span class="material-icon">first_page</span>
    </a>
    {% capture trimmed as previous_url %}
      {% if paginator.previous > 1%}
        {% url 'misago:users-rank' slug=rank.slug page=paginator.previous %}
      {% else %}
        {% url 'misago:users-rank' slug=rank.slug %}
      {% endif %}
    {% endcapture %}
    <a class="btn btn-default btn-outline btn-icon" rel="prev" title="{% translate 'Go to previous page' context 'rank users paginator' %}" href="{{ previous_url }}">
      <span class="material-icon">chevron_left</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to first page' context 'rank users paginator' %}" type="button" disabled>
      <span class="material-icon">first_page</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to previous page' context 'rank users paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_left</span>
    </button>
  {% endif %}
  {% if paginator.last %}
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to next page' context 'rank users paginator' %}" rel="next" href="{% url 'misago:users-rank' slug=rank.slug page=paginator.next %}">
      <span class="material-icon">chevron_right</span>
    </a>
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to last page' context 'rank users paginator' %}" href="{% url 'misago:users-rank' slug=rank.slug page=paginator.last %}">
      <span class="material-icon">last_page</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to next page' context 'rank users paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_right</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to last page' context 'rank users paginator' %}" type="button" disabled>
      <span class="material-icon">last_page</span>
    </button>
  {% endif %}
</nav>