{% extends "misago/admin/layout.html" %}
{% load i18n %}


{% block title %}{% trans "Page not available" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="container-fluid">
  <div class="card card-admin-error">
    <h5 class="card-header">
      {% trans "Requested page is not available" %}
    </h5>
    <div class="card-body">
      {% if message %}
        <p class="mb-0">{{ message }}</p>
      {% else %}
        <p class="mb-0">{% trans "You don't have permission to access this page." %}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
