{% extends "misago/admin/generic/form.html" %}
{% load i18n static misago_admin_form %}


{% block title %}
{% if target.pk %}
  {{ target }}
{% else %}
  {% trans "New CSS" %}
{% endif %} | {{ theme }} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block extra-head %}
<style>
  .form-panel .form-body.no-fieldsets {
    padding-bottom: 0;
  }

  #css-editor {
    height: calc(100vh - 450px);
    min-height: 200px;
    border-top: 1px solid #ddd;
  }
</style>
{% endblock extra-head %}


{% block form-header %}
<h1>
  {% if target.pk %}
    {{ target }}
  {% else %}
    {% trans "New CSS" %}
  {% endif %}
</h1>
{% endblock %}


{% block form-extra %}
class="form-horizontal"
{% endblock form-extra %}


{% block form-body %}
<div class="form-body no-fieldsets">
  {% form_row form.name %}

  <input type="hidden" id="{{ form.source.id_for_label }}" name="{{ form.source.html_name }}" value="{{ form.source.value|default:'' }}">
  <div id="css-editor">{{ form.source.value|default:"" }}</div>
</div>
{% endblock form-body %}


{% block form-main-col-class %}{% endblock form-main-col-class %}


{% block form-footer %}
{% if target and target.pk %}
  <button class="btn btn-primary">{% trans "Save changes" %}</button>
{% else %}
  <button class="btn btn-primary">{% trans "Save" %}</button>
{% endif %}
<button class="btn btn-success" name="stay" value="1">{% trans "Save and keep editing" %}</button>
{% endblock %}


{% block form-footer-cancel %}
<a href="{% url 'misago:admin:appearance:themes:assets' pk=theme.pk %}" class="btn btn-default">{% trans "Cancel" %}</a>
{% endblock %}


{% block javascripts %}
<script src="{% static 'misago/admin/ace-editor/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("css-editor");
  editor.setTheme("ace/theme/textmate");
  editor.setShowPrintMargin(false);
  editor.session.setMode("ace/mode/css");
  editor.session.setOptions({ tabSize: 2, useSoftTabs: true });
  var input = document.getElementById("{{ form.source.id_for_label }}");
  editor.on('change', function(event){
    input.value = editor.getValue();
  });
</script>
{% endblock javascripts %}