{% extends "misago/admin/generic/form.html" %}
{% load i18n static misago_admin_form %}


{% block title %}
{% if target.pk %}
  {{ target }}
{% else %}
  {% trans "New CSS link" %}
{% endif %} | {{ theme }} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block form-header %}
<h1>
  {% if target.pk %}
    {{ target }}
  {% else %}
    {% trans "New CSS link" %}
  {% endif %}
</h1>
{% endblock %}


{% block form-extra %}
class="form-horizontal"
{% endblock form-extra %}


{% block form-body %}
<div class="form-body no-fieldsets">
  {% form_row form.name %}
  {% form_row form.url %}
</div>
{% endblock form-body %}


{% block form-footer-cancel %}
<a href="{% url 'misago:admin:appearance:themes:assets' pk=theme.pk %}" class="btn btn-light">{% trans "Cancel" %}</a>
{% endblock %}