{% load i18n %}
<div class="table-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans "CSS files" %}
    </h3>
    <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#uploadCss">
      <span class="fa fa-upload"></span>
      {% trans "Upload" %}
    </button>
    <a href="{% url 'misago:admin:appearance:themes:new-css-link' pk=theme.pk %}" class="btn btn-default btn-sm pull-right">
      <span class="fa fa-link"></span>
      {% trans "Link" %}
    </a>
    <a href="{% url 'misago:admin:appearance:themes:new-css-file' pk=theme.pk %}" class="btn btn-default btn-sm pull-right">
      <span class="fa fa-file-text"></span>
      {% trans "Create" %}
    </a>
  </div>
  {% with theme.css.all as css %}
    <form class="mass-delete" action="{% url 'misago:admin:appearance:themes:delete-css' pk=theme.pk %}" method="post">
      {% csrf_token %}
      <table class="table">
        <tr>
          <th style="width: 1%;">&nbsp;</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Modified" %}</th>
          <th>{% trans "Size" %}</th>
          <th style="width: 1%;">&nbsp;</th>
          <th style="width: 1%;">&nbsp;</th>
          <th style="width: 1%;">&nbsp;</th>
          <th style="width: 1%;">
            <input type="checkbox" {% if not css %}disabled{% endif %}>
          </th>
        </tr>
        {% for item in css %}
          <tr>
            <td>
              <a class="btn btn-default btn-sm" href="{% if item.url %}{{ item.url }}{% else %}{{ item.source_file.url }}{% endif %}" target="blank" data-tooltip="top" title="{% trans 'Preview' %}">
                <span class="fa fa-share-square-o"></span>
              </a>
            </td>
            <td>
              <strong>{{ item }}</strong>
            </td>
            <td>
              <abbr class="moment" data-iso="{{ item.modified_on.isoformat }}" data-format="LL"></abbr>
            </td>
            <td>{{ item.size|filesizeformat }}</td>
            <td style="width: 1%;">
              <button type="button" class="btn btn-default btn-sm btn-move" data-form="move-down-{{ item.pk }}" data-tooltip="top" title="{% trans 'Move down' %}" {% if forloop.last %}disabled{% endif %}>
                <span class="fa fa-chevron-down"></span>
              </button>
            </td>
            <td style="width: 1%;">
              <button type="button" class="btn btn-default btn-sm btn-move" data-form="move-up-{{ item.pk }}" data-tooltip="top" title="{% trans 'Move up' %}" {% if forloop.first %}disabled{% endif %}>
                <span class="fa fa-chevron-up"></span>
              </button>
            </td>
            <td style="width: 1%;">
              {% if item.url %}
                <a href="{% url 'misago:admin:appearance:themes:edit-css-link' pk=theme.pk css_pk=item.pk %}" class="btn btn-default btn-sm">
                  <span class="fa fa-pencil"></span>
                  {% trans "Edit" %}
                </a>
              {% else %}
                <a href="{% url 'misago:admin:appearance:themes:edit-css-file' pk=theme.pk css_pk=item.pk %}" class="btn btn-default btn-sm">
                  <span class="fa fa-pencil"></span>
                  {% trans "Edit" %}
                </a>
              {% endif %}
            </td>
            <td style="width: 1%;">
              <input type="checkbox" name="item" value="{{ item.pk }}">
            </td>
          </tr>
        {% empty %}
          <tr class="message-row">
            <td colspan="8">{% trans "This theme has no CSS files." %}</td>
          </tr>
        {% endfor %}
      </table>
      {% if css %}
        <div class="panel-footer text-right">
          <button class="btn btn-danger btn-sm" disabled>
            <span class="fa fa-remove"></span>
            {% trans "Delete selected" %}
          </button>
        </div>
      {% endif %}
    </form>
    {% for item in css %}
      <form action="{% url 'misago:admin:appearance:themes:move-css-up' pk=theme.pk css_pk=item.pk %}" method="post" id="move-up-{{ item.pk }}">
        {% csrf_token %}
      </form>
      <form action="{% url 'misago:admin:appearance:themes:move-css-down' pk=theme.pk css_pk=item.pk %}" method="post" id="move-down-{{ item.pk }}">
        {% csrf_token %}
      </form>
    {% endfor %}
  {% endwith %}
</div><!-- /.table-panel -->