{% load i18n %}
<div class="table-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans "Fonts" %}
    </h3>
    <button type="button" class="btn btn-default btn-sm pull-right">
      <span class="fa fa-upload"></span>
      {% trans "Upload fonts" %}
    </button>
  </div>
  {% with theme.fonts.all as fonts %}
    <form action="{% url 'misago:admin:appearance:themes:delete-fonts' pk=theme.pk %}" method="post">
      <table class="table">
        <tr>
          <th>{% trans "Name" %}</th>
          <th style="width: 1%;">&nbsp;</th>
          <th style="width: 1%;">
            <input type="checkbox" {% if not fonts %}disabled{% endif %}>
          </th>
        </tr>
        {% for item in fonts %}
          <tr>
            <td>
              <strong>{{ item }}</strong>
            </td>
            <td style="width: 1%;">
              <input type="checkbox" name="item" value="{{ item.pk }}">
            </td>
          </tr>
        {% empty %}
          <tr class="message-row">
            <td colspan="3">{% trans "This theme has no fonts." %}</td>
          </tr>
        {% endfor %}
      </table>
      {% if fonts %}
        <div class="panel-footer text-right">
          <button class="btn btn-danger btn-sm" disabled>
            <span class="fa fa-remove"></span>
            {% trans "Delete selected" %}
          </button>
        </div>
      {% endif %}
    </form>
  {% endwith %}
</div><!-- /.table-panel -->