{% load i18n %}
<div class="modal fade" id="uploadImages" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Upload images" %}</h4>
      </div>
      <form action="{% url 'misago:admin:appearance:themes:upload-images' pk=theme.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="uploadImagesInput">{% trans "Select image files to upload" %}:</label>
            <input type="file" class="form-control" id="uploadImagesInput" name="assets" multiple>
            <p class="help-block">
              {% trans 'Uploaded images will be placed in "img" folder. Image urls in CSS should be prefixed with "img/".' %}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
          <button class="btn btn-primary">{% trans "Upload" %}</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->