<div class="container">
  <div class="error-page">

    <div class="error-icon">
      <span class="fa fa-plug"></span>
    </div>

    <p class="lead">{{gettext "Lost connection with server."}}</p>

  </div>
</div>
