<div class="container">
  <div class="error-page">

    <div class="error-icon">
      <span class="fa fa-fire"></span>
    </div>

    <p class="lead">{{gettext "Server has errored."}}</p>

  </div>
</div>
