<div class="container">
  <div class="error-page">

    <div class="error-icon">
      <span class="fa fa-compass"></span>
    </div>

    <p class="lead">{{gettext "Requested page could not be found."}}</p>
    <p>{{gettext "The link you clicked was incorrect or the page has been moved or deleted."}}</p>

  </div>
</div>
