<div class="error-page error-unhandled">
  <div class="container">
    <div class="error">

      <div class="error-icon">
        <i class="material-icons">texture</i>
      </div>

      <div class="error-message">
        <p class="lead">{{gettext "Application error has errored."}}</p>
      </div>

    </div>
  </div>
</div>
