<div {{bind-attr class=":flash-message isVisible:visible"}}>
  <p {{bind-attr class="isInfo:message-info isSuccess:message-success isWarning:message-warning isError:message-danger"}}>
    {{message}}
  </p>
</div>
