<div {{bind-attr class=":flash-message isVisible:visible"}}>
  <p {{bind-attr class="isInfo:message-info isSuccess:message-success isWarning:message-warning isError:message-danger"}}>
    <span {{bind-attr class=":fa :fa-lg isInfo:fa-info isSuccess:fa-check isWarning:fa-exclamation isError:fa-times"}}></span>
    {{message}}
  </p>
</div>
