<div class="guest-nav navbar-right">
  <button type="button" class="btn btn-default btn-login navbar-btn btn-sm" {{action "openLoginModal"}}>
    {{gettext "Sign in"}}
  </button>

  <button type="button" class="btn btn-info btn-logout navbar-btn btn-sm">
    {{gettext "Join now"}}
  </button>
</div>
