<div class="container">
  <h1>Welcome to Ember.js!</h1>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Si vis pacem para bellum.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

  <p class="lead">
    Lorem ipsum dolor met sit amet elit.
  </p>

</div>
