<div class="container">
  <h1>Welcome to Ember.js!</h1>

  <p class="lead">
    If you see this, Ember.js app has started successfully.
  </p>

  <h2>Where are forums?</h2>

  <p>
    This code is work in progress for Misago 0.6 release. If you expected to see forums instead, please download <strong>latest 0.5 release</strong> instead.
  </p>

</div>
