<div class="container">
  <h1>Welcome to Ember.js!</h1>
  <p class="lead">IndexController renders index.hbs template!</p>
  <p class="lead">
    Special pages: {{#link-to 'loading'}}Loading{{/link-to}}, {{#link-to 'error-0'}}Connection lost{{/link-to}}, {{#link-to 'error-404'}}Error 404{{/link-to}}.
  </p>
</div>
