<div class="container">
  <h1>Welcome to Ember.js!</h1>
  <p class="lead">IndexController renders index.hbs template!</p>
  <p class="lead">
    Check out those debug views: {{#link-to 'loading'}}loading page{{/link-to}} and {{#link-to 'error'}}error page{{/link-to}}.
  </p>
</div>
