<div class="legal-page legal-terms-of-service">
  <div class="page-header">
    <div class="container">
      <h1>{{model.title}}</h1>
    </div>
  </div>

  <div class="legal-body container">
    <article class="misago-markup">
      {{{model.body}}}
    </article>
  </div>
</div>
