<div class="user-nav navbar-right">
  <p class="navbar-text">{{user.username}}</p>

  <button type="button" class="btn btn-info navbar-btn btn-sm" {{action "logout"}}>
    {{gettext "Log out"}}
  </button>
</div>
