<div class="user-page">

  <div class="page-header">
    <div class="container">

      <div class="media">
        <div class="media-left">
          {{user-avatar user=model size=100}}
        </div>
        <div class="media-body">
          <h1 class="media-heading">{{model.username}}</h1>
          Lorem ipsum dolor met.
        </div>
      </div>

    </div>
  </div>

  {{outlet}}

</div>
