{% extends "base.html" %}

{% block title -%}
{{ category.name }} {{ super() }}
{%- endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>
<ul>
  <li>
    <a href="{{ url_for('index') }}">{{ settings["forum_name"] }}</a>
  </li>
  {% for category in categories %}
    <li>
      <a href="{{ url_for('category', slug=category.slug, id=category.id) }}">{{ category.name }}</a>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for thread in threads.items %}
    <li>
      <a href="{{ url_for('thread', slug=thread.slug, id=thread.id) }}">{{ thread.title }}</a>
    </li>
  {% endfor %}
</ul>
{% if threads.next_cursor %}
  <a href="{{ url_for('category', slug=category.slug, id=category.id) }}?cursor={{ threads.next_cursor }}">More</a>
{% endif %}
{% endblock content %}