{% extends "base.html" %}

{% block title -%}
{{ category.name }} {{ super() }}
{%- endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>
<ul>
  <li>
    <a href="{{ url_for('index') }}">{{ settings["forum_name"] }}</a>
  </li>
  {% for category in categories %}
    <li>
      <a href="{{ url_for('category', slug=category.slug, id=category.id) }}">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% with url_prefix=url_for("category", slug=category.slug, id=category.id) %}
  {% include "threads_list.html" %}
{% endwith %}
{% endblock content %}