{% extends "base.html" %}

{% block title -%}
{{ settings["forum_index_title"] or settings["forum_name"] }}
{%- endblock title %}

{% block content %}
<h1>{{ settings["forum_index_header"] or settings["forum_name"] }}</h1>
<ul>
  {% for category in categories %}
    <li>
      <a href="/c/{{ category.slug }}/{{ category.id }}/">{{ category.name }}</a>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for thread in threads.items %}
    <li>
      <a href="/t/{{ thread.slug }}/{{ thread.id }}/">{{ thread.title }}</a>  
    </li>
  {% endfor %}
</ul>
{% if threads.next_cursor %}
  <a href="/?cursor={{ threads.next_cursor }}">More</a>
{% endif %}
{% endblock content %}