<ul>
  {% for edge in threads.edges %}
    <li>
      <a href="{{ url_for('thread', slug=edge.node.slug, id=edge.node.id) }}">
        {{ edge.node.title }}
      </a>
    </li>
  {% endfor %}
</ul>
{% if threads.page_info.has_previous_page %}
  <a href="{{ url_prefix }}?before={{ threads.page_info.start_cursor }}">
    {% trans %}Previous threads{% endtrans %}
  </a>
{% endif %}
{% if threads.page_info.has_next_page %}
  <a href="{{ url_prefix }}?after={{ threads.page_info.end_cursor }}">
    {% trans %}More threads{% endtrans %}
  </a>
{% endif %}