<ul>
  {% for thread in threads.results %}
    <li>
      <a href="{{ url_for('thread', slug=thread.slug, id=thread.id) }}">
        {{ thread.title }}
      </a>
    </li>
  {% endfor %}
</ul>
{% if threads.has_previous_page %}
  <a href="{{ url_prefix }}?before={{ threads.start_cursor }}">
    {% trans %}Previous threads{% endtrans %}
  </a>
{% endif %}
{% if threads.has_next_page %}
  <a href="{{ url_prefix }}?after={{ threads.end_cursor }}">
    {% trans %}More threads{% endtrans %}
  </a>
{% endif %}