{% extends "base.html" %}

{% block title -%}
{{ thread.title }} | {{ category.name }} {{ super() }}
{%- endblock title %}

{% block content %}
<h1>{{ thread.title }}</h1>
<ul>
  <li>
    <a href="/">{{ settings["forum_name"] }}</a>
  </li>
  {% for category in path %}
    <li>
      <a href="/c/{{ category.slug }}/{{ category.id }}/">{{ category.name }}</a>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for post in posts.items %}
    <li>
      <article>
        <header>
          <span>{{ post.poster_name }}</span>
          &#8212;
          <span>{{ post.posted_at.strftime("%Y-%m-%d %H:%M:%S %Z") }}</span>
        </header>
        {{ render_rich_text(post.rich_text)|safe }}
      </article>
    </li>
  {% endfor %}
</ul>
{% if posts.has_next %}
  <a href="/t/{{ thread.slug }}/{{ thread.id }}/{{ posts.number + 1 }}/">More</a>
{% endif %}
{% endblock content %}