{% extends "base.html" %}

{% block title -%}
{{ thread.title }} | {{ category.name }} {{ super() }}
{%- endblock title %}

{% block content %}
<h1>{{ thread.title }}</h1>
<ul>
  {% for category in path %}
    <li>
      <a href="{{ url_for('category', slug=category.slug, id=category.id) }}">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<ul>
  {% for post in posts.results %}
    <li>
      <article>
        <header>
          <span>{{ post.poster_name }}</span>
          &#8212;
          <span>{{ post.posted_at.strftime("%Y-%m-%d %H:%M:%S %Z") }}</span>
        </header>
        {{ render_rich_text(post.rich_text)|safe }}
      </article>
    </li>
  {% endfor %}
</ul>
{% if posts.page_info.has_previous_page %}
  <a href="{{ url_for('thread', slug=thread.slug, id=thread.id, page=posts.page_info.previous_page) }}">
    {% trans %}Previous page{% endtrans %}
  </a>
{% endif %}
{% if posts.page_info.has_next_page %}
  <a href="{{ url_for('thread', slug=thread.slug, id=thread.id, page=posts.page_info.next_page) }}">
    {% trans %}Next page{% endtrans %}
  </a>
{% endif %}
{% endblock content %}