//
// Forum Navbar
// --------------------------------------------------

.navbars-container {
  .navbar {
    border-bottom: none;
    margin-bottom: 0px;

    .navbar-brand {
      background: url('../img/mred.png');
      background-color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 3px;
      width: @navbar-height - 12;
      height: @navbar-height - 12;
      margin-top: 6px;
    }
  }
}


/* Big displays */
@media (min-width: @screen-sm-min) {
  .navbars-container {
    border-bottom: 2px solid @navbar-border;
  }
}
