//
// Tables
// --------------------------------------------------

.table-panel {
  border: 1px solid @table-panel-border;
  border-radius: @border-radius-base;
  box-shadow: 0px 0px 0px 3px @table-panel-shadow;
  margin-bottom: @line-height-computed;

  margin-top: @line-height-computed;
  table {
    margin: 0px;

    tr {
      th {
        background: @table-header-bg;
        border: none;
        padding: @table-condensed-cell-padding @table-cell-padding;

        color: @table-header-color;
        font-size: @font-size-small;

        &:first-child {
          border-radius: (@border-radius-base - 1) 0px 0px 0px;
        }

        &:last-child {
          border-radius: 0px (@border-radius-base - 1) 0px 0px;
        }
      }
    }
  }
}
