/* Add shadow to card wrapper */
.card {
  @include shadow-1;
}


/* Make cards full-width on XS */
@include media-breakpoint-down(sm) {
  .card {
    margin-left: $grid-gutter-width / -2;
    margin-right: $grid-gutter-width / -2;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .card-color-band,
  .card-banner {
    border-radius: 0;
  }
}
