// Make full paginator more compact
.paginator-full {
  .btn + .btn {
    margin-left: $spacer / 2;
  }

  .btn .fa-fw {
    width: 1rem;
  }
}

.btn-paginator-page-active {
  color: theme-color("primary");
}
