<ul class="breadcrumbs hidden-xs">
  <li class="breadcrumbs-item">
    <a href="/">
      <span class="material-icon">chevron_right</span>
      <span class="breadcrumbs-item-name">{{ main_menu_index.label }}</span>
    </a>
  </li>
  {% for item in breadcrumbs %}
    <li class="breadcrumbs-item">
      <a href="{{ item.url }}">
        <span class="material-icon"{% if item.color %} style="color: {{ item.color }};"{% endif %}>label</span>
        <span class="breadcrumbs-item-name">{{ item.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<ul class="breadcrumbs breadcrumbs-compact">
  {% if breadcrumbs %}
    {% with item=breadcrumbs|last %}
      <li class="breadcrumbs-item">
        <a href="{{ item.url }}">
          <span class="material-icon"{% if item.color %} style="color: {{ item.color }};"{% endif %}>label</span>
          <span class="breadcrumbs-item-name">{{ item.name }}</span>
        </a>
      </li>
    {% endwith %}
  {% else %}
    <li class="breadcrumbs-item">
      <a href="/">
        <span class="material-icon">chevron_right</span>
        <span class="breadcrumbs-item-name">{{ main_menu_index.label }}</span>
      </a>
    </li>
  {% endif %}
</ul>