// Make block alert visually blend with rest of modal/card blocks */
.alert-block {
  border: none;
  border-radius: 0;
  margin: 0;
}

// Responsive alert: small on <md
@include media-breakpoint-down(md) {
  .alert-responsive {
    padding: $alert-padding-y * 0.5 $alert-padding-x * 0.5;

    font-size: $font-size-sm;
  }
}
