// Insert some space between button's icon and text
.btn .far + span,
.btn .fas + span,
.btn .btn-spinner + span {
  margin-left: $input-btn-padding-x;
}

.btn.btn-sm .far + span,
.btn.btn-sm .fas + span,
.btn.btn-sm .btn-spinner + span {
  margin-left: $input-btn-padding-x-sm;
}

@include media-breakpoint-down(md) {
  .btn.btn-responsive .far + span,
  .btn.btn-responsive .fas + span,
  .btn.btn-responsive .btn-spinner + span {
    margin-left: $input-btn-padding-x-sm;
  }
}

// Button spinner fixed width
.btn-spinner {
  display: inline-block;
  text-align: center;
  width: 1.25em;
}

// Justified button
.btn-justified {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-justified-center {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Responsive button: small on <md
@include media-breakpoint-down(md) {
  .btn.btn-responsive {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-line-height-sm,
      $btn-border-radius-sm
    );
  }
}

// Hide overflow in no-wrap buttons
.btn-nowrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Add styles for category buttons
.btn-category {
  text-align: left;
}

// Add right-margin to category icon
.btn .category-icon {
  margin-right: $spacer / 2;
}

// Float right icon to the right
.btn-icon-right {
  float: right;
}
