// Add default bottom margin to cards
.card-wrapper {
  margin-bottom: $spacer;
}

// Set default styles and top radius on card color band
.card-color-band {
  height: 4px;

  background-color: #ffffff;
  @include border-radius(
    $card-inner-border-radius $card-inner-border-radius 0 0
  );
}

// Set top radius on card banner
.card-banner {
  @include border-radius(
    $card-inner-border-radius $card-inner-border-radius 0 0
  );
}

.card-color-band + .card-banner,
.card-color-band + .card-banner + .card-banner {
  border-radius: 0;
}

// Center error and blank slate messages in card
.card-error,
.card-blank-slate {
  padding: $spacer * 2.5 $spacer;

  text-align: center;

  h3 {
    margin: 0;
  }
}

.card-error p,
.card-blank-slate p,
.card-blank-slate-actions {
  margin: 0;
  margin-top: $spacer;
}
