// Remove list styles
.categories-list-group {
  padding: 0;
}

.categories-list-group-item {
  list-style: none;
}

// Make buttons in categories list group full length
.categories-list-group .btn-category {
  width: 100%;
}

// Add vertical spacing between categories list group items
.categories-list-group-item + .categories-list-group-item,
.categories-list-group-item > .categories-list-group {
  margin-top: $spacer;
}

// Add left-margin to children categories list group
.categories-list-group-item > .categories-list-group {
  margin-left: $spacer;
}
