// Remove editor's textarea top border, make font monospaced for markdown
.form-editor-textarea {
  padding: $input-padding-x;
  min-height: $editor-min-height;

  border-radius: $input-border-radius $input-border-radius 0 0;
  font-family: $font-family-monospace;
}

// Style editor's toolbar to fit textarea
.form-editor-toolbar {
  padding: $input-padding-y $input-padding-x;

  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  border-radius: 0 0 $input-border-radius $input-border-radius;
  border-top: none;
}

// Style editor button to fit the toolbar
.btn-editor {
  border-color: $input-bg;
  color: $input-color;
}

// Set preview's min height
.form-editor-preview {
  padding: $input-padding-x;
  min-height: $editor-min-height;

  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius $input-border-radius 0 0;
}

// Center the loader and errors
.form-editor-preview-loader,
.form-editor-preview-error {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: $editor-min-height;
}

// Style error message
.form-editor-preview-error-body {
  text-align: center;

  p.lead {
    margin: 0;

    font-size: $font-size-lg;
  }

  p + p {
    margin: 0;
    margin-top: $spacer;
  }
}
