.root-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: $font-size-base;
}

.root-error-body {
  text-align: center;
}

.root-error-icon {
  font-size: $font-size-base * 8;
}