.app-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: $font-size-base 0;
}

.app-error-body {
  text-align: center;
}

.route-error {
  padding: 4rem 0;
}

.route-error-body {
  text-align: center;
}