/* Center vertically form footer contents, align to the right */
.form-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Space out footer's items */
.form-footer .btn {
  margin-left: $spacer * 0.75;
}

/* Display pointer cursor over labels */
label {
  cursor: pointer;
}

/* Force invalid feedback to always display */
.invalid-feedback {
  display: block;
}
