// Styles for page headers cards

// Hide thread's starter avatar on small displays
.thread-header-starter-avatar {
  display: none;
}

.thread-header-content {
  width: 100%;
}

// Make thread header two-column
@include media-breakpoint-up(lg) {
  .thread-header-body {
    display: flex;
  }

  .thread-header-starter-avatar {
    display: block;
    margin-top: $font-size-base / 2;
    margin-right: $spacer * 1.5;
  }
}
