// Use BS5 checkbox scss
.form-check-input {
  display: inline-block;
  width: $custom-control-indicator-size;
  height: $custom-control-indicator-size;
  line-height: $custom-control-indicator-size;

  input {
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    margin: 0;
    margin-top: ($line-height-base - $custom-control-indicator-size) / -2; // line-height minus check height
    vertical-align: middle;
    background-color: $custom-control-indicator-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $custom-control-indicator-border-color solid
      $custom-control-indicator-border-width;
    appearance: none;
    color-adjust: exact; // Keep themed appearance for print
    @include border-radius($custom-checkbox-indicator-border-radius);

    &:checked {
      color: $custom-control-indicator-checked-color;
      background: no-repeat 50% / #{$custom-control-indicator-bg-size};
      background-image: escape-svg($custom-checkbox-indicator-icon-checked);
      border-color: $custom-control-indicator-checked-border-color;
      @include gradient-bg($custom-control-indicator-checked-bg);
      @include box-shadow($custom-control-indicator-checked-box-shadow);
    }

    &:focus {
      // the mixin is not used here to make sure there is feedback
      @if $enable-shadows {
        box-shadow: $input-box-shadow, $input-focus-box-shadow;
      } @else {
        box-shadow: $custom-control-indicator-focus-box-shadow;
      }
    }

    &:focus:not(:checked) {
      border-color: $custom-control-indicator-focus-border-color;
    }

    &:not(:disabled):active {
      color: $custom-control-indicator-active-color;
      background-color: $custom-control-indicator-active-bg;
      border-color: $custom-control-indicator-active-border-color;
      @include box-shadow($custom-control-indicator-active-box-shadow);
    }

    // Use [disabled] and :disabled to work around https://github.com/twbs/bootstrap/issues/28247
    &[disabled],
    &:disabled {
      color: $custom-control-label-disabled-color;
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }
}

// Align categories in category input next to each other
.form-control-select-category {
  display: flex;
}

.form-control-category {
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

.form-control-category + .form-control-category {
  padding-left: $spacer / 2;
}

@media (max-width: 400px) {
  .form-control-category .btn {
    width: 100%;
  }

  .form-control-category {
    max-width: 50%;
    padding-right: $spacer / 4;
  }

  .form-control-category + .form-control-category {
    padding-left: $spacer / 4;
    padding-right: 0;
  }

  .form-control-category:only-child {
    max-width: 100%;
    padding: 0;
  }
}
