.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

@include media-breakpoint-up(md) {
  .app-loader {
    height: 80vh;
  }
}

.route-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

@include media-breakpoint-up(md) {
  .route-loader {
    padding: 5rem 0;
  }
}

.card-loader,
.posting-form-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}
