// Load more button used at bottom of some lists
// Displays "load more" button on mobile and empty div on desktop
.load-more {
  display: flex;
  justify-content: center;
}

.load-more .btn {
  display: block;
  width: 100%;
  max-width: 320px;
  margin-bottom: $spacer;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}