.side-nav .nav-link {
  display: flex;
  align-items: center;
}

.side-nav .nav-link.active {
  font-weight: bold;
}

.side-nav .nav-link-icon {
  margin-right: $spacer;
}

.side-nav .nav-link-text {
  margin-right: auto;
}