.nav-side .nav-link {
  display: flex;
  align-items: center;
}

.nav-side .nav-link.active {
  font-weight: bold;
}

.nav-side .nav-link-icon,
.nav-side .nav-link-category-icon {
  margin-right: $spacer;
}

.nav-side .nav-link-text {
  margin-right: auto;

  word-break: break-word;
}
