// Insert some spacing between paginator items
.paginator {
  .btn + .btn {
    margin-left: $spacer;
  }
}

.paginator-goto {
  display: flex;
}

.paginator-goto input {
  margin-right: $spacer;
  min-width: 100px;
}

.btn-paginator-page-active {
  font-weight: bold;
}

// On very small devices make compact paginator full-width
@include media-breakpoint-down(sm) {
  .paginator-compact {
    display: flex;
    width: 100%;

    .btn + .btn {
      margin-left: $spacer / 2;
    }
  }

  .btn-paginator-toggle-compact.btn-responsive {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    align-items: center;
    font-size: $font-size-base * 0.8;
    font-weight: bold;
  }
}
