// Insert some spacing between paginator items
.paginator {
  .btn + .btn {
    margin-left: $spacer;
  }
}

.paginator-goto {
  display: flex;
}

.paginator-goto input {
  margin-right: $spacer;
  min-width: 100px;
}