// Hide post sidebit on small displays
@include media-breakpoint-down(sm) {
  .post-sidebit {
    display: none;
  }
}

// Hide post small avatar on large displays {
@include media-breakpoint-up(sm) {
  .post-avatar-sm {
    display: none;
  }
}

// Style header items
.post-avatar-sm {
  margin-right: $spacer;
}

.post-poster {
  font-weight: bold;
}

.post-header-dash {
  margin: 0 $spacer / 2;
}

.post-header-select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: $spacer / 2;
  width: $custom-control-indicator-size * 2;
  height: $custom-control-indicator-size;

  .form-check-input {
    margin: 0;
  }
}

.post-header-compact {
  font-size: $font-size-sm;
}

// Hide full header on mobile
@include media-breakpoint-down(sm) {
  .post-header-full {
    display: none;
  }
}

// Hide compact header on desktop {
@include media-breakpoint-up(sm) {
  .post-header-compact {
    display: none;
  }
}

// Make textarea fill entire post edit body
.post-edit-form-body {
  padding: 0;

  textarea.form-control {
    border: none;
    border-radius: 0;

    padding: $card-spacer-x;
  }
}

// Align post edit footer contents to right
.post-edit-form-footer {
  text-align: right;

  .btn {
    margin-left: $spacer;
  }
}
