// Style quote blocks
$quote-background: $gray-100 !default;
$quote-border: 1px solid $gray-200 !default;
$quote-border-radius: $border-radius !default;

.rich-text-quote {
  background: $quote-background;
  border: $quote-border;
  border-radius: $quote-border-radius;
  margin-bottom: $spacer;

  blockquote {
    margin: 0;
    padding: $spacer;
  }
}

$quote-header-background: $gray-200 !default;
$quote-header-border: 1px solid $gray-200 !default;

.rich-text-quote-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer / 2 $spacer;

  background-color: $quote-header-background;
  border-bottom: $quote-header-border;

  font-weight: bold;
}

// Style spoilers
$spoiler-background: $gray-100 !default;
$spoiler-border: 1px solid $gray-200 !default;
$spoiler-border-radius: $border-radius !default;

.rich-text-spoiler {
  background: $spoiler-background;
  border: $spoiler-border;
  border-radius: $spoiler-border-radius;
  margin-bottom: $spacer;

  blockquote {
    margin: 0;
    padding: $spacer;
  }
}

.rich-text-spoiler-hidden blockquote {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

$spoiler-header-background: $gray-200 !default;
$spoiler-header-border: 1px solid $gray-200 !default;

.rich-text-spoiler-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer / 2 $spacer;

  background-color: $spoiler-header-background;
  border-bottom: $spoiler-header-border;

  font-weight: bold;
}

// Style code
$code-background: $gray-100 !default;
$code-border: 1px solid $gray-200 !default;
$code-border-radius: $border-radius !default;

.rich-text-code {
  background: $spoiler-background;
  border: $spoiler-border;
  border-radius: $spoiler-border-radius;
  margin-bottom: $spacer;
  padding: $spacer;
  position: relative;

  div {
    position: absolute;
    top: $spacer / 2;
    right: $spacer / 2;
  }

  code,
  pre {
    margin: 0;
    padding: 0;
  }
}

// Remove bottom margins from last child of rich text block:
.misago-rich-text > *:last-child,
.misago-rich-text blockquote > *:last-child {
  margin-bottom: 0;
}

// Force word wrap in richtext
.misago-rich-text * {
  overflow-wrap: break-word;
}

// Formatted code styles
.hl-hll { background-color: #ffffcc }
.highlight { background: #f8f8f8; }
.hl-c { color: #408080; font-style: italic } /* Comment */
.hl-err { border: 1px solid #FF0000 } /* Error */
.hl-k { color: #008000; font-weight: bold } /* Keyword */
.hl-o { color: #666666 } /* Operator */
.hl-ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.hl-cm { color: #408080; font-style: italic } /* Comment.Multiline */
.hl-cp { color: #BC7A00 } /* Comment.Preproc */
.hl-cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.hl-c1 { color: #408080; font-style: italic } /* Comment.Single */
.hl-cs { color: #408080; font-style: italic } /* Comment.Special */
.hl-gd { color: #A00000 } /* Generic.Deleted */
.hl-ge { font-style: italic } /* Generic.Emph */
.hl-gr { color: #FF0000 } /* Generic.Error */
.hl-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.hl-gi { color: #00A000 } /* Generic.Inserted */
.hl-go { color: #888888 } /* Generic.Output */
.hl-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.hl-gs { font-weight: bold } /* Generic.Strong */
.hl-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.hl-gt { color: #0044DD } /* Generic.Traceback */
.hl-kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.hl-kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.hl-kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.hl-kp { color: #008000 } /* Keyword.Pseudo */
.hl-kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.hl-kt { color: #B00040 } /* Keyword.Type */
.hl-m { color: #666666 } /* Literal.Number */
.hl-s { color: #BA2121 } /* Literal.String */
.hl-na { color: #7D9029 } /* Name.Attribute */
.hl-nb { color: #008000 } /* Name.Builtin */
.hl-nc { color: #0000FF; font-weight: bold } /* Name.Class */
.hl-no { color: #880000 } /* Name.Constant */
.hl-nd { color: #AA22FF } /* Name.Decorator */
.hl-ni { color: #999999; font-weight: bold } /* Name.Entity */
.hl-ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.hl-nf { color: #0000FF } /* Name.Function */
.hl-nl { color: #A0A000 } /* Name.Label */
.hl-nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.hl-nt { color: #008000; font-weight: bold } /* Name.Tag */
.hl-nv { color: #19177C } /* Name.Variable */
.hl-ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.hl-w { color: #bbbbbb } /* Text.Whitespace */
.hl-mb { color: #666666 } /* Literal.Number.Bin */
.hl-mf { color: #666666 } /* Literal.Number.Float */
.hl-mh { color: #666666 } /* Literal.Number.Hex */
.hl-mi { color: #666666 } /* Literal.Number.Integer */
.hl-mo { color: #666666 } /* Literal.Number.Oct */
.hl-sa { color: #BA2121 } /* Literal.String.Affix */
.hl-sb { color: #BA2121 } /* Literal.String.Backtick */
.hl-sc { color: #BA2121 } /* Literal.String.Char */
.hl-dl { color: #BA2121 } /* Literal.String.Delimiter */
.hl-sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.hl-s2 { color: #BA2121 } /* Literal.String.Double */
.hl-se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.hl-sh { color: #BA2121 } /* Literal.String.Heredoc */
.hl-si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.hl-sx { color: #008000 } /* Literal.String.Other */
.hl-sr { color: #BB6688 } /* Literal.String.Regex */
.hl-s1 { color: #BA2121 } /* Literal.String.Single */
.hl-ss { color: #19177C } /* Literal.String.Symbol */
.hl-bp { color: #008000 } /* Name.Builtin.Pseudo */
.hl-fm { color: #0000FF } /* Name.Function.Magic */
.hl-vc { color: #19177C } /* Name.Variable.Class */
.hl-vg { color: #19177C } /* Name.Variable.Global */
.hl-vi { color: #19177C } /* Name.Variable.Instance */
.hl-vm { color: #19177C } /* Name.Variable.Magic */
.hl-il { color: #666666 } /* Literal.Number.Integer.Long */
