// Selected items component
// Used on bulk moderation for threads and posts

.selected-items {
  padding: 0;
}

.selected-item {
  list-style: none;

  font-size: $font-size-sm;
}

.selected-item + .selected-item {
  margin-top: $spacer;
}

.selected-item-error {
  color: theme-color("danger");
}

// Selected thread styles
.selected-thread-title {
  margin-bottom: 0;

  font-weight: bold;
}

// Selected post styles
.selected-post-header {
  margin-bottom: 0;
}

.selected-post-poster {
  font-weight: bold;
}

.selected-post-timestamp {
  margin-left: $spacer / 2;
}

.selected-post-body {
  max-height: 40px;
  overflow: hidden;
}
