// Add vertical padding to wizard
.site-wizard {
  padding: $spacer * 2 0;
}

// Style wizard's logo
.site-wizard-logo {
  background-image: url("./wizard-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  margin-bottom: $spacer;
}

// Limit site wizard's width
.site-wizard-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
