// Call to action, inviting user to post a reply
.thread-cta {
  margin-bottom: $spacer;
  padding: $spacer $spacer * 2;

  text-align: center;

  p {
    margin-bottom: 0;
  }

  p + div {
    margin-top: $spacer;
  }
}
