// Cut down side padding for list items
.threads-list-item {
  padding: $list-group-item-padding-y;
}

// Add gutters to thread columns
.threads-list-item .threads-list-thread,
.threads-list-item .threads-list-last-poster,
.threads-list-item .threads-list-activity,
.threads-list-item .threads-list-select {
  padding-left: $list-group-item-padding-y;
}

// Force long threads titles to break
.threads-list-thread-title {
  word-break: break-word;
}

// Hide thread started/replied tidbits on small displays depending
// on threads activity
@include media-breakpoint-down(md) {
  .threads-list-item-without-replies .tidbit-last-reply,
  .threads-list-item-with-replies .tidbit-start {
    display: none;
  }
}

// Hide last reply tidbit on large displays
@include media-breakpoint-up(lg) {
  .threads-list-thread .tidbit-last-reply {
    display: none;
  }
}

// Hide replies tidbit on empty threads
.threads-list-item-without-replies .tidbit-replies {
  display: none;
}

// Set constant width for thread's activity column
.threads-list-activity {
  width: $threads-list-item-activity;
}

.threads-list-activity .tidbit-item {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Hide last poster and activity on small screens
@include media-breakpoint-down(md) {
  .threads-list-activity,
  .threads-list-last-poster {
    display: none;
  }
}

// Display small last poster's avatar instead of starter
.threads-list-starter {
  display: none;
}

.threads-list-last-poster-sm {
  display: block;
}

@include media-breakpoint-up(lg) {
  .threads-list-starter {
    display: block;
  }

  .threads-list-last-poster-sm {
    display: none;
  }
}

// Set constant width for select thread column
.threads-list-select {
  width: $custom-control-indicator-size * 2;
  text-align: center;
}
