// Toasts styles
.toasts-container {
  position: absolute;
  right: 0;
  padding: $grid-gutter-width / 2;
}

.toast {
  max-width: $toast-max-width;
  overflow: hidden; // cheap rounded corners on nested items
  @include font-size($toast-font-size);
  color: $toast-color;
  background-color: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  backdrop-filter: blur(10px);
  opacity: 0;
  @include border-radius($toast-border-radius);

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }

  &.show {
    opacity: 1;
  }

  &.hide {
    display: none;
  }
}

.toast-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $toast-padding-x; // apply to both vertical and horizontal
}
