// Toasts styles
.toasts-container {
  position: fixed;
  top: $grid-gutter-width / 2;
  right: 0;
  width: 100%;
  padding: 0 $grid-gutter-width / 2;
  z-index: $zindex-tooltip - 1;

  @include media-breakpoint-up(md) {
    right: $grid-gutter-width / 2;
    width: $toast-max-width;
    padding: 0;
  }
}

.toast {
  width: 100%;
  overflow: hidden; // cheap rounded corners on nested items
  @include font-size($toast-font-size);
  color: $toast-color;
  background-color: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  opacity: 0;
  @include border-radius($toast-border-radius);

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }

  &.show {
    opacity: 1;
  }
}

.toast-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $toast-padding-x; // apply to both vertical and horizontal
}
