// Toolbars are rows with buttons
.toolbar {
  margin-bottom: $spacer;
}

.toolbar .row {
  margin: 0 $spacer / -2;
}

.toolbar .row > .toolbar-item {
  padding: 0 $spacer / 2;
}

.toolbar .row > .toolbar-spacer {
  padding: 0;
}
