// Tribute mentions styles
.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  overflow: auto;
  display: block;
  z-index: 999999;
}

.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  font-size: $dropdown-font-size;
  color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);

  .user-avatar {
    width: 16px;
    height: 16px;
  }

  li {
    word-wrap: break-word;
  }
}
