// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Misago-specific components sizings

$side-col-width:  320px;
$btn-max-width:   300px;

$threads-list-item-activity: 300px;