{% load i18n misago_avatars misago_capture misago_formats misago_rich_text %}

<div
  id="posts-feed-item-post-{{ post.id }}"
  class="posts-feed-item{% if animate %} posts-feed-item-animate{% endif %}"
  {% if htmx_swap %}
    hx-swap-oob="true"
  {% endif %}
>
  <a id="post-{{ post.id }}" class="scroll-target"></a>
  <div class="posts-feed-item-post">
    <div class="posts-feed-item-post-bit-side">
      <div class="posts-feed-item-post-bit-side-avatar">
        {% if poster %}
          <a
            class="posts-feed-item-post-bit-side-avatar-link"
            href="{{ poster.get_absolute_url }}"
          >
            <img
              class="user-avatar"
              srcset="{{ poster|avatar:200 }}"
              src="{{ poster|avatar:100 }}"
              width="100"
              height="100"
              alt="{{ poster }}"
            >
          </a>
        {% else %}
          <span class="posts-feed-item-post-bit-side-avatar-link">
            <img src="{{ BLANK_AVATAR_URL }}" width="100" height="100" alt="{{ poster_name }}">
          </span>
        {% endif %}
      </div>
      <div class="posts-feed-item-post-bit-side-avatar-sm">
        {% if poster %}
          <a
            class="posts-feed-item-post-bit-side-avatar-link"
            href="{{ poster.get_absolute_url }}"
          >
            <img
              class="user-avatar"
              srcset="{{ poster|avatar:100 }}"
              src="{{ poster|avatar:50 }}"
              width="50"
              height="50"
              alt="{{ poster }}"
            >
          </a>
        {% else %}
          <span class="posts-feed-item-post-bit-side-avatar-link">
            <img src="{{ BLANK_AVATAR_URL }}" width="50" height="50" alt="{{ poster_name }}">
          </span>
        {% endif %}
      </div>
      <div class="posts-feed-item-post-bit-side-poster">

        {% if poster %}
          <div>
            <a
              href="{{ poster.get_absolute_url }}"
              class="posts-feed-item-post-bit-side-poster-link"
              {% if poster.group.color %}
              style="--color: {{ poster.group.color }}"
              {% endif %}
            >
              {{ poster.username }}
            </a>
          </div>
          {% if not poster.group.is_hidden %}
            <div>
              <a
                class="posts-feed-item-post-bit-side-poster-title"
                href="#todo"
              >
                {{ poster.title|default:poster.group.user_title|default:poster.group.name }}
              </a>
            </div>
          {% elif poster.title or poster.group.user_title %}
            <div>
              <span class="posts-feed-item-post-bit-side-poster-title">
                {{ poster.title|default:poster.group.user_title }}
              </span>
            </div>
          {% endif %}
        {% else %}
          <div>
            <span class="posts-feed-item-post-bit-side-poster-link">
              {{ poster_name }}
            </span>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="posts-feed-item-post-main">
      <div class="posts-feed-item-post-bit-top">

        {% if poster %}
          <a
            class="posts-feed-item-post-bit-top-avatar"
            href="{{ poster.get_absolute_url }}"
          >
            <img
              class="user-avatar"
              srcset="{{ poster|avatar:64 }}"
              src="{{ poster|avatar:32 }}"
              width="32"
              height="32"
              alt="{{ poster }}"
            >
          </a>
        {% else %}
          <span class="posts-feed-item-post-bit-top-avatar">
            <img src="{{ BLANK_AVATAR_URL }}" width="32" height="32" alt="{{ poster_name }}">
          </span>
        {% endif %}

        {% if poster %}
          <a
            href="{{ poster.get_absolute_url }}"
            class="posts-feed-item-post-bit-top-poster-link"
            {% if poster.group.color %}
            style="--color: {{ poster.group.color }}"
            {% endif %}
          >
            {{ poster.username }}
          </a>
          {% if not poster.group.is_hidden %}
            <a
              class="posts-feed-item-post-bit-top-poster-title"
              href="#todo"
            >
              {{ poster.title|default:poster.group.user_title|default:poster.group.name }}
            </a>
          {% elif poster.title or poster.group.user_title %}
            <span class="posts-feed-item-post-bit-top-poster-title">
              {{ poster.title|default:poster.group.user_title }}
            </span>
          {% endif %}
        {% else %}
          <span class="posts-feed-item-post-bit-top-poster-link">
            {{ poster_name }}
          </span>
        {% endif %}

        <a
          class="posts-feed-item-post-bit-top-timestamp"
          href="{{ post.get_absolute_url }}"
          title="{{ post.posted_at|date:'DATETIME_FORMAT' }}"
          misago-timestamp="{{ post.posted_at.isoformat }}"
        >
          {{ post.posted_at|date_relative }}
        </a>

        <a
          class="posts-feed-item-post-bit-top-timestamp-compact"
          href="{{ post.get_absolute_url }}"
          title="{{ post.posted_at|date:'DATETIME_FORMAT' }}"
          misago-timestamp="{{ post.posted_at.isoformat }}"
          misago-timestamp-format="short"
        >
          {{ post.posted_at|date_relative_short }}
        </a>

        <a
          class="posts-feed-item-post-bit-top-post-counter"
          href="{{ post.get_absolute_url }}"
        >
          #{{ counter }}
        </a>

        {% if is_new %}
          <span
            class="posts-feed-item-post-bit-top-post-new"
            title="{% translate 'This post is new' context 'posts feed new post' %}"
          >
            {% translate "New" context "posts feed post new" %}
          </span>
        {% endif %}

        <button class="btn btn-link btn-icon" type="button">
          <span class="material-icon">more_horiz</span>
        </button>

      </div>
      <div class="posts-feed-item-post-body">
        
        <div class="posts-feed-item-post-body-message">
          {% if is_visible %}
            <article class="posts-feed-item-post-rich-text rich-text" misago-quote-root="{% if poster %}{{ poster.username }}{% else %}{{ post.poster_name }}{% endif %}, post: {{ post.id }}" misago-lightbox-root>
              {% rich_text post.parsed rich_text_data thread=thread %}
            </article>
            {% if attachments %}
              {% include "misago/post_feed/post_attachments.html" %}
            {% endif %}
            {% if edits %}
              <div class="posts-feed-item-edits">
                {% if edits_url %}
                  <a
                    href="{{ edits_url }}"
                    hx-ext="mg-modal"
                    hx-get="{{ edits_url }}?modal=true"
                    hx-target="#misago-htmx-post-edits-modal"
                    mg-loader="#modal-loader"
                    mg-error="#modal-error"
                    mg-modal="#post-edits-modal"
                    mg-modal-title="{% blocktranslate trimmed with number=counter context 'post feed post edits modal title' %}Post #{{ number }} edit history{% endblocktranslate %}"
                  >
                {% endif %}
                {% blocktranslate trimmed count edits=post.edits context "posts feed post edits" %}
                  Edited {{ edits }} time.
                {% plural %}
                  Edited {{ edits }} times.
                {% endblocktranslate %}
                {% if last_edited_at and last_editor_name %}
                  {% capture trimmed as last_edited_at_html %}
                    <span class="posts-feed-item-last-edit-timestamp"
                      title="{{ last_edited_at|date:'DATETIME_FORMAT' }}"
                      mg-timestamp="{{ last_edited_at.isoformat }}"
                      mg-timestamp-format="sentence"
                    >
                      {{ last_edited_at|date_relative_in_sentence }}
                    </span>
                  {% endcapture %}
                  {% if show_last_editor %}
                    {% if last_edit_reason %}
                      {% blocktranslate trimmed with editor_name=last_editor_name edited_at=last_edited_at_html|safe reason=last_edit_reason context="post feed post edits" %}
                        Last by {{ editor_name }}, {{ edited_at }}. Reason: {{ reason }}
                      {% endblocktranslate %}
                    {% else %}
                      {% blocktranslate trimmed with editor_name=last_editor_name edited_at=last_edited_at_html|safe context="post feed post edits" %}
                        Last by {{ editor_name }}, {{ edited_at }}.
                      {% endblocktranslate %}
                    {% endif %}
                  {% else %}
                    {% if last_edit_reason %}
                      {% blocktranslate trimmed with edited_at=last_edited_at_html|safe reason=last_edit_reason context="post feed post edits" %}
                        Last {{ edited_at }}. Reason: {{ reason }}
                      {% endblocktranslate %}
                    {% else %}
                      {% blocktranslate trimmed with edited_at=last_edited_at_html|safe context="post feed post edits" %}
                        Last {{ edited_at }}.
                      {% endblocktranslate %}
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if edits_url %}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% else %}
            {% translate "Hidden" context "posts feed post hidden" %}
          {% endif %}
        </div>

        <div class="posts-feed-item-post-body-footer">
          <div class="posts-feed-item-post-body-footer-left">
            {% if not likes.is_liked and likes.like_url %}
              <form
                id="posts-feed-item-post-like-{{ post.id }}"
                action="{{ likes.like_url }}"
                method="post"
                hx-post="{{ likes.like_url }}"
                hx-target="this"
                hx-swap="outerHTML"
              >
                {% csrf_token %}
                <button
                  class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-like"
                  type="submit"
                  hx-disabled-elt="this"
                >
                  <span class="material-icon">favorite_border</span>
                  {% translate "Like" context "posts feed like post" %}
                </button>
              </form>
            {% elif likes.is_liked %}
              {% if likes.unlike_url %}
                <form
                  id="posts-feed-item-post-like-{{ post.id }}"
                  action="{{ likes.unlike_url }}"
                  method="post"
                  hx-post="{{ likes.unlike_url }}"
                  hx-target="this"
                  hx-swap="outerHTML"
                >
                  {% csrf_token %}
                  <button
                    class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-liked"
                    type="submit"
                    hx-disabled-elt="this"
                  >
                    <span class="material-icon">favorite</span>
                    {% translate "Liked" context "posts feed like post" %}
                  </button>
                </form>
              {% else %}
                <button
                  class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-liked"
                  type="submit"
                  disabled
                >
                  <span class="material-icon">favorite</span>
                  {% translate "Liked" context "posts feed like post" %}
                </button>
              {% endif %}
            {% endif %}
          </div>
          <div class="posts-feed-item-post-body-footer-right">
            {% if edit_url %}
              <a
                class="btn posts-feed-item-post-body-footer-btn posts-feed-item-post-body-footer-btn-edit"
                href="{{ edit_url }}"
                hx-get="{{ edit_url }}?inline=true"
                hx-target="#posts-feed-item-post-{{ post.id }} .posts-feed-item-post-body"
                hx-swap="innerHTML show:#post-{{ post.id }}:top"
              >
                <span class="material-icon">edit</span>
                {% translate "Edit" context "posts feed edit post" %}
              </a>
            {% endif %}
          </div>
        </div>

        {% if likes.messages %}
          <div
            id="posts-feed-item-post-likes-{{ post.id }}"
            class="posts-feed-item-likes{% if likes.is_liked %} posts-feed-item-likes-liked{% endif %}"
          >
            {% if likes.likes_url %}
              {% for type, message in likes.messages.items %}
                <a
                  href="{{ likes.likes_url }}"
                  class="posts-feed-item-likes-message-{{ type }}"
                  hx-ext="mg-modal"
                  hx-get="{{ likes.likes_url }}?modal=true"
                  hx-target="#misago-htmx-post-likes-modal"
                  mg-loader="#modal-loader"
                  mg-error="#modal-error"
                  mg-modal="#post-likes-modal"
                  mg-modal-title="{% blocktranslate trimmed with number=counter context 'post feed post likes modal title' %}Post #{{ number }} likes{% endblocktranslate %}"
                >
                  {{ message }}
                </a>
              {% endfor %}
            {% else %}
              {% for type, message in likes.messages.items %}
                <span class="posts-feed-item-likes-message-{{ type }}">{{ message }}</span>
              {% endfor %}
            {% endif %}
          </div>
        {% else %}
          <div id="posts-feed-item-post-likes-{{ post.id }}" class="posts-feed-item-likes d-none"></div>
        {% endif %}

      </div>
    </div>

  </div>
</div>