{% load i18n misago_capture misago_formats %}

<div class="status-bar status-bar-solved">
  <div class="status-bar-icon">
    {% include "tabler/rosette-discount-check-filled.svg" %}
  </div>
  <div class="status-bar-body">
    <p>
      <strong>{% translate "Solved:" context "post solved status bar" %}</strong>
      {% capture trimmed as solved_at %}
        <span
          title="{{ solved_at|date:'DATETIME_FORMAT' }}"
          mg-timestamp="{{ solved_at.isoformat }}"
        >{{ solved_at|date_relative }}</span>
      {% endcapture %}
      {% capture trimmed as solved_by_html %}
        {% if solved_by %}
          <a href="{% url 'misago:user' pk=solved_by.id slug=solved_by.slug %}" class="item-title">{{ solved_by.username }}</a>
        {% else %}
          <span class="item-title">{{ solved_by_name }}</span>
        {% endif %}
      {% endcapture %}
      {% blocktranslate trimmed with solved_by=solved_by_html|safe solved_at=solved_at|safe context "post solved status bar" %}
        Solved by {{ solved_by }}, {{ solved_at }}.
      {% endblocktranslate %}
    </p>
    <div class="status-bar-actions">
      <a href="{{ solution_url }}" class="status-bar-btn">
        <span>{% translate "Go to solution" context "post solved status bar" %}</span>
        {% include "tabler/arrow-right.svg" %}
      </a>
    </div>
  </div>
</div>