{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block title %}
  {% blocktranslate trimmed with edit=edit_number context "post edit restore page title" %}
    Restore post edit #{{ post_edit_number }}
  {% endblocktranslate %} | {{ thread.title }} | {{ forum_name }}
{% endblock title %}


{% block content %}
<div class="page page-post-edit-restore">
  <div class="container page-container">
    {% includecomponent breadcrumbs %}

    <form action="{{ full_path }}" method="post">
      {% csrf_token %}
      <div class="panel panel-default panel-form">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% blocktranslate trimmed with edit=edit_number user=post_edit.user_name context "post edit restore confirmation" %}
              Restore post edit #{{ post_edit_number }} by {{ user }}
            {% endblocktranslate %}
          </h3>
        </div>
        <div class="panel-body">
          <p>
            {% translate "Are you sure you want to restore this post to before this edit? Attachments are not affected." context "post edit restore confirmation" %}
          </p>
        </div>
        <div class="panel-footer panel-footer-sticky">
          <button class="btn btn-primary" type="submit">
            {% translate "Restore" context "post edit restore page btn" %}
          </button>
          <a href="{{ post_edit_url }}" class="btn btn-default">
            {% translate "Cancel" context "post edit restore page btn" %}
          </a>
        </div>
      </div>
    </form>

    {% include "misago/gototop_toolbar.html" %}
  </div>
</div>
{% endblock content %}
