{% load i18n misago_capture %}
<nav class="thread-paginator" role="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
  {% if paginator.first %}
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to first page' context 'thread paginator' %}" href="{% url url_name slug=thread.slug pk=thread.pk %}">
      <span class="material-icon">first_page</span>
    </a>
    {% capture trimmed as previous_url %}
      {% if paginator.previous > 1%}
        {% url url_name slug=thread.slug pk=thread.pk page=paginator.previous %}
      {% else %}
        {% url url_name slug=thread.slug pk=thread.pk %}
      {% endif %}
    {% endcapture %}
    <a class="btn btn-default btn-outline btn-icon" rel="prev" title="{% translate 'Go to previous page' context 'thread paginator' %}" href="{{ previous_url }}">
      <span class="material-icon">chevron_left</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to first page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">first_page</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to previous page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_left</span>
    </button>
  {% endif %}
  <div class="dropdown">
    <button aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block btn-outline" type="button" disabled>
      {% blocktranslate trimmed with page=paginator.page pages=paginator.pages context 'thread paginator' %}
        Page {{ page }} of {{ pages }}
      {% endblocktranslate %}
    </button>
  </div>
  {% if paginator.last %}
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to next page' context 'thread paginator' %}" rel="next" href="{% url url_name slug=thread.slug pk=thread.pk page=paginator.next %}">
      <span class="material-icon">chevron_right</span>
    </a>
    <a class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to last page' context 'thread paginator' %}" href="{% url url_name slug=thread.slug pk=thread.pk page=paginator.last %}">
      <span class="material-icon">last_page</span>
    </a>
  {% else %}
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to next page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">chevron_right</span>
    </button>
    <button class="btn btn-default btn-outline btn-icon" title="{% translate 'Go to last page' context 'thread paginator' %}" type="button" disabled>
      <span class="material-icon">last_page</span>
    </button>
  {% endif %}
</nav>