{% load i18n %}
<div class="toolbar">
  {% if paginator.pages > 1 %}
    <div class="toolbar-section">
      <div class="toolbar-item">
        {% include "misago/thread/paginator.html" %}
      </div>
    </div>
  {% endif %}
  <div class="toolbar-spacer hidden-xs"></div>
  {% if user.is_authenticated %}
    <div class="toolbar-section">
      <div class="toolbar-item">
        <div class="dropdown">
          <button class="btn btn-default btn-outline btn-block" type="button" disabled>
            {% include "misago/thread/notifications.html" %}
          </button>
        </div>
      </div>
      {% if thread.acl.can_reply %}
        <div class="toolbar-item">
          <button class="btn btn-primary btn-outline btn-block" type="button" disabled>
            <span class="material-icon">chat</span>
            {% translate "Reply" context "thread page options" %}
          </button>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>