{% load i18n %}

{% include "misago/snackbars.html" %}

<button hx-swap-oob="innerHTML:[mg-watch-thread-btn]">
  {% if notifications_site_and_email or notifications_site_only  %}
    {% translate "Watched" context "watch thread btn" %}
  {% else %}
    {% translate "Watch" context "watch thread btn" %}
  {% endif %}
</button>
<ul hx-swap-oob="innerHTML:[mg-watch-thread-dropdown]">
  <li class="dropdown-subheader user-nav-options">
    {% translate "New reply notifications" context "watch thread btn" %}
  </li>
  <li>
    <button
      name="notifications"
      value="2"
      class="btn-link with-svg-icon"
      type="submit"
    >
      {% if notifications_site_and_email %}
        {% include "tabler/circle-check-filled.svg" %}
      {% else %}
        {% include "tabler/circle.svg" %}
      {% endif %}
      <span>
        {% translate "Site and e-mail" context "watch thread btn" %}
      </span>
    </button>
  </li>
  <li>
    <button
      name="notifications"
      value="1"
      class="btn-link with-svg-icon"
      type="submit"
    >
      {% if notifications_site_only %}
        {% include "tabler/circle-check-filled.svg" %}
      {% else %}
        {% include "tabler/circle.svg" %}
      {% endif %}
      <span>
        {% translate "Site only" context "watch thread btn" %}
      </span>
    </button>
  </li>
  <li>
    <button
      name="notifications"
      value="0"
      class="btn-link with-svg-icon"
      type="submit"
    >
      {% if notifications_disabled %}
        {% include "tabler/circle-check-filled.svg" %}
      {% else %}
        {% include "tabler/circle.svg" %}
      {% endif %}
      <span>
        {% translate "Disabled" context "unwatch thread btn" %}
      </span>
    </button>
  </li>
</ul>