{% extends "misago/admin/generic/list.html" %}
{% load i18n misago_admin_form %}


{% block title %}
{% blocktrans trimmed with category=target %}
  {{ category }}: Permissions
{% endblocktrans %} | {{ block.super }}
{% endblock title%}


{% block page-actions %}
{% if target.pk %}
  <div class="col-auto page-action">
    <a href="{% url 'misago:admin:categories:nodes:edit' pk=target.pk %}" class="btn btn-primary">
      <span class="fa fa-edit"></span>
      {% trans "Edit category" %}
    </a>
  </div>
  <div class="col-auto page-action">
    <a href="{{ target.get_absolute_url }}" class="btn btn-primary">
      <span class="fas fa-external-link-alt"></span>
      {% trans "View on site" %}
    </a>
  </div>
{% endif %}
{% endblock %}


{% block page-header %}
{{ block.super }}
<div class="sub">
  <span class="fa fa-chevron-right"></span>
  {% blocktrans trimmed with category=target %}
    {{ category }}: Permissions
  {% endblocktrans %}
</div>
{% endif %}
{% endblock %}


{% block view %}
<form method="post" role="form">
  {% csrf_token %}
  <div class="table-panel">
    <table class="table">
      <tr>
        <th>{% trans "Role" %}</ht>
        <th class="col-md-6">{% trans "Permissions" %}</ht>
      </tr>
      {% for form in forms %}
        <tr>
          <td class="item-name">
            {{ form.role }}
          </td>
          <td>
            {% form_input form.category_role %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="table-footer">
      <div class="row">
        <div class="col-md-offset-6">
          <button class="btn btn-primary">{% trans "Save changes" %}</button>
          <button class="btn btn-success" name="stay" value="1">{% trans "Save and keep editing" %}</button>
          <a href="{% url root_link %}" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
        </div>
      </div>
    </div>
  </div><!-- /.table-panel -->
</form>
{% endblock view %}


{% block javascripts %}
<script type="text/javascript">
  $(function() {
    $('.btn-cancel').click(function() {
      var decision = confirm("{% trans "Are you sure you want to abandon changes?" %}");
      return decision;
    });
  });
</script>
{% endblock %}
