{% extends "_email/base_html.html" %}

{% block title %}{% trans board_name=settings.board_name %}Activate new Sign-In Credentials on {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
<p {{ style_p|safe }}>{% trans username=user.username %}{{ username }}, you are receiving this message because you have changed your acount's sign-in credentials.{% endtrans %}</p>
<p {{ style_p|safe }}>{% trans %}To confirm that you want to change your account's sign-in credentials with new ones click the link below:{% endtrans %}</p>
<a href="{{ board_address }}{% url 'usercp_credentials_activate' token=token %}" {{ style_button|safe }}>{% trans %}Activate New Credentials{% endtrans %}</a>

<p {{ style_p|safe }}>{% trans %}If the above link is not clickable, copy and paste this link into your web browser's address bar:{% endtrans %}</p>
<a href="{{ board_address }}{% url 'usercp_credentials_activate' token=token %}" {{ style_link|safe }}>{{ board_address }}{% url 'usercp_credentials_activate' token=token %}</a>

{% endblock %}