{% extends "_email/base_plain.html" %}

{% block title %}{% trans board_name=settings.board_name %}Activate new Sign-In Credentials on {{ board_name }}{% endtrans %}{% endblock %}

{% block content %}
{% trans username=user.username %}{{ username }}, you are receiving this message because you have changed your acount's sign-in credentials.{% endtrans %}

{% trans %}To confirm that you want to change your account's sign-in credentials with new ones click the link below:{% endtrans %}
{{ board_address }}{% url 'usercp_credentials_activate' token=token %}
{% endblock %}