<div class="modal-content">
  {{#modal-header}}
    <h4 class="modal-title" id="appModalLabel">{{gettext "Register account"}}</h4>
  {{/modal-header}}

  <div class="modal-body modal-message">
    <div class="message-icon">
      <i class="material-icons">info_outline</i>
    </div>
    <p class="lead">
      {{gettext "New registrations are currently not being accepted."}}
    </p>
  </div>
</div>