{% extends "misago/base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Reply to thread" context "reply thread page" %} | {{ thread }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-reply-thread">
  {% include "misago/thread/header.html" %}
  {% include template_name_htmx %}
</div>
{% endblock content %}


{% block modals %}
{% include "misago/posting/markup_editor_modals.html" %}
{% include "misago/posting/attachment_templates.html" %}
{% endblock modals %}