{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
  {% translate "Add members" context "private thread members add page" %} | {{ thread }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-private-thread-members-add">
  {% include "misago/private_thread/header.html" %}
  <div class="container page-container">
    <form 
      action="{% url 'misago:private-thread-members-add' thread_id=thread.id slug=thread.slug %}"
      method="post"
    >
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next_url }}">
      <div class="panel panel-default panel-form">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% translate "Add members" context "private thread members add page" %}
          </h3>
        </div>
        <div class="panel-body">
          {% include "misago/private_thread_members_add/form.html" %}
        </div>
        <div class="panel-footer panel-footer-sticky">
          <button class="btn btn-primary" type="submit">
            {% translate "Add members" context "private thread members add submit btn" %}
          </button>
          <a href="{{ next_url }}" class="btn btn-default">
            {% translate "Cancel" context "private thread members add cancel btn" %}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
