{% load i18n misago_avatars %}
<div class="container">

  {% if not profile.is_active or profile.is_deleting_account %}
    <div class="alert alert-danger">
      {% if profile.is_deleting_account %}
        <p>{% trans "This user is deleting their account." %}</p>
      {% else %}
        <p>{% trans "This user's account has been disabled by administrator." %}</p>
      {% endif %}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-9 col-md-offset-3">

      <img src="{{ profile|avatar:100 }}" class="user-avatar user-avatar-sm" alt="">
      <h1>{{ profile.username }}</h1>

    </div>
  </div>
</div>
<div class="header-stats">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">

        <ul class="list-inline">
          {% if profile.rank.is_tab %}
            <li class="user-rank">
              <a href="{% url 'misago:users-rank' slug=profile.rank.slug %}" class="item-title">
                {{ profile.rank.name }}
              </a>
            </li>
          {% else %}
            <li class="user-rank">
              <span class="item-title">{{ profile.rank.name }}</span>
            </li>
          {% endif %}
          {% if profile.title %}
            <li class="user-title">{{ profile.title }}</li>
          {% elif profile.rank.title %}
            <li class="user-title">{{ profile.rank.title }}</li>
          {% endif %}
          <li class="user-joined-on">
            {% blocktrans trimmed with joined_on=profile.joined_on|date %}
              Member since {{ joined_on }}
            {% endblocktrans %}
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>