{% load misago_shorthands %}
<div class="page-tabs hidden-md hidden-lg">
  <div class="container">
    <ul class="nav nav-pills">
      {% for section in sections %}
        <li{% if section.is_active %} class="active"{% endif %}>
          <a href="{% url section.link slug=profile.slug pk=profile.pk %}">
            <span class="material-icon">
              {{ section.icon }}
            </span>
            {{ section.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>