{% extends "misago/profile/base.html" %}
{% load i18n %}


{% block title %}{% trans "Threads" %} | {{ block.super }}{% endblock %}


{% block og-title %}{% trans "Threads" %} | {{ block.super }}{% endblock %}
{% block twitter-title %}{% trans "Threads" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-threads">

  {% if posts %}
    <div>
      <nav class="toolbar">
        <h3 class="toolbar-left">
          {% if is_authenticated_user %}
            {% blocktrans trimmed count threads=profile.threads %}
              You have started {{ threads }} thread.
            {% plural %}
              You have started {{ threads }} threads.
            {% endblocktrans %}
          {% else %}
            {% blocktrans trimmed count threads=profile.threads with username=profile %}
              {{ username }} has started {{ threads }} thread.
            {% plural %}
              {{ username }} has started {{ threads }} threads.
            {% endblocktrans %}
          {% endif %}
        </h3>
      </nav>

      {% include "misago/profile/feed.html" %}
    </div>
  {% else %}
    <p class="lead">
      {% if is_authenticated_user %}
        {% trans "You have no started threads." %}
      {% else %}
        {% blocktrans trimmed with username=profile.username %}
          {{ username }} started no threads.
        {% endblocktrans %}
      {% endif %}
    </p>
  {% endif %}

</div>
{% endblock section %}