//
// Flavor Variables
// --------------------------------------------------


//== Colors
//
//## Brand colors for use in this flavour

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//** Background color for `<body>`.
@body-bg:               darken(#fff, 1%);
//** Global text color on `<body>`.
@text-color:            #2c3e50;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
