//
// Change Avatar Modal
// --------------------------------------------------


// Index
.modal-change-avatar .modal-avatar-index {
  .avatar-preview {
    border-radius: @border-radius-large;
    margin: 0px auto;
    overflow: hidden;
    position: relative;

    width: 200px;
    height: 200px;

    .loader {
      display: none;

      position: absolute;
      top: 50px;
      height: 100px;

      .loader-spinning-wheel {
        border-width: 10px;
        border-color: #fff;
        border-left-color: transparent;
        border-right-color: transparent;

        width: 100px;
        height: 100px;
      }
    }

    &.preview-loading {
      img {
        .opacity(0.33);
      }

      .loader {
        display: block;
      }
    }

    @media (max-width: (@grid-float-breakpoint - 1)) {
      margin-bottom: @line-height-computed;

      width: 150px;
      height: 150px;

      img {
        width: 150px;
        height: 150px;
      }

      .loader {
        top: 25px;
        height: 100px;

        .loader-spinning-wheel {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .btn {
    text-align: left;
  }
}


// Upload
.modal-change-avatar .modal-avatar-upload {
  text-align: center;

  .btn-pick-file {
    background: transparent;
    border: 2px solid @gray-lighter;
    border-radius: @border-radius-large;
    padding: @padding-large-vertical @padding-large-horizontal * 1.5;
    .box-shadow(none);

    color: @gray-light;
    font-size: @font-size-large;
    text-align: center;

    &>.material-icon {
      display: block;
      margin: 0px auto;
      margin-bottom: @line-height-computed * .66;

      font-size: @line-height-computed * 2.5;
      width: @line-height-computed * 2.5;
      height: @line-height-computed * 2.5;
    }

    &:hover, &:active {
      border-color: @gray-light;
    }
  }

  .text-muted {
    margin-top: @line-height-computed * 0.66;
  }

  .upload-progress {
    img {
      border-radius: @border-radius-base;
      margin-bottom: @line-height-computed;

      max-height: 80px;
      width: auto;
    }

    .progress {
      width: 70%;
      margin: 0px auto;
    }
  }
}


// Crop
.modal-avatar-crop .crop-form {
  margin: 0px auto;
}


// Gallery
.modal-change-avatar .modal-avatar-gallery {
  padding-bottom: 0px;

  .avatars-gallery {
    margin-bottom: @line-height-computed;

    h3 {
      margin-top: 0px;
    }
  }

  .avatars-gallery-images {
    .row {
      margin-bottom: @line-height-computed / 2;
    }

    .btn {
      border-radius: @border-radius-base + 2px;
      border: 2px solid @gray-lighter;
      background: none;
      padding: 2px;

      &:hover, &:focus {
        border-color: @gray-light;
      }

      &.avatar-selected, &:active {
        border-color: @link-color;
      }

      img {
        border-radius: @border-radius-base;
        width: 100%;
      }
    }
  }
}