//
// Inputs
// --------------------------------------------------


// Button-based inputs
.btn.btn-yes-no, .btn.btn-select {
  background: transparent;
  border: 1px solid @gray-lighter;

  .material-icon {
    margin: -4px 0px;
    margin-right: 8px;

    position: relative;
    bottom: 1px;

    width: 20px;
    height: 20px;

    font-size: 20px;
    line-height: 20px;
  }
}

// Hidden file input
input.hidden-file-upload {
  position: absolute;
  top: -9999px;
  left: -9999px;
}