//
// Navs
// --------------------------------------------------


.nav-side>a {
  &>.material-icon {
    margin: -5px;
    margin-right: @line-height-computed / 2;

    position: relative;
    bottom: 1px;

    width: 24px;
    height: 24px;

    font-size: 24px;
    line-height: 24px;
  }

  .badge {
    position: relative;
    top: 1px;
  }
}