//
// Misago pager
// --------------------------------------------------


.pager-undercontent {
  margin-top: @line-height-computed * -1;
}


.pager-progress-bar {
  list-style: none;
  margin: 0px;
  margin-top: (@line-height-computed * -2.25) - 1px;
  padding: 0px;
  overflow: auto;

  text-align: center;

  li {
    display: inline-block;

    a {
      padding: 0px 6px;
    }

    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}