//
// Page Header
// --------------------------------------------------


// Common styles
.page-header {
  margin: 0px;
  margin-bottom: @line-height-computed;
  padding: @line-height-computed 0px;

  h1 {
    margin: 0px;

    word-wrap: break-word;
  }

  .btn-aligned {
    float: right;
    margin-left: 8px;

    &.pull-left {
      margin-left: 0px;
      margin-right: 8px;
    }
  }

  @media screen and (min-width: @screen-md-min) {
    &.page-header-tall {
       &>.container {
        padding-top: @line-height-computed;
        padding-bottom: @line-height-computed;
      }
    }

    .container>.row {
      h1 {
        margin-top: -3px;
      }

      .row {
        margin-top: @padding-small-vertical;
      }
    }
  }
}


// Small displays
@media screen and (max-width: @screen-sm-max) {
  .page-header .row .btn-aligned {
    margin-top: @line-height-computed / 10;
  }

  .container {
    h1 {
      font-size: @font-size-large * 1.25;
    }

    .btn-icon {
      .material-icon {
        width: 24px;
        height: 24px;

        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}


// Breadcrumbs
.page-breadcrumbs {
  margin-bottom: @line-height-computed;
}

.page-breadcrumbs .breadcrumb {
  background: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.page-breadcrumbs .breadcrumb li {
  &, &:before {
    display: block;
    float: left;
  }

  &:before {
    margin-left: 4px;
  }
}


// Small go back button
.go-back-sm {
  margin-bottom: @line-height-computed;

  .material-icon {
    height: @font-size-large;
    width: @font-size-large;

    font-size: @font-size-large;
    line-height: @font-size-large;

    position: relative;
    top: -1px;
  }
}

.page-breadcrumbs .go-back-sm {
  margin-bottom: 0px;
}

// Stats
.header-stats {
  margin-top: @line-height-computed;
}

.header-stats .list-inline {
  margin-bottom: 0px;
}

.header-stats .list-inline li {
  margin-bottom: 0px;
  margin-right: 8px;
  overflow: auto;

  .status-icon {
    width: 18px;
    height: 18px;

    margin-right: 4px;

    position: relative;
    bottom: 1px;

    font-size: 18px;
    line-height: 18px;
  }

  &>.material-icon, &>.icon-legend {
    float: left;
  }

  &>.material-icon {
    margin-right: 4px;

    position: relative;
    top: 3px;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .header-stats .list-inline {

    font-size: @font-size-small;

    li>.material-icon {
      top: 2px;
    }
  }
}


// Tabs
.page-header .page-tabs {
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed * -1;
}

.page-header .page-tabs .nav {
  &>li {
    margin: 0px;

    &>a {
      border-radius: 0px;
    }
  }
}

@media screen and (max-width: @screen-xs-max) {
  .page-header .page-tabs .container {
    padding: 0px;
    width: 100%;

    ul li {
      display: block;
      float: none;
    }
  }
}


// Title edit form
.title-edit-form {
  margin-bottom: @line-height-computed / 2 + 2px;
}


// Next header
.page-header-followup {
  margin-top: @line-height-computed * -0.5;
}