//
// Page Header
// --------------------------------------------------


// Common styles
.page-header {
  margin: 0px;
  margin-bottom: @line-height-computed;
}


// Small displays
@media screen and (max-width: @screen-sm-max) {
  .container {
    h1 {
      font-size: @font-size-large * 1.25;
    }

    &>.btn {
      float: right;
      margin-top: @line-height-computed - 7px;
    }

    &>.btn-dropdown-toggle {
      .material-icon {
        width: 24px;
        height: 24px;

        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}


// Tabbed on full display
@media screen and (min-width: @screen-md-min) {
  .page-header.tabbed {
    padding-bottom: 0px;

    .page-tabs {
      .nav>li {
        &>a {
          border-radius: 0px;
        }
      }
    }
  }
}