//
// Search Dropdown
// --------------------------------------------------

.dropdown-search-results {
  width: 100%;
}

.dropdown-suggestions-list {
  padding: 0px;
}

.dropdown-suggestions-list li {
  list-style: none;
}