//
// Search Dropdown
// --------------------------------------------------


// Base styles
.navbar-misago .dropdown-menu.dropdown-search-results {
  background: @dropdown-bg;
  border: 1px solid @dropdown-border;
  width: 100%;
}

.dropdown-suggestions-list {
  padding: 0px;
}

.dropdown-suggestions-list li {
  list-style: none;
}


// Suggestion
.dropdown-suggestion {
  padding: @padding-base-vertical @padding-base-horizontal;
}

// Last suggestion
.dropdown-suggestion-last {
  text-align: center;
}