//
// Typography
// --------------------------------------------------


.item-title {
  color: @text-color;
  font-weight: bold;
  text-decoration: none;
}

a.item-title {
  &:link, &:active, &:visited, &:hover {
    color: @text-color;
    font-weight: bold;
    text-decoration: underline;
  }
}