//
// Forum Profile
// --------------------------------------------------


// Small displays
@media screen and (max-width: @screen-sm-max) {
  .page-user-profile .page-header h1 img {
    width: 40px;
    height: 40px;
  }

  h1.pull-left img {
    margin-right: 6px;
  }

  .page-user-profile .page-header .btn-aligned {
    position: relative;
    top: 8px;
  }

  .page-user-profile .profile-side-avatar {
    display: none;
  }
}

// Tabbed on full display
@media screen and (min-width: @screen-md-min) {
  .page-user-profile .page-header h1 img {
    display: none;
  }

  .page-user-profile .profile-side-avatar img {
    width: 100%;
    height: auto;
    margin-top: @line-height-computed * -5.5;
    margin-bottom: @line-height-computed;
  }
}