//
// Users Lists
// --------------------------------------------------


// Active posters list
.active-posters {
  li {
    display: block;
    overflow: auto;
  }

  .rank-user {
    .rank-name, .user-title {
      font-size: @font-size-small;
    }

    .status-icon {
      width: 18px;
      height: 18px;

      margin-right: 2px;

      font-size: 18px;
      line-height: 18px;
    }
  }
}


// Compact displays
@media screen and (max-width: @screen-sm-max) {
  .active-posters {
    .rank-user-avatar {
      float: left;
    }

    .rank-user {
      float: left;
      margin-left: @line-height-computed * .8;
      width: 40%;

      .item-title {
        margin-top: 4px;

        font-size: @font-size-large;
      }

      .user-status {
        margin-right: 4px;

        .status-icon {
          position: relative;
          top: -1px;

          &.ui-preview {
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .rank-position, .rank-posts-total, .rank-posts-counted {
      font-size: @font-size-small;

      div {
        display: inline-block;
      }

      .stat-value {
        width: 34px;
        padding-right: 4px;

        text-align: right;
      }
    }
  }

  .active-posters.ui-preview {
    .rank-user .rank-name {
      position: relative;
      bottom: 1px;

      .ui-preview-text {
        height: @font-size-small;
      }
    }

    .rank-position, .rank-posts-total, .rank-posts-counted {
      .stat-value {
        position: relative;
        bottom: 1px;

        .ui-preview-text {
          height: @font-size-small;
        }
      }
    }
  }
}


// Full displays
@media screen and (min-width: @screen-md-min) {
  .active-posters.ui-preview {
    .rank-user {
      .user-status {
        .status-icon {
          position: relative;
          top: 2px;
        }
      }
    }
  }

  .active-posters {
    li>* {
      float: left;
      padding-top: 4px;
    }

    .rank-user-avatar {
      padding-top: 0px;
    }

    .rank-user {
      padding-top: 0px;
      padding-left: @line-height-computed * .8;
      width: 25%;

      .item-title {
        margin-top: 2px;

        font-size: @font-size-large;
      }

      .user-status {
        margin-right: @line-height-computed * .6;

        .status-icon {
          position: relative;
          top: -1px;

          &.ui-preview {
            top: 2px;
          }
        }

        .status-label {
          font-size: @font-size-small;
          line-height: @font-size-small;
        }
      }

      .rank-name {
        margin-right: @line-height-computed * .6;
      }
    }

    .rank-position {
      width: 23%;
    }

    .rank-posts-total {
      width: 23%;
    }

    .rank-posts-counted {
      width: 23%;
    }

    .rank-position, .rank-posts-total, .rank-posts-counted {
      font-size: @font-size-large;
      font-weight: bold;
      text-align: center;

      .text-muted {
        font-size: @font-size-small;
        font-weight: normal;
      }
    }
  }
}