//
// Misago User Status
// --------------------------------------------------


// UI Preview
.user-status {
  &>.status-icon.ui-preview {
    display: inline-block;
    border-radius: 100px;

    width: 20px;
    height: 20px;

    font-weight: 0px;
  }

  &>.status-label.ui-preview {
    display: inline-block;
    margin-left: 6px;
    width: 40px;
  }
}