{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_admin_form misago_avatars misago_capture %}


{% block title %}
{% translate "Ban users" context "admin ban users form" %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block form-header %}
{% translate "Ban selected users" context "admin ban users form" %}
{% endblock %}


{% block form-body %}
<input type="hidden" name="action" value="ban">
{% for user in users %}
  <input type="hidden" name="selected_items" value="{{ user.pk }}">
{% endfor %}
<div class="form-fieldset pt-0">
  <fieldset>
    <legend>{% translate "Users" context "admin ban users form" %}</legend>
    <div class="card card-admin-table">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 1px;">&nbsp;</th>
            <th>{% translate "User" context "admin ban users list" %}</th>
            <th style="width: 50%;">{% translate "E-mail" context "admin ban users list" %}</th>
            <th style="width: 200px;">{% translate "IP address" context "admin ban users list" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td class="pr-0">
              <a href="{{ user.get_absolute_url }}">
                <img src="{{ user|avatar:24 }}" alt="{% translate 'Avatar' %}" width="24" height="24">
              </a>
            </td>
            <td class="small">
              <a href="{{ user.get_absolute_url }}" class="item-name">{{ user }}</a>
            </td>
            <td class="small">
              <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </td>
            <td class="small">
              {% if user.joined_from_ip %}
                {{ user.joined_from_ip }}
              {% else %}
                <i class="text-muted">{% translate "IP removed" context "admin user ip deleted" %}</i>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% translate "Ban settings" context "admin ban users form" %}</legend>

    {% form_row form.ban_type %}
    {% form_row form.expires_on %}

  </fieldset>
</div>
<div class="form-fieldset">
  <fieldset>
    <legend>{% translate "Messages" context "admin ban users form" %}</legend>

    {% form_row form.user_message %}
    {% form_row form.staff_message %}

  </fieldset>
</div>
{% endblock form-body %}


{% block form-footer %}
<button class="btn btn-primary btn-sm" name="finalize">
  {% translate "Ban users" context "admin ban users form" %}
</button>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
  window.misago.initDatepicker({
    elementId: "id_expires_on",
    never: "{% translate 'Never' context 'admin ban users form' %}",
    setDate: "{% translate 'Set date' context 'admin ban users form' %}"
  })
</script>
{% endblock %}
