{% extends "misago/admin/generic/list.html" %}
{% load i18n misago_avatars %}


{% block table-header %}
<th style="width: 1%;">&nbsp;</th>
<th>{% trans "User" %}</th>
<th style="width: 120px;">{% trans "E-mail" %}</th>
{% endblock table-header %}


{% block table-row %}
<td>
  <img src="{{ item|avatar:30 }}" alt="{% trans "Avatar" %}">
</td>
<td class="lead">
  {{ item.username }}
</td>
<td>
  <a href="mailto:{{ item.email }}">{{ item.email }}</a>
</td>
<td class="row-action">
  <button type="button" class="btn btn-success tooltip-top" title="Activate">
    <span class="fa fa-check"></span>
  </button>
</td>
<td class="row-action">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle tooltip-top" data-toggle="dropdown" title="Item options">
      <span class="fa fa-gear"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="#">
          <span class="fa fa-sort-numeric-desc"></span>
          Newest
        </a>
        <a href="#">
          <span class="fa fa-sort-numeric-asc"></span>
          Oldest
        </a>
        <a href="#">
          <span class="fa fa-sort-numeric-desc"></span>
          Most posts
        </a>
        <a href="#">
          <span class="fa fa-sort-numeric-asc"></span>
          Least posts
        </a>
      </li>
    </ul>
  </div>
</td>
<td class="row-action">
  <button type="button" class="btn btn-danger tooltip-top" title="Activate">
    <span class="fa fa-times"></span>
  </button>
</td>
<td class="row-select">
  <label>
    <input type="checkbox">
  </label>
</td>
{% endblock %}
