{% load i18n %}
<div class="panel-heading post-heading">
  {% if post.poster %}
    <a class="item-title" href="{{ post.poster.get_absolute_url }}">
      <span itemprop="author">{{ post.poster.username }}</span>
    </a>
  {% else %}
    <strong class="item-title" itemprop="author">{{ post.poster_name }}</strong>
  {% endif %}

  {% if post.poster %}
    {% if not post.poster.rank.is_default %}
      {% if post.poster.rank.is_tab %}
        <a href="{% url 'misago:users-rank' slug=post.poster.rank.slug %}" class="label label-{{ post.poster.rank.css_class|default:'default' }}">
          {{ post.poster.get_any_title }}
        </a>
      {% else %}
        <span class="label label-{{ post.poster.rank.css_class|default:'default' }}">
          {{ post.poster.get_any_title }}
        </span>
      {% endif %}
    {% endif %}
  {% else %}
    <span class="rank-name item-title">
      {% trans "Unregistered" %}
    </span>
  {% endif %}

  <a href="{{ post.get_absolute_url }}" class="posted-on">
    <time itemprop="datePublished" datetime="{{ post.posted_on|date:'c' }}">
      {% blocktrans trimmed with posted_on=post.posted_on|date:'DATETIME_FORMAT' %}
        posted on {{ posted_on }}
      {% endblocktrans %}
    </time>
  </a>

  {% if not post.is_read %}
    <span class="label label-warning pull-right">
      {% trans "New" %}
    </span>
  {% endif %}
</div>