{% extends "misago/admin/base_thin.html" %}
{% load compressed %}


{% block body %}
{% include "misago/admin/messages.html" %}
{% include "misago/admin/navbar.html" %}

<h1>Nodes:</h1>
{% for level in navigation %}
<hr>
<h2>Level {{ forloop.counter }}</h2>
<ul>
  {% for node in level %}
  <li>
    <a href="{{ node.link }}">
      <span class="{{ node.icon }}"></span>
      {{ node.name }} {% if node.is_active %}(*){% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}


{% block content %}{% endblock %}

{% include "misago/admin/logout.html" %}

{# We include JavaScript at the end of page body so it loads faster #}
{% compressed_js 'misago' %}
{% block extra_scripts %}{% endblock %}
{% endblock %}
