{% load i18n static misago_avatars %}
<div class="navbars-container">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'misago:index' %}">
        <img src="{% static 'misago/admin/img/mred.png' %}" alt="">
        <span>Misago</span>
      </a>
      <div class="user-nav pull-right">
        <p class="navbar-text">
          <a href="{% url 'misago:admin:users:accounts:edit' pk=user.pk %}" class="tooltip-bottom" title="{% trans "Edit your account" %}">
            <img src="{{ user|avatar:30 }}" alt="{% trans "Your avatar" %}">
            {{ user }}
          </a>
          <a href="#" class="logout" data-toggle="modal" data-target="#logout-modal">
            <span class="fa fa-power-off"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
