// Category view
// -------------------------

.category-forums-list {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  table {
    margin: 0px;
    
    tr:first-child {
      td {
        border-top: none;
      }
    }
    
    td {
      padding: ((@fontSizeLarge / 2) + 3px) (@fontSizeSmall - 2px);
    }

    .forum-icon {
      padding-right: (@fontSizeSmall / 2) - 3px;
      width: 1%;

      .forum-icon-wrap {
        background-color: @itemOldColor;
        border: 1px solid darken(@itemOldColor, 10%);
        border-radius: @baseBorderRadius;
        padding: (@forumIconSize - 1px) @forumIconSize;

        &.forum-icon-new {
          background-color: @itemNewColor;
          border: 1px solid darken(@itemNewColor, 10%);
        }

        &.forum-icon-redirect {
          background-color: @itemMovedColor;
          border: 1px solid darken(@itemMovedColor, 10%);
        }
      }
    }
    
    .forum-main {
      h3 {
        float: left;
        margin: 0px;
        padding: 0px;

        font-size: @fontSizeLarge;
        font-weight: normal;
        line-height: @baseLineHeight;

        a:link, a:visited {
          color: @textColor;
        }
      }

      .forum-details {
        background-color: darken(@categoryBackground, 3%);
        border-bottom: 1px solid darken(@categoryBackground, 6%);
        border-radius: @baseBorderRadius;
        float: right;
        margin: -2px 0px;
        margin-top: ((@baseFontSize - @fontSizeSmall) * -1) - 1px;
        padding: 2px 8px;
        width: 230px;

        color: @grayLight;
        font-size: @fontSizeSmall;

        strong, a {
          color: @gray;
          font-weight: normal
        }

        a:hover, a:active {
          color: @textColor;
        }

        strong.stat-increment {
          color: @green;
        }
      }

      .forum-meta-tooltip {
        .tooltip-inner {
          max-width: 400px;
          text-align: left;

          .forum-stats {
            color: @grayLight;
            font-size: @fontSizeMini;

            strong {
              color: @white;
            }

            span {
              margin-right: @baseFontSize;
            }
          }

          .forum-description {
            clear: both;
            margin: 0px;
            margin-bottom: @baseFontSize / 2;
            padding: 0px;

            color: @grayLighter;
            font-size: @baseFontSize;
          }
        }
      }
    }
  }

  &.category-forums-important {
    border: 1px solid darken(@red, 15%);
    .box-shadow(0px 0px 0px 3px @red);
  }

  &.category-forums-inverse {
    border: 1px solid @grayDark;
    .box-shadow(0px 0px 0px 3px @gray);
  }

  &.category-forums-info {
    border: 1px solid darken(@bluePale, 15%);
    .box-shadow(0px 0px 0px 3px @bluePale);
  }
}