// Editor style
// -------------------------

.editor {
  background-color: @editorBackground;
  border: 1px solid darken(@editorBackground, 10%);
  border-radius: @baseBorderRadius;

  .editor-error {
    padding: @editorPadding;
    padding-bottom: 0px;
    margin-bottom: @editorPadding * -1;

    .help-block {
      color: @red;
      font-weight: bold;
    }
  }

  .editor-input {
    padding: @editorPadding;

    &>div {
      margin-right: 2px;

      textarea {
        border: none;
        box-shadow: none;
        margin: @editorPadding * -1;
        padding: @editorPadding;
        width: 100%;

        font-family: @monoFontFamily;
      } 
    }
  }

  .editor-actions {
    border-top: 1px solid darken(@editorBackground, 10%);
    overflow: auto;
    padding: @editorPadding;

    &>.btn {
      margin-left: @baseFontSize;
    }

    .editor-tools {
      margin: 0px;

      li {
        float: left;
        margin-right: @editorPadding;

        .btn {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }
}

.form-container {
  .editor {
    border-color: darken(@editorBackground, 20%);

    .editor-actions {
      border-top-color: darken(@editorBackground, 20%);
    }
  }
}