// Forms themes
// -------------------------

// Full-page form
// -------------------------
.form-container {
  background: @white;
  border: 1px solid darken(@bodyBackground, 8%);
  border-radius: @baseBorderRadius;
  margin: 0px ((@baseLineHeight * -1) - 1px);
  margin-bottom: @baseLineHeight;
  padding: @baseLineHeight;
  padding-top: @baseLineHeight * -0.75;

  .form-header {
		border-bottom: 1px solid darken(@bodyBackground, 8%);
		margin-top: @baseLineHeight * -1;
		margin-bottom: @baseLineHeight;
		padding: (@baseLineHeight / 2) 0px;

		h1 {
		  margin: 0px;
		  padding: 0px;

		  font-size: @fontSizeLarge;
		}
  }

  form {
	margin: 0px;

	fieldset {
	  border-top: 1px solid darken(@bodyBackground, 8%);
	  padding-top: @baseLineHeight * 0.5;

	  &.first {
	  	border-top: none;
	  	padding-top: 0px;
	  }
	}

	.control-label {
	  font-weight: bold;
	}
  }

  .form-actions {
	border-radius: 0px 0px @baseBorderRadius @baseBorderRadius;
	margin: (@baseLineHeight * -1);
	margin-top: @baseLineHeight * 0.5;
  }
}