// Forum Map
// -------------------------

.forum-map-category {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  table {
  	margin: 0px;

  	caption {
  	  background-color: @categoryHeader;
      border: 1px solid darken(@categoryHeader, 5%);
      border-radius: @borderRadiusSmall @borderRadiusSmall 0px 0px;
      margin: -1px;
  	  padding: @paddingSmall;

      color: @white;
  	  font-size: @fontSizeSmall;
  	  font-weight: bold;
  	  text-align: left;
      text-shadow: 0px 1px 0px darken(@categoryHeader, 25%);
  	}
    
    .forum-map-forum, .forum-map-subforum {
      h3 {
				margin: 0px;
				padding: 0px;

				font-size: @baseFontSize;
				line-height: @baseLineHeight;

				a:link, a:visited {
				  color: @gray;
				}

	      a:active, a:hover {
			    color: @textColor;
			  }
      }
    }

    .forum-map-subforum {
    	padding-left: @baseLineHeight * 0.75;

    	span {
    		&.tree-t, &.tree-l, &.tree-s, &.tree-i {
    			display: inline-block;
    			height: @baseLineHeight;
    			width: @baseLineHeight * 0.5;
    		}

    		&.tree-t {
    			border-left: 2px solid @grayLighter;

    			span {
    				border-top: 2px solid @grayLighter;
    			  display: inline-block;
    				height: 1px;
    				width: 100%;
    				margin-bottom: 3px;
    			}
    		}

    		&.tree-l {
    			span {
    			  border-left: 2px solid @grayLighter;
    				border-bottom: 2px solid @grayLighter;
    			  display: inline-block;
    				height: @baseLineHeight * 0.5;
    				width: 100%;
    				margin-bottom: 3px;
    			}
    		}

    		&.tree-i {
    			border-left: 2px solid @grayLighter;
    			position: relative;
    			top: 5px;
    			margin-right: 4px;
    		}

    		&.tree-s {
    			width: (@baseLineHeight * 0.5) + 2px;
    			margin-right: 4px;
    		}
    	}
    }
  }

  &.forum-map-category-important {
    caption {
      background-color: @red;
      border: 1px solid darken(@red, 5%);

      text-shadow: 0px 1px 0px darken(@red, 25%);
    }
  }
}