// Forum View
// -------------------------

// Subforums list
.forum-subforums-list {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  .header {
    background-color: @categoryHeader;
    border: 1px solid @categoryBorder;
    border-radius: @borderRadiusSmall @borderRadiusSmall 0px 0px;
    margin: -1px;
    margin-bottom: 0px;
    padding: (@fontSizeSmall / 3) (@fontSizeSmall - 2px);

    h2 {
      margin: 0px;
      padding: 0px;

      color: @grayDark;
      font-size: @fontSizeSmall;
      font-weight: bold;
      line-height: @baseLineHeight;
      text-align: left;

      small {
        margin-left: @baseFontSize / 2;

        color: @grayLight;
        font-size: @fontSizeSmall;
      }
    }
  }

  .forum {
    border-bottom: 1px solid @categoryBorder;
    height: 21px;
    overflow: visible;
    padding: ((@fontSizeLarge / 2) + 6px) (@fontSizeSmall - 2px);

    &.last {
      border-bottom: none;
    }

    .forum-icon {
      float: left;
    	position: relative;
    	bottom: 1px;
      width: @forumIconSize * 1.5;

    	color: @itemOldColor;
    	font-size: @forumIconSize;
    	text-align: center;

      &.forum-icon-new {
        color: @itemNewColor;
      }

      &.forum-icon-redirect {
        color: @itemMovedColor;
      }

      .icon-comment, .icon-comment-alt {
      	position: relative;
      	bottom: 3px;
      }
    }

    .forum-main {
      margin-left: (@forumIconSize * 1.5) + (@fontSizeSmall - 2px);

      h3 {
        float: left;
        margin: 0px;
        padding: 0px;

        font-size: @fontSizeLarge;
        font-weight: normal;
        line-height: @baseLineHeight;

        a:link, a:visited {
          color: @textColor;
        }
      }

      .dropdown {
        float: right;
        right: @baseFontSize;

        .subforum {
          &:link, &:visited {
            color: @grayLight;
            font-weight: bold;
          }

          &:hover, &:active {
            color: @textColor;
          }
        }

        .dropdown-toggle {
          padding: 4px 8px;
          .opacity(60);

          color: @textColor;
          font-weight: bold;

          &:hover, &:active, &:focus {
            .opacity(100);

            text-decoration: none;
          }
        }

        &.open .dropdown-toggle {
          background-color: @categoryShadow;
          border-radius: @baseBorderRadius @baseBorderRadius 0px 0px;
          .opacity(100);
          padding-bottom: 6px;

          text-decoration: none;
        }

        .dropdown-menu {
          background: none;
          border: none;
          box-shadow: none;
          z-index: 2;

          .dropdown-shadow{
            border-radius: @baseBorderRadius;
            .box-shadow(0px 0px 3px @grayLight);
            width: 256px;
            position: relative;
            right: 0px;
            top: -4px;

            ul {
              background-color: @bodyBackground;
              border-radius: @baseBorderRadius;
              margin: 0px;
              padding: 0px;

              li {
                margin: 0px;
                padding: 0px;
                list-style: none;

                a {
                  border-bottom: 1px dotted @categoryBorder;
                  display: block;
                  .opacity(70);
                  padding: 6px 8px;

                  color: @textColor;
                  text-decoration: none;

                  &:hover, &:active {
                    .opacity(100);
                  }
                }

                &:last-child a {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }

      .forum-details {
        border-left: 1px dotted darken(@categoryBackground, 12%);
        float: right;
        margin: -10px 0px;
        margin-top: ((@baseFontSize - @fontSizeSmall) * -1) - 6px;
        padding-left: @baseFontSize;
        height: 35px;
        width: 220px;

        .thread-name {
          a:link, a:active, a:visited, a:hover {
            margin-bottom: 1px;

            color: @textColor;
            font-size: @fontSizeSmall;
            font-weight: bold;
          }
        }

        .muted {
          font-size: @fontSizeMini;
          line-height: @fontSizeMini;

          .last-poster, a:link, a:active, a:visited, a:hover {
            color: @gray;
          }
        }

        em {
          position: relative;
          top: (35px - @baseLineHeight) / 2;

          color: @grayLight;

          strong {
            color: @textColor;
            font-weight: normal;
          }
        }
      }

      .forum-meta-tooltip {
        .tooltip-inner {
          max-width: 400px;
          text-align: left;

          .forum-stats {
            color: @grayLight;
            font-size: @fontSizeMini;

            strong {
              color: @white;
            }

            span {
              margin-right: @baseFontSize;
            }
          }

          .forum-description {
            clear: both;
            margin: 0px;
            margin-bottom: @baseFontSize / 2;
            padding: 0px;

            color: @grayLighter;
            font-size: @baseFontSize;
          }
        }
      }
    }
  }

  &.forum-subforums-important {
    .header {
      background-color: @red;
      border: 1px solid darken(@red, 10%);

      h2 {
        color: @white;
        text-shadow: 0px 1px 0px darken(@red, 25%);

        small {
          color: darken(@red, 40%);
          text-shadow: none;
        }
      }
    }
  }

  &.forum-subforums-inverse {
    .header {
      background-color: @grayDark;
      border: 1px solid darken(@grayDark, 10%);

      h2 {
        color: @grayLighter;
        text-shadow: 0px 1px 0px darken(@black, 25%);

        small {
          color: lighten(@grayLight, 10%);
          text-shadow: none;
        }
      }
    }
  }

  &.forum-subforums-info {
    .header {
      background-color: @bluePale;
      border: 1px solid darken(@bluePale, 10%);

      h2 {
        color: @white;
        text-shadow: 0px 1px 0px darken(@bluePale, 25%);

        small {
          color: darken(@bluePale, 25%);
          text-shadow: none;
        }
      }
    }
  }
}

// New threads list
.forum-threads-list-new {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  .threads-list-empty {
  	padding: (@baseFontSize * 2) 0px;

  	color: @grayLight;
  	font-size: @fontSizeLarge * 1.5;
  	text-align: center;
  }

  &>ul {
  	list-style: none;
  	margin: 0px;

  	&>li {
    	border-bottom: 1px solid @categoryBorder;
			padding: (@fontSizeSmall - 2px) 0px;
			overflow: auto;

			.thread-icon {
				float: left;
				height: @threadIconSize;
				width: @threadIconSize + @fontSizeLarge;

				color: @itemOldColor;
				font-size: @threadIconSize;
				text-align: center;
				text-decoration: none;
				margin-bottom: -1px;
			}

			.thread-body {
				margin: ((@fontSizeSmall - 2px) * -1) 0px;
				margin-left: @threadIconSize + @fontSizeLarge;
				padding: (@fontSizeSmall - 2px) 0px;

				.thread-title {
					display: block;

					a:link, a:active, a:visited, a:hover {
						color: @gray;
						font-size: @fontSizeLarge;
					}
				}

				.thread-activity {
					float: right;
					list-style: none;
					margin: 0px;
					margin-top: (@fontSizeSmall - 2px) * -1;
					padding: 6px 0px;
					padding-right: 8px;
					overflow: auto;
					position: relative;
					top: 1px;
					z-index: 2;

					li {
						float: left;
						margin: 0px;
						margin-left: 10px;
						padding: 0px;

						&.thread-replies,
						&.thread-replies-reported,
						&.thread-replies-moderated {
							position: relative;
							top: 2px;

							color: @gray;
							font-size: @fontSizeLarge;
							font-weight: bold;
						}

						&.thread-replies-reported {
							color: @red;
						}

						&.thread-replies-moderated {
							color: @purple;
						}

						&.thread-replies {
							position: relative;
							top: 2px;

							color: @gray;
							font-size: @fontSizeLarge;
							font-weight: bold;

							&.thread-replies-new {
								color: @itemNewColor;
							}
						}

						&.thread-last-reply {
							position: relative;
							top: 2px;

							a:link, a:visited {
								color: @grayLight;
								font-size: @fontSizeLarge;
								font-weight: bold;
							}

							a:hover, a:active {
								color: @textColor;
							}
						}

						&.thread-author, &.thread-poster {
							position: relative;
							top: 2px;

							color: @gray;
							font-size: @fontSizeLarge;
							font-weight: bold;

							.user-avatar {
								border-radius: @baseBorderRadius;
								width: 24px;
								height: 24px;
								position: relative;
								bottom: 2px;
							}
						}

						&.thread-author {
							a:link, a:active, a:visited, a:hover {
								color: @blue;
							}
						}

						&.thread-poster {
							a:link, a:active, a:visited, a:hover {
								color: @itemNewColor;
							}}

						&.thread-flag {
							color: @grayLight;
							font-size: 26px;

							&.thread-moderated {
								&:hover {
									color: @purple;
								}
							}

							&.thread-closed {
								&:hover {
									color: @red;
								}
							}

							&.thread-deleted {
								&:hover {
									color: @grayDark;
								}
							}
						}

						&.thread-select {
							label {
								border-radius: @baseBorderRadius;
								display: inline-block;
								margin: 0px;
								margin-bottom: -5px;
								padding-right: 3px;
								padding-bottom: 4px;

								&:hover {
									background-color: @grayLighter;
								}

								&:active {
									background-color: @red;
								}

								input {
									margin-top: 6px;
									position: relative;
									left: 6px;
								}
							}
						}
					}
				}

				.thread-details {
					float: left;
  				list-style: none;
					margin: 0px;
					padding: 0px;

					li {
						float: left;
						margin-right: @baseFontSize / 2;

						color: @grayLight;
						font-size: @fontSizeSmall;

						a:link, a:visited {
							color: @gray;
						}

						a:hover, a:active {
							color: @textColor;
						}
					}
				}
			}

			&.thread-new {
				.thread-icon {
					color: @itemNewColor;
				}

				.thread-title {
					&:link, &:active, &:visited, &:hover {
						color: @textColor;
					}
				}
			}
  	}

  	&>li:last-child {
  		border-bottom: none;
  	}
  }

  .threads-actions {
    background-color: @bodyBackground;
    border-top: 1px solid @categoryBorder;
    border-radius: 0px 0px @borderRadiusSmall @borderRadiusSmall;
    overflow: auto;
    padding: 4px;

    color: @grayLight;
    font-size: @fontSizeSmall;

    form {
      margin-bottom: 0px;
    }
  }
}

// Threads list
.forum-threads-list {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  .header {
    background-color: @categoryHeader;
    border: 1px solid @categoryBorder;
    border-radius: @borderRadiusSmall @borderRadiusSmall 0px 0px;
    margin: -1px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    overflow: auto;

    color: @grayLight;
    font-weight: bold;
    font-size: @fontSizeSmall;

    .row-fluid {
      &>div {
        margin-bottom: 0px;
        min-height: 1px;
        padding: @paddingSmall;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      .thread-replies {
        float: left;
        width: 106px;
      }

      .thread-last {
        float: left;
      }
    }

    .check-cell {
    	padding: 0px;

      label {
        margin: 0px;
      }
    }
  }

  .thread-row {
    border-bottom: 1px solid @categoryBorder;
    height: 38px;
    overflow: hidden;
    padding: (@fontSizeSmall - 2px) 0px;

    .row-fluid {
      &>div {
        min-height: auto;
        padding: @paddingSmall;
        padding-bottom: 0px;
      }
    }

    &.thread-last {
      border-bottom: none;

      &>div {
        padding-bottom: 1px;
      }
    }

    .thread-icon {
      display: block;
      float: left;
      position: relative;
      bottom: 1px;

      color: @itemOldColor;
      font-size: @threadIconSize;

      &:hover, &:active {
      	color: @itemOldColor;
      	text-decoration: none;
      }
    }

    &.thread-new {
      .thread-icon {
        color: @itemNewColor;
      }

      .thread-name {
        color: @textColor !important;
      }
    }

    &.threads-list-empty {
      height: auto;
      padding: @paddingLarge;

      font-size: @fontSizeLarge;
      text-align: center;
    }

    .thread-name {
      margin-left: 10px;

      color: lighten(@textColor, 17%);
      font-size: @baseFontSize + 2px;
      font-weight: bold;
    }

    .thread-details, .thread-last-reply {
      color: @grayLight;
      line-height: @baseFontSize;

      a:link, a:visited {
        color: @textColor;
      }
    }

    .thread-details {
      margin-left: @threadIconSize + 7px;

      font-size: @fontSizeMini;
    }

    .thread-flags {
      float: right;
      margin: 0px;
      position: relative;
      right: -30px;
      top: 5px;
      padding: 0px;

      li {
        .border-radius(@baseBorderRadius);
        display: block;
        float: left;
        margin-left: 3px;
        padding: 2px 5px;

        color: @white;

        &.flag-reported {
          background-color: @flagReported;
        }

        &.flag-notreviewed {
          background-color: @flagReviewed;
        }

        &.flag-announcement {
          background-color: @flagAnnouncement;
        }

        &.flag-sticky {
          background-color: @flagSticky;
        }

        &.flag-deleted {
          background-color: @flagDeleted;
        }

        &.flag-closed {
          background-color: @flagClosed;
        }
      }
    }

    .thread-activity {
      border-left: 1px dotted darken(@categoryBackground, 12%);
      position: relative;
      bottom: 3px;

      .thread-last-avatar {
        float: left;

        img {
          .border-radius(@baseBorderRadius);
          margin: 0px;
          margin-right: @baseFontSize;
          width: 40px;
          height: 40px;
        }
      }

      .thread-replies {
        float: left;
        margin-top: -1px;
        margin-right: @baseFontSize;

        color: @grayLight;
        font-size: @fontSizeSmall;

        .lead {
          font-size: @baseFontSize;
          font-weight: bold;
          line-height: @baseLineHeight;
        }

        a:link, a:active, a:visited, a:hover {
          color: @gray;
        }
      }

      .thread-last-reply {
        border-left: 1px dotted darken(@categoryBackground, 12%);
        padding-left: @baseFontSize;

      }

      .thread-select {
        background-color: darken(@categoryBackground, 5%);
        display: block;
        float: right;
        margin: -12px -11px;
        margin-left: 0px;
        width: 29px;
        height: 61px;

        &:hover, &:focus, &:active {
          background-color: @linkColor;
        }

        input {
          margin: 0px;
          position: relative;
          right: 2px;
          top: 26px;
        }
      }
    }
  }

  .threads-actions {
    background-color: @bodyBackground;
    border-top: 1px solid @categoryBorder;
    border-radius: 0px 0px @borderRadiusSmall @borderRadiusSmall;
    overflow: auto;
    padding: 4px;

    color: @grayLight;
    font-size: @fontSizeSmall;

    form {
      margin-bottom: 0px;
    }
  }
}

.forum-threads-extra {
  overflow: auto;

  &.extra-top {
    margin-bottom: @baseLineHeight;
  }

  .threads-signin-message {
    float: right;

    a:link, a:visited {
      color: @textColor;
    }
  }
}