// Primary header
// -------------------------
.header-primary {
  background-color: @pageHeaderBackground;
  border-bottom: 1px solid @pageHeaderBorder;
  margin: 0px;
  margin-top: 0px;
  padding-top: @baseLineHeight / 2;

  .breadcrumb {
    background: none;
    border: none;
    margin: 0px;
    margin-bottom: @fontSizeSmall * -1;
    padding: 0px;

    li {
      font-size: @fontSizeSmall;
      font-weight: bold;
      text-shadow: none;

      a:link, a:visited {
        color: @grayLight;
      }

      a:hover, a:active {
        color: @textColor;
      }

      .divider {
        padding-left: 0px;
        padding-right: 0px;

        i {
          .opacity(20);
          position: relative;
          bottom: 1px;
        }
      }
    }
  }

  h1 {
    color: @gray;
    font-size: @fontSizeLarge * 2;
    font-weight: normal;
  }

  .header-tabs {
    border-bottom: 0px;
    margin: 0px;
    margin-top: (@baseLineHeight  * -0.5);
    position: relative;
    top: (@baseLineHeight * 0.5) - 1px;

    li {
      a {
        &:link, &:visited {
          background: none;
          border: none;
          border-radius: 0px;
          margin-bottom: 4px;
          padding: (@baseLineHeight / 3) (@baseLineHeight / 2);

          color: lighten(@gray, 20%);
          font-weight: bold;
        }

        &:hover, &:active, a:focus {
          background: none;
          border-bottom: 4px solid @gray;
          margin-bottom: 0px;

          color: @gray;
        }
      }

      &.active {
        a:link, a:visited, a:hover, a:active {
          background: none;
          border-bottom: 4px solid @red;
          margin-bottom: 0px;

          color: @textColor;
        }
      }

      .form-inline {
        margin: 0px;
        margin-left: @baseFontSize;
        margin-bottom: 7px;

        .btn-icon {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }
}