//
// Board index page
// --------------------------------------------------

.index-sidebar {
  position: relative;
  bottom: 9px;
}

// Forums list
// -------------------------
.index-category {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;

  table {
  	margin: 0px;

  	caption {
  	  background-color: @categoryHeader;
      border: 1px solid darken(@categoryHeader, 5%);
      border-radius: @borderRadiusSmall @borderRadiusSmall 0px 0px;
      margin: -1px;
  	  padding: @paddingSmall;

      color: @white;
  	  font-size: @fontSizeSmall;
  	  font-weight: bold;
  	  text-align: left;
      text-shadow: 0px 1px 0px darken(@categoryHeader, 25%);
  	}
    
    .forum-icon {
      width: 1%;

      .forum-icon-wrap {
      	background-color: @itemOldColor;
      	border: 1px solid darken(@itemOldColor, 10%);
    		border-radius: @baseBorderRadius;
    		padding: (@forumIconSize - 1px) @forumIconSize;

    		&.forum-icon-new {
  	      background-color: @itemNewColor;
  	      border: 1px solid darken(@itemNewColor, 10%);
    		}

    		&.forum-icon-redirect {
  	      background-color: @itemMovedColor;
  	      border: 1px solid darken(@itemMovedColor, 10%);
    		}
      }
    }
    
    .forum-main {
      h3 {
        float: left;
    		margin: 0px;
    		padding: 0px;

    		font-size: @fontSizeLarge;
    		line-height: @baseLineHeight;

    		a:link, a:visited {
    		  color: lighten(@textColor, 35%);
    		}

    		&.forum-title-new {
          a:link, a:visited {
    		    color: @textColor;
    		  }
    		}
      }

      .forum-details {
        float: right;

        color: @grayLight;
        font-weight: bold;

        .label {
          position: relative;
          bottom: 1px;
        }
      }

      .forum-description {
        clear: both;
        margin: 0px;
        padding: 0px;

        color: lighten(@textColor, 35%);
        font-size: @fontSizeSmall;
      }
    }
  }

  &.index-category-important {
    caption {
      background-color: @red;
      border: 1px solid darken(@red, 5%);

      text-shadow: 0px 1px 0px darken(@red, 25%);
    }
  }
}

.index-forums-read-all {
  margin: 0px;
  padding: 0px;

  .btn-link {
    margin: 0px;
    .opacity(50);
    padding: 0px;

    color: @textColor;
    font-weight: bold;

    &:active, &:hover {
      .opacity(90);
    }
  }
}

// Online list
// -------------------------
.index-ranks-list {
  h3 {
    margin: 0px;
    padding: 0px;

    color: @grayLight;
    font-size: @fontSizeLarge;
    font-weight: bold;
  }

  ul {
    margin: 0px;
    margin-bottom: @baseLineHeight;
    padding: 0px;

    li {
      background-color: darken(@bodyBackground, 5%);
      border: 1px solid darken(@bodyBackground, 13%);
      border-radius: @baseBorderRadius;
      margin: 0px;
      margin-bottom: (@baseFontSize * .75);
      padding: 6px;

      font-weight: bold;

      img {
        background-color: @white;
        border-radius: @borderRadiusSmall;
        width: 24px;
        height: 24px;
      }

      a:link, a:active, a:visited, a:hover {
        color: @textColor;
      }
    }
  }
}

// Popular threads
// -------------------------
.index-popular-threads { 
  h3 {
    margin: 0px;
    margin-bottom: (@baseLineHeight * -0.5);
    padding: 0px;

    color: @grayLight;
    font-size: @fontSizeLarge;
    font-weight: bold;
  }

  ul {
    margin: 0px;
    margin-bottom: @baseLineHeight;
    padding: 0px;

    li {
      border-bottom: 1px solid darken(@bodyBackground, 10%);
      padding: (@baseFontSize / 2) 0px;

      a:link, a:active, a:visited, a:hover {
        color: @textColor;
        font-weight: bold;
      }

      .muted {
        font-size: @fontSizeMini;

        a:link, a:active, a:visited, a:hover {
          color: @gray;
        }
      }
    }
  }
}

// Forum stats
// -------------------------
.index-stats {
  margin-bottom: @baseLineHeight;
  .opacity(60);
  overflow: auto;

  font-weight: bold;

  ul {
    li {
      float: left;
      padding: 0px;
      padding-right: @baseLineHeight;
    }
  }
}
