// Ajax Loader Bar
// -------------------------

#ajax-loader {
	display: none;
	position: fixed;
	top: 0px;
	height: auto;
	width: 100%;
	z-index: @zindexModal + 1;

	.bar {
		height: @loaderHeight;
	}
}