//
// Board Messages
// --------------------------------------------------

.messages-list {
  .alert-icon {
    float: left;
<<<<<<< HEAD

    color: @white !important;
    font-size: @fontSizeLarge;
=======
>>>>>>> master
  }

  p {
    margin: 0px;
    margin-left: 28px;

    color: @white;
  }

  a:link, a:visited {
    .opacity(85);

    color: @white;
    font-size: 120%;
    text-decoration: underline;
  }

  a:active, a:hover {
    .opacity(100);
  }
<<<<<<< HEAD

=======
  
>>>>>>> master
  .alert-info {
    text-shadow: 0px 1px 0px darken(@infoBorder, 10%);
  }

  .alert-success {
    text-shadow: 0px 1px 0px darken(@successBorder, 10%);
  }

  .alert-warning {
    text-shadow: 0px 1px 0px darken(@warningBorder, 10%);
  }

  .alert-error {
<<<<<<< HEAD
    text-shadow: 0px 1px 0px darken(@errorBorder, 10%);
=======
    text-shadow: 0px 1px 0px darken(@errorBorder, 10%);    
>>>>>>> master
  }
}