// Popular threads list
// -------------------------

.popular-threads {
  hr {
    margin: @baseFontSize 0px;
    border: none;
    border-top: 1px solid @grayLighter;
  }

  .popular-thread {
    overflow: auto;

    .popular-thread-warmth {
      display: block;
      float: left;
      margin-top: 1px;
      margin-right: @baseFontSize;
      padding: @fontSizeMini;

      i {
        background-image: url("@{iconWhiteSpritePath}");
      }

      &.popular-thread-warmth-0 {
        background-color: @red;
        border: 1px solid darken(@red, 10%);
      }

      &.popular-thread-warmth-1 {
        background-color: desaturate(@red, 30%);
        border: 1px solid darken(desaturate(@red, 30%), 10%);
      }

      &.popular-thread-warmth-2 {
        background-color: desaturate(@red, 50%);
        border: 1px solid darken(desaturate(@red, 50%), 10%);
      }
    }

    .popular-thread-details {
      .popular-thread-title {
        &:link, &:visited {
          color: @gray;
          font-weight: bold;
        }

        &:hover, &:active {
          color: @textColor;
        }
      }

      .popular-thread-info {
        margin: 0px;
        margin-left: @baseFontSize;
        padding: 0px;

        color: @grayLight;
        font-size: @fontSizeSmall;

        a:link, a:visited {
          color: @gray;
        }

        a:hover, a:active {
          color: @textColor;
        }
      }
    }
  }
}