// User Profiles
// -------------------------

.profiles-list {
  .user-cell {
    overflow: auto;

    .user-avatar {
      float: left;

      img {
        border-radius: @baseBorderRadius;
        width: 42px;
        height: 42px; 
      }
    }

    .user-details {
      margin: 0px;
      margin-left: 42px + @baseFontSize;

      a:link, a:active, a:visited, a:hover {
        display: block;
        margin-top: 3px;

        color: @textColor;
        font-size: @baseFontSize * 1.4;
        font-weight: bold;
      }

      .user-info {
        display: block;

        color: @grayLight;
        font-size: @fontSizeMini;
      }
    }
  }
}

.user-profile {
  .user-profile-header {
    .header-avatar {
      border-radius: @baseBorderRadius;
      float: left;
      width: 80px;
      height: 80px;
      margin-top: -8px;
    }

    .header-side {
      margin-left: 80px + @baseFontSize;

      h1 {
        margin-left: (@baseLineHeight / 3);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid @grayLighter;
    margin: @baseFontSize 0px;
  }

  .user-details {
    .label {
      font-size: @baseFontSize;
    }
  }

  .user-list {
    .user-cell {
      overflow: auto;

      .user-avatar {
        float: left;

        img {
          border-radius: @baseBorderRadius;
          width: 42px;
          height: 42px; 
        }
      }

      .user-details {
        margin: 0px;
        margin-left: 42px + @baseFontSize;

        a:link, a:active, a:visited, a:hover {
          display: block;
          margin-top: 3px;

          color: @textColor;
          font-size: @baseFontSize * 1.4;
          font-weight: bold;
        }

        .user-info {
          display: block;

          color: @grayLight;
          font-size: @fontSizeMini;
        }
      }
    }
  }

  .content-list {
    .media {
      overflow: auto;

      .media-object {
        border-radius: @baseBorderRadius;
        width: 52px;
        height: 52px;
      }

      .media-body {
        margin-left: 52px + @baseFontSize;

        .post-preview {
          &:link, &:active, &:visited, &:hover {
            display: block;
            margin-top: @baseFontSize / 2;

            color: @textColor;
            font-size: @baseFontSize * 1.2;
            text-decoration: none;
          }
        }

        .media-footer {
          margin: 0px;

          color: @grayLight;
          font-size: @fontSizeMini;
          font-weight: normal;

          a {
            color: @gray;
          }
        }
      }
    }
  }
}