// Sign-in page
// -------------------------

.signin-help {
  h2 {
    margin-bottom: 0px;

    color: @grayLight;
    font-size: @fontSizeLarge;
  }

  ul {
    margin-bottom: 0px;
  }

  a:link, a:visited {
    .opacity(90);

    color: @textColor;
    font-weight: bold;
  }
}