// Thread view
// -------------------------

.thread-buttons {
  overflow: auto;

  .pull-right {
    margin-left: @baseFontSize;
  }
}

// Thread body styles
.thread-body {
  .post-wrapper {
    // Post body
    .post-body {
      margin-bottom: @baseLineHeight;
      overflow: auto;

      .user-avatar {
        border-radius: @baseBorderRadius;
        float: left;
        width: 100px;
        height: 100px;
      }

      .post-content {
        background-color: @postBackground;
        border: 1px solid @postBorder;
        border-radius: @borderRadiusLarge;
        margin-left: 100px + (@baseFontSize * 1.5);

        .post-header {
          padding: (@baseFontSize / 2) @baseFontSize;
          padding-bottom: 0px;

          color: grayLighter;

          .post-author {
            color: @textColor;
            font-weight: bold;
          }

          .post-author-label {
            text-shadow: none;

            &.post-label-guest {
              background-color: @grayLighter;

              color: @grayLight;
            }
          }

          .separator {
            color: @grayLighter;
            font-size: @fontSizeLarge;
            line-height: 5px;
          }

          .post-date {
            color: @grayLight;
          }

          .post-changelog {
            color: @grayLight;

            &:hover, &:active {
              color: @textColor;
            }
          }

          .post-perma {
            display: block;
            float: right;
            padding-left: 6px;

            color: @grayLight;
            font-weight: bold;

            &:hover, &:active {
              color: @textColor;
            }
          }

          .post-checkbox {
            float: right;
            position: relative;
            left: @baseFontSize - 4px;
          }

          .post-extra {
            float: right;

            .label {
              margin-left: @baseFontSize / 4;

              text-shadow: none;

              &.label-purple {
                background-color: #7e2ecf;
              }
            }
          }
        }

        .post-message {
          padding: @baseFontSize;

          .post-signature {
            border-top: 1px dotted darken(@postBackground, 25%);
            .opacity(60);
            margin-top: @baseLineHeight;
            padding-top: @baseLineHeight / 4;

            font-size: 80%;
          }
        }

        .post-footer {
          border-top: 1px solid @postBorder;
          overflow: auto;

          .post-rating {
            float: left;
            overflow: auto;
            padding: (@baseFontSize / 2) @baseFontSize;
            border-right: 1px dotted @postBorder;

            a {
              color: @grayLight;

              &:hover, a:active {
                color: @textColor;
              }
            }

            span {
              float: left;

              &.post-score {
                color: @grayLight;
                font-weight: bold;

                &.post-score-good {
                  color: @green;
                }

                &.post-score-bad {
                  color: @red;
                }
              }

              &.post-neutral, &.post-like, &.post-hate {
                margin-left: (@baseFontSize / 4); 
              }

              &.post-neutral {
                color: @grayLight;
              }

              &.post-like {
                color: @green;
              }

              &.post-hate {
                color: @red;
              }
            }

            form {
              float: left;
              margin: 0px;
              padding: 0px;

              .btn-link {
                float: right;
                margin: 0px;
                margin-left: (@baseFontSize / 4); 
                padding: 0px;

                font-weight: normal;

                &:hover, &:active, &:focus {
                  text-decoration: underline;
                }

                &.post-like {
                  &:hover, &:active, &:focus {
                    color: @green;
                  }
                }

                &.post-hate {
                  &:hover, &:active, &:focus {
                    color: @red;
                  }
                }
              }
            }
          }

          .post-actions {
            border-left: 1px dotted @postBorder;
            float: right;
            padding: (@baseFontSize / 2) @baseFontSize;

            color: @grayLight;

            a, form {
              float: left;
              overflow: auto;
            }

            form {
              margin: 0px;
              padding: 0px;
            }

            a {
              margin-left: @baseFontSize;

              color: @grayLight;

              &:hover, a:active {
                color: @textColor;
              }

              &:first-child {
                margin-left: 0px;
              }

              &.post-reply {
                color: @gray;

                &:hover, a:active {
                  color: @blue;
                }
              }
            }

            .btn {
              float: right;
              margin: 0px;
              margin-left: @baseFontSize;
              padding: 0px;

              color: @grayLight;
              font-weight: normal;

              &:hover, &:active, &:focus {
                color: @red;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .post-arrow {
        border-top: @fontSizeMini solid transparent;
        border-bottom: @fontSizeMini solid transparent;
        border-right: @fontSizeMini solid @postBackground;
        float: left;
        width: 0;
        height: 0;
        position: relative;
        top: @baseFontSize + 1px;
        left: @baseFontSize - 2px;
        z-index: (@zindexDropdown - 1);
      }

      &.post-muted {        
        .user-avatar {
          width: 50px;
          height: 50px;
          .opacity(75);
        }

        .post-content {
          margin-left: 50px + (@baseFontSize * 1.5);
          .opacity(75);

          .post-header {
            float: right;
            margin: 0px;
            margin-top: @baseFontSize / 2;

            .post-header-compact {
              float: left;
              margin-right: @baseLineHeight;
            }
          }

          .post-message {
            color: @grayLight;
            font-size: @fontSizeLarge;

            strong, a {
              color: @textColor;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

    .post-checkpoints {
      .post-checkpoint {
        text-align: center;

        margin-bottom: @baseLineHeight;

        hr {
          background-color: @grayLight;
          background-image: -webkit-gradient(linear, 0 0, 100% 100%,
                      color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
                      color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
                      color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
                      to(transparent));
          background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
          background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
          background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
          background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
          background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                    transparent 75%, transparent);
          -webkit-background-size: 10px 10px;
          -moz-background-size: 10px 10px;
          background-size: 10px 10px;
          border: none;
          height: 4px;
          margin-bottom: (@baseLineHeight * -1) + (@baseFontSize / 2) + 1px;
        }

        span {
          background-color: @bodyBackground;
          padding: 0px @baseFontSize;

          color: @grayLight;

          a {
            color: @textColor;
          }

          i {
            .opacity(43);
          }
        }
      }
    }
}

// Thread moderation
.thread-moderation {
  background-color: @categoryBackground;
  border: 1px solid @categoryBorder;
  border-radius: @borderRadiusSmall;
  .box-shadow(0px 0px 0px 3px @categoryShadow);
  margin-bottom: @baseLineHeight;
  overflow: auto;
  padding: (@baseFontSize / 2);

  form {
    margin: 0px;
  }
}

// Quick reply styles
.thread-quick-reply {
  overflow: auto;
  margin-top: @baseLineHeight;

  .user-avatar {
    border-radius: @baseBorderRadius;
    float: left;
    width: 125px;
    height: 125px;
  }

  .arrow {
    border-top: @baseFontSize solid transparent;
    border-bottom: @baseFontSize solid transparent;
    border-right: @baseFontSize solid @white;
    float: left;
    width: 0;
    height: 0;
    position: relative;
    top: @baseFontSize / 2;
    left: @baseFontSize + 1px;
    z-index: (@zindexDropdown - 1);
  }

  .editor {
    margin-left: 125px + (@baseFontSize * 2);
  }
}