// Watched threads
// -------------------------

.watched-threads {
  table {
    .watched-thread-flags {
      overflow: auto;

      form {
        float: right;
        margin: 0px;
        padding: 0px;

        .btn {
          float: right;
          padding: 3px 5px;
          padding-bottom: 0px;
          margin-right: @baseFontSize + 2px;
        }
      }
    }
    
    .thread-replies {
      color: @grayLight;
      text-align: right;
    }

    .thread-forum {
      a:link, a:visited {
        color: @gray;
        font-weight: bold;
      }

      a:active, a:hover {
        color: @textColor;
      }
    }
  }
}