{% load i18n misago_capture misago_formats %}

<div class="status-bar status-bar-hidden">
  <div class="status-bar-icon">
    {% include "tabler/eye-off.svg" %}
  </div>
  <div class="status-bar-body">
    <p>
      {% blocktranslate trimmed context "post hidden status bar" %}
        Post's contents are hidden and visible only to moderators.
      {% endblocktranslate %}
      {% if hidden_at %}
        {% capture trimmed as hidden_at_html %}
          <span
            title="{{ hidden_at|date:'DATETIME_FORMAT' }}"
            mg-timestamp="{{ hidden_at.isoformat }}"
            mg-timestamp-format="sentence"
          >
            {{ hidden_at|date_relative_in_sentence }}
          </span>
        {% endcapture %}
        {% if hidden_by_name %}
          {% capture trimmed as hidden_by_html %}
            {% if hidden_by_id %}
              <a
                href="{% url 'misago:user' pk=hidden_by_id slug=hidden_by_slug %}"
                class="item-title"
              >{{ hidden_by_name }}</a>
            {% else %}
              <a class="item-title">{{ hidden_by_name }}</a>
            {% endif %}
          {% endcapture %}
          {% if hide_reason %}
            {% blocktranslate trimmed with hidden_by=hidden_by_html|safe hidden_at=hidden_at_html|safe reason=hide_reason context="thread hidden status bar" %}
              Hidden by {{ hidden_by }}, {{ hidden_at }}. Reason: {{ reason }}
            {% endblocktranslate %}
          {% else %}
            {% blocktranslate trimmed with hidden_by=hidden_by_html|safe hidden_at=hidden_at_html|safe context="thread hidden status bar" %}
              Hidden by {{ hidden_by }}, {{ hidden_at }}.
            {% endblocktranslate %}
          {% endif %}
        {% elif hide_reason %}
          {% blocktranslate trimmed with hidden_at=hidden_at_html|safe reason=hide_reason context="thread hidden status bar" %}
            Hidden {{ hidden_at }}. Reason: {{ reason }}
          {% endblocktranslate %}
        {% else %}
          {% blocktranslate trimmed with hidden_at=hidden_at_html|safe context="thread hidden status bar" %}
            Hidden {{ hidden_at }}.
          {% endblocktranslate %}
        {% endif %}
      {% elif hidden_by_name %}
        {% capture trimmed as hidden_by_html %}
          {% if hidden_by_id %}
            <a
              href="{% url 'misago:user' pk=hidden_by_id slug=hidden_by_slug %}"
              class="item-title"
            >{{ hidden_by_name }}</a>
          {% else %}
            <a class="item-title">{{ hidden_by_name }}</a>
          {% endif %}
        {% endcapture %}
        {% if hide_reason %}
          {% blocktranslate trimmed with hidden_by=hidden_by_html|safe reason=hide_reason context="thread hidden status bar" %}
            Hidden by {{ hidden_by }}. Reason: {{ reason }}
          {% endblocktranslate %}
        {% else %}
          {% blocktranslate trimmed with hidden_by=hidden_by_html|safe context="thread hidden status bar" %}
            Hidden by {{ hidden_by }}.
          {% endblocktranslate %}
        {% endif %}
      {% elif hide_reason %}
        {% blocktranslate trimmed with reason=hide_reason context="thread hidden status bar" %}
          Reason: {{ reason }}
        {% endblocktranslate %}
      {% endif %}
    </p>
  </div>
</div>