{% extends "misago/admin/generic/list.html" %}
{% load i18n %}


{% block page-actions %}
<div class="col-auto page-action">
  <a href="{% url 'misago:admin:categories:new' %}" class="btn btn-primary btn-sm">
    <span class="fa fa-plus-circle"></span>
    {% translate "New category" context "admin categories" %}
  </a>
</div>
{% endblock %}


{% block table-header %}
<th>{% translate "Category" context "admin categories list" %}</th>
<th>{% translate "Label" context "admin categories list" %}</th>
<th>{% translate "CSS class" context "admin categories list" %}</th>
<th style="width: 1px;">{% translate "Threads" context "admin categories list" %}</th>
<th style="width: 1px;">{% translate "Posts" context "admin categories list" %}</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
<th style="width: 1px;">&nbsp;</th>
{% endblock table-header %}


{% block table-row %}
<td>
  {% for i in item.level_range %}
    <span class="item-level">&#8594;</span>
  {% endfor %}
  <a href="{% url 'misago:admin:categories:edit' pk=item.pk %}" class="item-name small">
    {{ item }}
  </a>
</td>
<td>
  {% if item.color %}
    <span class="badge badge-dark" style="background: {{ item.color }};">{{ item.short_name|default:item.name }}</span>
  {% else %}
    <span class="badge badge-light">{{ item.short_name|default:item.name }}</span>
  {% endif %}
</td>
<td class="small">
  {% if item.css_class %}
    <pre class="m-0">{{ item.css_class }}</pre>
  {% else %}
    <i class="text-muted">{% translate "Not set" context "admin category css class" %}</i>
  {% endif %}
</td>
<td class="small">
  {{ item.threads }}
</td>
<td class="small">
  {{ item.posts }}
</td>
<td>
  <a href="{{ item.get_absolute_url }}" target="_blank" class="btn btn-light btn-sm" data-tooltip="top" title="{% translate 'Go to category' context 'admin categories' %}">
    <span class="fas fa-external-link-alt fa-fw"></span>
  </a>
</td>
<td>
  {% if not item.first %}
    <form action="{% url 'misago:admin:categories:up' pk=item.pk %}" method="post">
      {% csrf_token %}
      <button class="btn btn-light btn-sm" data-tooltip="top" title="{% translate 'Move up' context 'admin categories' %}">
        <span class="fa fa-chevron-up fa-fw"></span>
      </button>
    </form>
  {% else %}
    <button class="btn btn-light btn-sm" disabled>
      <span class="fa fa-chevron-up fa-fw"></span>
    </button>
  {% endif %}
</td>
<td>
  {% if not item.last %}
    <form action="{% url 'misago:admin:categories:down' pk=item.pk %}" method="post">
      {% csrf_token %}
      <button class="btn btn-light btn-sm" data-tooltip="top" title="{% translate 'Move down' context 'admin categories' %}">
        <span class="fa fa-chevron-down fa-fw"></span>
      </button>
    </form>
  {% else %}
    <button class="btn btn-light btn-sm" disabled>
      <span class="fa fa-chevron-down fa-fw"></span>
    </button>
  {% endif %}
</td>
<td>
  <a href="{% url 'misago:admin:categories:permissions' pk=item.pk %}" class="btn btn-light btn-sm" data-tooltip="top" title="{% translate 'Change permissions' context 'admin categories' %}">
    <span class="fa fa-adjust fa-fw"></span>
  </a>
</td>
<td>
  <div class="dropdown">
    <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="item-optioms-{{ item.pk }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fas fa-ellipsis-h fa-fw"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="item-optioms-{{ item.pk }}">
      <a class="dropdown-item" href="{% url 'misago:admin:categories:permissions' pk=item.pk %}">
        {% translate "Change permissions" context "admin categories" %}
      </a>
      {% for action in extra_actions %}
        <a href="{% url action.link pk=item.pk %}" class="dropdown-item">
          {{ action.name }}
        </a>
      {% endfor %}
      <a class="dropdown-item" href="{% url 'misago:admin:categories:edit' pk=item.pk %}">
        {% translate "Edit category" context "admin categories" %}
      </a>
      <a class="dropdown-item" href="{% url 'misago:admin:categories:delete' pk=item.pk %}">
        {% translate "Delete category" context "admin categories" %}
      </a>
    </div>
  </div>
</td>
{% endblock %}


{% block blankslate %}
<td colspan="8">
  {% translate "No categories are set." context "admin categories" %}
</td>
{% endblock blankslate %}
