{% load misago_admin_form misago_shorthands %}
{% for option in widget|get_options %}
  <div class="form-check">
    <input class="form-check-input" name="{{ option.name }}" type="checkbox" id="{{ widget.attrs.id }}_{{ option.index }}"{% if option.value != None %} value="{{ option.value|stringformat:'s' }}"{% endif %}{{ option.selected|iftrue:" checked" }}{{ widget.attrs.disabled|iftrue:" disabled" }}>
    <label class="form-check-label" for="{{ widget.attrs.id }}_{{ option.index }}">
      {{ option.label }}
    </label>
  </div>
{% endfor %}