{% extends "cranefly/layout.html" %}
{% import "forms.html" as form_theme with context %}
{% import "cranefly/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_("Private Threads"),page=pagination['page']) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider"><i class="icon-chevron-right"></i></span></li>
<li class="active">{% trans %}Private Threads{% endtrans %}
{%- endblock %}

{% block container %}
<div class="page-header header-primary">
  <div class="container">
    {{ messages_list(messages) }}
    <ul class="breadcrumb" {{ macros.itemprop_bread() }}>
      {{ self.breadcrumb() }}</li>
    </ul>
    <h1>{% trans %}Private Threads{% endtrans %}</h1>
  </div>
</div>

<div class="container container-primary">

  {% if message %}
  <div class="messages-list">
    {{ macros.draw_message(message) }}
  </div>
  {% endif %}

  <div class="forum-threads-extra extra-top">
    {{ pager() }}
    {% if acl.threads.can_start_threads(forum) %}
    <a href="{{ url('private_thread_start') }}" class="btn btn-inverse pull-right"><i class="icon-plus"></i> {% trans %}New Thread{% endtrans %}</a>
    {% endif %}
  </div>

  <div class="forum-threads-list">
    <div class="header">
      <div class="row-fluid">
        <div class="span7">{% trans %}Thread{% endtrans %}</div>
        <div class="span5 thread-activity">
          <div class="thread-replies">{% trans %}Activity{% endtrans %}</div>
          {% if list_form %}
          <div class="pull-right check-cell">
            <label class="checkbox"><input type="checkbox" class="checkbox-master"></label>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% for thread in threads %}
    <div class="thread-row{% if not thread.is_read %} thread-new{% endif %}{% if loop.last %} thread-last{% endif %}">
      <div class="row-fluid">
        <div class="span7">
          {% if thread.is_read %}
          <a href="{{ url('private_thread_new', thread=thread.pk, slug=thread.slug) }}" class="thread-icon thread-icon-last tooltip-top" title="{% trans %}Click to see last post{% endtrans %}"><i class="icon-asterisk"></i></a>
          {% else %}
          <a href="{{ url('private_thread_new', thread=thread.pk, slug=thread.slug) }}" class="thread-icon thread-icon-new tooltip-top" title="{% trans %}Click to see first unread post{% endtrans %}"><i class="icon-fire"></i></a>
          {% endif %}

          <a href="{{ url('private_thread', thread=thread.pk, slug=thread.slug) }}" class="thread-name">{{ thread.name|short_string(75) }}</a>

          {{ macros.thread_flags(thread) }}

          <div class="thread-details">
            {% trans user=thread_starter(thread), start=thread.start|reldate|low %}by {{ user }}, {{ start }}{% endtrans %}
          </div>

        </div>
        <div class="span5 thread-activity">

          {% if settings.avatars_on_threads_list %}
          <div class="thread-last-avatar">
            {% if thread.last_poster_id %}
            <a href="{{ url('user', user=thread.last_poster.pk, username=thread.last_poster.username_slug) }}"><img src="{{ thread.last_poster.get_avatar(40) }}" alt=""></a>
            {% else %}
            <img src="{{ macros.avatar_guest(40) }}" alt="" class="user-avatar">
            {% endif %}
          </div>
          {% endif %}

          <div class="thread-replies">
            <strong class="lead">{{ thread_reply(thread) }}, {{ thread.last|reldate|low }}</strong><br>
            {{ replies(thread.replies) }}
          </div>

          {% if list_form %}
          <label class="thread-select checkbox"><input form="threads_form" name="{{ list_form['list_items']['html_name'] }}" type="checkbox" class="checkbox-member" value="{{ thread.pk }}"{% if list_form['list_items']['has_value'] and ('' ~ thread.pk) in list_form['list_items']['value'] %} checked="checked"{% endif %}></label>
          {% endif %}

        </div>
      </div>
    </div>
    {% else %}
    <div class="thread-row threads-list-empty">
      {% trans %}You are not participating in any private discussions.{% endtrans %}
    </div>
    {% endfor %}

    {% if list_form %}
    <div class="threads-actions">
      <form id="threads_form" class="form-inline pull-right" action="{{ request_path }}" method="POST">
        <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
        {{ form_theme.field(list_form.list_action, attrs={'class': 'span3'}) }}
        <button type="submit" class="btn btn-danger">{% trans %}Go{% endtrans %}</button>
      </form>
    </div>
    {% endif %}
  </div>

  <div class="forum-threads-extra">
    {{ pager() }}
    {% if acl.threads.can_start_threads(forum) %}
    <a href="{{ url('private_thread_start') }}" class="btn btn-inverse pull-right"><i class="icon-plus"></i> {% trans %}New Thread{% endtrans %}</a>
    {% endif %}
  </div>

</div>
{% endblock %}


{% macro replies(thread_replies) -%}
{% trans count=thread_replies, replies=thread_replies|intcomma -%}
{{ replies }} reply
{%- pluralize -%}
{{ replies }} replies
{%- endtrans %}
{%- endmacro %}

{% macro thread_starter(thread) -%}
{% if thread.start_poster_id %}<a href="{{ url('user', user=thread.start_poster_id, username=thread.start_poster_slug) }}" class="user-link">{{ thread.start_poster_name }}</a>{% else %}{{ thread.start_poster_name }}{% endif %}
{%- endmacro %}

{% macro thread_reply(thread) -%}
{% if thread.last_poster_id %}<a href="{{ url('user', user=thread.last_poster_id, username=thread.last_poster_slug) }}" class="user-link">{{ thread.last_poster_name }}</a>{% else %}{{ thread.last_poster_name }}{% endif %}
{%- endmacro %}

{% macro pager() %}
{% if pagination['total'] > 0 %}
<div class="pagination pull-left">
  <ul>
    <li class="count">{{ macros.pager_label(pagination) }}</li>
    {%- if pagination['prev'] > 1 %}<li><a href="{{ url('private_threads') }}" class="tooltip-top" title="{% trans %}First Page{% endtrans %}"><i class="icon-chevron-left"></i> {% trans %}First{% endtrans %}</a></li>{% endif -%}
    {%- if pagination['prev'] > 0 %}<li><a href="{%- if pagination['prev'] > 1 %}{{ url('private_threads', page=pagination['prev']) }}{% else %}{{ url('private_threads') }}{% endif %}" class="tooltip-top" title="{% trans %}Newest Threads{% endtrans %}"><i class="icon-chevron-left"></i></a></li>{% endif -%}
    {%- if pagination['next'] > 0 %}<li><a href="{{ url('private_threads', page=pagination['next']) }}" class="tooltip-top" title="{% trans %}Older Threads{% endtrans %}"><i class="icon-chevron-right"></i></a></li>{% endif -%}
  </ul>
</div>
{% endif %}
{% endmacro %}

{% block javascripts -%}
{{ super() }}
{%- if list_form %}
  <script type="text/javascript">
    $(function () {
      $('#threads_form').submit(function() {
        if ($('.check-cell[]:checked').length == 0) {
          alert("{% trans %}You have to select at least one thread.{% endtrans %}");
          return false;
        }
        if ($('#id_list_action').val() == 'hard') {
          var decision = confirm("{% trans %}Are you sure you want to delete selected threads? This action is not reversible!{% endtrans %}");
          return decision;
        }
        return true;
      });
    });
  </script>{% endif %}
{%- endblock %}
