//
// Flavor Navbar
// --------------------------------------------------


.navbar-misago {
  border-bottom: none;

  .shadow-3dp();
}


// Sign in/register buttons
.navbar-misago .nav-guest {
  .btn-default {
    background: @navbar-btn-default-bg;
    border-color: @navbar-btn-default-border;

    color: @navbar-btn-default-color;

    &:hover, &:focus {
      background: @navbar-btn-default-hover-bg;
      border-color: @navbar-btn-default-hover-border;

      color: @navbar-btn-default-hover-color;
    }

    &:active {
      background: @navbar-btn-default-active-bg;
      border-color: @navbar-btn-default-active-border;

      color: @navbar-btn-default-active-color;
    }
  }

  .btn-primary {
    background: @navbar-btn-primary-bg;
    border-color: @navbar-btn-primary-border;

    color: @navbar-btn-primary-color;

    &:hover, &:focus {
      background: @navbar-btn-primary-hover-bg;
      border-color: @navbar-btn-primary-hover-border;

      color: @navbar-btn-primary-hover-color;
    }

    &:active {
      background: @navbar-btn-primary-active-bg;
      border-color: @navbar-btn-primary-active-border;

      color: @navbar-btn-primary-active-color;
    }
  }
}

// Round up user's avatar
.navbar-misago .user-avatar {
  border-radius: @border-radius-small;
}


// Round up brand's icon
.navbar-misago .brand-link img {
  border-radius: @border-radius-small;
}
