// Panels Flavor
// --------------------------------------------------


.threads-list, .panel {
  border-radius: @border-radius-base;
  .shadow-4dp();
}

.threads-list .list-group-item {
  border-left: none;
  border-right: none;
}

.threads-list .list-group-item:first-child {
  border: none;
}