//
// User Profile Flavor
// --------------------------------------------------


// Text align disabled account node
.page-user-profile .page-header .alert {
  text-align: center;
}

// Style user's avatar
.page-user-profile .page-header {
  img {
    background-color: #fff;
    border-radius: @border-radius-large;
    .shadow-2dp();
  }
}

.page-user-profile .profile-side-avatar {
  img {
    background-color: #fff;
    border-radius: @border-radius-large;
    .shadow-2dp();
  }
}