//
// Flavor Theme Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         #651fff;
@brand-success:         #43a047;
@brand-info:            #3d5afe;
@brand-warning:         #ef6c00;
@brand-danger:          #f44336;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #f9f9f9;
//** Global text color on `<body>`.
@text-color:            #212121;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

//** Shadows
@shadow-key-umbra-opacity: 0.06;
@shadow-key-penumbra-opacity: 0.04;
@shadow-ambient-shadow-opacity: 0.12;


//== Navbar
//
//##

// Basics of a navbar
@navbar-default-color:             #757575;
@navbar-default-bg:                #fff;

// Navbar links
@navbar-default-link-color:                #757575;
@navbar-default-link-hover-color:          #424242;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @text-color;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               #aa00ff;
@navbar-default-brand-hover-color:         #aa00ff;
@navbar-default-brand-hover-bg:            transparent;


//== Page header
//
//##

// Basics
//** Background
@page-header-bg:              #f4f5f6;
//** Border color
@page-header-border-color:    #bebebe;

//** Heading color
@page-header-color:               @gray-dark;

//** Other text color
@page-header-text-color:          @gray-light;
//** Link color
@page-header-link-color:          @gray-dark;
//** Text color
@page-header-link-hover-color:    @text-color;

//** Default btn
@page-header-btn-default-color:            @gray-light;
@page-header-btn-default-border:           lighten(@gray-light, 20%);
@page-header-btn-default-bg:               fadeOut(@page-header-bg, 50%);

@page-header-btn-default-hover-color:      #651fff;
@page-header-btn-default-hover-border:     #651fff;
@page-header-btn-default-hover-bg:         #f5f5f5;

@page-header-btn-default-active-color:     #fff;
@page-header-btn-default-active-border:    #651fff;
@page-header-btn-default-active-bg:        #651fff;

//** Success btn
@page-header-btn-success-color:            #aa00ff;
@page-header-btn-success-border:           #aa00ff;
@page-header-btn-success-bg:               fadeOut(@page-header-bg, 50%);

@page-header-btn-success-hover-color:      #d500f9;
@page-header-btn-success-hover-border:     #d500f9;
@page-header-btn-success-hover-bg:         #f5f5f5;

@page-header-btn-success-active-color:     #fff;
@page-header-btn-success-active-border:    #d500f9;
@page-header-btn-success-active-bg:        #d500f9;

//** Tabs bar background
@page-tabs-bg:              fadeOut(#fff, 75%);

@page-tabs-link-color:      @gray-light;
@page-tabs-link-bg:         transparent;

@page-tabs-link-hover-color:      @text-color;
@page-tabs-link-hover-bg:         transparent;

@page-tabs-link-focus-color:      @text-color;
@page-tabs-link-focus-bg:         transparent;

@page-tabs-link-active-color:     @link-color;
@page-tabs-link-active-bg:        transparent;


//== Alerts
//
//## Define alert colors, border radius, and padding.


@alert-success-bg:            @brand-success;
@alert-success-text:          #fff;
@alert-success-border:        @brand-success;

@alert-info-bg:               #448aff;
@alert-info-text:             #fff;
@alert-info-border:           #448aff;

@alert-warning-bg:            @brand-warning;
@alert-warning-text:          #fff;
@alert-warning-border:        @brand-warning;

@alert-danger-bg:             @brand-danger;
@alert-danger-text:           #fff;
@alert-danger-border:         @brand-danger;