{% extends "admin/admin/form.html" %}
{% import "forms.html" as form_theme with context %}

{% block form %}
<fieldset>
  <legend>{% trans %}Basic Rank Options{% endtrans %}</legend>
  {{ form_theme.row(form.name, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.description, attrs={'class': 'span12', 'rows': 3}) }}
  {{ form_theme.row(form.as_tab) }}
  {{ form_theme.row(form.on_index) }}
</fieldset>
<fieldset>
  <legend>{% trans %}Rank Roles{% endtrans %}</legend>
  {{ form_theme.row(form.roles, attrs={'class': 'span12'}) }}
</fieldset>
<fieldset>
  <legend>{% trans %}Rank Looks{% endtrans %}</legend>
  {{ form_theme.row(form.title, attrs={'class': 'span12'}) }}
  {{ form_theme.row(form.style, attrs={'class': 'span12'}) }}
</fieldset>
<fieldset>
  <legend>{% trans %}Rank Attainability{% endtrans %}</legend>
  {{ form_theme.row(form.special) }}
  {{ form_theme.row(form.criteria, attrs={'class': 'span12'}) }}
</fieldset>
{% endblock %}