{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "_forms.html" as form_theme with context %}
{% import "sora/editor.html" as editor with context %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_("Post New Thread"), parent=forum.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider">/</span></li>
{% for parent in parents %}
<li class="first"><a href="{{ parent.type|url(forum=forum.pk, slug=forum.slug) }}">{{ parent.name }}</a> <span class="divider">/</span></li>
{% endfor %}
<li class="active">{% trans %}Post New Thread{% endtrans %}
{%- endblock %}

{% block content %}
<div class="page-header">
  <ul class="breadcrumb">
    {{ self.breadcrumb() }}</li>
  </ul>
  <h1>{% trans %}Post New Thread{% endtrans %}</h1>
  {% if thread %}
  <ul class="unstyled thread-info">
    {% if thread.moderated %}<li><i class="icon-eye-close"></i> {% trans %}Not Reviewed{% endtrans %}</li>{% endif %}
    <li><i class="icon-time"></i> {{ thread.last|reltimesince }}</li>
    <li><i class="icon-user"></i> {% if thread.start_poster_id %}<a href="{% url 'user' user=thread.start_poster_id, username=thread.start_poster_slug %}">{{ thread.start_poster_name }}</a>{% else %}{{ thread.start_poster_name }}{% endif %}</li>
    <li><i class="icon-comment"></i> {% if thread.replies > 0 -%}
      {% trans count=thread.replies, replies=thread.replies|intcomma %}One reply{% pluralize %}{{ replies }} replies{% endtrans %}
    {%- else -%}
      {% trans %}No replies{% endtrans %}
    {%- endif %}</li>
  </ul>
  {%- endif %}
</div>
{% if message %}{{ macros.draw_message(message, 'alert-form') }}{% endif %}
<form action="{% url 'thread_new' forum=forum.pk, slug=forum.slug %}" method="post">
  <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
  {{ form_theme.row_widget(form.fields.thread_name) }}
  {{ editor.editor(form.fields.post, _('Post Thread'), rows=8) }}
</form>
{% endblock %}