{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "_forms.html" as form_theme with context %}
{% import "sora/editor.html" as editor with context %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{{ macros.page_title(title=_("Post New Thread"), parent=forum.name) }}{% endblock %}

{% block breadcrumb %}{{ super() }} <span class="divider">/</span></li>
{% for parent in parents %}
<li class="first"><a href="{{ parent.type|url(forum=forum.pk, slug=forum.slug) }}">{{ parent.name }}</a> <span class="divider">/</span></li>
{% endfor %}
<li class="active">{% trans %}Post New Thread{% endtrans %}
{%- endblock %}

{% block content %}
<div class="page-header">
  <ul class="breadcrumb">
    {{ self.breadcrumb() }}</li>
  </ul>
  <h1>{% trans %}Post New Thread{% endtrans %}</h1>
</div>
{% if message %}{{ macros.draw_message(message, 'alert-form') }}{% endif %}
<form action="{% url 'thread_new' forum=forum.pk, slug=forum.slug %}" method="post">
  <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
  {{ form_theme.row_widget(form.fields.thread_name) }}
  {{ editor.editor(form.fields.post, _('Post Thread'), rows=8) }}
</form>
{% endblock %}