{% extends "_email/auth/activation_0_html.html" %}
{% load i18n %}
{% load url from future %}

{% block activation_instructions %}
<h2 style="margin: 12px 0px; padding: 0px;">Account Activation</h2>
<p style="margin: 12px 0px; padding: 0px;">{% trans %}We require our members to prove validity of e-mail address used during registration. To prove that you are owner of e-mail address used to create this account, click the link below:{% endtrans %}</p>
<div style="background-color: #EFEFEF; border-radius: 3px; margin: 0px; padding: 8px; text-align: center;">
  <a href="{{ board_address }}{% url 'activate' username=user.username_slug user=user.id token=user.token %}" style="color: #3465a4; font-size: 150%;">{% trans %}Activate my account{% endtrans %}!</a>
</div>
{% endblock %}