{% extends "_email/base_html.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<p style="margin: 12px 0px; padding: 0px;">{% trans %}You are receiving this message because you have requested for new password to be generated and set on your account.{% endtrans %}</p>
<p style="margin: 12px 0px; padding: 0px;">{% trans %}Your new password:{% endtrans %}</p>
<div style="background-color: #EFEFEF; border-radius: 3px; margin: 0px; padding: 8px; text-align: center; font-size: 200%;">
  {{ password }}
</div>
<p style="margin: 12px 0px; padding: 0px;">{% trans %}You can sign in to your account using new password by following this link:{% endtrans %}</p>
<a href="{{ board_address }}{% url 'sign_in' %}" style="color: #3465a4; font-size: 150%;">{% trans %}Sign In{% endtrans %}</a>
{% endblock %}