<ul class="status-messages">
  <li class="status-message">
    <div class="status-message-icon">
      <svg />
    </div>
    <div class="status-message-body">
      <div class="status-message-content">
        <p class="status-message-text">Lorem ipsum <a href="#">dolor</a> met.</p>
        <ul class="status-message-meta">
          <li class="status-message-meta-user">
            Status by JohnDoe
          </li>
          <li class="status-message-meta-date">
            Yesterday at 11:43 PM
          </li>
          <li class="status-message-meta-text">
            Reason: too heated for civil discussion
          </li>
        </ul>
      </div>
      <div class="status-message-actions">
        <button class="status-message-action">
          <svg />
          Lorem ipsum
        </button>
        <a href="#" class="status-message-action">
          <svg />
          Dolor met
        </a>
      </div>
    </div>
  </li>
</ul>