{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_forms %}


{% block title %}
{% if target.pk %}
{% trans target.name %}
{% else %}
{% trans "New role" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-target %}
{% if target.pk %}
{% trans target.name %}
{% else %}
{% trans "New role" %}
{% endif %}
{% endblock page-target %}


{% block form-header %}
<h1>
  {% if target.pk %}
  {% trans target.name %}
  {% else %}
  {% trans "New role" %}
  {% endif %}
</h1>
{% endblock %}


{% block form-extra %}
class="form-horizontal"
{% endblock form-extra%}


{% block form-body %}
<div class="form-body">

  <fieldset>
    <legend>{% trans "Basic settings" %}</legend>

    {% form_row form.name "col-md-3" "col-md-9" %}

  </fieldset>

  {% for form in perms_forms %}
  {% include "misago/admin/permissions_table.html" %}
  {% endfor %}

</div>
{% endblock form-body %}


{% block form-footer-class %}
col-md-offset-3
{% endblock form-footer-class %}
