{% extends "misago/admin/generic/list.html" %}
{% load i18n misago_admin_form misago_capture %}


{% block table-header %}
<th style="width: 1px;">&nbsp;</th>
<th>{% translate "Attachment" context "admin attachments list" %}</th>
<th style="width: 120px;">{% trans "Size" context "admin attachments list" %}</th>
<th style="width: 120px;">{% trans "Type" context "admin attachments list" %}</th>
<th style="width: 140px;">{% trans "Uploader" context "admin attachments list" %}</th>
<th style="width: 150px;">{% trans "Uploaded at" context "admin attachments list" %}</th>
<th style="width: 220px;">{% trans "Location" context "admin attachments list" %}</th>
<th style="width: 1px;">&nbsp;</th>
{% endblock table-header %}


{% block table-row %}
{% if item.is_image %}
  <td class="pr-0">
    {% if item.thumbnail %}
      <a href="{{ item.url }}" class="btn btn-thumbnail" style="background-image: url('{{ item.thumbnail.url }}')" target="_blank"></a>
    {% else %}
      <a href="{{ item.url }}" class="btn btn-thumbnail" style="background-image: url('{{ item.url }}')" target="_blank"></a>
    {% endif %}
  </td>
{% else %}
  <td class="pr-0 text-center">
    <a href="{{ item.url }}" class="btn btn-light btn-block btn-sm" target="_blank">
      <span class="far fa-file"></span>
    </a>
  </td>
{% endif %}
<td class="small">
  <a href="{{ item.url }}" class="item-name" target="_blank">
    {{ item }}
  </a>
</td>
<td class="small">
  {{ item.size|filesizeformat }}
</td>
<td class="small">
  {{ item.filetype_name }}
</td>
<td class="small text-truncate" style="max-width: 140px;">
  {% if item.uploader %}
    <a href="{{ item.uploader.get_absolute_url }}" class="item-title" target="_blank">{{ item.uploader }}</a>
  {% else %}
    <span class="item-title">{{ item.uploader_name }}</span>
  {% endif %}
</td>
<td class="small text-truncate" style="max-width: 150px;">
  <abbr data-timestamp="{{ item.uploaded_at.isoformat }}" data-format="LL">
    {{ item.uploaded_at }}
  </abbr>
</td>
<td class="small text-muted text-truncate" style="max-width: 220px;">
  {% if item.post %}
    <a href="{{ item.post.get_absolute_url }}" class="item-title" target="_blank">
      {{ item.post.thread }}
    </a>
  {% elif item.is_deleted %}
    <em>
      {% trans "Marked for deletion" context "admin attachment status" %}
    </em>
  {% else %}
    <em>
      {% trans "Unused" context "admin attachment status" %}
    </em>
  {% endif %}
</td>
<td>
  <form action="{% url 'misago:admin:attachments:delete' pk=item.pk %}" method="post" data-delete-confirmation="true">
    {% csrf_token %}
    <button class="btn btn-light btn-sm">
      {% translate "Delete" context "admin attachments" %}
    </button>
  </form>
</td>
{% endblock table-row %}


{% block blankslate %}
<td colspan="9">
  {% if active_filters %}
    {% translate "No attachments matching criteria exist." context "admin attachments" %}
  {% else %}
    {% translate "No attachments exist." context "admin attachments" %}
  {% endif %}
</td>
{% endblock blankslate %}


{% block filters-modal-body %}
<div class="row">
  <div class="col">
    {% form_row filter_form.uploader %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% form_row filter_form.filename %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% form_row filter_form.filetype %}
  </div>
</div>
<div class="row">
  <div class="col">
    {% form_row filter_form.status %}
  </div>
</div>
{% endblock filters-modal-body %}


{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
  window.misago.initConfirmation(
    "[data-delete-confirmation]",
    "{% translate 'Are you sure you want to delete this attachment?' context 'admin attachments' %}"
  )
</script>
{% endblock %}
