{% load i18n %}

<h4>
  {% if misago_user.is_authenticated %}
    {% blocktranslate trimmed with user=misago_user.username context "debug toolbar user acl" %}
    {{ user }} roles
    {% endblocktranslate %}
  {% else %}
    {% translate "Anonymous roles" context "debug toolbar user acl" %}
  {% endif %}
</h4>
<table>
  <thead>
    <tr>
      <th style="width: 180px;">{% translate "Role" context "debug toolbar user acl" %}</th>
      <th>{% translate "Permissions" context "debug toolbar user acl" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for role in misago_user.get_roles %}
      <tr>
        <td>{{ role }}</td>
        <td>{{ role.permissions }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h4>{% translate "Current ACL" context "debug toolbar user acl" %}</h4>
<table>
  <thead>
    <tr>
      <th style="width: 180px;">{% translate "Key" context "debug toolbar user acl" %}</th>
      <th>{% translate "Value" context "debug toolbar user acl" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in misago_acl.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
