{% load compressed i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ misago_settings.forum_name }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% compressed_css 'misago' %}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>

    {% include "misago/navbar.html" %}
    {% include "misago/jumbotron.html" %}
    {% include "misago/messages.html" %}

    {% block content %}{% endblock %}

    {% include "misago/footer.html" %}

    {# We include JavaScript at the end of page body so it renders faster #}
    <script lang="JavaScript">
      var lang_yes = "{% trans "Yes" %}";
      var lang_no = "{% trans "No" %}";
      var ajax_errors = {
        generic: "{% trans "Server returned unspecified error. Refresh page and try again." %}",
        not_found: "{% trans "API link is invalid." %}",
        timeout: "{% trans "Request has timed out." %}"
      };
    </script>
    {% compressed_js 'misago' %}
    <script lang="JavaScript">
      $(function() {
        $.misago_alerts({
          generic_error: "{% trans "Unspecified error occured." %}",
          error_template: "<div class=\"alert-div\"><p class=\"alert alert-danger\"><span class=\"alert-icon fa fa-times-circle\"></span>%message% <button type=\"button\" class=\"close\">{% trans "Ok!" %}</button></p></div>",
          info_template: "<div class=\"alert-div\"><p class=\"alert alert-info\"><span class=\"alert-icon fa fa-info-circle\"></span>%message% <button type=\"button\" class=\"close\">{% trans "Ok!" %}</button></p></div>",
          success_template: "<div class=\"alert-div\"><p class=\"alert alert-success\"><span class=\"alert-icon fa fa-check-circle\"></span>%message% <button type=\"button\" class=\"close\">{% trans "Ok!" %}</button></p></div>"
        });
      });
    </script>
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
