{% load pipeline i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ misago_settings.forum_name }}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <base href="{% url 'misago:index' %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'misago/css/misago.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'apple-touch-icon-152-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'apple-touch-icon-120-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>

    <noscript>
      {% include "misago/navbar.html" %}

      <div class="main-outlet">
        {% block content %}{% endblock content %}
      </div>

      {% include "misago/footer.html" %}
    </noscript>

    <section id="main"></section>

    {% include "misago/auth.html" %}

    <script type="text/javascript" src="/django-i18n.js"></script>
    <script type="text/javascript">
      {% include "misago/preloaded_data.js" %}
    </script>

    <script type="text/javascript" src="{% static 'misago/js/vendor.js' %}"></script>
    {% if LANGUAGE_CODE != "en-us" %}
    <script type="text/javascript" src="/moment-i18n.js"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'misago/js/misago.js' %}"></script>

  </body>
</html>
