{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{% if misago_settings.forum_index_title %}
{{ misago_settings.forum_index_title }}
{% else %}
{{ misago_settings.forum_name }}
{% endif %}
{% endblock title %}


{% block meta-description %}{{ misago_settings.forum_index_meta_description }}{% endblock meta-description %}


{% block content %}
{% include "misago/jumbotron_indexonly.html" %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      {% if categories %}
        {% include "misago/forums/categories.html" %}
      {% else %}
      <p class="lead">
        {% trans "No forums are set or you don't have permission to see them." %}
      </p>
      {% endif %}

    </div>
    <div class="col-md-4">

      {% if ranks_online %}
      {% include "misago/ranks_online.html" %}
      {% endif %}

      {% if user.is_authenticated %}
      {% include "misago/read_all.html" %}
      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}


{% block javascripts %}
{{ block.super }}
{% include "misago/forums/js.html" %}
{% if user.is_authenticated %}
<script lang="JavaScript">
  $(function() {
    $('.read-all-form').submit(function() {
      var decision = confirm("{% trans "Are you sure you want to mark all threads as read?" %}");
      return decision;
    });
  });
</script>
{% endif %}
{% endblock javascripts %}
