{% load i18n %}
<div class="container page-header-container">
  <div class="page-header page-header-forum-index">
    <div class="page-header-bg-image">
      <div class="page-header-bg-overlay">
        <div class="page-header-image"></div>
        <div class="page-header-banner page-header-banner-forum-index">
          <div class="page-header-banner-bg-image">
            <div class="page-header-banner-bg-overlay">
              <h1>{{ settings.index_header|default:settings.forum_name }}</h1>
            </div>
          </div>
        </div>
        {% if settings.index_message %}
          <div class="page-header-details">
            <div class="page-header-message">
              {{ settings.index_message|force_escape|urlize|linebreaks|safe }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>