{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Sign in" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h1>{% trans "Sign in" %}</h1>
          </div>

          {% for error in form.non_field_errors %}
          <div class="form-errors-block">
            <ul class="list-unstyled">
              <li>
                {{ error }}
              </li>
              {% if form.user_ban and form.user_ban.user_message %}
              <li>
                <small>
                  {{ form.user_ban.user_message|escape|linebreaksbr|urlize }}
                </small>
              </li>
              {% elif form.user_cache.activation_by_user %}
              <li>
                <a href="#">{% trans "Click here to activate your account." %}</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% endfor %}

          <div class="form-body no-fieldsets">

            <div class="form-group">
              <div class="control-input">
                <input type="text" name="username" class="form-control input-lg" placeholder="{% trans "Username or e-mail" %}" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
              </div>
            </div>
            <div class="form-group">
              <div class="control-input">
                <input type="password" name="password" class="form-control input-lg" placeholder="{% trans "Password" %}">
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
          </div>

        </form>
      </div>

    </div>
    <div class="col-md-4">

      <h4>
        <span class="fa fa-question-circle"></span>
        {% trans "Solving problems:" %}
      </h4>
      <ul class="list-unstyled signin-help">
        <li>
          <h5>
            <span class="fa fa-key"></span>
            {% trans "I don't remember my password." %}
          </h5>
          <a href="#">
            {% trans "Reset password" %}
          </a>
        </li>
        <li>
          <h5>
            <span class="fa fa-power-off"></span>
            {% trans "My account is inactive." %}
          </h5>
          <a href="#">
            {% trans "Request activation e-mail" %}
          </a>
        </li>
        <li>
          <h5>
            <span class="fa fa-pencil-square-o"></span>
            {% trans "I don't have an account." %}
          </h5>
          <a href="{% url 'misago:register' %}">
            {% trans "Register new account" %}
          </a>
        </li>
      </ul>

    </div>
  </div>

</div>
{% endblock content %}
