{% extends "misago/base.html" %}

{% load i18n %}


{% block title %}{% trans "Sign in" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="form-panel">
        <form method="POST" role="form">
          {% csrf_token %}

          <div class="form-header">
            <h1>{% trans "Sign in" %}</h1>
          </div>

          <div class="form-body no-fieldsets">

            <div class="form-group">
              <div class="control-input">
                <input type="email" class="form-control input-lg" placeholder="{% trans "Username or e-mail" %}">
              </div>
            </div>
            <div class="form-group">
              <div class="control-input">
                <input type="password" class="form-control input-lg" placeholder="{% trans "Password" %}">
              </div>
            </div>

          </div>

          <div class="form-footer">
            <button class="btn btn-primary btn-block">{% trans "Sign in" %}</button>

            <div class="extra">
              <h4>Need help?</h4>
              <ul class="list-unstyled">
                <li><a href="#">I don't remember my password</a></li>
                <li><a href="#">My account is inactive</a></li>
                <li><a href="#">I don't have account</a></li>
              </ul>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
