{% load i18n %}
{% if messages %}
<div class="misago-alerts alerts-fixed">
  {% for message in messages %}
  <div>
    <p class="alert alert-{{ message.tags }}">
      {% if 'info' in message.tags %}
      <span class="alert-icon fa fa-check-circle"></span>
      {% elif 'success' in message.tags %}
      <span class="alert-icon fa fa-question-circle"></span>
      {% elif 'warning' in message.tags %}
      <span class="alert-icon fa fa-exclamation-triangle"></span>
      {% elif 'error' in message.tags %}
      <span class="alert-icon fa fa-times-circle"></span>
      {% endif %}
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">{% trans "Ok" %}</button>
    </p>
  </div>
  {% endfor %}
</div>
{% endif %}
