<template id="modal-error">
  <div class="modal-error-body modal-error-0" mg-if="status == 0">
    <p class="modal-error-icon">
      <span class="material-icon">warning</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
  <div class="modal-error-body modal-error-400" mg-if="status == 400">
    <p class="modal-error-icon">
      <span class="material-icon">warning</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
  <div class="modal-error-body modal-error-403" mg-if="status == 403">
    <p class="modal-error-icon">
      <span class="material-icon">warning</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
  <div class="modal-error-body modal-error-404" mg-if="status == 404">
    <p class="modal-error-icon">
      <span class="material-icon">warning</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
  <div class="modal-error-body modal-error-408" mg-if="status == 408">
    <p class="modal-error-icon">
      <span class="material-icon">warning</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
  <div class="modal-error-body modal-error-500" mg-if="status == 500">
    <p class="modal-error-icon">
      <span class="material-icon">error_outline</span>
    </p>
    <p class="modal-error-message" mg-text="error"></p>
  </div>
</template>