{% load i18n static %}
<nav class="navbar navbar-misago navbar-default navbar-static-top" role="navigation">

  <div class="container navbar-full navbar-desktop-nav">
    {% if settings.logo_text or settings.logo %}
      <a href="{% url 'misago:index' %}" class="navbar-brand">
        {% if settings.logo %}
          <img src="{{ settings.logo }}" alt="">
        {% endif %}
        {% if settings.logo_text %}
          <span>{{ settings.logo_text}}</span>
        {% endif %}
      </a>
    {% endif %}

    <ul class="nav navbar-nav">
      {% if THREADS_ON_INDEX %}
        <li>
          <a href="{% url 'misago:index' %}">
            {% trans "Threads" %}
          </a>
        </li>
        <li>
          <a href="{% url 'misago:categories' %}">
            {% trans "Categories" %}
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'misago:categories' %}">
            {% trans "Categories" %}
          </a>
        </li>
        <li>
          <a href="{% url 'misago:threads' %}">
            {% trans "Threads" %}
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'misago:users' %}">
          {% trans "Users" %}
        </a>
      </li>
    </ul>

    <div id="user-menu-mount"></div>
  </div><!-- /full navbar -->

  <ul class="nav navbar-nav navbar-compact-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
    {% if settings.logo_small %}
      <li>
        <a href="{% url 'misago:index' %}" class="brand-link">
          <img src="{{ settings.logo_small }}" alt="">
        </a>
      </li>
      {% if THREADS_ON_INDEX %}
        <li>
          <a href="{% url 'misago:categories' %}">
            <i class="material-icon">forum</i>
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'misago:threads' %}">
            <i class="material-icon">message</i>
          </a>
        </li>
      {% endif %}
    {% elif THREADS_ON_INDEX %}
      <li>
        <a href="{% url 'misago:index' %}">
          <i class="material-icon">message</i>
        </a>
      </li>
      <li>
        <a href="{% url 'misago:categories' %}">
          <i class="material-icon">forum</i>
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'misago:index' %}">
          <i class="material-icon">forum</i>
        </a>
      </li>
      <li>
        <a href="{% url 'misago:threads' %}">
          <i class="material-icon">message</i>
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'misago:users' %}">
        <i class="material-icon">group</i>
      </a>
    </li>
    {% if user_acl.can_search %}
      <li>
        <a href="{% url 'misago:search' %}">
          <i class="material-icon">search</i>
        </a>
      </li>
    {% endif %}
    <li id="user-menu-compact-mount"></li>
  </ul>
  <!-- /compact navbar -->
</nav>
<div id="mobile-navbar-dropdown-mount" class="mobile-dropdown"></div>
