{% load i18n staticfiles %}
<nav class="navbar navbar-misago navbar-default navbar-static-top" role="navigation">

  <div class="container navbar-full hidden-xs hidden-sm">
    {% if misago_settings.forum_branding_display %}
    <a href="{% url 'misago:index' %}" class="navbar-brand">
      <img src="{% static 'misago/img/site-logo.png' %}" alt="">
      {% if misago_settings.forum_branding_text %}
        <span class="hidden-xs hidden-sm">{{ misago_settings.forum_branding_text}}</span>
      {% endif %}
    </a>
    {% endif %}

    <ul class="nav navbar-nav">
      <li>
        <a href="{% url 'misago:index' %}">
          {% trans "Threads" %}
        </a>
      </li>
      <li>
        <a href="#">
          {% trans "Categories" %}
        </a>
      </li>
      <li>
        <a href="{% url 'misago:users' %}">
          {% trans "Users" %}
        </a>
      </li>
      <li>
        <a href="#">
          {% trans "Search" %}
        </a>
      </li>
    </ul>

    <div id="misago-user-menu-mount"></div>
  </div><!-- /full navbar -->

  <ul class="nav navbar-nav navbar-compact-nav hidden-md hidden-lg">
    {% if misago_settings.forum_branding_display %}
    <li>
      <a href="{% url 'misago:index' %}">
        <img src="{% static 'misago/img/site-icon.png' %}" alt="">
      </a>
    </li>
    {% endif %}
    <li>
      <a href="#">
        <i class="material-icons">forum</i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="material-icons">group</i>
      </a>
    </li>
    <li id="misago-user-menu-compact-mount"></li>
  </ul>
  <!-- /compact navbar -->
</nav>

<div id="mithril-navbar-outlet"></div>
