{% extends "misago/base.html" %}
{% load i18n misago_absoluteurl %}


{% block title %}{{ title }} | {{ block.super }}{% endblock %}


{% block og-title %}{{ title }}{% endblock %}


{% block og-url %}{% absoluteurl request_path %}{% endblock %}


{% block content %}
<div class="page page-legal legal-privacy-policy">
  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="legal-body container">
    <article class="misago-markup">
      {{ text|safe }}
    </article>
  </div>
</div>
{% endblock content %}
