{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}{% trans "Search site" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page page-search">
  <div class="page-header-bg">
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h1>{% trans "Search" %}</h1>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <input class="form-control" type="text" disabled/>
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-block" disabled>
              {% trans "Search" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <p class="lead text-center">
      {% trans "Loading search..." %}
    </p>

  </div>
</div>
{% endblock content %}
