{% load i18n %}

<ul class="thread-flags">
  {% if thread.weight == 2 %}
    <li
      class="thread-flag-pinned-globally"
      title="{% translate 'Pinned globally' context 'thread flag' %}"
    >
      <span class="material-icon">bookmark</span>
    </li>
  {% endif %}
  {% if thread.weight == 1 and category and thread.category_id == category.id %}
    <li
      class="thread-flag-pinned-locally"
      title="{% translate 'Pinned in a category' context 'thread flag' %}"
    >
      <span class="material-icon">bookmark_outline</span>
    </li>
  {% elif thread.weight == 1 and for_moderator %}
    <li
      class="thread-flag-pinned-locally-elsewhere"
      title="{% translate 'Pinned in a category, but not on this list' context 'thread flag' %}"
    >
      <span class="material-icon">bookmark_outline</span>
    </li>
  {% endif %}
  {% if thread.best_answer_id %}
    <li
      class="thread-flag-answered"
      title="{% translate 'Answered' context 'thread flag' %}"
    >
      <span class="material-icon">check_circle</span>
    </li>
  {% endif %}
  {% if thread.is_unapproved %}
    <li
      class="thread-flag-unapproved"
      title="{% translate 'Requires moderator approval' context 'thread flag' %}"
    >
      <span class="material-icon">visibility</span>
    </li>
  {% elif thread.has_unapproved_posts and for_moderator %}
    <li
      class="thread-flag-unapproved"
      title="{% translate 'Replies require moderator approval' context 'thread flag' %}"
    >
      <span class="material-icon">view_list</span>
    </li>
  {% endif %}
  {% if thread.has_poll %}
    <li
      class="thread-flag-poll"
      title="{% translate 'Poll' context 'thread flag' %}"
    >
      <span class="material-icon">poll</span>
    </li>
  {% endif %}
  {% if thread.is_closed %}
    <li
      class="thread-flag-closed"
      title="{% translate 'Closed' context 'thread flag' %}"
    >
      <span class="material-icon">lock</span>
    </li>
  {% endif %}
  {% if thread.is_hidden %}
    <li
      class="thread-flag-hidden"
      title="{% translate 'Hidden' context 'thread flag' %}"
    >
      <span class="material-icon">visibility_off</span>
    </li>
  {% endif %}
</ul>