{% load i18n misago_avatars misago_shorthands %}
<ul class="nav navbar-nav navbar-nav-user navbar-right">
  <li class="dropdown">
    <a href="{% url USER_PROFILE_URL user_slug=user.slug user_id=user.id %}" class="dropdown-toggle user-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-chevron-down"></span>
      <img src="{{ user|avatar:30 }}" alt="{% trans "Your avatar" %}">
      {{ user }}
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url USER_PROFILE_URL user_slug=user.slug user_id=user.id %}">
          <span class="fa fa-user"></span>
          {% trans "See your profile" %}
        </a>
      </li>
      <li>
        <a href="{% url USERCP_URL %}">
          <span class="fa fa-cog"></span>
          {% trans "Change options" %}
        </a>
      </li>
      <li>
        <a href="{% url 'misago:notifications' %}">
          <span class="badge fade {{ user.new_notifications|iftrue:"in" }} pull-right" data-misago-badge="notifications.count">{{ user.new_notifications }}</span>
          <span class="fa fa-bell-o"></span>
          {% trans "See all notifications" %}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="{% url 'misago:new_threads' %}">
          <span class="badge fade {{ user.new_threads|iftrue:"in" }} pull-right" data-misago-badge="new_threads">{{ user.new_threads }}</span>
          <span class="fa fa-plus-circle"></span>
          {% trans "New threads" %}
        </a>
      </li>
      <li>
        <a href="{% url 'misago:unread_threads' %}">
          <span class="badge fade {{ user.unread_threads|iftrue:"in" }} pull-right" data-misago-badge="unread_threads">{{ user.unread_threads }}</span>
          <span class="fa fa-signal"></span>
          {% trans "Unread threads" %}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <form action="{% url LOGOUT_URL %}" method="POST">
          {% csrf_token %}
          <button>
            <span class="fa fa-power-off"></span>
            {% trans "Sign out" %}
          </button>
        </form>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav navbar-nav-primary navbar-right">
  <li>
    <a href="#" class="tooltip-bottom" title="{% trans "Unresolved reports" %}">
      <span class="fa fa-exclamation-triangle fa-fw"></span>
      <span class="badge">57</span>
    </a>
  </li>
  <li>
    <a href="#" class="tooltip-bottom" title="{% trans "Moderated posts" %}">
      <span class="fa fa-eye-slash fa-fw"></span>
      <span class="badge">13</span>
    </a>
  </li>
  <li>
    <a href="#" class="tooltip-bottom" title="{% trans "Private threads" %}">
      <span class="fa fa-inbox fa-fw"></span>
      <span class="badge">47</span>
    </a>
  </li>
  <li class="user-notifications-nav dropdown">
    <a href="{% url 'misago:notifications' %}" class="dropdown-toggle tooltip-bottom" data-misago-tooltip="notifications.message"
        {% if user.new_notifications %}
        title="{% blocktrans with notifications=user.new_notifications count counter=user.new_notifications %}{{ notifications }} new notification{% plural %}{{ notifications }} new notifications{% endblocktrans %}"
        {% else %}
        title="{% trans "Your notifications" %}"
        {% endif %}
        data-toggle="dropdown">
      <span class="fa fa-bell-o fa-fw"></span>
      <span class="badge fade {{ user.new_notifications|iftrue:"in" }}" data-misago-badge="notifications.count">{{ user.new_notifications }}</span>
    </a>
    <div class="dropdown-menu">
      <div class="display"></div>
      <div class="loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <p>{% trans "Loading..." %}</p>
      </div>
    </div>
  </li>
</ul>
