{% load i18n misago_avatars %}
<ul class="nav navbar-nav navbar-nav-user navbar-right">
  <li class="dropdown">
    <a href="{% url USER_PROFILE_URL user_slug=user.slug user_id=user.id %}" class="dropdown-toggle user-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-chevron-down"></span>
      <img src="{{ user|avatar:30 }}" alt="{% trans "Your avatar" %}">
      {{ user.username }}
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url USER_PROFILE_URL user_slug=user.slug user_id=user.id %}">
          <span class="fa fa-user"></span>
          {% trans "See your profile" %}
        </a>
      </li>
      <li>
        <a href="{% url USERCP_URL %}">
          <span class="fa fa-cog"></span>
          {% trans "Change options" %}
        </a>
      </li>
      <li>
        <a href="{% url 'misago:notifications' %}">
          {% if user.new_notifications %}
          <span class="badge pull-right">42</span>
          {% endif %}
          <span class="fa fa-bell-o"></span>
          {% trans "See all notifications" %}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">
          <span class="fa fa-plane"></span>
          Separated link
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <form action="{% url LOGOUT_URL %}" method="POST">
          {% csrf_token %}
          <button>
            <span class="fa fa-power-off"></span>
            {% trans "Sign out" %}
          </button>
        </form>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav navbar-nav-primary navbar-right">
  <li class="user-notifications-nav dropdown">
    <a href="{% url 'misago:notifications' %}" class="dropdown-toggle tooltip-bottom"
        {% if user.new_notifications %}
        title="{% blocktrans with notifications=user.new_notifications count counter=user.new_notifications %}{{ notifications }} new notification{% plural %}{{ notifications }} new notifications{% endblocktrans %}"
        {% else %}
        title="{% trans "Your notifications" %}"
        {% endif %}
        data-toggle="dropdown">
      <span class="fa fa-bell-o fa-fw"></span>
      {% if user.new_notifications %}
      <span class="badge">{{ user.new_notifications }}</span>
      {% endif %}
    </a>
    <div class="dropdown-menu">
      <div class="display"></div>
      <div class="loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
        <p>{% trans "Loading..." %}</p>
      </div>
    </div>
  </li>
</ul>
