{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block title %}
  {% if post_edit %}
    {% blocktranslate trimmed with post=post_number edit=page.number context "post edits page title" %}
      Post #{{ post }} edit #{{ edit }}
    {% endblocktranslate %}
  {% else %}
    {% blocktranslate trimmed with post=post_number context "post edits page title" %}
      Post #{{ post }} edits
    {% endblocktranslate %}
  {% endif %} | {{ thread }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page page-thread-post-edits">
  {% includecomponent header %}
  <div class="container page-container">
    {% include partial_template_name %}
    {% include "misago/main_footer.html" %}
  </div>
</div>
{% endblock content %}