{% extends "sora/layout.html" %}
{% load i18n %}
{% load url from future %}
{% import "_forms.html" as form_theme with context %}
{% import "sora/macros.html" as macros with context %}

{% block title %}{% if in_search -%}
{{ macros.page_title(title=_('Search Users'), parent=_('Users List')) }}
{% elif active_rank %}
{{ macros.page_title(title=_(active_rank.name), parent=_('Users List')) }}
{%- else -%}
{{ macros.page_title(title=_('Users List')) }}
{%- endif %}{% endblock %}

{% block content %}
<div class="page-header header-tabbed">
  <h1>{% trans %}Users List{% endtrans %} <small>{% trans %}Browse notable user groups or find specific user{% endtrans %}</small></h1>
  <ul class="nav nav-tabs">{% for rank in ranks %}
  	<li{% if active_rank.id == rank.id %} class="active"{% endif %}><a href="{% if loop.first %}{% url 'users' %}{% else %}{% url 'users' rank_slug=rank.name_slug %}{% endif %}">{{ _(rank.name) }}</a></li>{% endfor %}
  	<li class="tab-search{% if not ranks %} tab-search-no-tabs{% endif %} pull-right">
      <form action="{% url 'users' %}" class="form-inline" method="post">
        <input type="hidden" name="{{ csrf_id }}" value="{{ csrf_token }}">
      	{{ form_theme.field_widget(search_form.username, width=2, attrs={'placeholder': _('Find user...')}) }}
        <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
      </form>
  	</li>
  </ul>
</div>
<h2>{% if in_search %}{% trans %}Search Users{% endtrans %}{% elif active_rank %}{{ _(active_rank.name) }}{% endif %}</h2>
{% if message %}{{ macros.draw_message(message, 'alert-form') }}{% endif %}

{% if in_search and not message and users|length > 0 %}
<p>{% trans %}We couldn't find a member with name you entered, so we present you with some other members with names similiar to one you searched for in hopes that one of them will turn out to be member you are looking for.{% endtrans %}</p>
{% elif active_rank and active_rank.description %}
{{ active_rank.description|markdown|safe }}
{% endif %}

{% if users|length > 0 %}
<table class="table table-striped table-users">
  <thead>
    <tr>
      <th colspan="2">{% if in_search %}{% trans %}Found Users{% endtrans %}{% else %}{% trans %}Users in this group{% endtrans %}{% endif %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>{% for user in users %}
      <td class="span6{% if user.get_style() %} {{ user.get_style() }}{% endif %}">
        <a href="{% url 'user' username=user.username_slug, user=user.pk %}"><img src="{{ user.get_avatar('medium') }}" class="avatar" alt="{% trans %}Member's Avatar{% endtrans %}" title="{% trans %}Member's Avatar{% endtrans %}"> <strong>{{ user.username }}</strong>{% if user.title or (in_search and user.get_title()) %} <span class="muted">{% if in_search%}{{ _(user.get_title()) }}{% else %}{{ _(user.title) }}{% endif %}</span>{% endif %}</a>
      </td>{% if loop.last and loop.index is odd %}
      <td class="span6">
      	&nbsp;
      </td>
      {% endif %}{% if not loop.last and loop.index is even %}
    </tr>
    <tr>{% endif %}
    {% endfor %}</tr>
  </tbody>
</table>
{% elif not message %}
<p class="lead">
  {%- if in_search -%}
	{% trans %}We couldn't find any members with specified name.{% endtrans %}
  {%- else -%}
	{% trans %}Looks like there is nobody there.{% endtrans %}
  {%- endif -%}
</p>
{% endif %}
{% endblock %}