<div id="g-captcha"></div>

{{#if messages }}
  {{#each message in messages}}
  <p class="text-danger text-center">
    <span class="fa fa-warning fa-lg"></span>
    {{message}}
  </p>
  {{/each}}
{{/if}}
