//
// Inputs
// --------------------------------------------------


// Flatten inputs
input.form-control, textarea.form-control {
  border-width: 2px;
  .box-shadow(none);

  &.diabled {
    .opacity(50);
  }
}


// Form feedback
.input-group-addon {
  background-color: @input-border;
}

.form-control-feedback {
  color: @input-border;
}

.has-success {
  .input-group-addon {
    background-color: @state-success-bg;

    color: @state-success-text-contrast;
  }

  .form-control-feedback {
    color: @state-success-text;
  }
}

.has-warning {
  .input-group-addon {
    background-color: @state-warning-bg;

    color: @state-warning-text-contrast;
  }

  .form-control-feedback {
    color: @state-warning-text;
  }
}

.has-error {
  .input-group-addon {
    background-color: @state-danger-bg;

    color: @state-danger-text-contrast;
  }

  .form-control-feedback {
    color: @state-danger-text;
  }
}


// Generic inputs
textarea {
  resize: vertical;
}

.checkbox {
  label {
    font-weight: bold;

    .help-block {
      font-weight: normal;
    }
  }
}

.form-control-static {
  .progress {
    margin-top: 0px;
  }
}
