<div class="form-group">
  <div class="control-input">
    {{input type="text" value=email class="form-control" placeholder=placeholder}}
  </div>
</div>

{{#if isBusy}}
<button type="button" class="btn btn-block btn-primary disabled" disabled="disabled">
  {{gettext "Sending request..."}}
</button>
{{else}}
<button type="submit" class="btn btn-primary btn-block">{{gettext "Send link"}}</button>
{{/if}}