<div class="form-group">
  <div class="control-input">
    {{input type="text" value=email class="form-control" placeholder=placeholder}}
  </div>
</div>

{{#if isBusy}}
<button type="button" class="btn btn-primary btn-block btn-busy" disabled="disabled">
  &nbsp;
  {{loader-compact}}
</button>
{{else}}
<button type="submit" class="btn btn-primary btn-block">
  {{gettext "Send link"}}
</button>
{{/if}}