<div class="form-group">
  <div class="control-input">
    {{input type="password" value=password class="form-control" placeholder=(gettext "Enter new password")}}
  </div>
</div>

{{#if isBusy}}
<button type="button" class="btn btn-primary btn-raised btn-block btn-busy" disabled="disabled">
  &nbsp;
  {{loader-compact}}
</button>
{{else}}
<button type="submit" class="btn btn-primary btn-raised btn-block">
  {{gettext "Change password"}}
</button>
{{/if}}