// Users list
// --------------------------------------------------
.list-tiny {
  display: block;
  margin: 0px -6px;
  margin-bottom: 16px;
  padding: 4px 0px;
  overflow: auto;
  
  &>li {
    background: darken(@bodyBackground, 6%);
    .border-radius(3px);
    margin: 3px 6px;
    padding: 4px 7px;
    padding-bottom: 6px;
    float: left;
    list-style: none;
    
    font-weight: bold;
  }
}
