{% extends "misago/modusers/base.html" %}
{% load i18n misago_forms %}


{% block title %}
{{ profile }}: {% trans "Avatar" %} | {{ block.super }}
{% endblock title %}


{% block action-name %}
{% trans "Avatar" %}
{% endblock action-name %}


{% block action-content %}
<div class="row">
  <div class="col-md-8">

    <div class="form-panel">
      <form method="POST" role="form" class="form-horizontal">
        <input type="hidden" name="return_path" value="{{ return_path }}">
        {% csrf_token %}

        <div class="form-header">
          <h2>
            {% trans "Avatar moderation" %}
          </h2>
        </div>

        {% include "misago/form_errors.html" %}

        {% with label_class="col-md-3" input_class="col-md-9" %}
        <div class="form-body no-fieldsets">

          {% form_row form.is_avatar_locked label_class input_class %}
          {% form_row form.avatar_lock_user_message label_class input_class %}
          {% form_row form.avatar_lock_staff_message label_class input_class %}

        </div>

        <div class="form-footer">
          <div class="row">
            <div class="{{ input_class }} col-md-offset-3">

              <button class="btn btn-primary">{% trans "Save changes" %}</button>
              <button class="btn btn-success" name="stay">{% trans "Save and keep editing" %}</button>

              <a href="{{ return_path }}" class="btn btn-default">
                {% trans "Cancel" %}
              </a>

            </div>
          </div>
        </div>
        {% endwith %}

      </form>
    </div>

  </div>
  <div class="col-md-4">

    {% if profile.is_avatar_locked %}
    <p class="lead">
      <span class="fa fa-lock"></span>
      {% trans "Avatar is locked" %}
    </p>
    {% else %}
    <p class="lead">
      <span class="fa fa-check"></span>
      {% trans "Avatar is editable" %}
    </p>
    {% endif %}

    {% if profile.avatar_lock_user_message %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% trans "User message" %}
        </h3>
      </div>
      <div class="panel-body">

        {{ profile.avatar_lock_user_message|escape|urlize|linebreaksbr }}

      </div>
    </div>
    {% endif %}

    {% if profile.avatar_lock_staff_message %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {% trans "Team message" %}
        </h3>
      </div>
      <div class="panel-body">

        {{ profile.avatar_lock_staff_message|escape|urlize|linebreaksbr }}

      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock action-content %}
