{% extends "misago/modusers/base.html" %}
{% load i18n misago_forms staticfiles %}


{% block title %}
{{ profile.username }}: {% trans "Ban user" %} | {{ block.super }}
{% endblock title %}


{% block action-name %}
{% trans "Ban user" %}
{% endblock action-name %}


{% block action-content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="form-panel">
      <form method="POST" role="form" class="form-horizontal">
        <input type="hidden" name="return_path" value="{{ return_path }}">
        {% csrf_token %}

        <div class="form-header">
          <h2>
            {% blocktrans trimmed with user=profile.username %}
            Ban {{ user }}
            {% endblocktrans %}
          </h2>
        </div>

        {% include "misago/form_errors.html" %}
        <div class="form-body no-fieldsets">
          {% form_row form.valid_until "col-md-3" "col-md-9" %}
          {% form_row form.user_message "col-md-3" "col-md-9" %}
          {% form_row form.staff_message "col-md-3" "col-md-9" %}
        </div>
        <div class="form-footer">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">

              <button class="btn btn-primary">{% trans "Ban user" %}</button>

              <a href="{{ return_path }}" class="btn btn-default">
                {% trans "Cancel" %}
              </a>

            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
{% endblock action-content %}


{% block javascripts %}
<script type="text/javascript" src="{% static 'misago/js/bootstrap-datetimepicker.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
  $(function() {
    $('#id_valid_until').datetimepicker({
      language: $('html').attr('lang'),
      pickTime: false
    });
  });
</script>
{% endblock javascripts %}
