{% load i18n %}

{% if profile.acl_.can_moderate %}
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {% trans "Moderation" %} <span class="glyphicon glyphicon-chevron-down"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {% if profile.acl_.can_warn %}
    <li>
      <a href="{% url 'misago:warn_user' user_slug=profile.slug user_id=profile.pk %}">
        <span class="fa fa-exclamation-triangle"></span>
        {% trans "Warn user" %}
      </a>
    </li>
    {% endif %}
    {% if profile.acl_.can_rename %}
    <li>
      <a href="{% url 'misago:rename_user' user_slug=profile.slug user_id=profile.pk %}">
        <span class="fa fa-credit-card"></span>
        {% trans "Rename user" %}
      </a>
    </li>
    {% endif %}
    {% if profile.acl_.can_moderate_avatar %}
    <li>
      <a href="{% url 'misago:moderate_avatar' user_slug=profile.slug user_id=profile.pk %}">
        <span class="fa fa-image"></span>
        {% trans "Avatar ban" %}
      </a>
    </li>
    {% endif %}
    {% if profile.acl_.can_moderate_signature %}
    <li>
      <a href="{% url 'misago:moderate_signature' user_slug=profile.slug user_id=profile.pk %}">
        <span class="fa fa-pencil"></span>
        {% trans "Edit signature" %}
      </a>
    </li>
    {% endif %}
    {% if profile.acl_.can_ban %}
    <li>
      <a href="{% url 'misago:ban_user' user_slug=profile.slug user_id=profile.pk %}">
        <span class="fa fa-lock"></span>
        {% trans "Ban user" %}
      </a>
    </li>
    {% endif %}
    {% if profile.acl_.can_delete %}
    <li class="divider"></li>
    <li>
      <form action="{% url 'misago:delete_user' user_slug=profile.slug user_id=profile.pk %}" method="post" class="delete-user-prompt">
        {% csrf_token %}
        <button type="submit" class="btn">
          <span class="fa fa-times-circle"></span>
          {% trans "Delete user" %}
        </button>
      </form>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}
