{% extends "misago/profile/base.html" %}
{% load i18n %}


{% block title %}{% translate "Ban details" context "user profile page ban details" %} | {{ block.super }}{% endblock %}


{% block og-title %}{% translate "Ban details" context "user profile page ban details" %} | {{ block.super }}{% endblock %}
{% block twitter-title %}{% translate "Ban details" context "user profile page ban details" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-ban-details">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% translate "Ban details" context "user profile page ban details" %}</h3>
    </div>
    <div>

      {% if ban.user_message %}
        <div class="panel-body ban-message ban-user-message">
          <h4>{% translate "User-shown ban message" context "user profile page ban details" %}</h4>
          <div class="lead">
            {{ ban.user_message|force_escape|urlize|linebreaks }}
          </div>
        </div>
      {% endif %}

      {% if ban.staff_message %}
        <div class="panel-body ban-message ban-staff-message">
          <h4>{% translate "Team-shown ban message" context "user profile page ban details" %}</h4>
          <div class="lead">
            {{ ban.staff_message|force_escape|urlize|linebreaks }}
          </div>
        </div>
      {% endif %}

      <div class="panel-body ban-expires">
        <h4>{% translate "Ban expiration" %}</h4>

        <p class="lead">
          {% if ban.expires_on %}
            {% blocktranslate trimmed with username=profile.username expires_on=ban.expires_on|date:"DATETIME_FORMAT" context "user profile page ban details" %}
              {{ username }}'s ban expires on {{ expires_on }}.
            {% endblocktranslate %}
          {% else %}
            {% blocktranslate trimmed with username=profile.username context "user profile page ban details" %}
              {{ username }}'s ban is permanent.
            {% endblocktranslate %}
          {% endif %}
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock section %}