{% extends "misago/base.html" %}
{% load humanize i18n misago_avatars %}


{% block title %}
{{ profile.username }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="page-header user-profile-header">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">

        <ul class="nav nav-tabs">
          {% for page in pages %}
          <li{% if page.is_active %} class="active"{% endif %}>
            <a href="{% url page.link user_slug=profile.slug user_id=profile.pk %}">
              {{ page.name }}
              {% if page.badge != None %}
              <span class="label label-default">{{ page.badge }}</span>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="container user-profile {% if profile.rank.css_class %}profile-{{ profile.rank.css_class }}{% endif %}">
  <div class="row">
    <div class="col-md-3 profile-side">
      <div class="user-avatar">
        {% if authenticateds_profile %}
        <a href="{% url 'misago:usercp_change_avatar' %}" class="tooltip-top" title="{% trans "Change your avatar" %}">
          <img src="{{ profile|avatar:400 }}" class="img-rounded img-responsive" alt="{% trans "Avatar" %}">
        </a>
        {% else %}
        <img src="{{ profile|avatar:400 }}" class="img-rounded img-responsive" alt="{% trans "Avatar" %}">
        {% endif %}
      </div>

      <h1 class="user-name">
        {{ profile.username }}
        {% if profile.full_title %}
        <small class="user-title">{{ profile.full_title }}</small>
        {% endif %}
      </h1>

      <div class="user-details">
        <ul class="list-unstyled">
          <li class="user-active">
            {% include "misago/profile/state.html" %}
          </li>
          <li class="user-joined-on">
            <span class="tooltip-top" title="{% trans "Joined on" %}">
              <span class="fa fa-clock-o fa-fw"></span>
              {{ profile.joined_on|date }}
            </span>
          </li>
          {% if show_email %}
          <li class="user-email">
            <a href="mailto:{{ profile.email }}" class="tooltip-top"title="{% trans "E-mail address" %}">
              <span class="fa fa-envelope-o fa-fw"></span>
              {{ profile.email }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
    <div class="col-md-9">
      {% block page %}{% endblock page %}
    </div>
  </div>
</div>
{% endblock content %}
