{% load i18n misago_capture %}
<ul class="posts-list ui-ready">
  {% for post in posts %}
    <li id="post-{{ post.pk }}" class="post post-infeed {% if post.is_new %}post-new{% endif %}">
      <div class="post-border">
        <div class="post-body">
          <div class="panel panel-default panel-post">

            {% if post.is_valid %}
              <div class="panel-body">
                <article class="misago-markup">
                  {{ post.content|safe }}
                </article>
              </div>
            {% else %}
              <div class="panel-body panel-body-invalid">
                <p class="lead">{% trans "This post's contents cannot be displayed." %}</p>
                <p class="text-muted">{% trans "This error is caused by invalid post content manipulation." %}</p>
              </div>
            {% endif %}

            <div class="panel-footer post-infeed-footer">
              {% capture trimmed as category %}
                <span class="category-name">{{ post.category }}</span>
              {% endcapture %}
              {% capture trimmed as thread %}
                <span class="item-title">{{ post.thread }}</span>
              {% endcapture %}
              <a href="{{ post.get_absolute_url }}">
                {% blocktrans trimmed with posted_on=post.posted_on|date:'DATETIME_FORMAT' thread=thread|safe category=category|safe %}
                  {{ posted_on }}, in {{ thread }}, {{ category }}
                {% endblocktrans %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>