{% extends "misago/profile/base.html" %}
{% load i18n misago_avatars misago_batch %}

{% block title %}{% trans "Follows" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-follows">

  {% for row in follows|batch:2 %}
    <div class="row">
      {% for user in row %}
        <div class="col-md-6">

          <div class="user-card {% if user.rank.css_class %} user-card-{{ user.rank.css_class }}{% endif %}">
            <div class="user-card-bg-image">
              <img src="{{ user|avatar:400 }}" alt="" class="bg-image">

              <div class="user-card-bg">
                <div class="user-details">

                  <div class="user-avatar">
                    <a href="{{ user.get_absolute_url }}">
                      <img src="{{ user|avatar:400 }}" alt="">
                    </a>
                  </div>

                  <h4 class="user-name">
                    <a href="{{ user.get_absolute_url }}" class="item-title">
                      {{ user.username }}
                    </a>
                  </h4>

                  <p class="user-subscript">
                  {% if user.title %}
                    <span class="user-title">{{ user.title }}</span>
                  {% endif %}
                    <span class="user-joined-on">
                      {% blocktrans trimmed with joined_on=user.joined_on|date %}Member since {{ joined_on }}{% endblocktrans %}
                    </span>
                  </p>

                </div>
                <div class="user-card-stats">

                  <ul class="list-unstyled">
                    <li class="user-posts-count">
                      <strong>{{ user.posts }}</strong>
                      <small>{% trans "posts" %}</small>
                    </li>
                    <li class="user-threads-count">
                      <strong>{{ user.threads }}</strong>
                      <small>{% trans "threads" %}</small>
                    </li>
                    <li class="user-followers-count">
                      <strong>{{ user.followers }}</strong>
                      <small>{% trans "followers" %}</small>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  {% empty %}
    <p class="lead">
      {% if is_authenticated_user %}
        {% trans "You are not following any users." %}
      {% else %}
        {% blocktrans trimmed with username=profile.username %}
          {{ username }} is not following any users.
        {% endblocktrans %}
      {% endif %}
    </p>
  {% endfor %}

</div>
{% endblock section %}