{% extends "misago/profile/base.html" %}
{% load i18n %}


{% block title %}{% translate "Follows" context "user profile page follows" %} | {{ block.super }}{% endblock %}


{% block og-title %}{% translate "Follows" context "user profile page follows" %} | {{ block.super }}{% endblock %}
{% block twitter-title %}{% translate "Follows" context "user profile page follows" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-follows">

  <nav class="toolbar">
    <div class="toolbar-section toolbar-section-auto">
      <div class="toolbar-item">
        <h3>
          {% if is_authenticated_user %}
            {% blocktranslate trimmed count users=count context "user profile page follows" %}
              You are following {{ users }} user.
            {% plural %}
              You are following {{ users }} users.
            {% endblocktranslate %}
          {% else %}
            {% blocktranslate trimmed count users=count with username=profile context "user profile page follows" %}
              {{ username }} is following {{ users }} user.
            {% plural %}
              {{ username }} is following {{ users }} users.
            {% endblocktranslate %}
          {% endif %}
        </div>
      </div>
    </h3>
  </nav>

  {% if count %}
    <div class="users-cards-list ui-ready" itemscope itemtype="http://schema.org/ItemList">
      <div class="row">
        {% for user in follows %}
          <div class="col-xs-12 col-sm-4" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            {% include "misago/userslists/usercard.html" with user=user %}
            <meta itemprop="position" content="{{ forloop.counter }}" />
          </div>
        {% endfor %}
      </div>
      <meta itemprop="numberOfItems" content="{{ count }}">
      <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending">
    </div>
  {% else %}
    <p class="lead">
      {% if is_authenticated_user %}
        {% translate "You are not following any users." context "user profile page follows" %}
      {% else %}
        {% blocktranslate trimmed with username=profile.username context "user profile page follows" %}
          {{ username }} is not following any users.
        {% endblocktranslate %}
      {% endif %}
    </p>
  {% endif %}

</div>
{% endblock section %}