{% load i18n %}
<h1 class="user-name">
  {{ profile.username }}
  {% if profile.full_title %}
  <small class="user-title">
    {% if profile.rank.is_tab %}
    <a href="{% url 'misago:users_rank' rank_slug=profile.rank.slug %}">{{ profile.full_title }}</a>
    {% else %}
    {{ profile.full_title }}
    {% endif %}
  </small>
  {% endif %}
</h1>

{% if user.is_authenticated %}
<div class="page-actions">
  {% if profile.acl_.can_follow %}
  <form action="{% url 'misago:follow_user' user_slug=profile.slug user_id=profile.id %}" method="POST" class="pull-left dynamic-button">
    {% csrf_token %}
    <button class="btn btn-default btn-follow {% if profile.is_followed %}active{% endif %}">
      <span class="fa fa-heart"></span>
      {% trans "Follow" %}
    </button>
  </form>
  {% endif %}
  {% if profile.acl_.can_block %}
  <form action="{% url 'misago:block_user' user_slug=profile.slug user_id=profile.id %}" method="POST" class="pull-left dynamic-button">
    {% csrf_token %}
    <button class="btn btn-default btn-ban {% if profile.is_blocked %}active{% endif %}">
      <span class="fa fa-ban"></span>
      {% trans "Block" %}
    </button>
  </form>
  {% endif %}
  {% include "misago/modusers/mod_options.html" %}
</div>
{% endif %}

<div class="user-details">
  <ul class="list-unstyled">
    <li class="user-active pull-left">
      {% include "misago/profile/state.html" %}
    </li>
    <li class="user-joined-on pull-left">
      <span class="tooltip-top" title="{% trans "Joined on" %}">
        <span class="fa fa-clock-o fa-fw"></span>
        {{ profile.joined_on|date }}
      </span>
    </li>
    {% if show_email %}
    <li class="user-email pull-left">
      <a href="mailto:{{ profile.email }}" class="tooltip-top"title="{% trans "E-mail address" %}">
        <span class="fa fa-envelope-o fa-fw"></span>
        {{ profile.email }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>
