{% extends "misago/profile/base.html" %}
{% load i18n %}


{% block title %}{% trans "Posts" %} | {{ block.super }}{% endblock %}


{% block og-title %}{% trans "Posts" %} | {{ block.super }}{% endblock %}
{% block twitter-title %}{% trans "Posts" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-posts">

  {% if posts %}
    <div>
      <nav class="toolbar">
        <h3 class="toolbar-left">
          {% if is_authenticated_user %}
            {% blocktrans trimmed count posts=profile.posts %}
              You have posted {{ posts }} message.
            {% plural %}
              You have posted {{ posts }} messages.
            {% endblocktrans %}
          {% else %}
            {% blocktrans trimmed count posts=profile.posts with username=profile %}
              {{ username }} has posted {{ posts }} message.
            {% plural %}
              {{ username }} has posted {{ posts }} messages.
            {% endblocktrans %}
          {% endif %}
        </h3>
      </nav>

      {% include "misago/profile/feed.html" %}
    </div>
  {% else %}
    <p class="lead">
      {% if is_authenticated_user %}
        {% trans "You have posted no messages" %}
      {% else %}
        {% blocktrans trimmed with username=profile.username %}
          {{ username }} posted no messages.
        {% endblocktrans %}
      {% endif %}
    </p>
  {% endif %}

</div>
{% endblock section %}