{% load i18n misago_avatars %}

<div class="user-avatar">
  {% if is_authenticated_user %}
  <a href="{% url 'misago:usercp_change_avatar' %}" class="tooltip-top" title="{% trans "Go to avatar options" %}">
    <img src="{{ profile|avatar:400 }}" class="img-rounded img-responsive" alt="{% trans "Avatar" %}">
  </a>
  {% else %}
  <img src="{{ profile|avatar:400 }}" class="img-rounded img-responsive" alt="{% trans "Avatar" %}">
  {% endif %}
</div>

<ul class="nav nav-side large">
  {% for page in pages %}
  <li{% if page.is_active %} class="active"{% endif %}>
    <a href="{% url page.link user_slug=profile.slug user_id=profile.pk %}">
      {{ page.name }}
      {% if page.badge != None %}
      <span class="badge">{{ page.badge }}</span>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
