{% extends "misago/profile/base.html" %}
{% load i18n %}


{% block title %}{% translate "Threads" context "user profile page threads" %} | {{ block.super }}{% endblock %}


{% block og-title %}{% translate "Threads" context "user profile page threads" %} | {{ block.super }}{% endblock %}
{% block twitter-title %}{% translate "Threads" context "user profile page threads" %} | {{ block.super }}{% endblock %}


{% block section %}
<div class="profile-threads">

  <nav class="toolbar">
    <div class="toolbar-section toolbar-section-auto">
      <div class="toolbar-item">
        <h3>
          {% if is_authenticated_user %}
            {% blocktranslate trimmed count threads=profile.threads context "user profile page threads" %}
              You have started {{ threads }} thread.
            {% plural %}
              You have started {{ threads }} threads.
            {% endblocktranslate %}
          {% else %}
            {% blocktranslate trimmed count threads=profile.threads with username=profile context "user profile page threads" %}
              {{ username }} has started {{ threads }} thread.
            {% plural %}
              {{ username }} has started {{ threads }} threads.
            {% endblocktranslate %}
          {% endif %}
        </h3>
      </div>
    </div>
  </nav>

  {% if posts %}
    {% include "misago/profile/feed.html" %}
  {% else %}
    <p class="lead">
      {% if is_authenticated_user %}
        {% translate "You haven't started any threads." context "user profile page threads" %}
      {% else %}
        {% blocktranslate trimmed with username=profile.username context "user profile page threads" %}
          {{ username }} hasn't started any threads
        {% endblocktranslate %}
      {% endif %}
    </p>
  {% endif %}

</div>
{% endblock section %}