{% extends "misago/profile/base.html" %}
{% load humanize i18n misago_avatars misago_capture misago_pagination %}


{% block meta-description %}{% blocktrans trimmed with user=profile.username warnings=warnings.paginator.count|intcomma joined_on=profile.joined_on|date count counter=warnings.paginator.count %}
{{ user }} was warned {{ warnings }} time since {{ joined_on }}.
{% plural %}
{{ user }} was warned {{ warnings }} times since {{ joined_on }}.
{% endblocktrans %}{% endblock meta-description %}


{% block page %}
{% if warnings.object_list %}
  <div class="warning-summary">
    {% if warning_level %}
      <p class="lead">
        {{ warning_level.name }}
      </p>

      {% if warning_level.has_restrictions %}
      <ul class="list-unstyled">
        {% if warning_level.restricts_posting_replies %}
        <li>
          {% if warning_level.is_replying_disallowed %}
            <span class="fa fa-times-circle fa-lg fa-fw text-danger"></span>
            {% trans "Replying are forbidden." %}
          {% elif warning_level.is_replying_moderated %}
            <span class="fa fa-exclamation-circle fa-lg fa-fw text-warning"></span>
            {% trans "New replies are moderated." %}
          {% endif %}
        </li>
        {% endif %}
        {% if warning_level.restricts_posting_threads %}
        <li>
          {% if warning_level.is_starting_threads_disallowed %}
            <span class="fa fa-times-circle fa-lg fa-fw text-danger"></span>
            {% trans "Starting threads is forbidden." %}
          {% elif warning_level.is_starting_threads_moderated %}
            <span class="fa fa-exclamation-circle fa-lg fa-fw text-warning"></span>
            {% trans "New threads are moderated." %}
          {% endif %}
        </li>
        {% endif %}
        <li>
          {% if warning_level.length_in_minutes %}
            <span class="fa fa-clock-o fa-fw text-success"></span>
            {% blocktrans trimmed with length=warning_level.length %}
            This warning level lasts {{ length }}.
            {% endblocktrans %}
          {% else %}
            <span class="fa fa-clock-o fa-fw text-danger"></span>
            {% blocktrans trimmed %}
            This warning level is permanent.
            {% endblocktrans %}
          {% endif %}
        </li>
      </ul>
      {% endif %}
    {% else %}
    <p class="lead">
      {% trans "No warnings are active." %}
    </p>
    {% endif %}
    <div class="progress thin">
      <div class="progress-bar progress-bar-{% if warning_progress > 66 %}success{% elif warning_progress > 33 %}warning{% else %}danger{% endif %}" role="progressbar" aria-valuenow="{{ warning_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ warning_progress }}%;">
        <span class="sr-only">
          {% blocktrans trimmed with level=warning_level.level %}
          Warning level is {{ level }}
          {% endblocktrans %}
        </span>
      </div>
    </div>
  </div>

  <div class="warnings-list">
    {% for warning in warnings.object_list %}
    <div class="panel panel-default">
      <div class="panel-body large">

        {% if warning.reason %}
        {{ warning.reason|escape|urlize|linebreaks }}
        {% else %}
        <p>
          <em>{% trans "No warning reason was provided." %}</em>
        </p>
        {% endif %}

      </div>
      <div class="panel-footer opaque">
        <ul class="list-unstyled stats pull-left">
          <li>
            {% if warning.is_canceled %}
            <strong class="state-canceled">
              <span class="fa fa-ban fa-fw"></span>
              {% trans "Canceled" %}
            </strong>
            {% elif warning.is_active %}
            <strong class="state-valid">
              <span class="fa fa-exclamation-triangle fa-fw"></span>
              {% trans "Active" %}
            </strong>
            {% else %}
            <strong class="state-expired">
              <span class="fa fa-times fa-fw"></span>
              {% trans "Expired" %}
            </strong>
            {% endif %}
          </li>
          <li>
            {% if warning.giver_id %}
            <img src="{{ warning.giver_id|avatar:30 }}" alt="{% trans "Avatar" %}">
            <a href="{% url USER_PROFILE_URL user_slug=warning.giver_slug user_id=warning.giver_id %}">
              {{ warning.giver_username }}</a>,
            {% else %}
            <img src="{% blankavatar 30 %}" alt="{% trans "Avatar" %}">
            <strong>{{ warning.giver_username }}</strong>,
            {% endif %}
            <abbr class="tooltip-top dynamic time-ago" title="{{ warning.given_on }}" data-timestamp="{{ warning.given_on|date:"c" }}">
              {{ warning.given_on|date }}
            </abbr>
          </li>
          {% if warning.is_canceled %}
          <li>
            <span class="fa fa-ban"></span>
            {% capture trimmed as canceler %}
            {% if warning.canceler_id %}
            <a href="{% url USER_PROFILE_URL user_slug=warning.canceler_slug user_id=warning.canceler_id %}">
              {{ warning.canceler_username }}</a>
            {% else %}
            <strong>{{ warning.canceler_username }}</strong>
            {% endif %}
            {% endcapture %}
            {% capture trimmed as canceled %}
            <abbr class="tooltip-top dynamic time-ago" title="{{ warning.canceled_on }}" data-timestamp="{{ warning.canceled_on|date:"c" }}">
              {{ warning.canceled_on|date }}
            </abbr>
            {% endcapture %}
            {% blocktrans trimmed with user=canceler|safe canceled=canceled|safe %}
            Canceled by {{user}} {{ canceled }}.
            {% endblocktrans %}
          </li>
          {% endif %}
        </ul>
        {% if warning.acl.can_moderate %}
        <ul class="list-unstyled actions pull-right">
          {% if warning.acl.can_cancel %}
          <li>
            <form action="{% url 'misago:cancel_warning' user_slug=profile.slug user_id=profile.id warning_id=warning.id %}" method="POST" class="cancel-warning-prompt">
              {% csrf_token %}
              <button type="submit" class="btn btn-default">
                {% trans "Cancel" %}
              </button>
            </form>
          </li>
          {% endif %}
          {% if warning.acl.can_delete %}
          <li>
            <form action="{% url 'misago:delete_warning' user_slug=profile.slug user_id=profile.id warning_id=warning.id %}" method="POST" class="delete-warning-prompt">
              {% csrf_token %}
              <button type="submit" class="btn btn-default">
                {% trans "Delete" %}
              </button>
            </form>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% pagination warnings "misago/profile/pagination.html" 'misago:user_warnings' user_slug=profile.slug user_id=profile.id %}
{% else %}
<p class="lead">
  {% if is_authenticated_user %}
    {% blocktrans trimmed with user=profile.username %}
    Your have no warnings, {{ user }}.
    {% endblocktrans %}
  {% else %}
    {% blocktrans trimmed with user=profile.username %}
    {{ user }} has no warnings.
    {% endblocktrans %}
  {% endif %}
</p>
{% endif %}
{% endblock page %}


{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
  $(function() {
    {% if user.is_authenticated and user.acl.can_cancel_warnings %}
    $('.cancel-warning-prompt').submit(function() {
      var decision = confirm("{% trans "Are you sure you want to cancel this warning?" %}");
      return decision;
    });
    {% endif %}
    {% if user.is_authenticated and user.acl.can_delete_warnings %}
    $('.delete-warning-prompt').submit(function() {
      var decision = confirm("{% trans "Are you sure you want to delete this warning?" %}");
      return decision;
    });
    {% endif %}
  });
</script>
{% endblock javascripts %}
