// Font-Awesome icons

@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/mixins";
@import "~@fortawesome/fontawesome-free/scss/core";
@import "~@fortawesome/fontawesome-free/scss/larger";
@import "~@fortawesome/fontawesome-free/scss/fixed-width";
@import "~@fortawesome/fontawesome-free/scss/icons";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Theme configuration

@import "./theme/variables";

// Misago configuration

// Bootstrap configuration

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Bootstrap layout & components

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/spinners";

// Misago components

@import "./misago/buttons";
@import "./misago/dropdowns";
@import "./misago/errors";
@import "./misago/layout";
@import "./misago/loaders";
@import "./misago/modals";
@import "./misago/utils";

// Theme components

@import "./theme/mixins";
@import "./theme/navbar";
@import "./theme/card";
