// Admin media icon
//
// Used in content tables to represent an item

.media-admin-icon {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .rounded;

  width: $admin-media-icon-size;
  height: $admin-media-icon-size;

  font-size: 16px;
  line-height: 16px;

  color: $admin-media-icon-color;
  background: $admin-media-icon-bg;
}