// Variables
//
// Misago admin overrides

// Color system
//
// Use Bootstrap's 5.2 color palette

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2563eb !default;
$purple:  #6554c0 !default;
$red:     #ff5630 !default;
$orange:  #ffab00 !default;
$green:   #36b37e !default;
$cyan:    #00b8d9 !default;

$primary:  $blue !default;
$light:    $gray-200 !default;

$component-active-color:      $white !default;
$component-active-bg:         $black !default;


// Body
//
// Make background gray and body color squid-ink so blocks stand out more

$body-bg:                   $gray-100 !default;
$body-color:                $gray-900 !default;


// Links
//
// Make link use text color - we heavily customize link colors in app

$link-color:                              $gray-700 !default;
$link-hover-color:                        $gray-900 !default;


// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm:               0 .125rem .25rem rgba($gray-900, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($gray-900, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($gray-900, .175) !default;

$hr-border-color:             rgba($gray-700, .1) !default;

// Navbar
$navbar-border:               1px solid $gray-300 !default;

// Sidenavs

$nav-side-width:                        240px !default;
$nav-side-icon-width:                   32px !default;

$nav-side-link-color:                   $gray-600 !default;
$nav-side-link-hover-color:             $black !default;
$nav-side-link-active-color:            $black !default;


// Options
//
// Yield caret control to Misago styles

$enable-caret:  false !default;


// Alerts
//
// Remove border from alerts making them flatter, bump text contrast

$alert-border-width:                0 !default;

$alert-color-level:                 8 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-head-bg:               transparent !default;
$table-head-color:            $gray-700 !default;
$table-border-color:          $gray-200 !default;
$table-bg:                    $white !default;


// Cards
//
// Reset card header and footer background to transparent

$card-border-color:           $gray-300 !default;
$card-cap-bg:                 transparent !default;


// Buttons + Forms
//
// Fix colors after overriding

$input-btn-focus-color:       rgba($blue, .15) !default;


// Admin Media icon
//
// Colors and sizing
$admin-media-icon-size:       40px;

$admin-media-icon-color:      $gray-600 !default;
$admin-media-icon-bg:         $gray-200 !default;