<div class="error-page error-403">
  <div class="container">
    <div class="error">

      <div class="error-icon">
        <i class="material-icons">block</i>
      </div>

      <div class="error-message">
        {{#if model.message}}
        <p class="lead">{{model.message}}</p>
        {{else}}
        <p class="lead">{{gettext "You don't have permission to access this page."}}</p>
        {{/if}}
      </div>

    </div>
  </div>
</div>
