{% load i18n misago_avatars misago_formats %}
<div class="post-likes-modal">
  {% if items %}
    <div class="post-likes-modal-description">
      {{ description }}
    </div>
    <ul class="post-likes-modal-list">
      {% for like in items %}
        <li class="post-likes-modal-list-item">
          {% if like.user %}
            <a href="{{ like.user.get_absolute_url }}" class="post-likes-modal-list-item-avatar">
              <img src="{{ like.user|avatar:24 }}" srcset="{{ like.user|avatar:64 }}" alt="{{ like.user.username }}">
            </a>
          {% else %}
            <span class="post-likes-modal-list-item-avatar">
              <img src="{{ BLANK_AVATAR_URL }}" alt="{{ like.user_name }}">
            </span>
          {% endif %}
          <div class="post-likes-modal-list-item-body">
            {% if like.user %}
              <a href="{{ like.user.get_absolute_url }}" class="post-likes-modal-list-item-name">
                {{ like.user.username }}
              </a>
            {% else %}
              <span class="post-likes-modal-list-item-name">
                {{ like.user_name }}
              </span>
            {% endif %}
            <span
              class="post-likes-modal-list-item-info"
              title="{{ like.liked_at|date:'DATETIME_FORMAT' }}"
              misago-timestamp="{{ like.liked_at.isoformat }}"
              misago-timestamp-format="short"
            >
              {{ like.liked_at|date_relative_short }}
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if paginator.num_pages > 1 %}
      {% include "misago/post_likes/modal/paginator.html" %}
    {% endif %}
  {% else %}
    <div class="post-likes-modal-blankslate">
      <div class="post-likes-modal-blankslate-message">
        {% translate "This post has no likes." context "thread post likes modal blankslate" %}
      </div>
    </div>
  {% endif %}
</div>