{% extends "misago/base.html" %}
{% load i18n %}


{% block title %}
{{ active_page.name }} | {% trans "Change options" %} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <ul class="nav nav-side">
        <li class="title">
          <h3>
            <span class="fa fa-cog"></span>
            {% trans "Change options" %}
          </h3>
        </li>
        {% for page in pages %}
        <li {% if page.is_active %}class="active"{% endif %}>
          <a href="{% url page.link %}">
            <span class="{{ page.icon }}"></span>
            {{ page.name }}
          </a>
        </li>
        {% endfor %}
      </ul>

    </div>
    <div class="col-md-9">
      {% block page %}{% endblock page %}
    </div>
  </div>
</div>
{% endblock content %}
