{% extends "misago/admin/layout.html" %}
{% load i18n misago_capture %}


{% block title %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}


{% block content %}
<div class="page-header row align-items-center">
  <div class="col">
    <h1>{% trans "Dashboard" %}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    {% include "misago/admin/dashboard/checks.html" %}

  </div>
  <div class="col-md-4">

    <table class="table version-check">
      <thead>
        <tr>
          <th colspan="2">
            <h4>
              {% trans "Misago version" %}
            </h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            {% if version_check %}
              <p class="lead text-{% if version_check.is_error %}danger{% else %}success{% endif %}">
                {% if version_check.is_error %}
                  <span class="fa fa-times fa-lg fa-fw"></span>
                {% else %}
                  <span class="fa fa-check fa-lg fa-fw"></span>
                {% endif %}
                {{ version_check.message }}
              </p>
            {% else %}
              <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">
                  <span class="fa fa-question-circle fa-fw"></span>
                  <span class="name">{% trans "Check version" %}</span>
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    {% include "misago/admin/dashboard/totals.html" %}

  </div>
</div>
{% endblock content %}


{% block javascripts %}
<script type="text/javascript">
  $(function () {
    var $version_check = $('.version-check');
    var $outcome = $version_check.find('td');

    $version_check.find('form').submit(function() {
      var $form = $(this);
      var $button = $(this).find("button");
      $button.attr("disabled", "disabled");
      $button.find('.fa').attr("class", "fa fa-refresh fa-fw fa-spin");
      $button.find('.name').text("{% trans "Checking..." %}");

      $.post("{% url 'misago:admin:check-version' %}", $form.serialize(), function(data) {
        if (data.is_error) {
          var $message = $('<p class="lead text-danger"><span class="fa fa-times fa-lg fa-fw"></span></p>');
        } else {
          var $message = $('<p class="lead text-success"><span class="fa fa-check fa-lg fa-fw"></span></p>');
        }
        $message.append(" " + data.message);
        $form.fadeOut();
        $outcome.html($message);
      });

      return false;
    });
  });
</script>
{% endblock javascripts %}
