{% load i18n %}
<div class="card card-admin-table">
  <div class="card-body">
    <h4 class="card-title">
      {% trans "Database" %}
    </h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Threads" %}</th>
        <th>{% trans "Posts" %}</th>
        <th>{% trans "Attachments" %}</th>
        <th>{% trans "Users" %}</th>
        <th>{% trans "Inactive users" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ totals.threads }}</td>
        <td>{{ totals.posts }}</td>
        <td>{{ totals.attachments }}</td>
        <td>{{ totals.users }}</td>
        <td>
          {% if totals.inactive_users %}
            <a href="{% url "misago:admin:users:index" %}?inactive=1">
              {{ totals.inactive_users }}
            </a>
          {% else %}
            0
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>