{% extends "misago/admin/generic/form.html" %}
{% load i18n misago_forms %}


{% block title %}
{% if target.pk %}
{% trans target.name %}
{% else %}
{% trans "New warning level" %}
{% endif %} | {{ active_link.name }} | {{ block.super }}
{% endblock title %}


{% block page-target %}
{% if target.pk %}
{% trans target.name %}
{% else %}
{% trans "New warning level" %}
{% endif %}
{% endblock page-target %}


{% block form-header %}
<h1>
  {% if target.pk %}
  {% trans target.name %}
  {% else %}
  {% trans "New warning level" %}
  {% endif %}
</h1>
{% endblock %}


{% block form-extra %}
class="form-horizontal"
{% endblock form-extra%}


{% block form-body %}
{% with label_class="col-md-3" field_class="col-md-9" %}
  <div class="form-body">
    <fieldset>
      <legend>{% trans "Name and description" %}</legend>

        {% form_row form.name label_class field_class %}
        {% form_row form.description label_class field_class %}

    </fieldset>
    <fieldset>
      <legend>{% trans "Expiration time" %}</legend>

        {% form_row form.expires_after_minutes label_class field_class %}

    </fieldset>
    <fieldset>
      <legend>{% trans "Restrictions" %}</legend>

        {% form_row form.restricts_posting_replies label_class field_class %}
        {% form_row form.restricts_posting_threads label_class field_class %}

    </fieldset>
  </div>
{% endwith %}
{% endblock form-body %}


{% block javascripts %}
<script type="text/javascript">
  $(function() {
    $('#id_valid_until').datetimepicker({
      language: $('html').attr('lang'),
      pickTime: false
    });
  });
</script>
{% endblock %}
