{% load i18n %}
<div class="panel panel-quick-reply" id="misago-htmx-quick-reply">
  <form
    action="{{ url }}"
    method="post"
    enctype="multipart/form-data"
    hx-post="{{ url }}"
    hx-trigger="submit"
    hx-target="#misago-htmx-quick-reply"
    hx-swap="outerHTML"
  >
    {% csrf_token %}
    <input type="hidden" name="quick_reply" value="true" />
    <div class="panel-body">
      {% if preview %}
        {% include "misago/posting/preview.html" %}
      {% endif %}
      {% for form in formset.get_forms %}
        {% include form.template_name with form=form %}
      {% endfor %}
      <div class="panel-quick-reply-footer">
        <button class="btn btn-primary" type="submit">
          {% translate "Post reply" context "quick reply thread submit btn" %}
        </button>
        <button class="btn btn-secondary" type="submit" name="{{ formset.preview_action }}" value="true" formnovalidate>
          {% translate "Preview" context "quick reply thread submit btn" %}
        </button>
      </div>
    </div>
  </form>
</div>