{% load i18n misago_component misago_withcontext %}

{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
  {% if watched_thread %}
    {% withcontext watched_thread %}
      {% include button_template %}
      {% include dropdown_template %}
    {% endwithcontext %}
  {% endif %}
  {% if new_feed %}
    {% if htmx_swap %}
      {% for item in new_feed %}
        {% includecomponent item %}
      {% endfor %}
    {% else %}
      <div hx-swap-oob="beforeend:.posts-feed-inner">
        {% for item in new_feed %}
          {% includecomponent item %}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endif %}

{% include "misago/quick_reply/form.html" %}