{% load i18n %}

<div
  class="modal fade"
  id="mark-as-read"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mark-as-read-title"
>
  <form
    method="post"
    hx-post="{{ full_path }}"
    hx-target="#misago-htmx-root"
    hx-swap="outerHTML show:#misago-page-scroll-target:top"
    hx-on::after-request="misago.hideMarkAsReadModal()"
  >
    {% csrf_token %}
    <input type="hidden" name="confirm" value="true" />
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' context 'modal' %}">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="mark-as-read-title">
            {% translate "Mark as read" context "mark as read"%}
          </h4>
        </div>
        <div class="modal-body">
          {% block modal-body %}
          {% endblock modal-body %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {% translate "Cancel" context "mark as read btn" %}
          </button>
          <button class="btn btn-primary" name="mark_as_read">
            {% translate "Mark as read" context "mark as read btn" %}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>