{% extends "misago/base.html" %}
{% load i18n misago_component %}


{% block content %}
<div class="page {% block page-class %}{% endblock page-class %}">
  {% block header %}
  {% endblock header %}

  <div class="container page-container">

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="confirm" value="true" />
      <div class="panel panel-default panel-form panel-prompt">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% translate "Mark as read" context "mark as read" %}
          </h3>
        </div>
        <div class="panel-body">
          {% block panel-body %}
          {% endblock panel-body %}
        </div>
        <div class="panel-footer panel-footer-sticky">
          <a href="{{ full_path }}" class="btn btn-default"">
            {% translate "Cancel" context "mark as read btn" %}
          </a>
          <button class="btn btn-primary" name="mark_as_read">
            {% translate "Mark as read" context "mark as read btn" %}
          </button>
        </div>
      </div>
    </form>

    {% include "misago/gototop_toolbar.html" %}

  </div>
</div>
{% endblock content %}