{% load i18n %}

<div class="toolbar toolbar-over-footer">
  <div class="toolbar-section hidden-xs">
    <div class="toolbar-item">
      {% include "misago/category/breadcrumbs.html" %}
    </div>
  </div>
  <div class="toolbar-spacer"></div>
  <div class="toolbar-section">
    <div class="toolbar-item">
      <a href="#" class="btn btn-muted btn-block">
        <span class="material-icon">arrow_upward</span>
        {% translate "Go to top" context "go up button" %}
      </a>
    </div>
  </div>
</div>