{% extends "misago/mark_as_read/page.html" %}
{% load i18n %}


{% block title %}
  {% translate "Mark as read" context "mark as read" %} | {{ category }} | {{ block.super }}
{% endblock title %}


{% block page-class %}page-category{% endblock page-class %}


{% block header %}
  {% include "misago/category/header.html" %}
{% endblock header %}


{% block panel-body %}
  {% blocktranslate trimmed context "mark threads as read" %}
    Are you sure you want to mark all threads in this category as read?
  {% endblocktranslate %}
{% endblock panel-body %}