{% extends "misago/threads/mark_as_read_page.html" %}
{% load i18n %}

{% block title %}
  {% trans "Mark as read" context "mark threads as read" %} | {{ category }} | {{ settings.forum_name }}
{% endblock title %}

{% block page-class %}page-category{% endblock page-class %}

{% block header %}
  {% include "misago/category/header.html" %}
{% endblock header %}

{% block panel-body %}
  {% blocktrans trimmed context "mark threads as read" %}
    Are you sure you want to mark all threads in this category as read?
  {% endblocktrans %}
{% endblock panel-body %}