{% if is_request_htmx %}
  {% include "misago/snackbars.html" %}
{% endif %}

<div id="misago-htmx-root">
  {% include "misago/threads_toolbar.html" %}

  {% if threads.items %}
    <ul class="threads-list" itemscope itemtype="http://schema.org/ItemList">
      <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
      {% include threads.template_name with cursor=paginator.cursor threads=threads.items url_names=threads.url_names categories_component=threads.categories_component %}
    </ul>
  {% endif %}

  {% include "misago/threads_toolbar.html" with bottom=True %}
</div>