{% extends "misago/emails/register/complete.html" %}
{% load i18n misago_absoluteurl misago_capture %}


{% block activation-message %}
{% if activation_by_admin %}
  {% blocktrans trimmed %}
  Before you will be able to join discussion on our forums, one of our administrators will have to activate your account.
  {% endblocktrans %}
  <br>
  <br>
  {% blocktrans trimmed %}
  This may take a while, but you will receive e-mail with notification once it happens.
  {% endblocktrans %}
  <br>
  <br>
  {% blocktrans trimmed %}
  Thank you for your patience and see you soon!
  {% endblocktrans %}
  <br>
{% elif activation_by_user %}
  {% blocktrans trimmed %}
  Before you will be able to join discussion on our forums, you have to activate your account. To do so, simply click the link below:
  {% endblocktrans %}
  <br>
  <br>
  <a href="{% absoluteurl 'misago:activate-by-token' pk=user.pk token=activation_token %}">{% trans "Activate my account!" %}</a>
  <br>
  <br>
  {% capture trimmed as login_link %}
  <a href="{% absoluteurl LOGIN_URL %}">{% trans "this form" %}</a>
  {% endcapture %}
  {% blocktrans trimmed with login_form=login_link|safe %}
  Once your account is activated, you can always sign in to it using {{ login_form }}.
  {% endblocktrans %}
  <br>
{% endif %}
{% endblock activation-message %}
