{% extends "cranefly/search/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}

{% block action %}
{% if search_result %}
<div class="search-resume">
  <p class="lead muted">{% trans search_query=style_query(search_result.search_query) %}Your search for "{{ search_query }}" is still available.{% endtrans %}</p>
  <p class="lead muted">{% trans %}To discard it and start new search, enter phrases you want to find in text field above and press search button.{% endtrans %}</p>
</div>
{% else %}
<p class="lead">{% trans %}To search forums, enter phrases you want to find in text field above and press search button.{% endtrans %}</p>
{% endif %}
{% endblock %}

{% macro style_query(query) -%}
<a href="{{ ('%s_results'.format(search_route))|url }}">{{ query }}</a></strong>
{%- endmacro %}