{% extends "cranefly/layout.html" %}
{% import "cranefly/macros.html" as macros with context %}
{% import "_forms.html" as forms with context %}

{% block title %}{{ macros.page_title(title=_('Search Community')) }}{% endblock %}

{% block container %}
<div class="page-header header-primary header-search">
  <div class="container">
    <h1>{% trans %}Search Community{% endtrans %}</h1>
  </div>
</div>

<div class="container container-primary">
  {% block action %}{% endblock %}
</div>
{% endblock %}